/*
  Style the dropdown header in ui-select-choices
*/
.ui-select-choices-group-label,dropdown-header {
  padding: 0px 10px;
  background-color: #eee;
  color: black;
  font-weight: bold;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  line-height: 28px;
}

.ui-select-choices {
  padding-bottom: 0px;
  padding-top: 0px;
}

.ui-select-width-300 {
  width: 300px!important; /* Hate to use !important but don't see a way out for now */
}

.ui-select-width-250 {
  width: 250px!important; /* Hate to use !important but don't see a way out for now */
}