/* Override some bootstrap styles */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Exo', sans-serif;
}

/* -- */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.boundary-options a {
  padding: 0 4px;
}

#map-canvas-wrapper {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* #aro-header {
  background-color: white;
  box-shadow: 0px 3px 15px #888888;
  z-index: 1; This is needed to show the "box-shadow" on top of the google map
  position:absolute;
  top: 50px;
  left: 0px;
  height: 50px;
  right: 0px;
} */

#map-canvas {
  height: 100%;
  width: 100%;
}

#left-col-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px; /* footer height */
  left: 0;
  z-index: 3;
  width: 400px;
  pointer-events: none;
}

#left-col {
  padding: 0px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.map-tools-buttons-container {
  position:absolute;
  left: 0px;
  top: 0px;
  padding-left: 10px;
  padding-top: 10px;
}

.map-tool-wrapper {
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 1;
}

.map-tool {
  border: 2px solid #eee;
  width: 340px;
  margin-top: 8%;
}

.map-tool.ng-hide-remove {
    animation: fadeInLeft 0.5s;
}

.map-tool.ng-hide-add {
    animation: fadeOutLeft 0.5s;
}
/*
.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background-color: rgb(0, 117, 109);
  border: none;
}

.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
  background-color: rgb(0, 117, 109);
}*/

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #eee;
}

.locations-table {
  width: 100%;
  margin-top: 20px;
}

.locations-table td, .locations-table th {
  padding: 0.7em;
}

.spin {
  -webkit-animation: spin .7s infinite linear;
     -moz-animation: spin .7s infinite linear;
      -ms-animation: spin .7s infinite linear;
       -o-animation: spin .7s infinite linear;
          animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-moz-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-ms-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-o-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.saving {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer nav {
  margin-bottom: 0 !important;
}

#home_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: black;
  background: url(/images/backgrounds/reliance/fiber_1_reverse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home_screen h1 {
  color: white;
}

#aro_logo {
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: 10px;
  /*width: 500px;*/
  height:100px;
}

#home_screen_logo {
  font-size: 30px;
  color: white;
}

#new_route_map_canvas {
  width: 100%;
  height: 300px;
}

.map-tool h2 {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain !important;
  background-size: cover !important;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-top: 3px;
}

.icon-boundaries {
  background: url(/images/button_icons/boundaries.png);
}

.icon-backhaul {
  background: url(/images/button_icons/backhaul.png);
}

.icon-locations {
  width: 17px;
  width: 6px;
  background: url(/images/button_icons/locations.png);
}

.icon-network-equipment {
  background: url(/images/button_icons/network_equipment.png);
}

.icon-network-planning {
  background: url(/images/button_icons/network_planning.png);
}

.icon-network-planning-targeted {
  background: url(/images/button_icons/target_builder_03.png);
}


#market-size .nav-tabs > li, #market-size .nav-pills > li {
  float: none;
  display: inline-block;
}

#market-size .nav-tabs, #market-size .nav-pills {
    text-align:center;
}

.pie-legend, .line-legend, .bar-legend, .stackedbar-legend {
  list-style-type: none;
  padding-left: 0;
}

.pie-legend li span, .line-legend li span, .stackedbar-legend li span, .bar-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.outlineLegendIcon{
	display: inline-block;
	width: 1.0em;
	height: 1.0em;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	background-color: #88888833;
}

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #1a79db;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.popover {
  width: 250px;
}

.nopadding {
  padding: 0;
}

.checkbox.disabled label {
  color: #ccc;
}

.radio.disabled label {
  color: #ccc;
}


.noUi-handle:before, .noUi-handle:after {
  height: 8px;
  top: 5px;
}

.noUi-handle:before {
  left: 10px;
}

.noUi-handle:after {
  left: 14px;
}

.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 20px;
  top: -7px;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-marker-horizontal.noUi-marker {
  display: none;
}

.noUi-pips-horizontal {
  padding-top: 3px;
}

.noUi-value {
  font-size: 10px;
}

#legend-controller {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#measuring-stick-result {
  position: absolute;
  bottom: 10px;
  left: 55px;
}


/* from bootstrap, but applied at any screen size */
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive > .table {
  margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  white-space: nowrap;
}
.table-responsive > .table-bordered {
  border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}

#global-search {
  position: absolute;
  left: 76px;
  width: 319px;
  top: 200px;
  z-index: 1;
}

#serviceLayersAccordion div.panel-heading {
  background: white;
  padding: 1px 0;
  color: #666;
}

#serviceLayersAccordion p.panel-title {
  font-size: 14px;
}

#serviceLayersAccordion div.panel {
  border: none;
  box-shadow: none;
}

#serviceLayersAccordion a:hover, #serviceLayersAccordion a:focus {
  text-decoration: none;
}

#serviceLayersAccordion input {
  margin: 0;
  margin-right: 5px;
}

#serviceLayersAccordion .panel-body {
  padding: 5px 10px;
}


.locations-filter {
  position: fixed;
  padding: 30px;
  background: white;
  left: 370px;
  width: 300px;
  border: 1px solid #ddd;
  border-left-style: none;
}

.locations-filter-btn, .locations-filter-btn:hover, .locations-filter-btn:focus, .locations-filter-btn:active {
  margin-left: 3px;
  background-color: #ddd !important;
}

.locations-filter-btn .fa {
  text-shadow: none;
}

.btn.chk-small {
  padding: 1px 3px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn.chk-small.checked {
  background: #1a79db;
  color: white;
  border-color: #217fdf;
}

.btn.btn-thin{
	padding: 1px 8px;
}

ul.customer-type li{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul.customer-type .ctype-icon {
  flex: 0 ;
}
ul.customer-type .ctype-checkbox {
  flex: 0;
}
ul.customer-type .ctype-name {
  flex:1;
}



[ng-controller=locations_controller] .panel-body {
  padding-left: 0;
  padding-right: 0;
}

[ng-controller=locations_controller] .panel-body .customer-type {
  padding: 0 10px;
  padding-top: 3px;
  margin-top: 2px;
}

[ng-controller=locations_controller] .panel-body .shaded {
  background-color: #eee;
}

[ng-controller=locations_controller] .alert {
  margin: 10px;
}

.wrapper_csites_controller  .panel-body {
  padding-left: 0;
  padding-right: 0;
}

.wrapper_csites_controller  .panel-body .customer-type {
  padding: 0 10px;
  padding-top: 3px;
  margin-top: 2px;
}

.wrapper_csites_controller  .panel-body .shaded {
  background-color: #eee;
}

.wrapper_csites_controller  .alert {
  margin: 10px;
}

#locations_controller .spin {
  margin-right: 5px;
}

.map-layer-spinner.fa-repeat {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.map-layer-spinner.spin {
  opacity: 1;
}

a[data-toggle="collapse"].collapsed > .fa-caret-up {
  display: none
}

a[data-toggle="collapse"]:not(.collapsed) > .fa-caret-down {
  display: none
}

#top-navbar {
  display: none;
}

#home-button {
  float: left;
  margin-right: 8px;
  margin-left: 7px;
}

#map-extras {
  position:fixed;
  left: 200px;
  bottom: 10px;
}

.popover-content {
  color: #444;
}

#equipment_nodes_controller .panel-title {
  color: #444
}

.custom-ui {
  display: none;
}

#plan-saving-progress {
  display: none;
}

.fiber-label {
  text-overflow: ellipsis;
  max-width: 75%;
  overflow: hidden;
}

/* The header bar, where we display plan name, location, IRR, etc */
.header-container {
  display:flex;
  width:100%;
  height:100%;
}

.header-column-child-width {
  flex: 0 1 auto; /* Takes the width of the child elements */
  height: 100%;
}

.header-column-fill-width {
  flex: 1 1 auto; /* Fills the remaining width of the flex box */
  height: 100%;
}

.header-back-button {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
  cursor: pointer;
}

.header-back-button:hover {
  background-color: #d0e0f0;
}

.header-plan {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  line-height: 46px;
  cursor: pointer;
}

.header-plan:hover {
  background-color: #d0e0f0;
}

.header-plan-location {
  font-size: 15px;
  padding-left: 10px;
  line-height: 50px;
  color: #aaaaaa;
}

.pad10 {
   padding-right: 10px;
}

.header-financials-container {
  line-height: 50px;
  margin-right: 10px;
  font-size: 16px
}

.header-financials-item {
  color: #6060ff;
  padding-right: 5px;
  padding-left: 5px
}

.header-financials-capex {
  color: #ff6060;
}

.plan-progress {
  margin-left:20px;
  margin-top:15px;
  width: 200px
}

/* Map tool buttons */

.map-tools-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #333;
  border: none;
  padding: 0px;
  opacity: 0.7;
}

.map-tools-button:hover {
  background-color: #4d99e5;
  opacity: 1.0;
}

.map-tools-button.active {
  background-color: #4d99e5;
  opacity: 1.0;
}

.map-tools-button span {
  pointer-events: none;
}

.map-tools-button-icon {
  line-height: 48px;  /* Hack to get fontawesome icons centered */
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* Map tools panels */
.map-tool-panel-body {
  overflow-y: auto;
  max-height: 670px;
}

/* Selected locations */
.selected-locations-header {
  width:868px;
  height:220px;
}

.selected-locations-map-overlay {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  position:relative;
  left:0px;
  top:-220px;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 40px;
}

.selected-location-label {
  font-size: 12px;
}

.selected-location-value {
  font-size: 22px;
}

.selected-location-address {
  font-size: 30px;
  padding: 10px;
}

.selected-location-empty-chart {
  text-align:center;
  width:200px;
  height:200px;
  border: 1px dashed #a0a0a0;
  border-radius: 100px;
  line-height:200px;
  color:#a0a0a0;
  margin: 0 auto;
}

.selected-location-pill-padding {
  padding: 4px 10px!important;
  color:white;
}

.selected-modal-table-header {
  font-weight: 300;
  color: #a0a0a0;
}

.selected-modal-table-row {
  font-size: 12px;
  font-weight: 700;
}

/* Override Select2 css */
.select2-container {
  border: solid 1px #e0e0e0;
}

.select2-container-multi .select2-choices {
  background: #ffffff;
}

.select2-container-multi .select2-choices .select2-search-choice {
  background: #4d99e5;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 6px;
  border: none;
  color: white;
}

.modal-content {
  border-radius:0px;
}

.nav-pills>li>a {
	background-color:#999;
	border-radius:0
}

.nav-pills>li+li {
	margin-left:1px
}

.nav>li>a:focus {
	color:#222;
}

.navbar-text {
	color:#fff
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color:#fff;
  padding: 0px 0px 0px 15px;
}

.navbar-default {
	background-color:#4d99e5;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
	color:#fff
}

/* .navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:#fff
} */

.navbar-default .navbar-link {
	color:#fff
}

.navbar-default .btn-link {
	color:#fff
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:#fff;
}

/* .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color:#fff;
} */

.navbar-default .navbar-link:hover {
	color:#fff
}

.navbar-default .btn-link:focus,.navbar-default .btn-link:hover {
	color:#fff
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
	color:#fff;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
	color:#fff;
}

.nav>li>a:focus,.nav>li>a:hover {
	color:#222;
}

.cursor_disabled {
    pointer-events: none;
}

.new-plan-icon{
 padding-left: 5px;
 padding-right: 5px;
}
.morp_impedence_table {
  max-height: 358px;
  overflow-y: scroll;
}
.morp_impedance_table {
  max-height: 358px;
  overflow-y: scroll;
}

.morph_table_header {
  padding-left: 6px;
}


.btn-add-impc {
  margin-top: 5px;
}

.morp_impedence_item {
  margin: 5px 5px;
}

 /*Plan selector icon*/
.f-select-plan {
  font-size: 15px;
  position: relative;
  bottom: 3px;
  font-weight: lighter;
}
.imp_item_1 {
  display: inline;
}

.imp_item_1.inp_radio {
  position: relative;
  top: 11px;
}

.btn_remove_imp {
  margin-right: 5px;
}

.div-blocked {
  pointer-events: none;
}

.div-blocked .panel-title {
  background-color: #c5c5c5 !important;
}

.fiber_select_all {
  margin-bottom: 10px;
}


.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.btn.btn-selected {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/*ui select width problem https://github.com/angular-ui/ui-select/issues/533*/
.ui-select-multiple input.ui-select-search:not(.ng-touched) {
  width: 100% !important;
}

/*View Settings*/
.map_settings_container .settings_items {
  padding-left: 10px;
}
.map_settings_container .settings_items li{
  list-style: none;
}

.map_settings_container .settings_items li > .settings_item{
  display: flex;
  flex-direction: row;
  clear: both;
  padding: 3px 3px ;
}
.map_settings_container .settings_items li > .settings_item .settings_label{
  flex: 1;
}
.map_settings_container .settings_items li > .settings_item .settings_object{
  flex: 0;
}

/*infobox*/
.infobox {
  position: absolute;
  border: 1px solid #c9c9c9;
  background: white;
  padding: 3px;
  z-index: 9999;
  border-radius: 5px;
  display: none;
}

.panel-fiber-details {
  position: fixed;
  top: 274px;
  right: 9px;
  z-index: 2000;
  opacity: 0.8;
  padding: 5px;
  width: 280px;
}

.panel-fiber-details .panel-title {
  border-bottom: 1px solid grey;
  cursor: move;
}

.panel-fiber-details .panel-body .item {
  display: flex;
  flex-direction: row;
}

.panel-fiber-details .panel-body .item-label {
  flex: 1;
}

.panel-fiber-details .panel-body .item-value {
  flex: 0;
}

.panel-fiber-details .panel-close-icon {
  padding: 3px;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}
.panel-fiber-details .panel-close-icon :hover {
  color: #c0c0c0;
}

.checkboxfill{
    -webkit-appearance: initial;
    width: 18px;
    height: 18px;
    position: relative;
    padding: 1px 3px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #c0c0c0;
}
    
.checkboxfill:checked {
    background:#4d99e5;
    border: #4d99e5;
}
.checkboxfill:checked:after {
    /* Heres your symbol replacement - this is a tick in Unicode. */
    font-family: "Glyphicons Halflings";
    content: "\e013";
    color: #fff;
    font-size: 10px;
    line-height: 1.5;
    position: relative;
    top: 1px;
    display: inline-block;
    /* The following positions my tick in the center, 
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

.progress-bar-optimization {
  background-color: #1a79db;
}

.modify-analysis-button, .modify-analysis-button:hover, .modify-analysis-button:focus {
  background-color: #4cae4c;
  color: white;
}

/* Class to disable sibling controls. Use with hatched background */
.disable-sibling-controls {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  /* Define a hatched background for a div, from https://codepen.io/themitchy/pen/sHxdf */
  background-image: linear-gradient(45deg, transparent 45%, #919195 50%, transparent 55%, transparent 100%),
                    linear-gradient(-45deg, transparent 45%, #919195 50%, transparent 55%, transparent 100%);
  background-size: 8px 8px;
  background-position: 4px 4px;
}

.sidebar-table-header {
  padding: 10px;
  font-weight: 700;
  background-color: #eee;
  border: solid 1px #ccc;
  border-bottom: none;
}

.sidebar-table {
  border: solid 1px #ccc;
}

.satags {
  background-color:white;
  border-color:#1f7de6;
  border-style:solid;
  border-radius:0.50em;
  border-width:2px;
}
.satag {
  font-size: xx-small;
  color:#1f7de6;
}

.map_tools_container {
  text-align: center;
}
.map_tool_label {
  color: white;
  width: 70px;
  background: #1f7de6;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 4px;
  font-size: 12px;
}

.attribute_table {
  display: table;
}

.attribute_row {
  display: table-row;
}
.attribute_cell {
  display: table-cell;
  padding: 3px;
}

.attribute_cell.key {
  font-weight: bold;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-2 {
  margin-top: 2px;
}

.app_wrapper_container {
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px
}

.app_wrapper_container.footer {
  bottom: 25px;
}