html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 14px;
}

hr {
  margin-top: 20px;
}

#left-col {
  position: absolute;
  padding: 10px;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}

.tool-opts-container {
  position: absolute;
  background-color: #fff;
  margin-left: 75px;
  margin-top: 20px;
  z-index: 1;
  border: 2px solid #eee;
  width: 300px;
}

.tool-opts-title {
  font-size: 16px;
  font-family: Oswald;
  font-weight: normal;
  padding: 5px;
  background-color: #eee;
}

.tool-opts {
  padding: 5px;
}

.tool-opts div {
  margin: 5px;
}

.tool-opts button {
  width: 100%;
  margin-top: 5px;
}


.layer-toggle, .tool-toggle {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  margin-top: 20px;
  font-family: Arial;
  font-size: 12px;
}

.layer-toggle a, .tool-toggle a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

.layer-toggle a:hover, .tool-toggle a:hover {
  color: inherit;
}

.layer-toggle.layer-toggle-visible {
  background-color: #ffa;
}

button {
  font-size: 13px;
  background-color: rgb(66, 139, 202);
  border-style: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
