/* Override some bootstrap styles */

.btn-primary,
.btn-success,
.btn-primary.active {
  background-color: #4d99e5;
  border-color: #4d99e5
}

.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-success {
  background-color: #1a79db;
  border-color: #1a79db
}

.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  background-color: #217fdf;
  border-color: #217fdf
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #4d99e5;
  border-color: #4d99e5
}

.map-tools-button.active {
  background-color: #217fdf
}

.navbar-default,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4d99e5;
  border-color: #4d99e5
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #1a79db;
  border-color: #1a79db
}
.tool-bar .btn {
  /*background-color: #D9272D;*/
  flex: 0 0 30px;
  border: none;
  border-radius: 0px;
  color: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 36px;
}

.tool-bar .btn-selected {
  background-color: #eee !important;
}

.tool-bar {
  z-index: 3;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  /*background-color: #D9272D;*/
}

.map_tool_label {
  color: white;
  background-color: #1f7de6;
}

.select2-search {
  padding: 0px;
  background-color: #D9272D !important;
}
 /* Commented due to dynamic backgroud color change in tool-bar.jsx */
/* .select2-results {
  background-color: #D9272D !important;
} */
.select2-results .select2-highlighted {
  background-color: white;
  color: #1f7de6;
}

.map-tools-button.active {
  background-color: #217fdf !important;
}

.checkboxfill:checked {
  background: #4d99e5 !important;
  border: #4d99e5 !important;
}

#left-col-wrapper {
  bottom: 25px; /* footer height */
}

/* Footer */

.footer-continer {
  height: 25px;
  width: 100%;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
}
.footer-continer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-continer .npm-details {
  margin-left: 1%;
  color: #FFFFFF;
  position: relative;
  bottom: -2px;
}
.footer-continer .powered {
  font-size: 8px;
}
.footer-continer .npm {
  padding-left: 3px;
  font-size: 14px;
}
.footer-continer .copyright {
  padding-left: 3px;
  font-size: 8px;
}
.footer-continer .system {
  padding-left: 15.5%;
}
.footer-continer .version {
  font-size: 9px;
  margin-left: 1%;
}
.footer-continer .issues {
  padding-left: 20.5%;
}
.footer-continer .training {
  margin-left: 4%;
}
.footer-continer .contact {
  margin-left: 4%;
}
#ftr_logo img {
  margin-left: 2%;
  height: 20px;
}
