/* Override some bootstrap styles */


.btn-primary, .btn-success {
  background-color: rgb(0, 164, 153);
  border-color: rgb(0, 164, 153);
}

.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-success {
  background-color: rgb(0, 142, 133);
  border-color: rgb(0, 142, 133);
}

.btn-primary.active:hover, .btn-primary.active:focus, .btn-success:active, .btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
  background-color: rgb(1, 124, 116);
  border-color: rgb(1, 124, 116);
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: rgb(0, 164, 153);
    border-color: rgb(0, 164, 153);
}

.map-tools-button.active {
	background-color: rgb(1, 124, 116);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover  {
    background-color: rgb(0, 164, 153);
    border-color: rgb(0, 164, 153);
}

.navbar-default {
    background-color: rgb(0, 164, 153);
    border-color: rgb(0, 164, 153);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: rgb(0, 142, 133);
	border-color: rgb(0, 142, 133);
}