/* Override some bootstrap styles */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif !important;
}

.navbar.navbar-default {
  margin-bottom: 0;
  z-index: 9;
  background-image: none;
  background-color: rgb(20, 22, 22);
  border: none;
  border-radius: 0px;
}

.navbar-container {
  padding-left: 5px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -10px;
  color: #fff;
}

.span.fa.fa-users {
  margin-right: 5px;
}

.navbar-right {
  margin-top: -3px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.btn, .btn-sm, .btn-group-sm>.btn {
  border-radius: 2px;
  /*background-color: #fff;*/
}

.btn-primary, .btn-default, .btn-success, .btn-danger, .btn-primary:hover, .btn-default:hover, .btn-success:hover, .btn-danger:hover {
  background-image: none;
  /*background-color: rgb(0, 117, 109);*/
  border: none;
}

.modal-content, .panel {
  border-radius: 2px;
}

.panel-heading {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.btn-primary, .panel-primary>.panel-heading {
  background-color: rgb(0, 164, 153);
  border: none;
}

/* -- */

html, body, #map-canvas, #map-canvas-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map_tools_button span {
  pointer-events: none;
}

.boundary-options a {
  padding: 0 4px;
}

#map-canvas-wrapper {
  padding-top: 50px;
  margin-top: -50px;
  margin-left: 0;
  padding-bottom: 0; /* footer height */
}

#left-col-wrapper {
  position: absolute;
  top: 50px;
  bottom: 0px; /* footer height */
  left: 0;
  z-index: 3;
  width: 400px;
  pointer-events: none;
}

#left-col {
  padding: 10px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.map-tool-wrapper {
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 1;
  overflow-y: auto;
}

.map-tool {
  border: 2px solid #eee;
  width: 320px;
  margin: 0;
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background-color: rgb(0, 117, 109);
  border: none;
}

.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
  background-color: rgb(0, 117, 109);
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #eee;
}

.locations-table {
  width: 100%;
  margin-top: 20px;
}

.locations-table td, .locations-table th {
  padding: 0.7em;
}

.spin {
  -webkit-animation: spin .7s infinite linear;
     -moz-animation: spin .7s infinite linear;
      -ms-animation: spin .7s infinite linear;
       -o-animation: spin .7s infinite linear;
          animation: spin .7s infinite linear;
}

@-webkit-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-moz-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-ms-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@-o-keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}
@keyframes spin {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.saving {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer nav {
  margin-bottom: 0 !important;
}

#home_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: black;
  background: url(/images/backgrounds/reliance/fiber_1_reverse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home_screen h1 {
  color: white;
}

#aro_logo {
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: 10px;
  /*width: 500px;*/
  height:100px;
}

#home_screen_logo {
  font-size: 30px;
  color: white;
}

#new_route_map_canvas {
  width: 100%;
  height: 300px;
}

.map-tool h2 {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#top_bar_tools > span:not(.ng-hide) + span:not(.ng-hide)::before {
  content: ' | ';
  padding: 0 10px;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain !important;
  background-size: cover !important;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-top: 3px;
}

.icon-boundaries {
  background: url(/images/button_icons/boundaries.png);
}

.icon-backhaul {
  background: url(/images/button_icons/backhaul.png);
}

.icon-locations {
  width: 17px;
  width: 6px;
  background: url(/images/button_icons/locations.png);
}

.icon-network-equipment {
  background: url(/images/button_icons/network_equipment.png);
}

.icon-network-planning {
  background: url(/images/button_icons/network_planning.png);
}

.icon-network-planning-targeted {
  background: url(/images/button_icons/target_builder_03.png);
}


#market-size .nav-tabs > li, #market-size .nav-pills > li {
  float: none;
  display: inline-block;
}

#market-size .nav-tabs, #market-size .nav-pills {
    text-align:center;
}

.pie-legend, .line-legend, .bar-legend, .stackedbar-legend {
  list-style-type: none;
  padding-left: 0;
}

.pie-legend li span, .line-legend li span, .stackedbar-legend li span, .bar-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgb(0, 117, 109);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#top_bar_tools .label {
  display: inline-block;
  margin-top: -10px;
}

#top_bar_tools .label span {
  display: block;
}

.popover {
  width: 250px;
}

.nopadding {
  padding: 0;
}

.checkbox.disabled label {
  color: #ccc;
}

.radio.disabled label {
  color: #ccc;
}


.noUi-handle:before, .noUi-handle:after {
  height: 8px;
  top: 5px;
}

.noUi-handle:before {
  left: 10px;
}

.noUi-handle:after {
  left: 14px;
}

.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 20px;
  top: -7px;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-marker-horizontal.noUi-marker {
  display: none;
}

.noUi-pips-horizontal {
  padding-top: 3px;
}

.noUi-value {
  font-size: 10px;
}

#legend-controller {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#measuring-stick-result {
  position: absolute;
  bottom: 10px;
  left: 55px;
}


/* from bootstrap, but applied at any screen size */
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive > .table {
  margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  white-space: nowrap;
}
.table-responsive > .table-bordered {
  border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}


#global-search {
  position: absolute;
  left: 76px;
  width: 319px;
  top: 53px;
  z-index: 1;
}

#serviceLayersAccordion div.panel-heading {
  background: white;
  padding: 1px 0;
  color: #666;
}

#serviceLayersAccordion p.panel-title {
  font-size: 14px;
}

#serviceLayersAccordion div.panel {
  border: none;
  box-shadow: none;
}

#serviceLayersAccordion a:hover, #serviceLayersAccordion a:focus {
  text-decoration: none;
}

#serviceLayersAccordion input {
  margin: 0;
  margin-right: 5px;
}

#serviceLayersAccordion .panel-body {
  padding: 5px 10px;
}


.locations-filter {
  position: fixed;
  padding: 30px;
  background: white;
  left: 397px;
  width: 300px;
  border: 1px solid #ddd;
  border-left-style: none;
}

.locations-filter-btn, .locations-filter-btn:hover, .locations-filter-btn:focus, .locations-filter-btn:active {
  margin-left: 3px;
  background-color: #ddd !important;
}

.locations-filter-btn .fa {
  text-shadow: none;
}


[ng-controller=locations_controller] .panel-body {
  padding-left: 0;
  padding-right: 0;
}

[ng-controller=locations_controller] .panel-body .customer-type {
  padding: 0 10px;
  padding-top: 3px;
  margin-top: 2px;
}

[ng-controller=locations_controller] .panel-body .shaded {
  background-color: #eee;
}

[ng-controller=locations_controller] .alert {
  margin: 10px;
}

#locations_controller .spin {
  margin-right: 5px;
}

.map-layer-spinner.fa-repeat {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.map-layer-spinner.spin {
  opacity: 1;
}

a[data-toggle="collapse"].collapsed > .fa-caret-up {
  display: none
}

a[data-toggle="collapse"]:not(.collapsed) > .fa-caret-down {
  display: none
}

#top-navbar {
  display: none;
}

#home-button {
  float: left;
  margin-right: 8px;
  margin-left: 7px;
}

#map-extras {
  position:fixed; right: 10px; top: 128px;
}

.popover-content {
  color: #444;
}

#equipment_nodes_controller .panel-title {
  color: #444
}

.custom-ui {
  display: none;
}

#plan-saving-progress {
  display: none;
}

.fiber-label {
  text-overflow: ellipsis;
  max-width: 75%;
  overflow: hidden;
}
