/* Override some bootstrap styles */

#home_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;
}

#home_screen h1 {
  color: white;
}

.btn-primary,
.btn-success,
.btn-primary.active {
  background-color: #D9272D;
  border-color: #D9272D
}

.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-success {
  background-color: #d90200;
  border-color: #D9272D
}

.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  background-color: #217fdf;
  border-color: #217fdf
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #d90200;
  border-color: #d90200
}

.map-tools-button.active {
  background-color: #217fdf
}

.navbar-default,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4d99e5;
  border-color: #4d99e5
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #1a79db;
  border-color: #1a79db
}
.tool-bar .btn {
  background-color: #D9272D !important;
}

.tool-bar .btn-selected {
  background-color: #eee !important;
}

.tool-bar {
  background-color: #D9272D !important;
}


.map_tool_label {
  background: #D9272D;
}

.network-plan {
  background: #D9272D;
}

#global-search-toolbutton .select2-chosen {
  background-color: #D9272D;
  padding-left: 10px;
  margin-right: 0px;
  color: #eee;
}

#global-search-toolbutton .select2-chosen {
  background-color: #D9272D;
}

.select2-search {
  padding: 0px;
  background-color: #D9272D !important;
}
.select2-results {
  background-color: #D9272D !important;
}
.select2-results .select2-highlighted {
  background-color: white;
  color: #1f7de6;
}

#global-search-toolbutton .select2-chosen {
  background-color: #D9272D !important;
}