/* Override some bootstrap styles */
#home_screen {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;
}
#home_screen h1 {
  color: white;
}
.btn-primary,.btn-success,.btn-primary.active{
 background-color:#4d99e5;
 border-color:#4d99e5
}
.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-success{
 background-color:#1a79db;
 border-color:#1a79db
}
.btn-primary.active:focus,.btn-primary.active:hover,.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{
 background-color:#217fdf;
 border-color:#217fdf
}
.panel-primary>.panel-heading{
 color:#fff;
 background-color:#4d99e5;
 border-color:#4d99e5
}
.map-tools-button.active{
 background-color:#217fdf
}
.navbar-default,.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
 background-color:#4d99e5;
 border-color:#4d99e5
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
 background-color:#1a79db;
 border-color:#1a79db
}
