.eye-control > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.eye-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  /*background: #e6e6e6;*/
  background-repeat: no-repeat;
  background-position: center center;
}


/* Hover and focus states */
.eye-control:hover > input ~ .eye-indicator,
.eye-control > input:focus ~ .eye-indicator {
  /*background: #ccc;*/
}

.eye-control > input ~ .eye-indicator {
  background-image: url(/images/eyecon_inactive.png)
}

/* Checked state */
.eye-control > input:checked ~ .eye-indicator {
  /*background: #2aa1c0;*/
  background-image: url(/images/eyecon_active.png)
}

/* Hover state whilst checked */
.eye-control:hover > input:not([disabled]):checked ~ .eye-indicator,
.eye-control > input:checked:focus ~ .eye-indicator {
  /*background: #0e647d;*/
}

/* Disabled state */
.eye-control > input:disabled ~ .eye-indicator {
  pointer-events: none;
  opacity: .6;
  /*background: #e6e6e6;*/
}

/* Check mark */
.eye-indicator:after {
  /*position: absolute;
  display: none;
  content: '';

  top: 2px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;*/
}

/* Show check mark */
.eye-control > input:checked ~ .eye-indicator:after {
  display: block;
}

/* Disabled tick colour */
.eye-control input:disabled ~ .eye-indicator:after {
  border-color: #7b7b7b;
}

.eye-combo {
  float: left;
  margin-left: 22px;
}

.eye-combo + .eye-control {
  padding-left: 0;
}

#map-tools-accordion .panel-heading {
  background-color: #959595;
}

.locations-filter-btn, .locations-filter-btn:hover, .locations-filter-btn:focus, .locations-filter-btn:active {
  background-color: #eee !important;
}

#expander {
  background-color: #959595 !important;
}

#map-tools-accordion .locations-filter-btn .fa {
  color: #CB0C1A;
}

.panel-primary>.panel-heading {
  background-color: #959595;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: #959595;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-primary:hover {
  background-color: #CB0C1A;
}

.btn-success.active:hover {
  background-color: #CB0C1A;
}


.navbar.navbar-default {
  background-color: white;
}

.navbar-default .navbar-text {
  color: #444;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  color: #444;
}

.navbar-default .navbar-nav>li>a {
  color: #444;
}

#top-navbar {
  display: block;
}

#brand {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKMAAAAlCAYAAAAuhVlFAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABktJREFUeNrsXOtx4zYQpjzMr2RG7EBMBabTgOkKrA6OV4GZCo5XQegKTFUQuYKjC7gL1QHdgTSTf/nBYO+WHhwMLJYPiaaMncHoBeKxWHy73wL2omkaz4mTU8u3X34LxEsqfVX7Ti1OJhIwxE/S548Lh4xOJkLFWpQlfnUQJbxwqnEyESoupc/5H//9u3/3xrhYLGJRGqLEznZGl0R6D6iYwxuHjE5O7aLBEFfSVwWgojNGJ1NIpnzO2zfOGJ1MiYobgYq1M0YnU8eKr1DSGaOTU6EiEMFr6atHGRVBXNLb8yB4frL87uSIsWIrkye9DamTSozLGcEP/YTiJTylfjRrMqg/gYqRePlH+upJoOKrdfdFxyXRTikGkVkGnmhigRcRz8eGZ9ai3BLt7oD2Q6EUYRl/Kp6tsF6E44xaxBO/rfH73NaGpZ+uAoubWoyh1dHSUOdZvGxRPxXRFjm/dn3Q6GGtPxjaAe+RifqlZGTQfyBVW7dpGlWHFpR8EWiwMRRYMI8qlucrpS5MvCbqa8cAkyT6p56NsU6u+10aE6eNZsRSGuYChlP2aA/WIDS0Sc4P6ySoZ05fedv2V//XTJRGKpnav/guVOrUprW8wImYZCl2xJrYdQGFbohsMhp+Uag9RwAZ/hbP5z1dDozhbgbuOEFXdt3jcViDilorol945sGEwBq5k9YCXg8EAupQkPS0AXcnaHbd2vJsIO28MRAl74iMJQMVJkfGEfXTqF6EMb99z35iRL5cQb5EQsWAi4rfkRHjsQ1hrOuevz1C2xj/PIwEIHcdz4qvZ4CI6xH1890bYZzYxfP0kdTAijMCKUnvdiHFjSZZEZOjjHGrumqDfBblShjuQrz+jp8PHNd/Bkw5YMwHiMqfotxgubfoZ2lb9JHkFsaPuUIZzFZw0qK5PHuwzdVHRrUVDR+IXQJoVGlYGrWrthgHUTHilcwExXuYWCae2yqpAHVzgCvoa5RPPZ+7YdZLTIxUs6FSiw43yOZlhlpizAY6ujR5BPAgMvNlyGcMg/bIrFNGrN0SLpWFp5iOenVNjGxNii0KLiumGGrL7rBORdTJLCw9s7XfIZYDJSR92GYbG3EKo60GUzFtfSqzULcxN8G8G8YacMaU9MiUNLhR2viwVOLDvfI+sOqvAxkJlYFSikxwZ1jJDaHs0EY+mMYIhhgNMKCYaYgRgwwUHYwpZfRZ2HTMmF85wOAzyRhjxRjlUnB06EsIyXHVhZQgNbnfA7hQS5oB+klFnUGnBEw3lFJJ4ZFiv9ZdUS53J8aRKPr0GDG3rc4Hixv1mCGDzmtW3DUSLrgUceKTgTRmnDZ8zcDuCLJSdCAukSXI/jTQBloDIIP/AbFlVxJCGqLG+EJL+FRzTnIYOrLVqUdUR64xxo16IcLGpjlM9bYjiz62BIw65QkMsSSIRMuGY82RZjSUZDEMNvBOKMLotjjfzqj4ChkRlp9NLhhdb0nk78BFb723I/WR299aDPGASej3dOkjkbzAnouKOjfdKphy1cEbQEVOzHXsHGHh0Un1AyKiyU1SBhrO1RIhduzrkXxDQNvXGAsmKu08/TlmF9lPaIg5I5doI06VZz7XXzHHYduQ9ZwM2TcwKJOrXhKI9KywW2ohLr2Z3lnERL4tGfyRQZwqSz9rRsgTMfoI5qLbC4IVUUzY6qIRFahjqzVj4SP8u2ZdCSYyRNs58j2TwdtcGecGTmrJJFSz2ul9Es6GEnVMygIqhgMSrhEj6Z2NcGoSM8fzU1KbmSjfej0T7h59QvUyd29gUn+ofrsU35QywJvWl0ybNu3CjIitAGErdEelJhbavrFdzwnKww43wlP0QNR9UDiISGWkRY+g/tMkHXkqvJmJbyEjf3VIcZiM+p6IscAgv2CMWktMcjXAPR1LOFetulxZg+NQuPTwSBgk9PmAhKnq0EfOTJq/fTfdw1VT7jbw6AsTXUsxphvxprlcK7c7tn7KMc/eT+mmLwgjhZ3FOQnYUbsQGXOM6ZyhslHOd2cvI+tnxyQ+s2LTurxh7zqSwh8HjPX+3AzxCPqJ5nzaYzNG7s0RlsLhT0O9H5dUu1xwhQW6ov6081wMcoB+bs5BP5P9ET9eQ4sxZRJpkrUVxj+19w4F9bNG3YTKzzWy+7PSz/8CDAAWAyg4IYTS5gAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  width: 400px;
  height: 50px;
  margin: 10px;
}

#brand:after {
  content: 'One Fiber Strategic Planning';
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  display: block;
}

#map-canvas-wrapper {
  padding-top: 100px;
  margin-top: -100px;
}

#left-col-wrapper {
  top: 120px;
}

#home-button {
  display: none;
}

#aro_logo {
  visibility: hidden;
}

#map-extras {
  position:fixed; right: 10px; top: 200px;
}

.caret {
  color: #CB0C1A;
}

#top_bar_tools {
  font-size: 120%
}

#map-canvas-wrapper {
  padding-top: 125px;
  margin-top: -125px;
}

.custom-ui-vz {
  display: block;
}

#measuring-stick-result {
  left: 10px;
}
