#map-canvas-wrapper {
  margin-left: 55px; /* width of left-col */
  padding-bottom: 0px; /* footer height */
}

#left-col-wrapper {
  background-color: rgb(20, 22, 22);
  width: 55px;
}

.map-tool-wrapper {
  position: absolute;
  top: 35px;
  left: 75px;
  z-index: 1;
}

.btn-primary-us {
  background-color: #c0c0c0;
}

.btn-success-us {
  background-color: #808080;
}