<style>
  .ui-note{
    /*
    color: #ffffff;
    text-shadow: #000000 -2px 2px;
    */
  }
  .ui-note-notes-contain{
    /*
    color: #000000;
    */
    text-shadow: #ffffff -1px 1px;
    position: absolute;
    left: 25px;
    bottom: 0px;
    overflow: visible;
    font-weight: bold;
  }
  .ui-note-noteline{
    white-space: nowrap;
  }
</style>
<div class="ui-note" ng-if="$ctrl.noteQueue.queueLen > 0">
  <!-- There used to be a "spinner" icon here, which has been removed. On profiling, we found that the
       spinning animation caused the tile rendering to be two times slower (e.g. 200ms with spinner vs 100 ms without)
       Do NOT add any kind of animated element in this control unless you suppress it when tiles are rendering -->
  <div class="ui-note-notes-contain">
    <div class="ui-note-noteline" ng-repeat="(key, value) in $ctrl.noteQueue.queue">{{key}}</div>
  </div>
</div>