<style scoped>
    .container {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
    }
    .indent {
      margin: 5px;
    }
    #tblProjectConfiguration td {
      line-height: 33px;
      border: none;
    }
  </style>
<div style="position: relative; padding: 10px">
  <table id="tblProjectConfiguration" class="table">
    <tbody>
      <tr>
        <td>Projects:</td>
        <td>
          <select class="form-control"
                  ng-model="$ctrl.selectedProjectId"
                  ng-options="item.id as item.name for item in $ctrl.allProjects">
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-block btn-light" ng-click="$ctrl.copySelectedProjectSettingsToPlan()">
            <i class="fa fa-download"></i>&nbsp;&nbsp;Copy project settings to current plan
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-block btn-light" ng-click="$ctrl.planSettingsToProject()">
            <i class="fa fa-upload"></i>&nbsp;&nbsp;Save plan settings to selected project
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
