<modal visible="$ctrl.state.showDataSourceUploadModal.value" backdrop="static" on-show="$ctrl.modalShown()" on-hide="$ctrl.modalHide()" >
  <modal-header title="{{!$ctrl.isDataManagementView && 'Upload Data Sources' || 'Data Management'}}"></modal-header>
  <modal-body id="data_source_upload_modal" style="max-height: 550px; overflow-y: auto;">
    <form class="form-horizontal">
      <div class="form-group">
        <a class="btn float-right" style="margin-right:15px"  ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.archived]" ng-click="$ctrl.toggleView()">{{!$ctrl.isDataManagementView && 'Data Management' || 'File Upload'}}</a>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Data Type</label>
        <div class="col-sm-8">
          <select class="form-control form-control-sm" ng-change="$ctrl.loadDataSources()"
            ng-model="$ctrl.state.uploadDataSource"
            ng-options="item as item.label for item in $ctrl.state.uploadDataSources">
          </select>
        </div>
      </div>
      
      <!-- For all data sources other than 'conic_tile_system', just upload a file --> 
      <div ng-if="$ctrl.state.uploadDataSource.name !== 'tile_system'">
        <div ng-show="!$ctrl.isDataManagementView">   

          <div class="form-group">
            <label class="col-sm-4 control-label">Data Source Name</label>
            <div class="col-sm-8">
              <input type="text" name="name" class="form-control form-control-sm" placeholder="Data Source Name">
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.state.uploadDataSource.name === 'fiber'">
            <label class="col-sm-4 control-label">Cable Type</label>
            <div class="col-sm-8">
              <select class="form-control form-control-sm" 
                ng-model="$ctrl.selectedcableType" 
                ng-options="item as item for item in $ctrl.cableTypes">
              </select>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer'">
            <label class="col-sm-4 control-label">Creation Type</label>
            <div class="col-sm-8">
              <select class="form-control form-control-sm" 
                ng-model="$ctrl.saCreationType" 
                ng-options="item as item.label for item in $ctrl.saCreationTypes">
              </select>
            </div>
          </div>
          
          <div class="form-group" ng-if="$ctrl.state.uploadDataSource.name !== 'service_layer' || $ctrl.saCreationType.id === 'upload_file'">
            <label class="col-sm-4 control-label">File Location</label>
            <div class="col-sm-8">
              <input name="file" type="file" name="dataset" class="form-control form-control-sm">
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer' && $ctrl.saCreationType.id === 'polygon_equipment'">
            <label class="col-sm-4 control-label">Select Equipment layers</label>
            <div class="col-sm-8">
              <select class="form-control form-control-sm"
                ng-model="$ctrl.selectedEquipment" 
                ng-options="equipment as equipment.name for equipment in $ctrl.state.dataItems.equipment.allLibraryItems">
              </select>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer' && $ctrl.saCreationType.id === 'polygon_equipment'">
            <label class="col-sm-4 control-label">Polygon radius (meters)</label>
            <div class="col-sm-8">
              <input name="radius" type="number" ng-value="$ctrl.radius" class="form-control form-control-sm">
            </div>
          </div>

        </div>

        <div ng-show="$ctrl.isDataManagementView">
          <div class="form-group">
            <label class="col-sm-4 control-label">Data Sources</label>
            <div class="col-sm-8" style="min-height: 100px; width: 63%; max-height: 400px; overflow-y: auto;">
              <ul class="list-group">
                <li class="list-group-item clearfix"
                    style="padding: 0px 0px 0px 15px; line-height: 33px;"
                    ng-repeat="dataSource in $ctrl.dataSources">
                  <strong ng-if="dataSource.isExpanded">{{dataSource.name}}</strong>
                  <span ng-if="!dataSource.isExpanded">{{dataSource.name}}</span>
                  <div class="btn-group float-right" ng-if="dataSource.isEditableByUser">
                    <button class="btn btn-danger" ng-click="$ctrl.deleteDatasource(dataSource)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    <button ng-if="dataSource.isExpanded" class="btn btn-light" ng-click="$ctrl.saveAccessSettings(dataSource)">
                      <i class="fa fa-save"></i>&nbsp; Save
                    </button>
                    <button class="btn btn-light"
                            ng-click="$ctrl.toggleDataSourceExpanded(dataSource)">
                      <i ng-class="{ 'fa': true, 'fa-user-plus': !dataSource.isExpanded, 'fa-times': dataSource.isExpanded }"></i>
                    </button>
                  </div>
                  <div style="margin-left: 15px;">
                    <resource-permissions-editor ng-if="dataSource.isExpanded && dataSource.isEditableByUser"
                                                resource-type="LIBRARY"
                                                resource-id="{{dataSource.identifier}}"
                                                system-actors="$ctrl.state.systemActors"
                                                register-save-access-callback="$ctrl.registerSaveAccessCallback(saveResourceAccess)"
                                                style="margin-left: 10px;">
                    </resource-permissions-editor>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- For conic tile system, show a custom control -->
      <conic-tile-system-uploader ng-if="$ctrl.state.uploadDataSource.name === 'tile_system' && !$ctrl.isDataManagementView"
                                  project-id="$ctrl.state.loggedInUser.projectId"
                                  user-id="$ctrl.state.loggedInUser.id"
                                  on-init-control="$ctrl.onInitConicUploader(api)"
                                  on-destroy-control="$ctrl.onDestroyConicUploader()">
      </conic-tile-system-uploader>
    </form>
  </modal-body>
  <modal-footer ng-show="!$ctrl.isDataManagementView">
    <button class="btn btn-primary" ng-disabled="$ctrl.isUploading" ng-click="$ctrl.save()"><span ng-show="$ctrl.isUpLoad" class="spin fa fa-repeat"></span> Save</button>
  </modal-footer>
</modal>
