<modal visible="$ctrl.state.showDataSourceUploadModal.value" backdrop="static" on-show="$ctrl.modalShown()" on-hide="$ctrl.modalHide()" modal-size="'modal-lg'">
  <modal-header title="{{!$ctrl.isDataManagementView && 'Upload Data Sources' || 'Data Management'}}"></modal-header>
  <modal-body id="data_source_upload_modal">
    <div class="form-horizontal" id="data_source_upload_modal_form">
      <div class="form-group row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <button class="btn float-right"
            type="button"
            style="margin-right:15px"
            ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.archived]"
            ng-if="!$ctrl.isDataManagementView"
            ng-click="$ctrl.toggleView()">Data Management</button>
          <button class="btn float-right"
            type="button"
            style="margin-right:15px"
            ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.archived]"
            ng-if="$ctrl.isDataManagementView"
            ng-click="$ctrl.toggleView()">File Upload</button>
        </div>
      </div>

      <!-- File upload View -->
      
      <div class="form-group row" ng-show="!$ctrl.isDataManagementView">
        <label class="col-sm-4 col-form-label">Data Type</label>
        <div class="col-sm-8">
          <select class="form-control" ng-change="$ctrl.onUploadSourceChange()"
            ng-model="$ctrl.uploadSource"
            ng-options="item as item.label for item in $ctrl.uploadDataSources">
          </select>
        </div>
      </div>
      
      <!-- For all data sources other than 'conic_tile_system', just upload a file -->
      <div ng-if="$ctrl.state.uploadDataSource.name !== 'tile_system'">
        <div ng-show="!$ctrl.isDataManagementView">
          
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Data Source Name</label>
            <div class="col-sm-8">
              <input type="text" name="name" ng-model="$ctrl.datasourceName" class="form-control" placeholder="Data Source Name">
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'fiber'">
            <label class="col-sm-4 col-form-label">Spatial Edge Type</label>
            <div class="col-sm-8">
              <select class="form-control"
                ng-model="$ctrl.selectedSpatialEdgeType"
                ng-options="item as item.description for item in $ctrl.spatialEdgeTypes">
              </select>
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'fiber'">
            <label class="col-sm-4 col-form-label">Default Conduit Size</label>
            <div class="col-sm-8">
              <select class="form-control"
                ng-model="$ctrl.selectedConduitSize"
                ng-options="item.id as item.description for item in $ctrl.conduitSizes">
              </select>
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'fiber' && $ctrl.selectedSpatialEdgeType.name === 'fiber' && !$ctrl.selectedSpatialEdgeType.conduit">
            <label class="col-sm-4 col-form-label">Cable Type</label>
            <div class="col-sm-8">
              <select class="form-control"
                ng-model="$ctrl.selectedCableType"
                ng-options="item as item.description for item in $ctrl.cableTypes">
              </select>
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer'">
            <label class="col-sm-4 col-form-label">Creation Type</label>
            <div class="col-sm-8">
              <select class="form-control"
                ng-model="$ctrl.saCreationType"
                ng-options="item as item.label for item in $ctrl.saCreationTypes">
              </select>
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name !== 'service_layer' || $ctrl.saCreationType.id === 'upload_file'">
            <label class="col-sm-4 col-form-label">File Location</label>
            <div class="col-sm-8">
              <input name="file" type="file" name="dataset" class="form-control">
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer' && $ctrl.saCreationType.id === 'polygon_equipment'">
            <label class="col-sm-4 col-form-label">Select Equipment layers</label>
            <div class="col-sm-8">
              <select class="form-control"
                ng-model="$ctrl.selectedEquipment"
                ng-options="equipment as equipment.name for equipment in $ctrl.dataItems.equipment.allLibraryItems">
              </select>
            </div>
          </div>

          <div class="form-group row" ng-if="$ctrl.state.uploadDataSource.name === 'service_layer' && $ctrl.saCreationType.id === 'polygon_equipment'">
            <label class="col-sm-4 col-form-label">Polygon radius (meters)</label>
            <div class="col-sm-8">
              <input name="radius" type="number" ng-value="$ctrl.radius" class="form-control">
            </div>
          </div>

        </div>
      </div>

      <!-- For conic tile system, show a custom control -->
      <conic-tile-system-uploader ng-if="$ctrl.state.uploadDataSource.name === 'tile_system' && !$ctrl.isDataManagementView"
                                  project-id="$ctrl.state.loggedInUser.projectId"
                                  user-id="$ctrl.state.loggedInUser.id"
                                  on-init-control="$ctrl.onInitConicUploader(api)"
                                  dataset-name="$ctrl.datasourceName"
                                  on-destroy-control="$ctrl.onDestroyConicUploader()">
      </conic-tile-system-uploader>
      <!-- End File upload View -->

      <!-- Data Management view -->
      <div ng-show="$ctrl.isDataManagementView">
        <r-resource-permissions></r-resource-permissions>
      </div>

    </div>
  </modal-body>
  <modal-footer class="justify-content-between" ng-show="!$ctrl.isDataManagementView">
    <a href="/download/{{$ctrl.state.uploadDataSource.name}}" class="btn btn-primary" role="button" download="{{$ctrl.downloads[$ctrl.state.uploadDataSource.name].fileName}}">Download upload template</a>    
    <button class="btn btn-primary" ng-class="$ctrl.datasourceName == '' ? 'btn btn-light' : 'btn btn-primary'" ng-disabled="$ctrl.isUploading || $ctrl.datasourceName === ''"
    ng-click="$ctrl.save()"><span ng-show="$ctrl.isUpLoad" class="fa fa-spinner fa-spin"></span> Save</button>
  </modal-footer>
</modal>
