<div style="position: relative;">
  <table class="table table-sm table-striped">
    <tbody>
      <tr ng-repeat="(itemKey, itemValue) in $ctrl.dataItems" ng-if="!itemValue.hidden">
        <td style="vertical-align: middle">{{itemValue.description}}</td>
        <td>
          <div style="display:flex">
            <aro-multi-select datasource-type={{itemKey}}
                              model="itemValue.selectedLibraryItems"
                              all-items="itemValue.allLibraryItems"
                              track-by="identifier"
                              selection-changed="$ctrl.onSelectionChanged(dataSource)"
                              style="flex: 1 1 auto;">
            </aro-multi-select>
            <div class="btn-group btn-group-sm" style="flex: 0 0 auto;">
              <button class="btn btn-light"
                      ng-if="$ctrl.isDataSourceEditable[itemKey]" 
                      ng-click="$ctrl.editDataSource(itemKey)">
                <span class="fa fa-edit"></span>
              </button>
              <button class="btn btn-light" ng-disabled="!itemValue.uploadSupported" ng-click="$ctrl.uploadDataSource(itemValue.id)">
                <span class="fa fa-upload"></span>
              </button>
            </div>
          </div>
          <span class="label label-danger alert-danger" style="padding: 0px 10px;"
                ng-if="!itemValue.isMinValueSelectionValid">Error: At least {{itemValue.minValue}} items must be selected</span>
          <span class="label label-danger alert-danger" style="padding: 0px 10px;" 
                ng-if="!itemValue.isMaxValueSelectionValid">Error: A maximum of {{itemValue.maxValue}} items can be selected</span>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>