<div style="position: relative">
  <table class="table table-condensed table-striped">
    <tbody>
      <tr ng-repeat="(itemKey, itemValue) in $ctrl.dataItems">
        <td>{{itemValue.description}}</td>
        <td>
          <div style="display:flex">
            <select id="plan_data_selection_multiselect_{{itemKey}}"
                    multiple="multiple"
                    ng-model="itemValue.selectedLibraryItems"
                    ng-options="item.name for item in itemValue.allLibraryItems">
            </select>
            <button class="btn btn-sm btn-default" style="flex: 0 0 auto;" ng-click="addCustomers()">
              <span class="fa fa-upload"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
  <div class="disable-sibling-controls"
      ng-hide="$ctrl.areControlsEnabled">
  </div>
</div>