<div style="position: relative">
  <table class="table table-condensed table-striped">
    <tbody>
      <tr ng-repeat="(itemKey, itemValue) in $ctrl.dataItems">
        <td style="vertical-align: middle">{{itemValue.description}}</td>
        <td>
          <div style="display:flex">
            <aro-multi-select model="itemValue.selectedLibraryItems"
                              all-items="itemValue.allLibraryItems"
                              selection-changed="$ctrl.onSelectionChanged()"
                              style="flex: 1 1 auto;">
            </aro-multi-select>
            <button class="btn btn-sm btn-default" style="flex: 0 0 auto;" ng-click="addCustomers()">
              <span class="fa fa-upload"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
  <div class="disable-sibling-controls"
      ng-hide="$ctrl.areControlsEnabled">
  </div>
</div>