<div style="position: relative;">
  <table class="table table-condensed table-striped">
    <tbody>
      <tr ng-repeat="(itemKey, itemValue) in $ctrl.allDataItems" ng-if="!itemValue.hidden">
        <td style="vertical-align: middle">{{itemValue.description}}</td>
        <td>
          <div style="display:flex">
            <aro-multi-select model="itemValue.selectedLibraryItems"
                              all-items="itemValue.allLibraryItems"
                              selection-changed="$ctrl.onSelectionChanged()"
                              style="flex: 1 1 auto;">
            </aro-multi-select>
            <div class="btn-group" style="flex: 0 0 auto;">
              <button class="btn btn btn-default" ng-if="(itemKey === 'location' || itemKey === 'service_layer') && 
                itemValue.selectedLibraryItems.length === 1" ng-click="$ctrl.editDataSource(itemKey)">
                <span class="fa fa-edit"></span>
              </button>
              <button class="btn btn btn-default" ng-disabled="!itemValue.uploadSupported" ng-click="$ctrl.uploadDataSource(itemValue.id)">
                <span class="fa fa-upload"></span>
              </button>
            </div>
          </div>
          <span class="label label-danger"
                ng-if="!itemValue.isMinValueSelectionValid">Error: At least {{itemValue.minValue}} items must be selected</span>
          <span class="label label-danger"
                ng-if="!itemValue.isMaxValueSelectionValid">Error: A maximum of {{itemValue.maxValue}} items can be selected</span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
  <div class="disable-sibling-controls"
      ng-hide="$ctrl.areControlsEnabled">
  </div>
</div>