docker/set_debug_env.sh
docker/config.json

#global file patterns

*.pyc

#ARO Root

.vagrant
.DS_Store
Vagrantfile
npm-debug.log

ops-legacy/


#app ignores

app/coverage
app/npm-debug*.*
app/node_modules
app/models/test_permission.js
app/public/javascripts/src/service-typegen/dist
app/public/javascripts/lib/
app/public/javascripts/bundle*
# Vendor bundle. Specifically exclude this, it is built as part of the npm script "build-vendor-bundle"
app/public/javascripts/vendors/vendor-bundle.min.js
conf/config_app.json
app/jest_*/**
app/v8-compile-cache*/**

*.project
*.settings
*.classpath
*.component


###############################


# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.classpath
*.settings/
*.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath


#etl ignores

etl/tiger_cousub/shapefiles
etl/client/*.pyc
etl/source_colt/data

bin/



#aro-service git ignores

aro-service
aro-service/

bootstrap/etl.log

docker/docker-compose.yml
/node_modules/
/.gitignore

.vscode
app/e10a3e3428ad30a25cb162cce65e73af
.gitignore
