#global file patterns

*.pyc

#ARO Root

.vagrant
.DS_Store
Vagrantfile
npm-debug.log

#aro-service git ignores

aro-service/target
aro-service/**/*.project
aro-service/**/*.settings
aro-service/**/*.classpath

aro-service/aro-service/.settings
aro-service/aro-service/.project

aro-service/aro-engine/.settings
aro-service/aro-engine/.project

aro-service/aro-service/.settings
aro-service/aro-service/.project

aro-service/aro-interfaces/.settings
aro-service/aro-interfaces/.project

aro-service/aro-utils/.settings
aro-service/aro-utils/.project



*.project
*.settings
*.classpath
*.component


#app ignores

app/coverage
app/npm-debug*.*
app/node_modules
app/models/test_permission.js
app/public/javascripts/lib/
conf/config_app.json



#etl ignores

etl/tiger_cousub/shapefiles
etl/client/*.pyc
etl/source_colt/data

bin/







aro-service/aro-interfaces/.project

aro-service/aro-interfaces/.project

aro-service/aro-engine/.project

aro-service/aro-interfaces/.project

aro-service/aro-service/.settings/org.eclipse.wst.common.project.facet.core.xml
