#global file patterns

*.pyc

#ARO Root

.vagrant
.DS_Store
Vagrantfile
npm-debug.log

#aro-service git ignores

aro-service/target
aro-service/**/*.project
aro-service/**/*.settings
aro-service/**/*.classpath
aro-service/aro-service/.settings
aro-service/aro-service/.project
aro-service/aro-engine/.settings

*.project
*.settings
*.classpath
aro-service/aro-service/.project


#app ignores

app/coverage
app/npm-debug*.*
app/node_modules
app/models/test_permission.js
app/public/javascripts/lib/
conf/config_app.json


#etl ignores

etl/tiger_cousub/shapefiles
etl/client/*.pyc
etl/source_colt/data

bin/


*.component



aro-service/aro-engine/.settings/org.eclipse.wst.common.component

aro-service/aro-service/.project

aro-service/aro-service/.settings/org.eclipse.wst.common.component

*.war

aro-service/docker/aro-service.war

aro-service/aro-interfaces/.project

aro-service/aro-interfaces/.project
