.network-plan {
  margin: 0 0 12px;
}

.network-plan .plan-name {
  width: 100%;
  margin: 0 0 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.network-plan .plan-metadata {
  font-size: 14px;
  width: 100%;
  color: grey;
}
