/* ---- Competition Manager Start ----*/

#tblCompetitorModel td {
  line-height: 33px; /* To vertically align text */
}

.comp_edit_flex_section {
  display: flex;
  margin-bottom: 20px;
}

.comp_edit_filter_row_left {
  flex-grow: 1;
  padding-right: 10px;
} 

.comp_edit_filter_row_right {
  width: 20%;
} 

#comp_edit_region_select_list {
  padding-top: 2px;
}

.comp_edit_percent_item {
  width: 6em;
}

.comp_edit_input_set {
  white-space: nowrap;
  text-align: right;
}

.comp_edit_input_set input {
  display: inline-block;
}

.nowrap_label {
  white-space: nowrap;
}

.comp_edit_center_label {
  text-align: center;
}

.comp_edit_tbl_contain{
  max-height: 500px; 
  min-height: 125px;
  overflow-y: auto;
}
 
.comp_edit_tbl_contain table thead tr th {
  position: sticky;
  top: -1px;
}

/* ---- Competition Manager End ----*/

/* ---- TSM Manager Start ----*/

#tblTsmModel td {
  line-height: 33px; /* To vertically align text */
}
.sub-table-header {
  background-color: darkgray;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

/* ---- TSM Manager End ----*/

/* ---- Rate Reach Manager Start ----*/

#tblRateReachRatios td {
  line-height: 33px;
}
#rateReachSettings label {
  font-weight: 700;
}

/* ---- Rate Reach Manager End ----*/

/* ---- Rate Reach Distance Manager Start ----*/

#tblrateReachConfig {
  margin-bottom: 0px;
}
#tblrateReachConfig td {
  line-height: 33px;
}
.category-hover-button {
  display: none;
  margin-top: 2px;
}
.category-description:hover .category-hover-button, .category-hover-button:hover {
  display: inline-block;
}
.row-draggable-handle {
  height: 100%;
  min-width: 15px;
  width: 15px;
  /* border: solid 1px #c5c5c5; */
}
.row-draggable-handle:hover {
  background-color: #c5c5c5;
  cursor: pointer;
}
#verticalscroll {
  height: 290px;
  /* float: left; */
  overflow: auto;
  /* overflow-x:hidden; */
}

/* ---- Rate Reach Distance Manager End ----*/


.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; border:none !important;}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}
.tableFixHead th:first-child {
  position:sticky;
  left:0;
  z-index:1;
}

.tableFixHead td:first-child {
  position:sticky;
  left:0;
  z-index:1;
  background-color:white;
}

.tableFixHead th:nth-child(2)  { 
  position:sticky;
  left:43px;
  z-index:1;
}

.tableFixHead td:nth-child(2){ 
  position:sticky;
  left:43px;
  z-index:1;
  background-color:white;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  z-index:2
}

.tableFixHead th:first-child , .tableFixHead th:nth-child(2) {
  z-index:3
}

