.action-button-icon {
  padding-right: 10px;
}
/* Display the span within the pill-parent only when it is hovered */
.pill-parent span {
  display: none;
}
.pill-parent:hover span {
  display: block;
}
#tblArpuModel td {
  line-height: 33px; /* To vertically align text */
}