/*
  Why this selector? We really only want <tr>s with .selected-target-row to have these attributes,
  but the bootstrap nth-of-type overrides our styles for striped tables as it has higher specificity.
*/
#tblRfpTargets tbody tr:nth-of-type(odd).selected-target-row,
#tblRfpTargets tbody tr:nth-of-type(even).selected-target-row {
  background-color: #777;
  color: white;
  border: solid 2px black;
}

.tr-rfp-target {
  cursor: pointer;
}