<style scoped>

.view-settings {
  margin-top: 10px;
}

</style>  
<table class="table table-sm table-striped view-settings">
  <tbody>
    <!-- <tr>
      <td>HeatMap Options</td>
      <td>
        <select class="form-control" ng-model="$ctrl.mapTileOptions.selectedHeatmapOption" ng-options="item as item.label for item in $ctrl.state.viewSetting.heatmapOptions track by item.id"
          ng-change="$ctrl.updateState()">
        </select>
      </td>
    </tr> -->
    <tr>
      <td>Fiber Width</td>
      <td>
        <select class="form-control" ng-model="$ctrl.state.viewSetting.selectedFiberOption" ng-options="option as option.name for option in $ctrl.state.viewFiberOptions track by option.id"
          ng-change="$ctrl.fiberOptionChanged()">
        </select>
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth">
      <td>Max Pixel Width</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth.max" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Max Pixel Width">
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth">
      <td>Min Pixel Width</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth.min" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Min Pixel Width">
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.opacity">
      <td>Max Opacity</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.opacity.max" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Max Opacity">
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.opacity">
      <td>Min Opacity</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.opacity.min" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Min Opacity">
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth">
      <td>Exponent</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth.divisor" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Exponent">
      </td>
    </tr>

    <tr ng-if="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth &&  $ctrl.state.viewSetting.selectedFiberOption.pixelWidth.atomicDivisor">
      <td>Atomic Divisor</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.state.viewSetting.selectedFiberOption.pixelWidth.atomicDivisor" 
          ng-change="$ctrl.fiberOptionChanged()" placeholder="Atomic Divisor">
      </td>
    </tr>

    <tr>
      <td>Show tile information on map</td>
      <td>
        <input type="checkbox" class="checkboxfill" ng-model="$ctrl.mapTileOptions.showTileExtents" ng-change="$ctrl.updateState()">
      </td>
    </tr>

    <tr>
      <td>Show equipment properties (csv)</td>
      <td>
        <div class="input-group">
          <input class="form-control" type="text" ng-model="$ctrl.equipmentPropertiesToRender">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="$ctrl.saveEquipmentPropertiesToRender()">Save</button>
          </div>
        </span>
      </td>
    </tr>

    <tr>
      <th colspan="2">Heatmap settings</th>
    </tr>

    <tr>
      <td>Power</td>
      <td>
        <input class="form-control" type="text" ng-model="$ctrl.mapTileOptions.heatMap.powerExponent" ng-change="$ctrl.updateState()">
      </td>
    </tr>
  </tbody>
</table>