<div>
  <div ng-if="$ctrl.showRefreshPlansOnMapMove" style="line-height: 33px; padding: 5px 0px;">
    <input type="checkbox" class="checkboxfill" name="ctype-name" style="margin-top: 0px;" disabled> Refresh Plans on map move
  </div>

  <div class="input-group">
    <!-- (tagging) paste not working if tagging-label="false" and tagging-tokens are set -->
    <!-- http://plnkr.co/edit/kauNS7YjckRfi616k4PT?p=preview -->
    <ui-select tag-on-blur tagging tagging-label="false" multiple ng-model="$ctrl.searchText"
      theme="bootstrap" close-on-select="true" on-select="$ctrl.loadPlans()" on-remove="$ctrl.loadPlans()">
      <ui-select-match placeholder="Search for Plan Names">
        <span class="tag" ng-if=$item.type>
          {{$item.type}}:
          <span class="badge badge-primary" ng-if="$item.type === 'tag'" ng-style="{'background-color': $ctrl.state.StateViewMode.getTagColour($item)}">{{$item.name}}</span>
          <span class="badge badge-primary satags" ng-if="$item.type=='svc'">{{$item.code}}</span>
          <span class="badge badge-primary satags" ng-if="$item.type=='created_by'">{{$item.fullName}}</span>
        </span>
        <span class="tag" ng-if=!$item.type>
          {{$item}}
        </span>
      </ui-select-match>
      <ui-select-choices class="ui-select-width-300 ui-select-font" repeat="item in $ctrl.searchList | filter: $select.search" group-by="'type'">
        <div>
          <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $ctrl.state.StateViewMode.getTagColour(item), 'margin-right':'5px' }"></span>
          <span ng-if="item.type === 'tag'">{{item.name}}</span>
          <span ng-if="item.type === 'svc'">{{item.code}}</span>
          <span ng-if="item.type === 'created_by'">{{item.fullName}}</span>
        </div>
      </ui-select-choices>
    </ui-select>
    <button class="btn btn-light input-group-append" ng-click="$ctrl.loadPlans()" style="cursor:pointer">
      <span class="fa fa-search"></span>
    </button>
  </div>

  <div class="plan-info" style="display: flex;">
    <span style="flex: 0 0 auto; line-height: 33px; padding: 0px 12px;">Filter by:</span>
    <plan-search-filter style="flex: 0 1 auto;"
      object-name="Tag"
      search-property="name"
      search-list="$ctrl.state.listOfTags"
      apply-search="$ctrl.applySearchFilter(selectedFilters, 'tag')">
    </plan-search-filter>
    <plan-search-filter style="flex: 0 1 auto;"
      object-name="Service Area"
      search-property="code"
      search-list="$ctrl.state.listOfServiceAreaTags"
      apply-search="$ctrl.applySearchFilter(selectedFilters, 'svc')"
      refresh-tag-list="$ctrl.state.StateViewMode.loadListOfSAPlanTags($ctrl.$http, $ctrl.state, $ctrl.dataItems, searchObj)"></plan-search-filter>
    <plan-search-filter style="flex: 0 1 auto;"
      object-name="Creator"
      search-property="fullName"
      search-list="$ctrl.creatorsSearchList"
      apply-search="$ctrl.applySearchFilter(selectedFilters, 'created_by')"
      refresh-tag-list="$ctrl.searchCreatorsList(searchObj)"></plan-search-filter>
  </div>

  <div class="plan-info" style="display: flex; padding-top: 5px;">
    <span style="flex: 0 0 auto; line-height: 33px; padding: 0px 12px;">Sort by:</span>
    <select class="form-control-sm" style="background: #f8f9fa; border: 0px; outline: 0px;"
      ng-model="$ctrl.selectedPlanSortType"
      ng-options="item as item.description for item in $ctrl.planSortingOptions"
      ng-change="$ctrl.onChangeSortingType()">
    </select>
  </div>

  <p ng-show="$ctrl.plans.length < 1" class="text-center">
    No plans found
  </p>

  <div ng-if="$ctrl.plans.length > 0">
    <table id="tblSelectPlans" class="table table-sm table-striped">
      <tbody>
        <tr ng-repeat="plan in $ctrl.plans | orderBy:$ctrl.sortField:$ctrl.descending">
          <td>
            <b><span class="aro-faux-anchor" ng-click="$ctrl.onPlanClicked(plan)">{{plan.name}}</span></b>
            <div ng-if="plan.createdBy">
              <i>
                {{$ctrl.getPlanCreatorName(plan.createdBy) || 'loading...'}}
                | created {{$ctrl.convertTimeStampToDate(plan.createdDate)}}
                | last modified {{$ctrl.convertTimeStampToDate(plan.updatedDate)}}
              </i>
            </div>
            <div class="tags">
              <div ng-repeat="tag in $ctrl.getTagCategories(plan.tagMapping.global) track by tag.id" 
                class="badge badge-primary" ng-style="{'background-color': $ctrl.state.StateViewMode.getTagColour(tag)}">
              <span> {{tag.name}} 
                <i class="fa fa-times pointer" ng-if="$ctrl.state.loggedInUser.isAdministrator" ng-click="$ctrl.updateTag(plan,{type:'general',tag:tag})"></i>
              </span>
            </div>
            <div class="tags">
              <div ng-repeat="serviceAreaId in plan.tagMapping.linkTags.serviceAreaIds" 
                   class="badge satags">
                <span>
                  {{$ctrl.idToServiceAreaCode[serviceAreaId] || 'loading...'}} 
                <i class="fa fa-times pointer" ng-if="$ctrl.state.loggedInUser.isAdministrator" ng-click="$ctrl.updateTag(plan,{type:'svc',tag:tag})"></i>
              </span>
            </div>
          </td>
          <td>
            <a ng-if="plan.progress" class="btn btn-success" ng-click="$ctrl.stopOptimization(plan)"><span class="fa fa-stop"></span></a>
            <a ng-if="!plan.progress && $ctrl.showPlanDeleteButton" class="btn btn-danger" ng-click="$ctrl.onPlanDeleteClicked(plan)">
              <span class="fa fa-trash-alt text-white"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="text-center" style="max-height: 35px">
      <ul class="pagination" style="margin: 0px">
        <li ng-class="{ 'page-item': true, disabled: $ctrl.currentPage === 1 }">
          <span class="page-link" aria-label="Previous" ng-click="$ctrl.loadPlans($ctrl.currentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        <li ng-repeat="page in $ctrl.pages" ng-class="{ 'page-item': true, active: page === $ctrl.currentPage }">
          <span class="page-link" ng-click="$ctrl.loadPlans(page)">{{ page }}</span>
        </li>
        <li ng-class="{ 'page-item': true, disabled: $ctrl.currentPage === $ctrl.pages[$ctrl.pages.length - 1] }">
          <span class="page-link" aria-label="Next" ng-click="$ctrl.loadPlans($ctrl.pages[$ctrl.pages.length - 1])">
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>