<style scoped>
  #dropdownMenu1 {
    border-color:white;
  }
  .ui-select-choices-style {
    width: auto!important;
    max-height: 100px!important;
    position: relative;
    margin-bottom: 2px;
  }
</style>  
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle filter-dropdown-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{$ctrl.objectName}}
  </button>
  <div class="dropdown-menu filter-dropdown" aria-labelledby="dropdownMenu1">
    <!-- For now, only allow users to select 1 item. Keeping the "multiple" option as removing it causes a lot more work for now... -->
    <ui-select multiple limit="1" ng-model="$ctrl.selectedItems"
      theme="bootstrap" close-on-select="false" on-select="onSelectedItemsChanged()" on-remove="onSelectedItemsChanged()">
      <ui-select-match placeholder="Select {{$ctrl.objectName}}...">
        <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $ctrl.state.StateViewMode.getTagColour($item), 'margin-right':'5px' }"></span>{{$item[$ctrl.searchProperty]}}
      </ui-select-match>
      <ui-select-choices class="ui-select-choices-style" repeat="item in $ctrl.searchList | filter: $select.search"
        refresh="$ctrl.refreshTagList({searchObj:$select.search})"
        refresh-delay="250">
        <div>
          <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $ctrl.state.StateViewMode.getTagColour(item), 'margin-right':'5px' }"></span>{{item[$ctrl.searchProperty]}}
        </div>
      </ui-select-choices>
    </ui-select>
    <div class="text-center" style="margin-top:2px">
      <button id="apply-filter" ng-class="{'btn btn-sm': true, 'btn-primary': $ctrl.selectedItems.length > 0 }" 
        ng-click="$ctrl.applySearch({selectedFilters:$ctrl.selectedItems})"
        ng-disabled="$ctrl.selectedItems.length < 0">Apply</button>
    </div>
  </div>
</div>
