version: 2

jobs:
  # test:
  #   docker:
  #     - image: circleci/node:6

  build:
    docker:
      - image: cimg/python:3.9-node
    environment:
      IMAGE_NAME: avco/aro-app
      ECR_IMAGE_NAME: 976168524097.dkr.ecr.us-east-1.amazonaws.com/aro/aro-app
    steps:
      - setup_remote_docker
      - checkout

      - run:
          name: dependencies
          command: |
            # sudo apt-get install python-dev

      - run:
          name: build and register
          command: |
            docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASS
            pip3 install awscli boto3
            eval $(aws ecr get-login --region us-east-1 --no-include-email --registry-ids 976168524097)
            export IMAGE_TAG=${IMAGE_NAME}:${CIRCLE_BUILD_NUM}
            export ECR_IMAGE_TAG=${ECR_IMAGE_NAME}:${CIRCLE_BUILD_NUM}
            export BRANCH_LOWER="$(tr '[:upper:]' '[:lower:]' <<< "$CIRCLE_BRANCH")"
            export BRANCH="$(tr '_' '-' <<< "$BRANCH_LOWER")"
            docker build -t ${IMAGE_TAG} .
            docker push ${IMAGE_TAG}
            docker tag ${IMAGE_TAG} ${ECR_IMAGE_TAG}
            docker push ${ECR_IMAGE_TAG}
            if [ $CIRCLE_BRANCH == "master" ]
              then
                docker tag ${IMAGE_TAG} ${IMAGE_NAME}:latest
                docker push ${IMAGE_NAME}:latest
                docker tag ${IMAGE_TAG} ${ECR_IMAGE_NAME}:latest
                docker push ${ECR_IMAGE_NAME}:latest
                python3 docker/publish_version.py qa-${BRANCH} app $CIRCLE_BUILD_NUM
            fi
            if [ $CIRCLE_BRANCH == "dev" ]
              then
                docker tag ${IMAGE_TAG} ${IMAGE_NAME}:dev
                docker push ${IMAGE_NAME}:dev
                docker tag ${IMAGE_TAG} ${ECR_IMAGE_NAME}:dev
                docker push ${ECR_IMAGE_NAME}:dev
                python3 docker/publish_version.py qa-${BRANCH} app $CIRCLE_BUILD_NUM
            fi

  deploy:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run:
          name: update opsworks deployment
          command: |
            sudo pip install boto3
            python docker/update_stack.py qa update
workflows:
  version: 2
  build_deploy:
    jobs:
      - build:
          context: aro_qa_builds
          filters:
            branches:
              only:
                - master
                - dev
                - uat
                - react/map-tools-migrations 
      - deploy:
          context: aro_qa_builds
          requires:
            - build
          filters:
            branches:
              only: dev
