<div>
  <div style="display: inline-block;width: 100%">
    <em ng-if="!$ctrl.showGraph">Output is too large to display at this width</em>
    <div ng-if="!$ctrl.showGraph">
      <button class="pull-left btn btn-primary" ng-click="$ctrl.showOutput()">Expand Results</button>
    </div>
    <div>
      <a class="float-right btn btn-light btn-sm" ng-href="{{$ctrl.downloadLink}}">
        <span style="color:#4d99e5" class="fa fa-download"></span>
      </a>
    </div>
  </div>
  <!-- Its important to have overflow-x: hidden for the following div, otherwise the scrollbars mess
       up the element width calculation, and the $ctrl.showGraph keeps oscillating once our component
       width becomes exactly equal to the width threshold at which we collapse -->
  <div ng-if="$ctrl.showGraph" style="overflow-x: hidden">
    <network-analysis-output-content></network-analysis-output-content>
  </div>
</div>
