<div>
  <div ng-if="!$ctrl.showGraph" style="display: inline-block;width: 100%">
    <em>Ouput is too large to display at this width</em>
    <div>
      <button class="pull-left btn btn-primary" ng-click="$ctrl.showOutput()">Expand Results</button>
    </div>
    <div>
      <a class="pull-right btn btn-default btn-sm" ng-href="{{$ctrl.downloadLink}}">
        <span style="color:#4d99e5" class="fa fa-download"></span>
      </a>
    </div>
  </div>
  <div ng-if="$ctrl.showGraph">
    <network-analysis-content target="network-analysis-chart-cash-flow-panel"></network-analysis-content>
  </div>
</div>
