<div>
  <div style="display: inline-block;width: 100%">
    <em ng-if="!$ctrl.showGraph">Output is too large to display at this width</em>
    <div ng-if="!$ctrl.showGraph">
      <button class="pull-left btn btn-primary" ng-click="$ctrl.showOutput()">Expand Results</button>
    </div>
    <div>
      <a class="pull-right btn btn-default btn-sm" ng-href="{{$ctrl.downloadLink}}">
        <span style="color:#4d99e5" class="fa fa-download"></span>
      </a>
    </div>
  </div>
  <div ng-if="$ctrl.showGraph">
    <network-analysis-output-content></network-analysis-output-content>
  </div>
</div>
