<div style="height: 100%";>
  <style scoped>
    #tblNetworkAnalysis {
      height: 83%;
    }
    #tblNetworkAnalysis tr {
      height: 45px;
    }
    #tblNetworkAnalysis td {
      line-height: 33px;  /* To vertically align text */
    }
    .indent-1 {
      padding-left: 30px !important;
    }
    .trash {
      cursor: pointer
    }
  </style>
  <div ng-style="!$ctrl.areControlsEnabled && {'position':'relative'}" style="height: 100%">
  <table id="tblNetworkAnalysis" class="table table-condensed table-striped">
    <tbody>
      <tr>
        <td>Endpoint Technology</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button ng-repeat="technology in $ctrl.state.optimizationOptions.technologies"
                    ng-class="{'btn': true, 'btn-default': !technology.checked, 'btn-primary': technology.checked}"
                    ng-click="technology.checked = !technology.checked">
              {{technology.label}}
            </button>
          </div>
        </td>
      </tr>
      <tr ng-if="$ctrl.state.optimizationOptions.technologies.FiveG.checked">
        <td class="indent-1">Polygon Type</td>
        <td> 
          <select class="form-control"
                  ng-model="$ctrl.state.optimizationOptions.networkConstraints.cellNodeConstraints.polygonStrategy">
            <option value="FIXED_RADIUS">Fixed Radius</option>
            <option value="AVERAGE_RADIUS">Average Radius</option>
            <option value="RAY_TRACING">Ray Tracing</option>
          </select>
        </td>
      </tr>
      <tr ng-if="$ctrl.state.optimizationOptions.technologies.FiveG.checked">
        <td class="indent-1">Radius (m)</td>
        <td> 
          <input type="text" class="form-control text-right" placeholder="Cell Radius"
            ng-model="$ctrl.state.optimizationOptions.networkConstraints.cellNodeConstraints.cellRadius">
        </td>
      </tr>
      <tr ng-if="$ctrl.state.optimizationOptions.technologies.FiveG.checked">
        <td class="indent-1">Granularity Ratio</td>
        <td>
          <input type="text" class="form-control text-right" placeholder="Granularity Ratio"
            ng-model="$ctrl.state.optimizationOptions.networkConstraints.cellNodeConstraints.cellGranularityRatio">
        </td>
      </tr>
      <tr ng-if="$ctrl.state.optimizationOptions.technologies.FiveG.checked">
        <td class="indent-1">Minimum Ray Length</td>
        <td>
          <input type="text" class="form-control text-right" placeholder="Minimum Ray Length"
            ng-model="$ctrl.state.optimizationOptions.networkConstraints.cellNodeConstraints.minimumRayLength">
        </td>
      </tr>
      <tr>
        <td width="48%">Network Construction</td>
        <td> 
          <select class="form-control"
                  ng-model="$ctrl.state.optimizationOptions.networkConstraints.routingMode"
                  ng-options="key as value for (key, value) in $ctrl.state.routingModes">
          </select>
        </td>
      </tr>
      <tr>
        <td>Other Settings</td>
        <td> 
          <input type="checkbox"
                 class="checkboxfill"
                 ng-model="$ctrl.state.optimizationOptions.generatedDataRequest.generatePlanLocationLinks"
                 name="ctype-name"> Save Routed Locations
          <br><input type="checkbox"
                 class="checkboxfill"
                 ng-model="$ctrl.state.optimizationOptions.generatedDataRequest.generateSubnetLinking"
                 name="ctype-name"> Equipment Linking
        </td>
      </tr>
      <tr>
        <td>Selection Type</td>
        <td>
          <select class="form-control" 
                  ng-model="$ctrl.state.optimizationOptions.analysisSelectionMode"
                  ng-change="$ctrl.onSelectionTypeChange($ctrl.state.optimizationOptions.analysisSelectionMode)">
            <option ng-repeat="(selectionId, selectionVal) in $ctrl.state.selectionModes" value="{{selectionVal}}">{{$ctrl.selectionModeLabels[selectionVal]}}</option>
          </select>
          
          <div ng-if="$ctrl.state.optimizationOptions.analysisSelectionMode === $ctrl.state.selectionModes.SELECTED_AREAS">
            <span ng-repeat="(areaSelectionKey, areaSelectionValue) in $ctrl.state.areaSelectionModes">
              <input type="radio" name="network-build-areaSelectionMode" 
              ng-model="$ctrl.state.areaSelectionMode" 
              value="{{areaSelectionValue}}"> {{areaSelectionValue}} &nbsp;&nbsp;&nbsp;
            </span>
          </div>
          
        </td>
      </tr>
      <tr style="height: 100%" ng-if="$ctrl.state.optimizationOptions.analysisSelectionMode === $ctrl.state.selectionModes.SELECTED_AREAS">
        <td>Selected Geographies({{$ctrl.serviceAreas.length || 0}})
          <span class="fa fa-trash-o trash" ng-if="$ctrl.serviceAreas.length > 0" ng-click="$ctrl.removeServiceArea({target:$ctrl.serviceAreas})"></span>
        </td>
        <td style="position: relative">
          <p ng-hide="$ctrl.serviceAreas.length > 0"><em>No geographies selected</em></p>
          <show-targets targets="$ctrl.serviceAreas"
                        remove-target="$ctrl.removeServiceArea({target:target})"></show-targets>
        </td>
      </tr>
      <tr style="height: 100%" ng-if="$ctrl.state.optimizationOptions.analysisSelectionMode === $ctrl.state.selectionModes.SELECTED_LOCATIONS">
        <td>Selected Locations({{$ctrl.targets.length || 0}})
          <span class="fa fa-trash-o trash" ng-if="$ctrl.targets.length > 0" ng-click="$ctrl.removeTarget({target:$ctrl.targets})"></span>
        </td>
        <td style="position: relative">
          <p ng-hide="$ctrl.targets.length > 0"><em>No locations selected</em></p>
          <show-targets targets="$ctrl.targets"
                        remove-target="$ctrl.removeTarget({target:target})" zoom-target="$ctrl.zoomTarget({target:target})"></show-targets>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
  <div class="disable-sibling-controls"
       ng-hide="$ctrl.areControlsEnabled">
  </div>
  </div>
</div>
