<style scoped>
  .plan-info-container {
    height: 100%;
    padding-top: 10px;
  }
  .plan-info {
    display: flex;
    flex-direction: row;
  }
  .plan-info button {
    margin-left: 1px;
    margin-right: 1px;
    flex: 1 1 auto;
  }
  .indent-1 {
    padding-left: 15px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .tags {
   margin-bottom: 5px;
  } 
  .tags .tag {
    display: inline-block;
    margin: 1px;
    font-size: 12px;
  }
  .pointer {
    cursor: pointer;
  }
  .tag .close {
    font-size: 14px;
    margin-left: 5px;
  }
  .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
  }
  #ui-select-search {
    width: auto!important;
    max-height: 150px!important;
  }
</style>    
<div class="plan-info-container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="nav-item" ng-click="$ctrl.currentView = $ctrl.views.Plan_Info">
      <a href="#" ng-class="{ 'nav-link': true, 'active': $ctrl.currentView === $ctrl.views.Plan_Info }">Plan Info</a>
    </li>
    <li role="presentation" class="nav-item" ng-click="$ctrl.currentView = $ctrl.views.Search_plans">
      <a href="#" ng-class="{ 'nav-link': true, 'active': $ctrl.currentView === $ctrl.views.Search_plans }">Search Plans</a>
    </li>
    <!-- <li role="presentation" class="nav-item" ng-click="$ctrl.currentView = $ctrl.views.Recent_plans">
      <a href="#" ng-class="{ 'nav-link': true, 'active': $ctrl.currentView === $ctrl.views.Recent_plans }">Recent Plans</a>
    </li> -->
  </ul>

  <plan-info ng-if="$ctrl.currentView == $ctrl.views.Plan_Info"
    get-tag-details="$ctrl.getTagCategories(tagObject)"
    get-sa-tag-details="$ctrl.getSATagCategories(tagObject)"
    update-tag="$ctrl.updateTag(plan,removeTag)"
    delete-plan="$ctrl.deletePlan(plan)"></plan-info>

  <!-- <plan-info-recent ng-if="$ctrl.currentView == $ctrl.views.Recent_plans"></plan-info-recent> -->

  <r-plan-search ng-if="$ctrl.currentView == $ctrl.views.Search_plans"
               system-actors="$ctrl.state.systemActors"
               show-plan-delete-button="true"
               current-view="'viewModePlanSearch'"
               on-plan-selected="$ctrl.loadPlan(plan)"
               on-plan-delete-requested="$ctrl.deletePlan(plan)">
  </r-plan-search>

</div>