<style scoped>
  .plan-info-container {
    position: relative;
    height: 99%;
    margin-top: 1%;
  }
  .plan-info {
    display: flex;
    flex-direction: row;
  }
  .plan-info button {
    margin-left: 1px;
    margin-right: 1px;
    flex: 1
  }
  .indent-1 {
    padding-left: 15px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .tags {
   margin-bottom: 5px;
  } 
  .tags .tag {
    display: inline-block;
    margin: 1px;
    font-size: 12px;
  }
  .pointer {
    cursor: pointer;
  }
  .tag .close {
    font-size: 14px;
    margin-left: 5px;
  }
  .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
  }
  #ui-select-search {
    width: auto!important;
    max-height: 150px!important;
  }
</style>    
<div class="plan-info-container">

  <div class="plan-info">
    <button ng-class="{ 'btn': true, 'btn-primary': $ctrl.currentView == $ctrl.views.Plan_Info }"
      ng-click="$ctrl.currentView = $ctrl.views.Plan_Info">Plan Info</button>
    <button ng-class="{ 'btn': true, 'btn-primary': $ctrl.currentView == $ctrl.views.Search_plans }" 
      ng-click="$ctrl.currentView = $ctrl.views.Search_plans">Search Plans</button>
    <button ng-class="{ 'btn': true, 'btn-primary': $ctrl.currentView == $ctrl.views.Recent_plans }"
      ng-click="$ctrl.currentView = $ctrl.views.Recent_plans">Recent Plans</button>
  </div>  

  <plan-info ng-if="$ctrl.currentView == $ctrl.views.Plan_Info"
    current-user="$ctrl.user"
    get-tag-details="$ctrl.getTagCategories(tagObject)"
    get-sa-tag-details="$ctrl.getSATagCategories(tagObject)"
    update-tag="$ctrl.updateTag(plan,removeTag)"
    delete-plan="$ctrl.deletePlan(plan)"
    load-plans="$ctrl.loadPlans()"></plan-info>
  <plan-info-recent ng-if="$ctrl.currentView == $ctrl.views.Recent_plans"></plan-info-recent>

  <div ng-if="$ctrl.currentView == $ctrl.views.Search_plans">
  <div class="indent-1">
    <input type="checkbox" class="checkboxfill" 
      name="ctype-name" disabled> Refresh Plans on map move
  </div>

  <!-- <div class="input-group">
    <div class="form-group has-feedback has-clear">
      <input type="text" class="form-control" placeholder="Search for Plan Names"
        ng-model="$ctrl.search_text" ng-model-options="{ debounce: 1000 }">
      <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback"
        ng-click="$ctrl.search_text = ''"></span>
    </div>
    <span class="input-group-addon" ng-click="$ctrl.loadPlans()" style="cursor:pointer">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div> -->

  <div class="input-group">
    <div class="form-group has-feedback has-clear">
      <ui-select tagging tagging-label="false" tagging-tokens="SPACE|,|/" multiple ng-model="$ctrl.searchText"
        theme="bootstrap" close-on-select="true" on-select="$ctrl.loadPlans()" on-remove="$ctrl.loadPlans()">
        <ui-select-match placeholder="Search for Plan Names">
          <span class="tag" ng-if=$item.type>
            {{$item.type}}:
            <span class="label" ng-if="$item.type!='svc'" ng-style="{'background-color': $ctrl.state.getTagColour($item)}">{{$item.name || $item.code}}</span>
            <span class="label satags satag" ng-if="$item.type=='svc'">{{$item.code}}</span>
          </span>
          <span class="tag" ng-if=!$item.type>
            {{$item}}
          </span>
        </ui-select-match>
        <ui-select-choices class="ui-select-search" repeat="item in $ctrl.searchList | filter: $select.search" group-by="'type'">
          <div>
            <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $ctrl.state.getTagColour(item), 'margin-right':'5px' }"></span>{{item.name || item.code}}
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
    <span class="input-group-addon" ng-click="$ctrl.loadPlans()" style="cursor:pointer">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>

  <div class="indent-1 plan-info">
    <span style="align-self:center">Filter by:</span>
    <search-plan-filter 
      object-name="Tag"
      search-list="$ctrl.state.listOfTags"
      apply-search="$ctrl.applyTagSearchFilter(selectedFilters)">
    </search-plan-filter>
    <!-- <search-plan-filter object-name="Owner"
    search-list="$ctrl.state.listOfTags"
    apply-search="$ctrl.applyOwnerSearchFilter({selectedFilters:selectedFilters})"></search-plan-filter> -->
    <search-plan-filter 
      object-name="Service Area"
      search-list="$ctrl.state.listOfServiceAreaTags"
      apply-search="$ctrl.applySaSearchFilter(selectedFilters)"
      refresh-tag-list="$ctrl.state.loadListOfSAPlanTags(searchObj)"></search-plan-filter>
  </div>

  <p ng-show="$ctrl.plans.length < 1" class="text-center">
    No plans found
  </p>

  <div ng-show="$ctrl.plans.length > 0">
    <table id="tblSelectPlans" class="table table-condensed table-striped">
      <tbody>
        <tr ng-repeat="plan in $ctrl.plans | orderBy:$ctrl.sortField:$ctrl.descending">
          <td>
            <b><a href="javascript:void(0)" ng-click="$ctrl.selectPlan(plan)">{{plan.name}}</a></b>
            <div><i>{{$ctrl.user.first_name}} {{$ctrl.user.last_name}}</i></div>
            <div class="tags">
              <div ng-repeat="tag in $ctrl.getTagCategories(plan.tagMapping.global) track by $index" 
                class="tag label" ng-style="{'background-color': $ctrl.state.getTagColour(tag)}">
              <span class="label"> {{tag.name}} 
                <i class="fa fa-times pointer" ng-click="$ctrl.updateTag(plan,{type:'general',tag:tag})"></i>
              </span>
            </div>
            <div class="tags">
              <div ng-repeat="tag in $ctrl.getSATagCategories(plan.tagMapping.linkTags.serviceAreaIds) track by $index" 
                class="tag label satags">
              <span class="label satag"> {{tag.code}} 
                <i class="fa fa-times pointer" ng-click="$ctrl.updateTag(plan,{type:'svc',tag:tag})"></i>
              </span>
            </div>
          </td>
          <td>
            <a ng-if="plan.progress" class="btn btn-sm btn-success" ng-click="$ctrl.stopOptimization(plan)"><span class="fa fa-stop"></span></a>
            <!-- <a ng-if="!plan.progress" class="btn btn-sm btn-primary"><span class="fa fa-folder"></span></a> -->
            <a ng-if="!plan.progress" class="btn btn-sm btn-danger" ng-click="$ctrl.deletePlan(plan)"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="text-center" style="max-height: 35px">
      <ul class="pagination" style="margin: 0px">
        <li ng-class="{ disabled: $ctrl.currentPage === 1 }">
          <a href="javascript:void(0)" aria-label="Previous" ng-click="$ctrl.loadPlans($ctrl.currentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="page in $ctrl.pages" ng-class="{ active: page === $ctrl.currentPage }">
          <a href="javascript:void(0)" ng-click="$ctrl.loadPlans(page)">{{ page }}</a>
        </li>
        <li ng-class="{ disabled: $ctrl.currentPage === $ctrl.pages[$ctrl.pages.length - 1] }">
          <a href="javascript:void(0)" aria-label="Next" ng-click="$ctrl.loadPlans($ctrl.pages[$ctrl.pages.length - 1])">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
</div>