<style scoped>
  .network-plan {
    top: 0px;
    white-space: nowrap;
    right: 0px;
    text-align: center;
    background: #1f7de6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    cursor: default;
    color: white;
  }

  .non-ephemeral {
    font-size: 25px;
    line-height: 55px;
    max-width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>

<div class="network-plan">
  <!-- For ephemeral plans, the name has not been set by the user -->
  <div ng-if="($ctrl.state.plan && $ctrl.state.plan.ephemeral) && $ctrl.state.loggedInUser.perspective === 'admin'">
    <div id="selectedPlan" style="font-size: 25px; line-height: 40px;">Existing Network</div>
  </div>

  <!-- For saved plans, display the plan name only -->
  <div id="selectedPlan" ng-if="$ctrl.state.plan && !$ctrl.state.plan.ephemeral" title="{{$ctrl.state.plan.name}}" class="non-ephemeral">
    {{$ctrl.state.plan.name}}
  </div>
</div>