<style scoped>
  .with-margin {
    margin-bottom: 5px;
  }
</style>
<modal id="plan_inputs_modal" visible="$ctrl.state.planInputsModal.value" backdrop="static" on-show="$ctrl.modalShown()"
  on-hide="$ctrl.modalHide()">
  <modal-header title="Plan Inputs"></modal-header>
  <modal-body>

    <!-- Plan name -->
    <input class="form-control with-margin" type="text" ng-model="$ctrl.planName" placeholder="Plan Name">

    <!-- Plan tags -->
    <div class="with-margin">
      <edit-plan-tag object-name="Tag"
                     search-list="$ctrl.state.listOfTags"
                     selected-list="$ctrl.state.currentPlanTags">
      </edit-plan-tag>
    </div>
    <edit-plan-tag object-name="Service Area"
                   search-list="$ctrl.state.listOfServiceAreaTags"
                   selected-list="$ctrl.state.currentPlanServiceAreaTags"
                   refresh-tag-list="$ctrl.state.loadListOfSAPlanTags(searchObj)">
    </edit-plan-tag>

    <!-- Parent plan selector - header -->
    <div ng-click="$ctrl.parentPlanSelectorExpanded = !$ctrl.parentPlanSelectorExpanded" style="margin-top: 10px; cursor: pointer;">
      Parent plan: {{$ctrl.parentPlan ? $ctrl.parentPlan.name : '(undefined)'}}
      <button class="btn btn-xs btn-default" ng-click="$ctrl.clearParentPlan(); $event.stopPropagation();">Clear</button>
      <div class="pull-right">
        <i ng-class="{ 'fa': true, 'fa-plus': !$ctrl.parentPlanSelectorExpanded, 'fa-minus': $ctrl.parentPlanSelectorExpanded }"></i>
      </div>
    </div>
    <!-- Parent plan selector - expandable body -->
    <div ng-style="{ 'margin-left': '30px', 'display': $ctrl.parentPlanSelectorExpanded ? 'block' : 'none', 'max-height': '300px' }">
      <plan-search show-plan-delete-button="false"
                   show-refresh-plans-on-map-move="false"
                   on-plan-selected="$ctrl.onParentPlanSelected(plan)">
      </plan-search>
    </div>

  </modal-body>
  <modal-footer>
    <button class="btn btn-primary pull-left" ng-click="$ctrl.savePlanAs()">Create Plan</button>
    <button class="btn btn-danger pull-right" ng-click="$ctrl.close()">Cancel</button>
  </modal-footer>
</modal>