<style scoped>
  .with-margin {
    margin-bottom: 5px;
  }
  .parent-plan-selector-body.ng-hide-remove {
    animation: fadeIn 300ms;
  }
  .parent-plan-selector-body.ng-hide-add {
    animation: fadeOut 300ms;
  }
</style>
<modal id="plan_inputs_modal" visible="$ctrl.state.planInputsModal.value" backdrop="static" on-show="$ctrl.modalShown()"
  on-hide="$ctrl.modalHide()">
  <modal-header title="Plan Inputs"></modal-header>
  <modal-body>

    <!-- Plan name -->
    <input id="searchPlanName" class="form-control with-margin" type="text" ng-model="$ctrl.planName" placeholder="Plan Name">
    
    <!-- Plan type -->
    <select class="form-control with-margin"
      ng-model="$ctrl.planType"
      ng-options="key as value for (key, value) in $ctrl.planTypes">
    </select>

    <!-- Plan tags -->
    <div class="with-margin">
      <edit-plan-tag object-name="Tag"
                     search-list="$ctrl.state.listOfTags"
                     selected-list="$ctrl.state.currentPlanTags">
      </edit-plan-tag>
    </div>
    <edit-plan-tag object-name="Service Area"
                   search-list="$ctrl.state.listOfServiceAreaTags"
                   selected-list="$ctrl.state.currentPlanServiceAreaTags"
                   refresh-tag-list="$ctrl.state.StateViewMode.loadListOfSAPlanTags($ctrl.$http, $ctrl.state, $ctrl.dataItems, searchObj)">
    </edit-plan-tag>

    <!-- Parent plan selector - header -->
    <div ng-click="$ctrl.parentPlanSelectorExpanded = !$ctrl.parentPlanSelectorExpanded" style="margin-top: 10px; cursor: pointer;">
      Parent plan: {{$ctrl.parentPlan ? $ctrl.parentPlan.name : '(undefined)'}}
      <button class="btn btn-thin btn-light" ng-click="$ctrl.clearParentPlan(); $event.stopPropagation();">Clear</button>
      <div class="float-right">
        <i ng-class="{ 'fa': true, 'fa-plus': !$ctrl.parentPlanSelectorExpanded, 'fa-minus': $ctrl.parentPlanSelectorExpanded }"></i>
      </div>
    </div>
    <!-- Parent plan selector - expandable body -->
    <div class="parent-plan-selector-body"
         ng-show="$ctrl.parentPlanSelectorExpanded"
         style="margin-left: 30px; max-height: 200px; overflow-y: auto;">
      <plan-search ng-if="$ctrl.parentPlanSelectorExpanded" show-plan-delete-button="false"
                   system-actors="$ctrl.state.systemActors"
                   on-plan-selected="$ctrl.onParentPlanSelected(plan)">
      </plan-search>
    </div>

  </modal-body>
  <modal-footer>
    <button class="btn btn-primary" ng-click="$ctrl.savePlanAs()">Create Plan</button>
    <button class="btn btn-danger float-right" ng-click="$ctrl.close()">Cancel</button>
  </modal-footer>
</modal>