<modal visible="$ctrl.state.reportModal.value" backdrop="static" on-show="$ctrl.modalShown()" on-hide="$ctrl.modalHide()" >
  <modal-header title="Reports"></modal-header>
    <modal-body style="max-height: 500px; overflow: auto;">
      <table class="table table-md table-striped">
        <thead>
          <tr>
            <th class="w-40">File Name</th>
            <th class="w-25">File Type</th>
            <th class="w-25"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="report in $ctrl.reports track by $index">
            <td style="word-break: break-all">{{ report.displayName }}</td>
            <td>
              <select class="form-control"
                ng-model="report.selectedFileType"
                ng-options="item as item for item in report.media_types">
              </select>
            </td>
            <td>
              <button ng-click="$ctrl.downloadReport(report)" class="btn btn-primary btn-xs">
                <span class="fa fa-download"></span> Download
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-light" disabled>Download all reports</button>
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
  </modal-footer>
</modal>