<style scoped>

  .tool-bar {
    z-index: 3;
    left: 395px;
    position: fixed;
    top: 8px;
    background-color: rgba(50, 50, 50, 0.7);
    border-color: rgb(50, 50, 50);
  }

  .tool-bar-button {
    float:left;
    margin: 1px;
  }

  .tool-bar-separator {
    float: left;
    height: 31px;
    margin: 0 5px;
    width: 4px;
    background-color: darkslateblue;
  }

  .tool-bar button {
    padding: 4px;
    width: 28px;
    border-radius: 25px;
  }

  .tool-bar .btn-group {
    margin-left: 5px;
    margin-right: 5px;
  }
  .tool-bar .btn.btn-selected {

    background-color: #1a79db;
  }

  .tool-bar .ng-hide-remove {
      animation: fadeInDown 300ms;
  }

  .tool-bar .ng-hide-add {
      animation: fadeOutUp 300ms;
  }

  #tool-bar .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  #tool-bar .navbar-nav>li>a:hover {
    color: #1a79db;
  }

  #tool-bar-logo-new {
    padding: 10px;
    font-size: 20px;
    position: absolute;
  }

  #tool-bar-logo {
    text-align:center;
    z-index: 1;
    /* width: 150px; */
    padding: 10px;
    font-size: 20px;
    /* background-color: rgba(50, 50, 50, 0.7); */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border: 1px solid rgba(50, 50, 50, 0.7); */
    color: #fff;
  }
</style>
<div style="display: flex; flex-direction: row; position: absolute; top: 0px; left: 0px; right: 0px; height: 48px">
  <div style="flex: 1 1 auto">
  </div>
  <div class="tool-bar" style="flex: 0 1 auto">

    <div id="tool-bar-template" style="display:none;">
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.openImage" data-ng-click="$ctrl.openGlobalSettings()"></tool-bar-button>
      <tool-bar-separator class="tool-bar-separator"></tool-bar-separator>
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.createImage" ng-click="$ctrl.createEphemeralPlan()"></tool-bar-button>
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.saveImage" ng-click="$ctrl.savePlanAs()"></tool-bar-button>
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.showImage" ng-click="$ctrl.showPlanModal()"></tool-bar-button>
      <tool-bar-separator class="tool-bar-separator"></tool-bar-separator>
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.toggleImage" data-ng-click="$ctrl.toggleMeasuringStick()"></tool-bar-button>
      <tool-bar-button class="tool-bar-button" faimage="$ctrl.eyeImage" data-ng-click="$ctrl.toggleViewSettings()"></tool-bar-button>
      <tool-bar-separator class="tool-bar-separator"></tool-bar-separator>
      <tool-bar-button class="tool-bar-button" enable="$ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.SINGLE" faimage="$ctrl.singleSelect" data-ng-click="$ctrl.setSelectionMode($ctrl.state.targetSelectionModes.SINGLE)"></tool-bar-button>
      <tool-bar-button class="tool-bar-button" enable="$ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.POLYGON" faimage="$ctrl.polygonSelect" data-ng-click="$ctrl.setSelectionMode($ctrl.state.targetSelectionModes.POLYGON)"></tool-bar-button>
    </div>

    <div class="horizontal-toolbar">

    </div>

    <div ng-show="showDropDown" class="dropdown-toolbar btn-group" style="float: left; position: absolute;" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="background-color: white;">
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-menu" style="min-width:0px; padding:0px; background-color:rgba(50, 50, 50, 0.7);" aria-labelledby="btnGroupDrop1">
        </div>
      </div>
    </div>
  </div>

  <div id="tool-bar-logo-new">
    <img src="images/logos/aro/logo_navbar.png" style="margin-top: -4px;height: 30px;width: 40px">
  </div>

  <!-- <div style="flex: 0 1 auto; padding-left: 100px; padding-right: 100px">
    <div id="tool-bar-logo">
      <img src="images/logos/aro/logo_navbar.png" style="margin-top: -4px;height: 30px;width: 40px">
    </div>
  </div> -->
  <!-- Hardcode a div for the sidebar for now. To be fixed later -->
  <div style="flex: 0 0 700px"></div>
</div>