<style scoped>

  .tool-bar .ng-hide-remove {
    animation: fadeInDown 300ms;
  }

  .tool-bar .ng-hide-add {
    animation: fadeOutUp 300ms;
  }
  .tool-bar .separator {
    border-left: #eee 1px dotted;
  }
  .tool-bar .btn:hover {
    background-color: #eee;
    color: #1f7de6;
  }
  .tool-bar .btn-selected {
    background-color: #eee;
    color: #1f7de6;
  }
  .view-dropdown {
    min-width: 170px
  }
  .dropdown-divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #eceeef;
  }
  
  /* http://jsfiddle.net/JnrvG/1/ */
  .myDropdown1,.rulerDropdown {
    position: relative;
  }

  .myDropdown1 font {
    color: #1f7de6;
    font-size: 14px;
  }

  .ruler-container {
    display: flex;
    justify-content: space-between;
  }

  .ruler-undo-btn {
    border-radius: 5px!important;
    margin-left: 2px!important;
  }
</style>

<style scoped>
  #global-search-toolbutton .select2-container {
    border-radius: 0px;
  }
  #global-search-toolbutton .select2-choice {
    padding-left: 0px;
    color: white;
    border: none;
  }
  #global-search-toolbutton .select2-arrow {
    display: none;  /* Hiding the arrow completely for now */
  }
  #global-search-toolbutton .select2-input {
    background-color: #1f7de6;
  }
  .select2-search {
    padding: 0px;
    background-color: #1f7de6;
  }
  .select2-results {
    background-color: #1f7de6;
    color: #eee;
    margin: 0px;
  }
  .select2-results .select2-highlighted {
    background-color: white;
    color: #1f7de6;
  }
</style>

<div class="tool-bar" ng-style="{ margin: $ctrl.marginPixels + 'px' }">

  <img ng-if="$ctrl.state.configuration.ARO_CLIENT !== 'frontier'" src="images/logos/aro/logo_navbar.png" class="no-collapse" style="align-self: center; padding-left: 10px; padding-right: 10px">
  <span ng-if="$ctrl.state.configuration.ARO_CLIENT === 'frontier'" style="align-self: center; padding-left: 10px; padding-right: 10px"><b>NPM BSA</b></span>
  <div ng-controller="global-search-controller" class="no-collapse" id="global-search-toolbutton" style="flex: 0 0 250px; margin: auto; width: 250px;">
    <input class="form-control select2" style="padding:0px; border-radius: 0px;" type="text" placeholder="Search an address, city, or state">
  </div>

  <div class="fa fa-search no-collapse" style="padding-left: 10px; padding-right: 10px; margin: auto; color: #eee;"></div>

  <div class="separator" class="no-collapse"></div>

  <button class="btn"
          ng-click="$ctrl.openGlobalSettings()"
          ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.globalSettings"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Global Settings...">
    <i class="fa fa-th"></i>
  </button>

  <div class="separator"></div>

  <button class="btn"
          ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.ephemeralPlan"
          ng-click="$ctrl.createEphemeralPlan()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Create a new plan">
    <i class="fa fa-file"></i>
  </button>

  <button class="btn"
          ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.savePlanAs"
          ng-click="$ctrl.savePlanAs()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Save plan as...">
    <i class="far fa-save"></i>
  </button>

  <button class="btn"
          ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.planModel"
          ng-click="$ctrl.showPlanModal()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Open an existing plan...">
    <i class="fa fa-folder-open"></i>
  </button>

  <div class="separator"></div>

  <div class="rulerDropdown" ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.measuringStick">
    <button type="button" ng-class="{ 'btn': true, 'btn-selected': $ctrl.state.isRulerEnabled }"
      ng-click="$ctrl.rulerAction()"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      title="Ruler">
      <i class="fa fa-ruler"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right ruler-dropdown">
      <div class="ruler-container">
        <select class="form-control"
          ng-model="$ctrl.state.currentRulerAction"
          ng-options="item as item.label for item in $ctrl.state.rulerActions track by item.id"
          ng-change="$ctrl.onChangeRulerAction()">
        </select>
        <button type="button" class="btn btn-primary ruler-undo-btn form-control" ng-if="$ctrl.showRemoveRulerButton()"
          ng-click="$ctrl.removeLastRulerMarker()"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="myDropdown1">
    <button type="button" ng-class="{ 'btn': true, 'btn-selected': $ctrl.isViewSettingsEnabled }"
            ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.viewSettings"
      ng-click = "$ctrl.viewSettingsAction()"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      title="Show view settings...">
      <i class="fa fa-eye"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right view-dropdown">
      <input type="checkbox" class="checkboxfill" ng-model="$ctrl.heatMapOption" ng-change="$ctrl.toggleHeatMapOptions()" name="ctype-name"
        style="margin-left: 2px;">
      <font>Location Heatmap On</font>

      <div class="dropdown-divider" ng-if="$ctrl.heatMapOption"></div>
      <font ng-if="$ctrl.heatMapOption">Heatmap Intensity</font>
      <div style="padding: 0px 10px;">
        <input type="range" ng-if="$ctrl.heatMapOption" min= {{$ctrl.min}} max= {{$ctrl.max}} ng-model="$ctrl.sliderValue"
          class="aro-slider" ng-change="$ctrl.changeHeatMapOptions()">
      </div>
      <div>
        <div class="dropdown-divider"></div>
        <input type="checkbox" class="checkboxfill" ng-checked="$ctrl.state.showSiteBoundary" ng-click="$ctrl.state.toggleSiteBoundary()" name="ctype-name"
               style="margin-left: 2px;">
        <font>Site Boundaries</font>
        <select class="form-control" style="margin-top: 10px"
          ng-value="$ctrl.state.selectedBoundaryType.description"
          ng-if="$ctrl.state.showSiteBoundary" 
          ng-click="$ctrl.state.setSelectedBoundaryType($ctrl.state.boundaryTypes[$event.target.selectedIndex])">
          <option ng-repeat="item in $ctrl.state.boundaryTypes"
            ng-selected="{{ item.id === $ctrl.state.selectedBoundaryType.id }}"
            value="{{item.description}}">
            {{item.description}}
          </option>
        </select>
      </div>

      <div>
        <div class="dropdown-divider"></div>

        <input type="checkbox" class="checkboxfill" ng-model="$ctrl.state.showDirectedCable" ng-change="$ctrl.showCableDirection()" name="ctype-name"
               style="margin-left: 2px;">
        <font>Directed Cable</font>
      </div>

      <div ng-if="$ctrl.state.configuration.perspective.viewSettings.showSiteLabels">
        <div class="dropdown-divider"></div>
        <input type="checkbox" class="checkboxfill" ng-model="$ctrl.state.showEquipmentLabels" ng-change="$ctrl.showEquipmentLabelsChanged()" name="ctype-name"
          style="margin-left: 2px;">
        <font>Site Labels</font>
      </div>

      <div ng-if="$ctrl.state.configuration.perspective.viewSettings.showFiberSize">
        <div class="dropdown-divider"></div>
        <input type="checkbox" class="checkboxfill" ng-model="$ctrl.state.showFiberSize" ng-change="$ctrl.state.requestMapLayerRefresh.next(null)" name="ctype-name"
          style="margin-left: 2px;">
        <font>Fiber Size</font>
        <select ng-if="$ctrl.state.showFiberSize" class="form-control" style="margin-top: 10px"
          ng-model="$ctrl.state.viewSetting.selectedFiberOption"
          ng-options="option as option.name for option in $ctrl.state.viewFiberOptions track by option.id"
          ng-change="$ctrl.state.requestMapLayerRefresh.next(null)">
        </select>
      </div>
    </div>
  </div>

  <div ng-show="$ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.ANALYSIS || $ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW" class="separator"></div>

  <button ng-show="($ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.ANALYSIS
                   || $ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW)
                   && $ctrl.state.activeViewModePanel !== $ctrl.state.viewModePanels.EDIT_LOCATIONS"
          ng-class="{ 'btn': true, 'btn-selected': $ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.SINGLE_PLAN_TARGET }"
          ng-click="$ctrl.setSelectionSingle()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Select individual locations">
    <i class="fa fa-mouse-pointer"></i>
  </button>

  <button ng-show="($ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.ANALYSIS
                   || $ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW)
                   && $ctrl.state.activeViewModePanel !== $ctrl.state.viewModePanels.EDIT_LOCATIONS
                   && $ctrl.state.configuration.perspective.showToolbarButtons.selectionPolygon"
          ng-class="{ 'btn': true, 'btn-selected': $ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.POLYGON_PLAN_TARGET }"
          ng-click="$ctrl.setSelectionPolygon()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Select multiple locations">
    <i class="fa fa-draw-polygon"></i>
  </button>

  <aro-drawing-manager
    ng-show="$ctrl.state.configuration.perspective.showToolbarButtons.annotationTool"
    map-global-object-name="map"
    feature-type="ephemralShape"
    drawing-control="true"
    drawing-modes="['polygon','polyline']"
    editable="true"
    default-drawing-mode="polyline">
  </aro-drawing-manager>

  <div class="separator"></div>

  <button ng-show="$ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW"
          ng-if="$ctrl.state.configuration.perspective.showToolbarButtons.openCoverageBoundary"
          ng-class="{ 'btn': true,
                      'btn-selected': $ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.COVERAGE_BOUNDARY
                                      && $ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.COVERAGE_BOUNDARY
                    }"
          ng-click="$ctrl.openCoverageBoundaryPanel()"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Calculate coverage boundary">
    <i class="fa fa-crosshairs fa-rotate-180"></i>
  </button>

  <button ng-if="$ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW &&
                 $ctrl.state.configuration.perspective.showToolbarButtons.exportSelection &&
                 $ctrl.state.activeViewModePanel !== $ctrl.state.viewModePanels.EDIT_LOCATIONS"
    ng-click="$ctrl.setSelectionExport()"
    ng-class="{ 'btn': true, 'btn-selected': $ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.POLYGON_EXPORT_TARGET }"
    data-toggle="tooltip" data-placement="bottom" 
    title="Export selected polygon">
      <i class="fa fa-cube"></i>
  </button>

  <button ng-if="$ctrl.state.configuration.toolbar.showRfpStatus"
    ng-click="$ctrl.showRfpWindow()"
    class="btn"
    data-toggle="tooltip" data-placement="bottom" 
    title="Show RFP status">
      <i class="fa fa-cloud"></i>
  </button>

  <div class="dropdown" ng-hide="!$ctrl.showDropDown" ng-style="{ 'border-left': '#eee 1px dotted', width: $ctrl.dropdownWidthPixels }">
    <button class="btn btn-light" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-angle-double-down"></i>
    </button>
    <!-- Override some styles on the dropdown-menu UL below to remove margins, padding, etc -->
    <ul class="dropdown-menu tool-bar-dropdown" aria-labelledby="dropdownMenu1" style="padding: 0px; min-width: 0px;">
    </ul>
  </div>

</div>
<!-- Render the modal outside the .tool-bar div so that it does not pick up any toolbar button styles -->
<r-rfp-status-modal></r-rfp-status-modal>
