
<!-- The top level div, this contains all the child items (key-value pairs) for the object to be edited -->
<div class="ei-gen-level" ng-style="{ 'padding-left': $ctrl.pixelsPerIndentationLevel + 'px' }">

  <!-- Loop through all the key-value pairs in the object to be edited -->
  <div class="ei-items-contain" ng-repeat="(key, value) in $ctrl.objectToEdit">

    <!-- If this key-value pair is expandable, that means it is an object containing its own key-value pairs. 
         RECURSIVELY show the object editor for the sub-object -->
    <div class="ei-foldout" ng-if="$ctrl.isExpandable(value)" style="width: 100%;">
      <div class="ei-header" ng-click="$ctrl.toggleIsKeyExpanded($index)">
        <i class="far fa-plus-square ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded[$index]"></i>
        <i class="far fa-minus-square ei-foldout-icon" ng-if="$ctrl.isKeyExpanded[$index]"></i>
        {{key}}
      </div>
      <!-- RECURSIVE call to aro-object-editor. Not creating object if indentation level is too high -->
      <aro-object-editor class="ei-internal-gen" ng-if="$ctrl.indentationLevel <= 200"
                         object-to-edit="value"
                         indentation-level="$ctrl.indentationLevel + 1"
                         on-change="$ctrl.onChange()" 
                         ng-style="{ display: $ctrl.isKeyExpanded[$index] ? 'inline' : 'none' }">
      </aro-object-editor>
    </div>

    <!-- If this key-value pair is NOT expandable and has an editable value, show an input box to edit it -->
    <div class="ei-property-item" ng-if="!$ctrl.isExpandable(value) && $ctrl.isEditable(value)" ng-class-odd="'ei-row-odd'" ng-class-even="'ei-row-even'">
      <div style="flex: 1 1 auto;">{{key}}</div>
      <!-- Note that our ng-model is "$ctrl.objectToEdit[key]" and not "value" so the two way binding updates the actual object -->
      <input ng-if="$ctrl.isEditable(value)" type="text" ng-model="$ctrl.objectToEdit[key]" ng-change="$ctrl.onChange()" class="form-control input-sm" style="flex: 0 0 100px">
    </div>
  </div>
</div>