
<div ng-if="$ctrl.isEdit" ng-switch="$ctrl.displayProps.format">
  
  <input ng-switch-when="string" type="text" ng-model="$ctrl.model" ng-change="$ctrl.onChange()" class="form-control input-sm ei-input-text">
  <input ng-switch-when="number" type="number" ng-model="$ctrl.model" ng-change="$ctrl.onChange()" class="form-control input-sm ei-input-number">
  
  
  <input ng-switch-when="check" type="checkbox" class="checkboxfill layer-type-checkboxes" ng-model="$ctrl.model" ng-change="$ctrl.onChange()">
  
  <textarea ng-switch-when="text" ng-model="$ctrl.model" ng-change="$ctrl.onChange()" class="form-control" rows="3"></textarea>
  
  
  <select ng-switch-when="select" class="form-control ei-input-select" 
      ng-model="$ctrl.model"
      ng-change="$ctrl.onChange()"
      ng-options="item for item in $ctrl.displayProps.editorData">
  </select>
  
  <div ng-switch-default>
    {{ $ctrl.model }}
  </div>
  
</div>

<div ng-if="!$ctrl.isEdit">
  {{ $ctrl.model }}
</div>