
<div>
  <!-- 
  <div class="ei-header">{{$ctrl.rows.title}}</div>
  -->
  <div class="ei-table-contain">
	  <div class="ei-table-table">
	    <div class="ei-table-body">
	      <div class="ei-table-header-row">
	        <div class="ei-table-col-head-sortable" 
	             ng-repeat="(colKey, colValue) in $ctrl.displayProps"
	             ng-click="$ctrl.setOrderCol(colValue.propertyName)">
	          {{colValue.displayName}}
	          <div class="ei-table-col-sort-icon" ng-if="$ctrl.orderCol == colValue.propertyName">
	            <i ng-if="$ctrl.isOrderAscending" class="fa fa-chevron-down" aria-hidden="true"> </i>
	            <i ng-if="!$ctrl.isOrderAscending" class="fa fa-chevron-up" aria-hidden="true"> </i>
	          </div>
	        </div>
	        <div ng-if="$ctrl.canDelete" class="ei-table-col-head"></div>
	        <div class="ei-table-col-head" ng-repeat="(btnKey, btnValue) in $ctrl.actions"></div>
	      </div>
	      
	      <div class="ei-table-row" ng-repeat="(rowKey, rowValue) in $ctrl.rows">
	        <div class="ei-table-cell" ng-repeat="(colKey, colValue) in $ctrl.displayProps">
	          
	          <editor-interface-value ng-if="rowValue.hasOwnProperty(colValue.propertyName)"
	                                  display-props="colValue" 
                                    on-change="$ctrl.onChange()" 
                                    model="rowValue[colValue.propertyName]" 
                                    is-edit="$ctrl.isEdit"
                                    parent-obj="rowValue"
                                    root-meta-data="$ctrl.rootMetaData">
	          </editor-interface-value>
	          
	        </div>
	        <div ng-if="$ctrl.canDelete" class="ei-table-cell">
	          <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteItem(rowKey)">delete</button>
	        </div>
	        <div class="ei-table-cell" ng-repeat="(btnKey, btnValue) in $ctrl.actions">
	          <button class="btn btn-sm ng-class: btnValue.buttonClass;" ng-class="" ng-click="btnValue.callBack(rowKey, rowValue)">{{btnValue.buttonText}}</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
  <button class="btn btn-primary btn-sm" 
          ng-if="$ctrl.isEdit && $ctrl.canAdd" 
          ng-click="$ctrl.addItem()"
          style="display: inline-block;">add item</button>
</div>