{{$ctrl.onRefresh();""}}
<div ng-if="$ctrl.isLoading">Loading</div>
<div ng-if="$ctrl.isEdit" ng-switch="$ctrl.displayProps.displayDataType" ng-class="{'ei-invalid-highlight': !$ctrl.isValid }">
  
  <input ng-switch-when="string" type="text" ng-model="$ctrl.model" ng-change="$ctrl.onInput()" class="form-control input-sm ei-input-text">
  <input ng-switch-when="integer" type="number" ng-model="$ctrl.model" ng-change="$ctrl.onInput()" class="form-control input-sm ei-input-number">
  <input ng-switch-when="number" type="number" ng-model="$ctrl.model" ng-change="$ctrl.onInput()" class="form-control input-sm ei-input-number">
  
  <input ng-switch-when="date" type="date" ng-model="$ctrl.dateVal" ng-change="$ctrl.setDate()" class="form-control input-sm ei-input-number">
  <input ng-switch-when="datetime" type="datetime-local" ng-model="$ctrl.dateVal" ng-change="$ctrl.setDate()" class="form-control input-sm ei-input-number">
  
  
  <input ng-switch-when="boolean" type="checkbox" class="checkboxfill layer-type-checkboxes" ng-model="$ctrl.model" ng-change="$ctrl.onInput()">
  
  <textarea ng-switch-when="text" ng-model="$ctrl.model" ng-change="$ctrl.onInput()" class="form-control" rows="3"></textarea>
  
  {{$ctrl.getEnumSet();""}}
  <select ng-switch-when="enum" class="form-control ei-input-select" 
      ng-model="$ctrl.model"
      ng-change="$ctrl.onInput()"
      ng-options="item.id as item.description for item in $ctrl.enumSet">
  </select>
  
  <div ng-switch-default>
    {{ $ctrl.model }}
  </div>
  
</div>
<div ng-if="$ctrl.isEdit && !$ctrl.isValid" class="ei-invalid-message">required</div>

<div ng-if="!$ctrl.isEdit" ng-switch="$ctrl.displayProps.displayDataType">
  <div ng-switch-when="date">
    {{ $ctrl.dateVal.toDateString() }}
  </div>
  <div ng-switch-when="datetime">
    {{ $ctrl.dateVal.toUTCString() }}
  </div>
  <div ng-switch-when="enum">
    {{$ctrl.getEnumSet();""}}
    {{ $ctrl.enumVal }}
  </div>
  <div ng-switch-default>
    {{ $ctrl.model }}
  </div>
</div>