<ui-select theme="bootstrap" ng-model="$ctrl.selected" close-on-select="true"
  on-select="$ctrl.onSelectionChanged({selectedObj:$select.selected,isZoom:true})">
  <ui-select-match placeholder="Select or search a {{$ctrl.objectName}} in the list...">
    {{ $select.selected[$ctrl.labelId] || $select.selected.tabblockId}}
  </ui-select-match>
  <ui-select-choices class="ui-select-width-300 ui-select-font" 
    repeat="item in $ctrl.searchList | filter: $select.search" 
    refresh="$ctrl.refreshTagList({searchObj:$select.search})"
    refresh-delay="100">
    <div>
      {{item[$ctrl.labelId] || item.tabblockId}}
      <span ng-if="item.name != null && item.code != null"> 
        {{ item.name }}
      </span>
    </div>
  </ui-select-choices>
</ui-select>