<style>
  .view-mode-container {
    position: relative; /* This will require the parent to have position: relative or absolute */
    height: 100%;
    padding: 0px 10px 10px 10px;
  }
  #tblCoverageBoundaryOptions td {
    line-height: 33px;  /* To vertically align text */
  }
</style>
<div class="view-mode-container">

  <!-- Spinner that will be shown while the coverage area is being loaded from the server -->
  <div style="margin:30px;text-align:center;" ng-if="$ctrl.controlState === $ctrl.controlStates.COMPUTING">
    <p>Calculating coverage area...</p>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>

  <!-- A div that overlays over the control. Show when the user hasn't selected anything on the map -->
  <div ng-if="$ctrl.controlState === $ctrl.controlStates.NO_TARGET_SELECTED">
    <div class="alert alert-info" role="alert">
      Click on the map to calculate a coverage boundary
    </div>
  </div>

  <table id="tblCoverageBoundaryOptions" class="table table-striped table-condensed">
    <tbody>
      <tr>
        <td>Coverage Radius</td>
        <td><input class="form-control" ng-model="$ctrl.coverageRadius"></td>
        <td>{{$ctrl.state.configuration.units.length_units}}</td>
      </tr>
      <tr>
        <td>Households covered</td>
        <td>{{$ctrl.householdsCovered || 'N/A'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
