<style scoped>
  .equipment-list {
    position: relative;
    /* height: 100%; */
  }
</style>

<div class="equipment-list">
  <table class="table table-sm table-striped">
    <thead>
      <th>Site Clli</th>
      <th>Type</th>
    </thead>
    <tbody>
      <tr style="cursor: pointer" ng-repeat="equipmentInfo in $ctrl.clliToEquipmentInfo | orderObjectBy:'siteClli'" 
        ng-click="$ctrl.onClickObject({selectedEquipment:equipmentInfo,isZoom:false})">
        <td>{{equipmentInfo.siteClli}}</td>
        <td>{{$ctrl.state.networkNodeTypesEntity[equipmentInfo._data_type.split('.')[1]]}}</td>
      </tr>
      <tr ng-if="$ctrl.Object.keys($ctrl.clliToEquipmentInfo).length >= $ctrl.MAX_EQUIPMENT_LIST">
        <td colspan="2">List limited to {{$ctrl.MAX_EQUIPMENT_LIST}} sites</td>
      </tr>
    </tbody>
  </table>
</div>
