
<style scoped>
	.equipment-detail {
		position: relative;
		/* This will require the parent to have position: relative or absolute */
		padding-bottom: 20px;
		overflow: auto;
	}
	
	.equipment-detail>div {
		margin-top: 10px;
	}
	
	.equipment-detail-title {
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
	}
	
	.equipment-list {
		position: relative;
		height: 100%;
		overflow-y: auto;
	}
	
	.equipment-detail-bounds, .equipment-detail .equipment-detail-bounds {
		margin-top: 40px;
	}
	
	.equipment-detail-hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>

<div class="ei-panel">
	<div class="mb-2 mt-2">
		<aro-search
			ng-if="$ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EQUIPMENT_INFO"
			object-name="Equipment" label-id="clli"
			search-list="$ctrl.state.entityTypeList.NetworkEquipmentEntity"
			selected="$ctrl.selectedEquipment"
			refresh-tag-list="$ctrl.state.StateViewMode.loadEntityList($ctrl.$http, $ctrl.state, $ctrl.dataItems, 'NetworkEquipmentEntity',searchObj,'id,clli,objectId','clli',$ctrl.state.configuration)"
			on-selection-changed="$ctrl.viewSelectedEquipment(selectedObj,isZoom)">
		</aro-search>
	</div>

	<div class="equipment-detail" ng-if="$ctrl.currentEquipmentDetailView === $ctrl.EquipmentDetailView.Fiber">
		<table class="table table-sm table-striped">
			<tbody>
				<tr>
					<td>id</td>
					<td>{{$ctrl.selectedFiber.id || $ctrl.selectedFiber.link_id}}</td>
				</tr>
				<tr>
					<td>Fiber Strand</td>
					<td>{{$ctrl.selectedFiber.fiber_strands}}</td>
				</tr>
				<tr>
					<td>Atomic Units</td>
					<td>{{$ctrl.selectedFiber.atomic_units}}</td>
				</tr>
				<tr ng-repeat="(key, value) in $ctrl.selectedFiber.attributes">
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="ei-panel-header clearfix"
		ng-if="$ctrl.currentEquipmentDetailView === $ctrl.EquipmentDetailView.Detail">

		<img class="ei-panel-header-icon" ng-if=" '' != $ctrl.headerIcon"
			ng-src="{{$ctrl.headerIcon}}">

		<div class="ei-panel-header-title">{{$ctrl.networkNodeLabel}}</div>

		<div class="sidebar-header-subinfo">
			<div class="sidebar-header-subinfo-item">lat: {{$ctrl.selectedEquipmentGeog[1] | number:6}}</div>
			<div class="sidebar-header-subinfo-item">long: {{$ctrl.selectedEquipmentGeog[0] | number:6}}</div>
		</div>
	</div>
	<div class="equipment-detail ei-panel-content"
		ng-if="$ctrl.currentEquipmentDetailView === $ctrl.EquipmentDetailView.Detail">

		<editor-interface-tree object-to-view="$ctrl.equipmentFeature"
			root-meta-data="{'networkNodeType':$ctrl.networkNodeType}"
			is-edit="false"> </editor-interface-tree>

		<div class="equipment-detail-bounds"
			ng-if="$ctrl.boundsObjectId && $ctrl.state.showSiteBoundary">
			<hr class="equipment-detail-hr">
			<button class="btn btn-primary btn-sm"
				ng-click="$ctrl.onRequestCalculateCoverage()">calculate coverage</button>

			<boundary-coverage ng-if="$ctrl.showCoverageOutput" selected-boundary-coverage="$ctrl.coverageOutput">
			</boundary-coverage>
		</div>
	</div>

	<span class="equipment-list"
		ng-if="$ctrl.currentEquipmentDetailView === $ctrl.EquipmentDetailView.List &&
			$ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EQUIPMENT_INFO">
		<equipment-detail-list map-global-object-name="map"
			on-click-object="$ctrl.viewSelectedEquipment(selectedEquipment,isZoom)">
		</equipment-detail-list>
	</span>

</div>