  <style scoped>
    .equipment-detail {
      position: relative; /* This will require the parent to have position: relative or absolute */
    }
    
    .equipment-detail > div {
      margin-top: 10px;
    }
    
    .equipment-detail-title{
      text-align: center;
      font-weight: bold;
      font-size: 1.1em;
    }
  </style>
  <!-- 
  <div class="equipment-detail" ng-if="$ctrl.selectedEquipmentInfo !== null">
    <div>id: {{$ctrl.selectedEquipmentInfo.id}}</div>
    <div>Type: {{$ctrl.selectedEquipmentInfo.description}}</div>
    <div>Latitude: {{$ctrl.selectedEquipmentInfo.geog.coordinates[1] | number:5}}</div>
    <div>Longitude: {{$ctrl.selectedEquipmentInfo.geog.coordinates[0] | number:5}}</div>
    <div>
      <button class="btn btn-primary" ng-click="$ctrl.showDetailEquipmentInfo()">More Information</button>
    </div>
  </div>
  -->
  <div class="equipment-detail">
    <div class="equipment-detail-title">{{$ctrl.debug_testObj["General"]["Site Type"]}}</div>
    <aro-info-object-view object-to-view="$ctrl.debug_testObj"></aro-info-object-view>
  </div>