  <style scoped>
    .equipment-detail {
      position: relative; /* This will require the parent to have position: relative or absolute */
      padding-bottom: 20px;
    }
    
    .equipment-detail > div {
      margin-top: 10px;
    }
    
    .equipment-detail-title{
      text-align: center;
      font-weight: bold;
      font-size: 1.1em;
    }
  </style>
  <!-- 
  <div class="equipment-detail" ng-if="$ctrl.selectedEquipmentInfo !== null">
    <div>id: {{$ctrl.selectedEquipmentInfo.id}}</div>
    <div>Type: {{$ctrl.selectedEquipmentInfo.description}}</div>
    <div>Latitude: {{$ctrl.selectedEquipmentInfo.geog.coordinates[1] | number:5}}</div>
    <div>Longitude: {{$ctrl.selectedEquipmentInfo.geog.coordinates[0] | number:5}}</div>
    <div>
      <button class="btn btn-primary" ng-click="$ctrl.showDetailEquipmentInfo()">More Information</button>
    </div>
  </div>
  -->
  <div class="ei-panel">
	  <div class="ei-panel-header clearfix">
	    <img class="ei-panel-header-icon" ng-src="{{$ctrl.headerIcon}}">
	    <div class="ei-panel-header-title">{{$ctrl.treeData["General"]["summary"]["Site Type"]}}</div>
	    <div class="ei-panel-header-btn-set">
	      <button class="btn btn-default ei-panel-header-btn" ng-if="$ctrl.isEdit" ng-click="$ctrl.cancelEdit()">Cancel</button>
	      <button class="btn btn-primary ei-panel-header-btn" ng-if="$ctrl.isEdit" ng-click="$ctrl.commitEdit()">Save</button>
	      <button class="btn btn-primary ei-panel-header-btn" ng-if="!$ctrl.isEdit" ng-click="$ctrl.beginEdit()">Edit</button>
	    </div>
	  </div>
	  <div class="equipment-detail ei-panel-content">
	    <editor-interface-tree object-to-view="$ctrl.selectedEquipmentInfoChanges" is-edit="$ctrl.isEdit"></editor-interface-tree>
	    <!-- 
	    <editor-interface-table struct="$ctrl.tableViewStructure" is-edit="$ctrl.isEdit"></editor-interface-table>
	    -->
	  </div>
	</div>