<style>
  .view-mode-container {
    position: relative; /* This will require the parent to have position: relative or absolute */
    height: 100%;
    padding: 0px 10px 10px 10px;
  }
  #tblLocationProperties td {
    line-height: 33px;  /* To vertically align text */
  }
</style>
<div class="view-mode-container">

  <!-- Add a component to handle map editing -->
  <map-object-editor ng-if="$ctrl.currentTransaction && !$ctrl.isCommiting"
                     map-global-object-name="{{$ctrl.mapGlobalObjectName}}"
                     map-container-id="map-canvas-container"
                     get-object-icon-url="$ctrl.getObjectIconUrl({objectKey, objectValue})"
                     get-object-selected-icon-url="$ctrl.getObjectSelectedIconUrl({objectKey, objectValue})"
                     modifying-library-id="$ctrl.currentTransaction.libraryId"
                     create-object-on-click="true"
                     allow-boundary-creation="false"
                     is-boundary-creation-allowed="$ctrl.isBoundaryCreationAllowed"
                     feature-type="location"
                     check-create-object="$ctrl.checkCanCreateObject(feature, usingMapClick)"
                     on-create-object="$ctrl.handleObjectCreated(mapObject, usingMapClick, feature)"
                     on-modify-object="$ctrl.handleObjectModified(mapObject)"
                     on-select-object="$ctrl.handleSelectedObjectChanged(mapObject)"
                     on-delete-object="$ctrl.handleObjectDeleted(mapObject)"
                     register-object-delete-callback="$ctrl.registerObjectDeleteCallback(deleteObjectWithId)"
                     register-create-map-objects-callback="$ctrl.registerCreateMapObjectsCallback(createMapObjects)"
                     register-remove-map-objects-callback="$ctrl.registerRemoveMapObjectsCallback(removeMapObjects)"
                     register-delete-created-map-object="$ctrl.registerDeleteCreatedMapObject(deleteCreatedMapObject)">
  </map-object-editor>

  <!-- BEGIN section transaction details -->
  <div ng-if="$ctrl.currentTransaction">
    <div class="row">
      <div class="col-md-12" style="padding-bottom: 15px">
        Library <span class="label label-default">{{$ctrl.currentTransaction.libraryName}}</span>
        <div class="float-right">transaction ID <span class="label label-default">{{$ctrl.currentTransaction.id}}</span></div>
      </div>
    </div>
    <div class="text-center">
      <div class="btn-group ">
        <button class="btn btn-light" ng-disabled="$ctrl.isCommiting" ng-click="$ctrl.commitTransaction()">
          <i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit
        </button>
        <button class="btn btn-light" ng-click="$ctrl.discardTransaction()">
          <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard
        </button>
      </div>
    </div>
    <br>
    <div ng-if="$ctrl.selectedMapObject" style="position: relative;">
      <!-- <div style="position: relative;"> -->
      <table id="tblLocationProperties" class="table table-sm table-striped" style="margin-bottom: 10px">
        <tr>
          <td>Location type:</td>
          <td>
            <select class="form-control"
                    ng-change="$ctrl.markSelectedLocationPropertiesDirty()"
                    ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedLocationType"
                    ng-options="item for item in $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].locationTypes">
            </select>
          </td>
        </tr>
        <tr>
          <td>Number of locations:</td>
          <td>
            <input class="form-control"
                  ng-change="$ctrl.markSelectedLocationPropertiesDirty();$ctrl.setLastUsedNumberOfLocations($ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations);"
                  ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations">
          </td>
        </tr>
      </table>

      <button ng-class="{ 'btn btn-block': true,
                          'btn-light': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty ||
                          $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations < 1,
                          'btn-primary': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty && 
                          $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations >= 1 }"
              ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty ||
                $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations < 1"
              style="margin-top: 10px"
              ng-click="$ctrl.saveSelectedLocationAndProperties()">
        <i class="fa fa-save"></i>&nbsp;&nbsp;Save properties
      </button>
      <!-- Show a delete button if a map object is selected -->
      <button class="btn btn-block btn-danger" ng-click="$ctrl.deleteSelectedObject()" style="margin-top: 10px">
        <i class="far fa-trash-alt"></i>&nbsp;&nbsp;Delete selected location
      </button>
      <button class="btn btn-block btn-primary"
        ng-click="$ctrl.isExpandLocAttributes = true">
        <i class="fa fa-pencil"></i>&nbsp;&nbsp;Expand
      </button>

      <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
      <div class="disable-sibling-controls"
           ng-hide="!(($ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].workflowStateId == $ctrl.WorkflowState.LOCKED.id) || ($ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].workflowStateId == $ctrl.WorkflowState.INVALIDATED.id))">
        <i class="fa fa-5x fa-lock" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
      </div>

    </div>
    <br>
    Number of changes in transaction: {{$ctrl.getFeaturesCount()}}
  </div>
  <!-- END section transaction details -->
</div>

<modal visible="$ctrl.isExpandLocAttributes" backdrop="static" on-show="$ctrl.modalShown()" on-hide="$ctrl.modalHide()" >
  <modal-header title="Edit Location Attributes - {{$ctrl.selectedMapObject.objectId}}"></modal-header>
    <modal-body style="max-height: 450px;overflow: auto;">
      <table id="tblLocationProperties" class="table table-sm table-striped" style="margin-bottom: 10px">
        <tbody>
        <tr>
          <td>Location type:</td>
          <td colspan="2">
            <select class="form-control"
                    ng-change="$ctrl.markSelectedLocationPropertiesDirty()"
                    ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedLocationType"
                    ng-options="item for item in $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].locationTypes">
            </select>
          </td>
        </tr>
        <tr>
          <td>Number of locations:</td>
          <td colspan="2">
            <input class="form-control"
                  ng-change="$ctrl.markSelectedLocationPropertiesDirty();$ctrl.setLastUsedNumberOfLocations($ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations);"
                  ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations">
          </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
          <td colspan="3"> Other Attributes: </td>
        </tr>

        <tr ng-if="val != null && val != 'null' && key != 'number_of_households' && key != 'location_category'" 
          ng-repeat="(key, val) in $ctrl.objectIdToMapObject[$ctrl.selectedMapObject.objectId].feature.attributes">

          <!-- while using tagging can add new attribute but it will not show in a dropdown -->
          <!-- <td>
            <ui-select theme="bootstrap" ng-model="key" tagging tagging-label="false" close-on-select="true" on-select="$ctrl.markSelectedLocationPropertiesDirty();
              $ctrl.editLocationAttributes($index,$select.selected,val)">
              <ui-select-match placeholder="Create or search a attribute Key">{{ $select.selected}}</ui-select-match>
              <ui-select-choices class="ui-select-choices-tag-style" repeat="attrKey in $ctrl.availableAttributesKeyList | filter: $select.search">
                <div> {{attrKey}} </div>
              </ui-select-choices>
            </ui-select>
          </td> -->

            <!-- instead of using tagging adding a search value to list so that can see search value in dropdown list -->
            <td>
              <ui-select theme="bootstrap" ng-model="key" close-on-select="true" on-select="$ctrl.markSelectedLocationPropertiesDirty();
                $ctrl.editLocationAttributes($index,$select.selected,val)">
                <ui-select-match placeholder="Create or search a attribute Key">
                  <span style="color: blue" ng-if="$ctrl.availableAttributesKeyList.indexOf($select.selected) > -1"> {{$select.selected}} </span>
                  <span ng-if="$ctrl.availableAttributesKeyList.indexOf($select.selected) < 0"> {{$select.selected}} </span>
                </ui-select-match>
                <ui-select-choices class="ui-select-choices-tag-style" repeat="attrKey in $ctrl.getAttributesKey($select.search) | filter: $select.search">
                  <div> {{attrKey}} </div>
                </ui-select-choices>
              </ui-select>
            </td>

            <td>
              <ui-select theme="bootstrap" ng-model="$ctrl.objectIdToMapObject[$ctrl.selectedMapObject.objectId].feature.attributes[key]" 
                close-on-select="true" on-select="$ctrl.markSelectedLocationPropertiesDirty();
                $ctrl.editLocationAttributes($index,key,$select.selected)">
                <ui-select-match placeholder="Create or search a attribute Value">{{ $select.selected}}</ui-select-match>
                <ui-select-choices class="ui-select-choices-tag-style" repeat="attrVal in $ctrl.getAttributesValue($select.search) | filter: $select.search">
                  <div> {{attrVal}} </div>
                </ui-select-choices>
              </ui-select>
            </td>

            <td>
              <button class="btn btn-sm btn-danger category-hover-button" ng-click="$ctrl.markSelectedLocationPropertiesDirty();$ctrl.deleteLocationAttributes($index,key,val)">
                <i class="fa fa-trash-alt"></i>
              </button>  
            </td>

        </tr>

        </tbody>
      </table>
      <div>
        <button class="btn" ng-click="$ctrl.addLocationAttributes()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </modal-body>

    <modal-footer>
      <button ng-class="{ 'btn': true,
      'btn-light': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty,
      'btn-danger': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty }" 
        ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty"
        ng-click="$ctrl.modalHide()">
        <i class="fa fa-undo action-button-icon"></i>Discard changes
      </button>
      <button ng-class="{ 'btn': true,
      'btn-light': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty ||
        $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations < 1,
      'btn-primary': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty && 
        $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations >= 1}" 
        ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty ||
          $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].numberOfLocations < 1"
        ng-click="$ctrl.saveSelectedLocationAndProperties()">
        <i class="fa fa-save action-button-icon"></i>Save properties
      </button>
    </modal-footer>
</modal>