<style>
  .view-mode-container {
    position: relative; /* This will require the parent to have position: relative or absolute */
    height: 100%;
    padding-top: 10px;
  }
  #tblLocationProperties td {
    line-height: 33px;  /* To vertically align text */
  }
</style>
<div class="view-mode-container">
  <div class="text-center">
    <div class="btn-group ">
      <button class="btn btn-default"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit</button>
      <button class="btn btn-default"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard</button>
    </div>
  </div>
  <br>
  <table id="tblLocationProperties" class="table table-condensed table-striped">
    <tr>
      <td>Location type:</td>
      <td>
        <select class="form-control"
                ng-model="$ctrl.addLocationData.selectedType"
                ng-options="item for item in $ctrl.addLocationData.types">
        </select>
      </td>
    </tr>
    <tr>
      <td>Number of locations:</td>
      <td>
        <input class="form-control" ng-model="$ctrl.addLocationData.numberOfLocations">
      </td>
    </tr>
  </table>
</div>
