<style scoped>
.plan-details-container {
  position: relative;
  height: 99%;
  margin-top: 1%;
}
.plan-actions {
  display: flex;
  flex-direction: row;
}
.plan-actions button {
  margin-left: 1px;
  margin-right: 1px;
  flex: 1
}
.info {
  width: -webkit-fill-available;
  margin: 2px;
}
</style>
<div class="plan-details-container">

  <div class="plan-actions">
    <button class="btn btn-primary" ng-if="!$ctrl.isEditMode" ng-click="$ctrl.editCurrentPlan()">Edit Plan Details</button>
    <button class="btn btn-primary" ng-if="$ctrl.isEditMode" ng-click="$ctrl.commitUpdatestoPlan()">Lock Changes</button>
    <button class="btn btn-danger" ng-click="$ctrl.deletePlan({plan:$ctrl.currentPlanInfo})">Delete Plan</button>
  </div>

  <div class="grid container info">
    <div class="row">
      <div class="col-sm-4 form-group">Plan Name</div>
      <div class="col-sm-8" ng-if="!$ctrl.isEditMode">{{$ctrl.currentPlanInfo.name}}</div>
      <div class="col-sm-8" ng-if="$ctrl.isEditMode">
        <input type="text" class="form-control text-left" placeholder="Plan Name"
          ng-model="$ctrl.currentPlanInfo.name">
      </div>
    </div> 
    
    <div class="row">
      <div class="col-sm-4 form-group">Owner</div>
      <div class="col-sm-8">{{$ctrl.currentUser.first_name}} {{$ctrl.currentUser.last_name}}</div>
    </div>

    <div class="row">
      <div class="col-sm-4 form-group">General Tags</div>
      <div class="col-sm-8">
        <span class="tags">
          <div ng-if="!$ctrl.addGeneralTags" ng-repeat="tag in $ctrl.getTagDetails({tagObject:$ctrl.currentPlanInfo.tagMapping.global}) track by $index" 
            class="tag label" ng-style="{'background-color': $ctrl.state.getTagColour(tag)}">
            <span class="label"> {{tag.name}} 
              <i class="fa fa-times pointer" ng-if="$ctrl.isEditMode" ng-click="$ctrl.removeTag('general',tag)"></i>
            </span>
          </div>
        </span>
        <edit-plan-tag ng-if="$ctrl.addGeneralTags"
          object-name="Tag"
          search-list="$ctrl.state.listOfTags"
          selected-list="$ctrl.generalPlanTags"></edit-plan-tag>
        <span><i class="fa fa-plus pointer" ng-if="$ctrl.isEditMode && !$ctrl.addGeneralTags" ng-click="$ctrl.addGeneralTags = true"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">Service Area Tags</div>
      <div class="col-sm-8">
        <span class="tags">
          <div ng-if="!$ctrl.addSATags" ng-repeat="tag in $ctrl.getSaTagDetails({tagObject:$ctrl.currentPlanInfo.tagMapping.linkTags.serviceAreaIds}) track by $index" 
            class="tag label satags">
            <span class="label satag"> {{tag.code}} 
              <i class="fa fa-times pointer" ng-if="$ctrl.isEditMode" ng-click="$ctrl.removeTag('svc',tag)"></i>
            </span>
          </div>
        </span>
        <edit-plan-tag ng-if="$ctrl.addSATags"
          object-name="Service Area"
          search-list="$ctrl.state.listOfServiceAreaTags"
          selected-list="$ctrl.saPlanTags"
          refresh-tag-list="$ctrl.state.loadListOfSAPlanTags(searchObj)"></edit-plan-tag>
        <span><i class="fa fa-plus pointer" ng-if="$ctrl.isEditMode && !$ctrl.addSATags" ng-click="$ctrl.addSATags = true"></i></span>
        <!-- <span class="input-group-addon" ng-if="$ctrl.isEditMode" ng-click="$ctrl.addSATags = true">
            <span class="fa fa-plus pointer"></span>
        </span> -->
      </div>
    </div>

  </div> 

</div>  