<style scoped>
  .plan-details-container {
    position: relative;
  }
  .plan-actions {
    display: flex;
    flex-direction: row;
  }
  .plan-actions button {
    margin-left: 1px;
    margin-right: 1px;
    flex: 1 1 auto;
  }
  .info {
    width: -webkit-fill-available;
    margin: 2px;
  }
  #tblPlanInfo td {
    line-height: 33px;
  }
  #tblPlanInfo > tbody > tr:first-child > td {
    border: none;
  }
</style>
<div class="plan-details-container" ng-if="!$ctrl.currentPlanInfo.ephemeral">
  <div style="position: relative;">
    <table id="tblPlanInfo" class="table table-sm table-striped">
      <tbody>
        <tr>
          <td>Plan Name</td>
          <td>
            <span ng-if="!$ctrl.isEditMode">{{$ctrl.currentPlanInfo.name}}</span>
            <input ng-if="$ctrl.isEditMode" type="text" class="form-control text-left"
                  placeholder="Plan Name" ng-model="$ctrl.currentPlanInfo.name">
          </td>
        </tr>
        <tr>
          <td>Plan Location</td>
          <td> 
            <span ng-show="!$ctrl.isEditMode">{{$ctrl.currentPlanInfo.areaName}}</span>
            <span ng-show="$ctrl.isEditMode">
              <input class="form-control select2" type="text" placeholder="Set cities, states or wirecenters">
            </span>
          </td>
        </tr>
        <tr ng-if="$ctrl.currentPlanInfo.createdBy">
          <td>Created By</td>
          <td>{{ $ctrl.getPlanCreatorName($ctrl.currentPlanInfo.createdBy) }}</td>
        </tr>
        <tr>
          <td>General tags</td>
          <td>
            <span class="tags">
              <div ng-if="!$ctrl.addGeneralTags" ng-repeat="tag in $ctrl.getTagDetails({tagObject:$ctrl.currentPlanInfo.tagMapping.global}) track by tag.id" 
                class="badge badge-primary" ng-style="{'background-color': $ctrl.state.StateViewMode.getTagColour(tag)}">
                <span> {{tag.name}} 
                  <i class="fa fa-times pointer" ng-if="$ctrl.isEditMode" ng-click="$ctrl.removeTag('general',tag)"></i>
                </span>
              </div>
            </span>
            <edit-plan-tag ng-if="$ctrl.addGeneralTags"
              object-name="Tag"
              search-list="$ctrl.state.listOfTags"
              selected-list="$ctrl.generalPlanTags"></edit-plan-tag>
            <span><i class="fa fa-plus pointer" ng-if="$ctrl.isEditMode && !$ctrl.addGeneralTags" ng-click="$ctrl.addGeneralTags = true"></i></span>
          </td>
        </tr>
        <tr>
          <td>Service area tags</td>
          <td>
            <span class="tags">
              <div ng-if="!$ctrl.addSATags" ng-repeat="tag in $ctrl.saPlanTags track by tag.id" 
                class="badge satags">
                <span> {{tag.code}} 
                  <i class="fa fa-times pointer" ng-if="$ctrl.isEditMode" ng-click="$ctrl.removeTag('svc',tag)"></i>
                </span>
              </div>
            </span>
            <edit-plan-tag ng-if="$ctrl.addSATags"
              object-name="Service Area"
              search-list="$ctrl.state.listOfServiceAreaTags"
              selected-list="$ctrl.saPlanTags"
              refresh-tag-list="$ctrl.state.StateViewMode.loadListOfSAPlanTags($ctrl.$http,$ctrl.state,searchObj)"></edit-plan-tag>
            <span><i class="fa fa-plus pointer" ng-if="$ctrl.isEditMode && !$ctrl.addSATags" ng-click="$ctrl.addSATags = true"></i></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <resource-permissions-editor resource-type="PLAN"
                                         resource-id="{{$ctrl.state.plan.getValue().id}}"
                                         system-actors="$ctrl.state.systemActors"
                                         register-save-access-callback="$ctrl.registerSaveAccessCallback(saveResourceAccess)"
                                         enabled="$ctrl.isEditMode">
            </resource-permissions-editor>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Add a div that will overlay all the controls above. The div will be visible when the controls need to be disabled. -->
    <div class="disable-sibling-controls"
        ng-hide="$ctrl.isEditMode">
    </div>
  </div>

  <div class="plan-actions">
    <button class="btn btn-primary" ng-disabled="!$ctrl.currentUserCanEdit" ng-if="!$ctrl.isEditMode" ng-click="$ctrl.editCurrentPlan()">
      <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Plan Details
    </button>
    <button class="btn btn-primary" ng-disabled="!$ctrl.currentUserCanEdit" ng-if="$ctrl.isEditMode" ng-click="$ctrl.commitUpdatestoPlan(false)">
      <i class="fa fa-save"></i>&nbsp;&nbsp;Save Changes
    </button>
    <button class="btn btn-danger" ng-disabled="!$ctrl.currentUserCanEdit" ng-click="$ctrl.deletePlan({plan:$ctrl.currentPlanInfo})">
      <i class="far fa-trash-alt"></i>&nbsp;&nbsp;Delete Plan
    </button>
  </div>

</div>  