
  <style>
    .plan-settings-container {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .road-info > div {
      margin-top: 10px; /*Line  break for each div*/
    }
  </style>

  <div class="plan-settings-container">
    <!-- ng-click to hide EDIT_LOCATIONS or EDIT_SERVICE_LAYER on Clicking other accordion -->
    <accordion ng-click="$ctrl.toggleActiveViewModePanelAction($ctrl.activeViewModePanel)"  style="position: relative; flex: 1 1 auto;" toggle-expanded-panel="$ctrl.activeViewModePanel">
      <accordion-panel-title title="'Location Info'" panel-id="$ctrl.state.viewModePanels.LOCATION_INFO"></accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.LOCATION_INFO">
        <r-aro-search ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.LOCATION_INFO) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.LOCATION_INFO" 
          object-name="'location'"
          label-id="'objectId'"
          entity-type="'LocationObjectEntity'"
          search-list="$ctrl.state.entityTypeList.LocationObjectEntity" 
          selected="$ctrl.selectedLocation"
          search-column="'id,objectId'"
          configuration="'objectId'">
        </r-aro-search>
        <r-location-info>
        </r-location-info>
        <div ng-if="$ctrl.state.configuration.perspective.locationDetails.showSalesDetails" style="width: 100%; padding-right: 10px;">
          <editor-interface-tree object-to-view="$ctrl.selectedLocationInfo"
                                 is-edit="false">
          </editor-interface-tree>
        </div>
      </accordion-panel-contents>

      <accordion-panel-title title="'Equipment Info'" panel-id="$ctrl.state.viewModePanels.EQUIPMENT_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.EQUIPMENT_INFO]"></accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.EQUIPMENT_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.EQUIPMENT_INFO]">
        <equipment-detail></equipment-detail>
      </accordion-panel-contents>

      <accordion-panel-title title="'Boundaries Info'" panel-id="$ctrl.state.viewModePanels.BOUNDARIES_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.BOUNDARIES_INFO]"></accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.BOUNDARIES_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.BOUNDARIES_INFO]">
        <r-boundary-detail></r-boundary-detail>
      </accordion-panel-contents>

      <accordion-panel-title title="'Conduit Info'" panel-id="$ctrl.state.viewModePanels.ROAD_SEGMENT_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.ROAD_SEGMENT_INFO]"></accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.ROAD_SEGMENT_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.ROAD_SEGMENT_INFO]">
        <r-road-segment-detail></r-road-segment-detail>
      </accordion-panel-contents>

      <accordion-panel-title title="'Plan Info'" panel-id="$ctrl.state.viewModePanels.PLAN_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.PLAN_INFO]"></accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.PLAN_INFO" ng-if="$ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.PLAN_INFO]">
        <r-network-plan-manage ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.PLAN_INFO) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.PLAN_INFO"></r-network-plan-manage>
      </accordion-panel-contents>
      <!-- Planner coverage is a little different. Show it only if we are in COVERAGE_BOUNDARY mode. -->
      <accordion-panel-title title="'Coverage Boundary'"
                             panel-id="$ctrl.state.viewModePanels.COVERAGE_BOUNDARY"
                             ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.COVERAGE_BOUNDARY || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.COVERAGE_BOUNDARY)
                                    && ($ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.COVERAGE_BOUNDARY || $ctrl.rSelectedTargetSelectionMode === $ctrl.state.targetSelectionModes.COVERAGE_BOUNDARY)
                                    && $ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.COVERAGE_BOUNDARY]">
      </accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.COVERAGE_BOUNDARY"
                                ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.COVERAGE_BOUNDARY || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.COVERAGE_BOUNDARY)
                                       && ($ctrl.state.selectedTargetSelectionMode === $ctrl.state.targetSelectionModes.COVERAGE_BOUNDARY || $ctrl.rSelectedTargetSelectionMode === $ctrl.state.targetSelectionModes.COVERAGE_BOUNDARY)
                                       && $ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.COVERAGE_BOUNDARY]">
        <r-coverage-boundary map-global-object-name="'map'" />
      </accordion-panel-contents>
      <!-- Edit Locations is a little different. Show it only if we are in EDIT_LOCATION mode. -->
      <accordion-panel-title title="'Edit Locations'"
                             panel-id="$ctrl.state.viewModePanels.EDIT_LOCATIONS"
                             ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EDIT_LOCATIONS 
                             && $ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.EDIT_LOCATIONS]) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.EDIT_LOCATIONS ">
      </accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.EDIT_LOCATIONS"
                                ng-if="($ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EDIT_LOCATIONS
                                       && $ctrl.state.configuration.perspective.showViewModePanels[$ctrl.state.viewModePanels.EDIT_LOCATIONS]) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.EDIT_LOCATIONS">
        <location-editor map-global-object-name="map"></location-editor>
      </accordion-panel-contents>

      <!-- Edit Service Layer -->
      <accordion-panel-title title="'Edit Service Layer'" 
        panel-id="$ctrl.state.viewModePanels.EDIT_SERVICE_LAYER" 
        ng-if="$ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER">
      </accordion-panel-title>
      <accordion-panel-contents panel-id="$ctrl.state.viewModePanels.EDIT_SERVICE_LAYER" 
        ng-if="($ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW && 
          $ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER">
        <service-layer-editor ng-if="($ctrl.state.selectedDisplayMode.getValue() === $ctrl.state.displayModes.VIEW && 
        $ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER) || $ctrl.rActiveViewModePanel === $ctrl.state.viewModePanels.EDIT_SERVICE_LAYER"></service-layer-editor>
      </accordion-panel-contents>

    </accordion>
  </div>
  