
/* === panel === */
.ei-panel{
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
  flex-direction: column;
}

.ei-panel-header{
	padding: 10px 0px 10px 0px;
	background: #ffffff;
	border-bottom: 1px solid #888888;
}

.ei-panel-header-icon{
	margin-right: 10px;
}

.ei-panel-header-title{
	font-weight: bold;
  font-size: 1.3em;
  display: inline-block;
  /* ToDo: V center the text for real */
  margin-top: 6px;
}

.ei-panel-header-btn-set{
  float: right;
  margin-right: 10px;
}

.ei-panel-header-btn{
	margin-left: 10px;
	display: inline-block;
}

.ei-panel-content{
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	/*
	padding-top: 70px;
	*/
	padding-right: 10px;
}

/* === common === */

.ei-internal-gen > .ei-gen-level, .ei-internal-level{
  /*
  margin-top: -6px;
  */
  border-left: 1px #dddddd dashed;
}

.ei-gen-level{
  width: 100%;
}

.ei-items-contain{
  width: 100%;
}

.ei-foldout{
  border-bottom: 1px solid #888888;
  margin-bottom: 6px;
}

.ei-foldout-header-btn{
	padding: 1px 10px;
  font-size: 0.8em;
}

.ei-header{
  font-weight: bold;
  width: 100%;
  padding-left: 5px;
  padding-top: 26px;
  padding-bottom: 4px;
  border-bottom: 2px solid #888888;
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
}

.slim-line-headers .ei-header{
  padding-top: 0;
}

.slim-line-headers .dsCollapsedPlaceholder{
  margin-top: -17px;
  margin-bottom: -4px;
}

.ei-foldout-icon{
  padding-left: 0px;
  padding-right: 4px;
  align-self: center;
}

.ei-foldout-header-content{
  flex-grow: 1;
  min-width: 0; /* keeps div from overflowing parent so sub content can handle their own overflow. I know it's weird, see: https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container */
}

.ei-no-pointer{
  cursor: inherit;
}

.ei-property-item{
  display: flex; 
  align-items: center; 
  width: 100%; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  padding-right: 8px;
  padding-left: 8px;
  border-bottom: 1px solid #888888;
  margin-top: 1px;
  margin-bottom: -1px;
}

.ei-property-label{
  flex: 1 1 50%;
  display:flex;
  align-items: center;
}

.ei-property-value{
  flex: auto;
}

.ei-property-value ul.rw-multiselect-taglist{
  vertical-align: top;
}

/*
.ei-row-odd, .object-editor .ei-items-contain > .ei-property-item:nth-child(2n+1){
*/
.ei-row-odd, .ei-items-contain > .ei-property-item:nth-child(2n+1){
  background-color: #f9f9f9;
}
.ei-row-even{
  
}

.ei-button-icon{
	padding-left: 10px;
	padding-right: 10px;
}

.ei-foldout-state-label, .ei-foldout-btn, .ei-foldout-state-label-bottom, .ei-sub-btn, .ei-header-info{
  font-size: 0.7em;
  font-weight: normal;
}

.ei-blank-space {
  margin-left: 4px;
}

.ei-foldout-state-label{
  /*
  float: right;
  */
  display: inline-block;
  margin-left: 8px;
}

.ei-foldout-btn{
  float: left;
}

.ei-foldout-state-label-bottom{
  cursor: pointer;
  padding-top: 6px;
}


/* === input elements === */
.ei-input-label{
	display: inline-block;
	padding: .375rem 8px .375rem 0px;
}

.ei-input-text, .ei-input-number, .ei-input-select{
  width: auto;
}

.ei-input-text{
	
}

.ei-input-number{
	
}

.ei-input-select{
	
}

select.ei-input-select-autosize{
  flex: unset !important;
  width: auto !important;
}

.ei-output-text{
	overflow: hidden;
  text-overflow: ellipsis;
}

.ei-invalid-message{
	text-align: right;
  color: #990000;
  font-size: 12px;
}

.ei-invalid-highlight{
	border: solid 2px #990000;
	border-radius: 6px;
}

/* === object editor === */
 aro-object-editor .ei-internal-gen > .ei-gen-level,
 .object-editor .ei-internal-gen > .ei-gen-level,
 .object-editor .ei-internal-level {
  margin-top: -6px;
}

/* === tree === */
editor-interface-tree .ei-header{
  margin-bottom: 0px;
}


/* === table === */
.ei-table-contain{
	margin-bottom: 6px;
}

.ei-table-table{
	display: table;
	/*
	border: #888888 solid;
  border-width: 0px 0px 0px 1px;
	*/
	/*
	border-spacing: 1px;
  border: 0px;
  background: #888888;
  */
}

.ei-table-body{
  display: table-row-group;
}

.ei-table-header-row, .ei-table-row{
	display: table-row;
}

.ei-table-col-head, .ei-table-col-head-sortable, .ei-table-cell{
	display: table-cell;	
	padding: 5px;
}

.ei-table-col-head, .ei-table-col-head-sortable{
  /*
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #ffffff;
  */
}

.ei-table-col-head:last-child, .ei-table-col-head-sortable:last-child{
  /*
  border-width: 0px;
  */
}

.ei-table-col-head-sortable, div.ei-table-col-head-sortable, th.ei-table-col-head-sortable, td.ei-table-col-head-sortable{
	position: relative;
  padding-right: 28px;
}

/*
.ei-table-cell{
	border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #888888;
}
*/

.ei-table-header-row{
	background: #888888;
	color: #ffffff;
}

/*
.ei-table-row{
	background: #ffffff;
}
*/


.ei-table-cell, table td.ei-table-cell{
	white-space: nowrap;
}

.ei-table-button-cell{
  text-align: right;
}

.ei-table-content{
	max-width: 188px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 12px;
}

.ei-table-col-sort-icon{
	display: inline-block;
	position: absolute;
	/*
	right: 11px;
	top: 0px;
	*/
	padding-left: 4px;
}


.ei-table-striped>tbody>tr, .ei-table-foldout-striped>tbody>tr{
	background-color: transparent;
}
.ei-table-striped>tbody>tr:nth-of-type(odd),
.ei-table-foldout-striped>tbody>tr:nth-of-type(4n-3), 
.ei-table-foldout-striped>tbody>tr:nth-of-type(4n-2) {
  background-color: rgba(0,0,0,.05);
}

.ei-foldout-row td {
	display: none;
}

tr>td.ei-table-bottomline {
	padding: 0;
  border-top: none;
}

.ei-foldout-table-open + .ei-foldout-row td {
  display: table-cell;
}

.ei-foldout-icon-table-closed, ei-foldout-icon-table-open{
	cursor: pointer;
}

.ei-foldout-icon-table-open{
	display: none;
}

.ei-foldout-table-open .ei-foldout-icon-table-open{
  display: initial;
}

.ei-foldout-table-open .ei-foldout-icon-table-closed{
  display: none;
}

.ei-foldout-width {
  width: 100%;
}

.ei-property-name {
  flex: 1 1 50%;
}

/* - pagination - */

.ei-pagination-menu{
	text-align: center;
}

.ei-pagination-item{
	display: inline-block;
	padding: 8px;
}

.ei-pagination-item-nonactive{
	font-weight: bold;
}

.ei-pagination-item-active{
  cursor: pointer;
}

 