<div>
  <!-- The ROIC Reports component-->
  <div style="position: relative; width: 100%;">
    <network-build-roic-reports plan-id="$ctrl.state.plan.id"
                  optimization-state="$ctrl.state.Optimizingplan.planState"
                  report-size="'small'">
    </network-build-roic-reports>
  </div>
  <button class="btn btn-primary pull-left" ng-click="$ctrl.showReportModal()">Reports</button>
  <button class="btn btn-primary pull-right" ng-click="$ctrl.showDetailedOutput()">Expand Results</button>
  <r-reports-download-modal report-types="['GENERAL', 'PARAM_QUERY']"></r-reports-download-modal>
</div>