<style scoped>
  .action-button-icon {
    padding-right: 10px;
  }
  /* Display the span within the pill-parent only when it is hovered */
  .pill-parent span {
    display: none;
  }
  .pill-parent:hover span {
    display: block;
  }
  #tblArpuModel td {
    line-height: 33px; /* To vertically align text */
  }
</style>

<div style="max-height: 500px; overflow-y: auto;">
  <div class="container">
    <div class="row">
      <!-- On the left, show a list of ARPU models that the user can edit -->
      <div class="col-md-4">
        <ul class="nav nav-pills flex-column" style="max-height: 380px; overflow-y: auto;">
          <li role="presentation"
              class="nav-item"
              ng-repeat="arpuModel in $ctrl.arpuManagerConfiguration.arpuModels | orderBy: '-id.locationEntityType'"
              ng-click="$ctrl.selectArpuModel($index)">
            <!-- Show the entity type and speed category -->
            <div ng-class="{ 'nav-link pill-parent': true, 'active': $ctrl.selectedArpuModelIndex === $index }">
              {{arpuModel.id.locationEntityType}} / {{arpuModel.id.speedCategory}}
              <span class="badge badge-light float-right"
                    style="margin-top: 2px; cursor: pointer;"
                    ng-click="$ctrl.showSpeedCategoryHelp(arpuModel.id.speedCategory)">
                <i class="fa fa-question"></i>
              </span>
           </div>
          </li>
        </ul>
      </div>

      <!-- On the right, show the details of the currently selected ARPU model -->
      <div class="col-md-8">
        <table id="tblArpuModel" class="table table-compressed table-striped">
          <tbody>
            <tr>
              <td>ARPU Strategy</td>
              <td><input class="form-control form-control-sm" ng-model="$ctrl.arpuManagerConfiguration.arpuModels[$ctrl.selectedArpuModelIndex].arpuStrategy"></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><input class="form-control form-control-sm" ng-model="$ctrl.arpuManagerConfiguration.arpuModels[$ctrl.selectedArpuModelIndex].revenue"></td>
            </tr>
          </tbody>
        </table>
        <div ng-if="$ctrl.speedCategoryHelp" class="alert alert-info alert-dismissible fade show" role="alert">
          {{$ctrl.speedCategoryHelp}}
          <button type="button" class="close" ng-click="$ctrl.hideSpeedCategoryHelp()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="text-align: right; padding-top: 15px; border-top: #ddd solid 1px;">
  <button class="btn btn-light" ng-click="$ctrl.exitEditingMode()">
    <i class="fa fa-undo action-button-icon"></i>Discard changes
  </button>
  <button class="btn btn-primary" ng-click="$ctrl.saveConfigurationToServer()">
    <i class="fa fa-save action-button-icon"></i>Save
  </button>
</div>