<style scoped>
  .action-button-icon {
    padding-right: 10px;
  }
  #tblImpedanceMapping td {
    line-height: 38px;
  }
</style>

<div style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">

  <form>
    <!-- The scale factor in meters -->
    <div class="form-group row">
      <label for="inputScaleFactor" class="col-sm-2 col-form-label">Scale Factor (meters)</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputScaleFactor" ng-model="$ctrl.impedanceManagerConfiguration.scaleFactorMeters">
      </div>
    </div>

    <!-- The impedance mapping -->
    <table id="tblImpedanceMapping" class="table table-sm table-striped">
      <tbody>
        <tr ng-repeat="impedanceMapping in $ctrl.impedanceManagerConfiguration.impedanceMapArray">
          <td>{{impedanceMapping.key}}</td>
          <td>{{$ctrl.mappingLabels[impedanceMapping.key]}}</td>
          <td>
            <input type="text" class="form-control" id="inputMapping{{impedanceMapping.key}}"
                    ng-model="$ctrl.impedanceManagerConfiguration.impedanceMapArray[$index].value">
          </td>
        </div>
      </tbody>
    </table>
  </form>
<!-- 
  <aro-object-editor object-to-edit="$ctrl.impedanceManagerConfiguration">
  </aro-object-editor> -->
</div>

<div style="text-align: right; padding-top: 15px; border-top: #ddd solid 1px;">
  <button class="btn btn-light" ng-click="$ctrl.exitEditingMode()">
    <i class="fa fa-undo action-button-icon"></i>Discard changes
  </button>
  <button class="btn btn-primary" ng-click="$ctrl.saveConfigurationToServer()">
    <i class="fa fa-save action-button-icon"></i>Save
  </button>
</div>
