<style scoped>
  .action-button-icon {
    padding-right: 10px;
  }
  #tblImpedanceMapping td {
    line-height: 33px;
  }
</style>

<modal-header title="{{$ctrl.impedanceManager.name}}"></modal-header>
<modal-body>
<div style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">

  <form>
    <!-- The scale factor in meters -->
    <div class="form-group row">
      <label for="inputScaleFactor" class="col-sm-3 col-form-label">Scale Factor (meters)</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputScaleFactor" ng-model="$ctrl.impedanceManagerConfiguration.scaleFactorMeters">
      </div>
    </div>

    <!-- The impedance mapping -->
    <table id="tblImpedanceMapping" class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Tile Type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="impedanceMappingKey in $ctrl.orderedImpedanceMapKeys">
          <td>{{impedanceMappingKey}}</td>
          <td>{{$ctrl.mappingLabels[impedanceMappingKey]}}</td>
          <td>
            <input type="text" class="form-control" ng-model="$ctrl.impedanceManagerConfiguration.map[impedanceMappingKey]">
          </td>
        </div>
      </tbody>
    </table>
  </form>
</div>

<div style="text-align: right; padding-top: 15px; border-top: #ddd solid 1px;">
  <button class="btn btn-light" ng-click="$ctrl.exitEditingMode()">
    <i class="fa fa-undo action-button-icon"></i>Discard changes
  </button>
  <button class="btn btn-primary" ng-click="$ctrl.saveConfigurationToServer()">
    <i class="fa fa-save action-button-icon"></i>Save
  </button>
</div>
