<div style="position: relative; height: 100%;">
  <table class="table table-sm table-striped">
    <tbody>
      <tr ng-repeat="(itemKey, itemValue) in $ctrl.state.resourceItems">
        <td style="vertical-align: middle">{{itemValue.description}}</td>
        <td>
          <div style="display:flex">
            <select class="form-control"
                    ng-model="itemValue.selectedManager"
                    ng-options="item.name for item in itemValue.allManagers"
                    ng-change="$ctrl.onSelectionChanged()"
                    style="flex: 1 1 auto;">
            </select>
            <button class="btn btn-light" style="flex: 0 0 auto;" ng-click="$ctrl.state.showPlanResourceEditor(itemKey)">
              <span class="fa fa-edit"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
