<style scoped>
  .action-button-icon {
    padding-right: 10px;
  }
</style>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-4 control-label">Resource Type</label>
    <div class="col-sm-8">
      <select class="form-control form-control-sm"
              ng-model="$ctrl.selectedResourceKey"
              ng-change="$ctrl.onSelectedResourceKeyChanged()"
              ng-options="key as value.description for (key, value) in $ctrl.resourceItems">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Resource Managers</label>
    <div class="col-sm-8">
      <select class="form-control form-control-sm"
        ng-model="$ctrl.selectedResourceManager"
        ng-options="manager as manager.description for manager in $ctrl.resourceItems[$ctrl.selectedResourceKey].allManagers">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Actions</label>
    <div class="col-sm-8">
      <button class="btn btn-primary btn-block"
              ng-click="$ctrl.createBlankPriceBook()"
              ng-if="$ctrl.selectedResourceKey === 'price_book'">
        <i class="fa fa-file action-button-icon"></i>Create a new blank {{$ctrl.resourceItems[$ctrl.selectedResourceKey].description}}
      </button>
      <button class="btn btn-primary btn-block" ng-click="$ctrl.editSelectedManager()">
        <i class="fa fa-pencil action-button-icon"></i>Edit the selected {{$ctrl.resourceItems[$ctrl.selectedResourceKey].description}}
      </button>
      <button class="btn btn-primary btn-block" ng-click="$ctrl.cloneSelectedManagerFromSource($ctrl.resourceKeyToEndpointId[$ctrl.selectedResourceKey])">
        <i class="fa fa-copy action-button-icon"></i>Clone the selected {{$ctrl.resourceItems[$ctrl.selectedResourceKey].description}}
      </button>
      <button class="btn btn-danger btn-block" ng-click="$ctrl.deleteSelectedResourceManager($ctrl.resourceKeyToEndpointId[$ctrl.selectedResourceKey])">
        <i class="fa fa-trash action-button-icon"></i>Delete the selected {{$ctrl.resourceItems[$ctrl.selectedResourceKey].description}}
      </button>
    </div>
  </div>

</form>