<style scoped>
  .action-button-icon {
    padding-right: 10px;
  }
</style>

<modal-header title="Resource Managers"></modal-header>
<modal-body>
  
  <form class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">filter by Resource Type:</label>
      <div class="col-sm-8">
        <select class="form-control"
                ng-model="$ctrl.selectedResourceKey"
                ng-change="$ctrl.onSelectedResourceKeyChanged()"
                ng-options="key as value for (key, value) in $ctrl.filterByOptions">
        </select>
      </div>
    </div>
  </form>
  
  <editor-interface-table display-props="$ctrl.displayProps"
                          rows="$ctrl.rows"
                          is-edit="false" 
                          can-add="true"
                          can-delete="false"
                          actions="$ctrl.actions"
                          rows-per-page="10"
                          root-meta-data="{}">
  </editor-interface-table>
  
  <form class="form-horizontal">
    <div class="form-group row" style="flex-direction: row-reverse;">
      <!-- 
      ToDo: revisit this markup 
      -->
      <div class="col-sm-8" style="margin-top: 1rem">
        <button class="btn btn-primary btn-block" 
                ng-click="$ctrl.createBlankPriceBook()"
                ng-if="$ctrl.selectedResourceKey === 'all' || $ctrl.selectedResourceKey === 'price_book'">
          <i class="fa fa-file action-button-icon"></i>New blank Price Book
        </button>
        <button class="btn btn-primary btn-block"
                ng-click="$ctrl.createBlankRateReachManager()"
                ng-if="$ctrl.selectedResourceKey === 'all' || $ctrl.selectedResourceKey === 'rate_reach_manager'">
          <i class="fa fa-file action-button-icon"></i>New blank Rate Reach Manager
        </button>
      </div>
    </div>
  </form>
  
</modal-body>