<style scoped>
  #tblTsmModel td {
    line-height: 33px; /* To vertically align text */
  }
  .sub-table-header {
    background-color: darkgray;
    color: black;
    font-weight: 700;
  }
</style>

<div style="max-height: 500px; overflow-y: auto;">
  <table id="tblTsmModel" class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>ARPU Weight</th>
      </tr>
    </thead>
    <tbody>

      <!-- Only show the items with dimensionType === 'employee_count' -->
      <tr><td colspan=2 class="sub-table-header">Employee Count</td></tr>
      <tr ng-repeat="tsmModel in $ctrl.tsmManagerConfiguration | filter: { dimensionType: 'employee_count'}">
        <td>{{tsmModel.dimensionName}}</td>
        <td><input type="text" class="form-control form-control-sm" ng-model="tsmModel.arpuWeight"></td>
      </tr>

      <!-- Only show the items with dimensionType === 'industry' -->
      <tr><td colspan=2 class="sub-table-header">Industry</td></tr>
      <tr ng-repeat="tsmModel in $ctrl.tsmManagerConfiguration | filter: { dimensionType: 'industry'}">
        <td>{{tsmModel.dimensionName}}</td>
        <td><input type="text" class="form-control form-control-sm" ng-model="tsmModel.arpuWeight"></td>
      </tr>

      <!-- Only show the items with dimensionType === 'employee_count' -->
      <tr><td colspan=2 class="sub-table-header">Product</td></tr>
      <tr ng-repeat="tsmModel in $ctrl.tsmManagerConfiguration | filter: { dimensionType: 'product'}">
        <td>{{tsmModel.dimensionName}}</td>
        <td><input type="text" class="form-control form-control-sm" ng-model="tsmModel.arpuWeight"></td>
      </tr>

    </tbody>
  </table>
</div>

<div style="text-align: right; padding-top: 15px; border-top: #ddd solid 1px;">
  <button class="btn btn-light" ng-click="$ctrl.exitEditingMode()">
    <i class="fa fa-undo action-button-icon"></i> Discard changes
  </button>
  <button class="btn btn-primary" ng-click="$ctrl.saveConfigurationToServer()">
    <i class="fa fa-save action-button-icon"></i> Save
  </button>
</div>
