<!-- Show the "Initialize" button only if we don't have a report -->
<button ng-if="!$ctrl.state.coverage.report"
        class="btn btn-block btn-primary"
        ng-disabled="$ctrl.isInitializingCoverage"
        ng-click="$ctrl.initializeCoverageReport()">
  <i class="fa fa-bolt"></i> Initialize coverage
</button>

<!-- Show the "Modify" button only if we have a report -->
<button ng-if="$ctrl.state.coverage.report"
        class="btn btn-block btn-primary modify-coverage-button"
        ng-disabled="$ctrl.isModifyingCoverage"
        ng-click="$ctrl.modifyCoverageReport()">
  Modify coverage
</button>

<!-- A spacer div -->
<div style="width: 100%; padding-bottom: 20px"></div>
