<!-- Show the "Initialize" button only if the current plans coverage has not been initialized -->
<button ng-if="$ctrl.buttonState === $ctrl.ButtonStates.READY || $ctrl.buttonState === $ctrl.ButtonStates.INITIALIZING"
        class="btn btn-block btn-primary"
        ng-disabled="$ctrl.buttonState === $ctrl.ButtonStates.INITIALIZING"
        ng-click="$ctrl.initializeCoverageReport()">
  <i class="fa fa-bolt"></i> Initialize coverage
</button>

<!-- Show the "Modify" button only if the current plans coverage has been initialized -->
<button ng-if="$ctrl.buttonState === $ctrl.ButtonStates.INITIALIZED || $ctrl.buttonState === $ctrl.ButtonStates.DELETING"
        class="btn btn-block btn-primary modify-coverage-button"
        ng-disabled="$ctrl.buttonState === $ctrl.ButtonStates.DELETING"
        ng-click="$ctrl.modifyCoverageReport()">
  <i class="fa fa-bolt"></i> Initialize coverage
</button>

<!-- A spacer div -->
<div style="width: 100%; padding-bottom: 20px"></div>
