<!-- Show the "Run" button only if the current plan is in START_STATE or INITIALIZED state -->
<button ng-if="($ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.START_STATE || $ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.INITIALIZED) && $ctrl.state.networkAnalysisType.id !== 'EXPERT_MODE'"
        ng-class="{ 'btn btn-block': true, 'btn-light': !$ctrl.areInputsComplete(), 'btn-primary': $ctrl.areInputsComplete() }"
        ng-disabled="!$ctrl.areInputsComplete()"
        ng-click="$ctrl.state.runOptimization()">
  <i class="fa fa-bolt"></i> Run
</button>

<!-- Show the progress bar only if the current plan is in STARTED state -->
<div style="height: 34px; width: 100%; display: flex" ng-if="$ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.STARTED"
      ng-disabled="$ctrl.state.isCanceling">
  <div style="flex: 1 1 auto;">
    <div class="progress"
        style="height: 100%">
      <div class="progress-bar progress-bar-optimization"
          role="progressbar"
          aria-valuenow="$ctrl.state.progressPercent"
          aria-valuemin="0"
          aria-valuemax="100"
          ng-style="{ 'line-height': '34px', width: $ctrl.state.progressPercent + '%' }">
      </div>
    </div>
    <!-- A div overlaid on top of the progress bar, so we can always see the text. Lot of custom css! -->
    <div style="position:relative; top:-28px; background-color: rgba(0, 0, 0, 0.4); color: white; width: 120px; text-align: center; border-radius: 3px; margin: auto; font-weight: bold">
      {{$ctrl.state.progressMessage}}
    </div>
  </div>
  <button class="btn btn-danger"
          style="flex: 0 0 auto;"
          ng-click="$ctrl.state.cancelOptimization()">
            {{$ctrl.state.isCanceling ? 'Canceling' : 'Cancel'}}
  </button>
</div>

<!-- Show the modify button if the current plan is in COMPLETED, CANCELED or FAILED state -->
<button ng-if="$ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.COMPLETED || $ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.CANCELED || $ctrl.state.Optimizingplan.planState === $ctrl.Constants.PLAN_STATE.FAILED"
        class="btn btn-block modify-analysis-button"
        ng-click="$ctrl.state.handleModifyClicked()">
  Modify
</button>

<!-- Show the "Save" button only if the Analysis Type is Expert Mode -->
<button class="btn btn-block btn-primary"
  ng-if="$ctrl.state.networkAnalysisType.id === 'EXPERT_MODE' && $ctrl.state.selectedExpertMode === $ctrl.state.expertModeTypes['OPTIMIZATION_SETTINGS'].id"
  ng-click="$ctrl.saveExpertMode()">
<i class="fa fa-save"></i> Save
</button>

<button
  ng-if="$ctrl.state.networkAnalysisType.id === 'EXPERT_MODE' && $ctrl.state.selectedExpertMode !== $ctrl.state.expertModeTypes['OPTIMIZATION_SETTINGS'].id"
  ng-class="{ 'btn btn-block': true, 'btn-default': !$ctrl.state.expertModeTypes[$ctrl.state.selectedExpertMode].isQueryValid, 
  'btn-primary': $ctrl.state.expertModeTypes[$ctrl.state.selectedExpertMode].isQueryValid }"
  ng-disabled="!$ctrl.state.expertModeTypes[$ctrl.state.selectedExpertMode].isQueryValid"
  ng-click="$ctrl.state.executeManualPlanTargetsQuery()">
<i class="fa fa-save"></i> Execute
</button>

<!-- A spacer div -->
<div style="width: 100%; padding-bottom: 20px"></div>
