.report-module-editor label {
  font-weight: 700;
}

.definitions-list a {
  line-height: 28px;
  cursor: pointer;
}

.subdefinition-delete-button {
  display: none;
}

.subdefinition-link:hover .subdefinition-delete-button, .subdefinition-delete-button:hover {
  display: inline-block;
}