<style scoped>
  .view-mode-container {
    position: relative;
    /* This will require the parent to have position: relative or absolute */
    height: 100%;
  }

  .view-mode-container>div {
    margin-top: 2px;
  }

  #subject:first-word {
    font-weight: bold;
  }

  #show-source {
    overflow: auto;
    max-height: 80px;
  }

  #seperator {
    border-top: 1px solid #8c8b8b;
  }

  .loc_attributes_container h5 {
    font-weight: bold;
  }

  .loc_attributes_container table {
    font-size: 10px;
  }

  .indent-1 {
    padding-left: 20px !important;
  }

  #tblLocationInfo {
    margin-bottom: 0px !important;
  }
</style>

<div class="mb-5 mt-2">
  <aro-search ng-if="$ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.LOCATION_INFO" 
    object-name="location"
    label-id="objectId"
    search-list="$ctrl.state.entityTypeList.LocationObjectEntity" 
    selected="$ctrl.selectedLocation" 
    refresh-tag-list="$ctrl.state.StateViewMode.loadEntityList($ctrl.$http,$ctrl.state,'LocationObjectEntity',searchObj,'id,objectId','objectId')"
    on-selection-changed="$ctrl.viewSelectedLocation(selectedObj)">
  </aro-search>
</div>
<div class="view-mode-container" ng-if="$ctrl.selectedLocationInfo !== null">
  <img width="100%" ng-attr-src="{{$ctrl.map_url}}">
  <br>
  <div style="width: 100%; padding-right: 10px;">
    <editor-interface-tree object-to-view="$ctrl.selectedLocationInfo"
                           is-edit="false">
    </editor-interface-tree>
  </div>
  <div style="width: 100%; margin-top: 2px; margin-bottom: 6px;" ng-if="$ctrl.configuration.perspective.locationDetails.showAuditLog">
    <div class="ei-header" style="padding-top: 0px;" ng-click="$ctrl.toggleAuditLog = !$ctrl.toggleAuditLog">
      <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.toggleAuditLog"></i>
      <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.toggleAuditLog"></i>
      Audit Log
    </div>  
  </div>

  <span ng-if="$ctrl.toggleAuditLog
               && $ctrl.state.activeViewModePanel === $ctrl.state.viewModePanels.LOCATION_INFO
               && $ctrl.configuration.perspective.locationDetails.showAuditLog">
    <location-audit-log plan-id="$ctrl.plan.id"
                        object-id="$ctrl.selectedLocationObjectId"
                        current-user-id="$ctrl.currentUser.id">
    </location-audit-log>
  </span>

  <div ng-if="$ctrl.configuration.perspective.locationDetails.showMoreInfoButton">
    <button class="btn btn-primary" ng-click="$ctrl.showDetailLocationInfo()">More Information</button>
  </div>
</div>