.aro-plan-editor {
  padding: 20px 0;
}
.aro-plan-editor h2 {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}
.plan-editor-use-pointer {
  cursor: pointer;
}

/* ========================= >>>>> exceptions panel >>>>> */

.exceptions-panel {
  margin: 0 0 10px;
}
.exceptions-panel .header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--gray-medium-light);
  border-bottom: 1px solid var(--gray-medium-light);
  font: 18px var(--font);
  cursor: pointer;
  user-select: none;
}
.exceptions-panel h2 {
  margin: 0;
  font: bold 16px/1 var(--font);
}
.exceptions-panel small {
  font: 13px/1 var(--font);
}
.exceptions-panel .plus-minus {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  background: url('/svg/toggle-plus.svg') no-repeat center transparent;
}
.exceptions-panel.open .plus-minus {
  background-image: url('/svg/toggle-minus.svg');
}
.exceptions-panel .content {
  display: none;
  padding: 10px;
  border-bottom: 1px solid var(--gray-medium-light);
}
.exceptions-panel.open .content {
  display: block;
}

/* ========================= >>>>> recalculate plan >>>>> */

/* .plan-editor-recalculate {} */
.plan-editor-recalculate .actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}
.plan-editor-recalculate .checkboxes {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
}
.plan-editor-recalculate label {
  margin: 0;
}
.plan-editor-recalculate .checkboxfill {
  margin: 0 10px 0 0;
}

/* ========================= >>>>> plan editor actions >>>>> */

/* .plan-editor-buttons {} */
.plan-editor-buttons .group {
  position: relative;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 10px;
  align-items: center;
  margin: 0 0 10px;
}
.plan-editor-buttons .group .group {
  margin: 0;
}

/* ========================= >>>>> plan editor header >>>>> */

.plan-editor-header {
  margin: 0 0 10px;
  padding: 10px;
  background-color: #eee;
  border: solid 1px #ccc;
  position: relative;
}
.plan-editor-header.plan-editor-header-selected{
  border-color: #1f7de6;
}
.plan-editor-header h2 {
	margin: 0 0 10px;
}
.plan-editor-header .info {
  display: flex;
  align-items: center;
  margin: 0 0 8px;
  padding-right: 20px; /* for the close button */
}
.plan-editor-header img { margin: 0 12px 0 0; }
.plan-editor-header h2 { margin: 0; }
.plan-editor-header .subinfo {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.plan-editor-header .item {
  align-items: center;
  margin: 0;
}
.plan-editor-header input {
  margin-left: 5px;
}
.plan-editor-header-close {
  position:absolute;
  top: 0px;
  right: 0px;
}

/* ========================= >>>>> plan editor actions >>>>> */

.equipment-dragger {
  margin: 0 0 20px;
}
.equipment-dragger .info {
  text-align: center;
  margin: 0 0 12px;
}
.equipment-dragger .nodes {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
}
.equipment-dragger .node {
  position: relative;
  padding: 0 0 100%;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.equipment-dragger .node-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.equipment-dragger .node:hover {
  background-color: #e1e1e1;
  border-color: #cccccc;
}
