.aro-plan-editor {
  padding: 20px 0;
}
.aro-plan-editor h2 {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}

/* ========================= >>>>> plan navigation >>>>> */
/*
.plan-navigation .list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0 0 0 26px;
}
.plan-navigation .list.open { display: block; }
.plan-navigation > .list { padding: 0; }

.plan-navigation .item {
  border-top: 1px dashed #dcdcdc;
}

.plan-navigation > ul > .item:first-child { border: none; }
*/
.plan-navigation .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}
.plan-navigation .info {
  display: flex;
  align-items: center;
  min-width: 0;
  font-weight: normal;
  flex-wrap: wrap;
}
/*
.plan-navigation .info.no-plus-minus {
  padding-left: 22px;
}
*/

.plan-nav-alert-list {
  padding-left: 20px;
}

.plan-navigation .nonfoldout-row {
  border-bottom: 1px #dddddd dashed;
  width: 100%;
}

.plan-navigation .nonfoldout-row .info {
  padding-left: 22px;
}

.plan-navigation .title {
  overflow: hidden;
  margin: 0;
  min-width: 0;
  font: 14px var(--font);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}
.plan-navigation .defect-info {
  display: flex;
  align-items: center;
}
.plan-navigation .defect-title {
  margin: 0 10px 0 6px;
  font: 12px var(--font);
  white-space: nowrap;
}
.plan-navigation .svg {
  width: 39px;
  margin: 0 10px 0 0;
  background: none no-repeat center transparent;
  background-size: contain;
}

.plan-navigation .warning {
  width: 18px;
  height: 18px;
  background-image: url('/svg/alert-panel-warning.svg');
}
/* 
.plan-navigation .content > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid var(--gray-light);
  cursor: pointer;
}
.plan-navigation .content > li:hover {
  position: relative;
  z-index: 5;
}
.plan-navigation .text {
  display: flex;
  align-items: center;
}
*/
.plan-navigation .location,
.plan-navigation .sm-biz,
.plan-navigation .md-biz,
.plan-navigation .lg-biz,
.plan-navigation .tower 
{
  position: relative;
  width: 20px;
  height: 20px;
}

.plan-navigation .location {
  background-image: url('/images/map_icons/aro/households_default_alert.png');
}

.plan-navigation .sm-biz {
  background-image: url('/images/map_icons/aro/businesses_small_default_alert.png');
}

.plan-navigation .md-biz {
  background-image: url('/images/map_icons/aro/businesses_medium_default_alert.png');
}

.plan-navigation .lg-biz {
  background-image: url('/images/map_icons/aro/businesses_large_default_alert.png');
}

.plan-navigation .tower {
  background-image: url('/images/map_icons/aro/tower_alert.png');
}

/* ========================= >>>>> recalculate plan >>>>> */

/* .plan-editor-recalculate {} */
.plan-editor-recalculate .actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}
.plan-editor-recalculate .checkboxes {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
}
.plan-editor-recalculate label {
  margin: 0;
}
.plan-editor-recalculate .checkboxfill {
  margin: 0 10px 0 0;
}

/* ========================= >>>>> plan editor actions >>>>> */

/* .plan-editor-buttons {} */
.plan-editor-buttons .group {
  position: relative;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 10px;
  align-items: center;
  margin: 0 0 10px;
}
.plan-editor-buttons .group .group {
  margin: 0;
}

/* ========================= >>>>> plan editor header >>>>> */

.plan-editor-thumb {
  position: relative;
  margin: 0 0 10px;
  padding: 10px;
  background-color: #eee;
  border: solid 1px #ccc;
  cursor: pointer;
}
.plan-editor-thumb.selected {
  padding: 8px;
  border: 2px solid #49a24a;
}

.plan-nav-node-name .title {
  border-bottom: 2px solid rgba(0,0,0,0);
  cursor: pointer;
  text-transform: capitalize;
}

.plan-nav-node-name:hover .title, .plan-nav-node-name.selected .title{
  border-bottom: 2px solid #49a24a;
}

.plan-editor-thumb h2 { margin: 0 0 10px; }
.plan-editor-thumb .info {
  display: flex;
  align-items: center;
  margin: 0 0 8px;
  padding-right: 20px; /* for the close button */
}
.plan-editor-thumb img { margin: 0 12px 0 0; }
.plan-editor-thumb h2 { margin: 0; }
.plan-editor-thumb .household-connections { margin: 0; font-size: 16px; font-weight: 700; }
.plan-editor-thumb .subinfo {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.plan-editor-thumb .item {
  align-items: center;
  margin: 0;
}
.plan-editor-thumb input {
  margin-left: 5px;
}
.plan-editor-thumb-close {
  position:absolute;
  top: 0px;
  right: 0px;
}

/* annotations */
.plan-editor-thumb.fiber-annotations {
  border: 2px solid #ff55da;
  background-color: white;
}
.plan-editor-thumb.fiber-annotations .annotation-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.plan-editor-thumb.fiber-annotations .save-button {
  margin: .3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* ========================= >>>>> plan editor actions >>>>> */

.equipment-dragger {
  margin: 0 0 20px;
}
.equipment-dragger .info {
  text-align: center;
  margin: 0 0 12px;
}
.equipment-dragger .nodes {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  justify-items: center;
}
.equipment-dragger .node {
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.equipment-dragger .node-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.equipment-dragger .node:hover {
  background-color: #e1e1e1;
  border-color: #cccccc;
}

/* Plan Editor container */

.edit-plan-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.edit-plan-container .card-body-space {
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-plan-container .card-scroll {
  overflow-y: auto;
}
