<div ng-style="{ border: '1px solid black', 'padding-left': $ctrl.indentationLevel * $ctrl.pixelsPerIndentationLevel + 'px' }">
  <div ng-repeat="(key, value) in $ctrl.objectToEdit">

    <div class="form-group form-inline">
      <label>{{key}}</label>
      <!-- Note that our ng-model is "$ctrl.objectToEdit[key]" and not "value" so the two way binding updates the actual object -->
      <input ng-if="$ctrl.isEditable(value)" type="text" ng-model="$ctrl.objectToEdit[key]" class="form-control">
      <div ng-if="$ctrl.isExpandable(value)">
        <aro-object-editor object-to-edit="value" indentation-level="$ctrl.indentationLevel + 1"></aro-object-editor>
      </div>
    </div>
  </div>
</div>