<style>
  .bounds-coverage-header {
    cursor: auto;
  }
  
  .bounds-coverage-header-sub {
    padding-left: 10px;
  }
  
  .bounds-coverage-layer-cat {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .bounds-coverage-layer-tag {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .bounds-coverage-layer-tag-count {
    margin-left: 20px;
    font-weight: bold;
  }
  
</style>


<div ng-if="$ctrl.isWorking || $ctrl.isWorkingOverride">
  <p>Calculating coverage area...</p>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>


<div ng-if="$ctrl.selectedBoundaryCoverage">
  <div class="ei-header bounds-coverage-header">
    Site boundary coverage: {{$ctrl.computedCoverage.totalLocations}} 
    <div class="bounds-coverage-header-sub" ng-repeat="(locationType, locationData) in $ctrl.computedCoverage.locations">
      {{locationData.locationType}}: {{locationData.totalCount}}
    </div>
  </div>
  <canvas ng-init="$ctrl.showCoverageChart()" class="plan-editor-bounds-dist-chart" width="300" height="300"></canvas>
  <div style="margin-bottom: 20px;">
    <div class="ei-header bounds-coverage-header">
      Locations by Tag
    </div>
    <div class="bounds-coverage-layer-tag" ng-if="$ctrl.objKeys($ctrl.computedCoverage.tagCounts).length < 1">none</div>
    <div ng-repeat="cat in $ctrl.computedCoverage.tagCounts">
      <div class="ei-property-item bounds-coverage-layer-cat">
        {{cat.description}}
      </div>
      <div class="bounds-coverage-layer-tag" ng-repeat="tag in cat.tags">
        <div class="outlineLegendIcon" style="border-color: {{tag.colourHash}}; background-color: {{tag.colourHash}}33;"></div>
        {{tag.description}}: 
        <div class="bounds-coverage-layer-tag-count"
             ng-repeat="(locationType, locationCount) in tag.count"
             ng-if="locationCount != 0"
             >{{locationType}}: {{locationCount}}</div>
      </div>
    </div>
  </div>
</div>