<!-- Define a dummy CSS class that we will use to select the dropdown element. The class name
     must be unique as all this HTML is going to be attached to the $document -->
<style>
  .map-object-editor-context-menu-container {
    line-height: 22px; /* Any property will do */
    position: 'absolute';
    bottom: 25px;
  }
  .map-object-editor-context-menu {
    line-height: 22px; /* Any property will do */
  }
  .map-object-editor-context-menu-dropdown {
    line-height: 22px; /* Any property will do */
    /* padding: 5px; */
    /*
    max-height: 100%;
    */
    max-height: 80vh;
    
    /* overflow: scroll; */
    top: auto;
  }
  .map-object-editor-context-menu-dropdown-section{
    margin-bottom: 6px;
  }
  .context-menu-dropdown{
    height: 100%;
  }
  
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu div:hover .sub-menu, .sub-menu:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown-item:hover {
  color: white;
  background-color: #007bff;
}

.aro-dropdown-item {
  color: black;
}
</style>


<div class="map-object-editor-context-menu-container" ng-style="$ctrl.contextMenuCss"> <!-- This ng-style will position the menu -->
  <div class="dropdown open context-menu-dropdown">
    <div class="dropdown-menu map-object-editor-context-menu-dropdown">
      <div ng-repeat="menuItem in $ctrl.menuItems" class="dropdown-item aro-dropdown-item" href="#">
        {{menuItem.label}}

        <ul class="dropdown-menu sub-menu"
          ng-if="menuItem.options && menuItem.options.length > 0"
          ng-style="{ top: ($index * 30) + 'px' }">
          <li ng-repeat="option in menuItem.options" class="dropdown-item"
            ng-click="$ctrl.onOptionClick(option.callback, menuItem.data)">
            <a href="#" class="dropdown-item aro-dropdown-item">{{option.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>