<!-- Define a dummy CSS class that we will use to select the dropdown element. The class name
     must be unique as all this HTML is going to be attached to the $document -->
<style>
  
  .map-object-drop-targets-container {
    line-height: 22px; /* Any property will do */
  }
  
</style>


<!-- A div containing the drop targets, used when dropping boundaries onto equipments. Do NOT set
     the width or height of the DIV, otherwise it will eat up all mouse events. Even setting pointer-events:none
     does not help, because then the drop event on the drop targets does not work either -->
<div class="map-object-drop-targets-container" style="position: absolute; left: 0px; top: 0px;">
  <drop-target ng-repeat="(key, mapObject) in $ctrl.createdMapObjects"
               ng-if="$ctrl.isHavingBoundaryDraggedOver && $ctrl.getDropTargetCSSForMapObject(mapObject)"
               ng-style="$ctrl.getDropTargetCSSForMapObject(mapObject)"
               target-object-id="mapObject.objectId"
               on-dropped="$ctrl.handleOnDropped({dropEvent: dropEvent, targetObjectId: targetObjectId})">
  </drop-target>
</div>