<!-- Define a dummy CSS class that we will use to select the dropdown element. The class name
     must be unique as all this HTML is going to be attached to the $document -->
<style>
  .map-object-editor-context-menu-container {
    line-height: 30px; /* Any property will do */
  }
  .map-object-editor-context-menu {
    line-height: 30px; /* Any property will do */
  }
  .map-object-editor-context-menu-dropdown {
    line-height: 30px; /* Any property will do */
  }
  .map-object-drop-targets-container {
    line-height: 30px; /* Any property will do */
  }
</style>
<div class="map-object-editor-context-menu-container" ng-style="$ctrl.contextMenuCss"> <!-- This ng-style will position the menu -->
  <div class="dropdown">
    <!-- Have a button but hide it. This markup is from the standard bootstrap dropdown docs.
         The .dropdown() method is called on this hidden button, which in turn shows the menu. -->
    <button ng-hide="true" class="btn btn-default dropdown-toggle map-object-editor-context-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu map-object-editor-context-menu-dropdown" aria-labelledby="dropdownMenu1">
      <li><a href="#" ng-click="$ctrl.deleteSelectedObject()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></li>
    </ul>
  </div>
</div>
<div class="map-object-drop-targets-container" style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px;">
  <!-- <div ng-repeat="(key, mapObject) in $ctrl.createdMapObjects"
       ng-click="$ctrl.dropTargetClicked(dropTarget)"
       ng-if="$ctrl.getDropTargetCSSForMapObject(mapObject)"
       ng-style="$ctrl.getDropTargetCSSForMapObject(mapObject)">
    {{dropTarget}}
  </div> -->
  <drop-target ng-repeat="(key, mapObject) in $ctrl.createdMapObjects"
               ng-if="$ctrl.getDropTargetCSSForMapObject(mapObject)"
               ng-style="$ctrl.getDropTargetCSSForMapObject(mapObject)"
               target-object-id="mapObject.objectId"
               on-dropped="$ctrl.handleOnDropped({dropEvent: dropEvent, targetObjectId: targetObjectId})">
  </drop-target>
</div>