
<editor-interface-table display-props="$ctrl.displayProps"
                        id-prop="$ctrl.idProp"
                        rows="$ctrl.rows"
                        actions="$ctrl.actionsParam"
                        is-edit="$ctrl.enabled && $ctrl.isOwner" 
                        on-change="$ctrl.onSelectionChanged(data)"
                        thead-class="''">
</editor-interface-table>
<div ng-if="$ctrl.enabled && $ctrl.isOwner" class="input-group">
  <div class="ei-input-label">
    Add User: 
  </div>
  <!-- <select class="form-control with-margin"
  ng-model="$ctrl.newActorId"
  ng-options="key as value.name for (key, value) in $ctrl.systemActors">
</select> -->

  <!-- <select class="custom-select ei-input-select ei-input-select-autosize" 
      ng-model="$ctrl.newActorId">

    <option ng-repeat="item in $ctrl.systemActors | orderBy:'name' | limitTo:10 " value="{{item.id}}" ng-bind-html="item.name"></option>
  </select> -->
  <ui-select limit="1" ng-model="$ctrl.newActorId"
      theme="bootstrap" close-on-select="true">
      <ui-select-match placeholder="Select User">
        {{$select.selected.name}}
      </ui-select-match>
      <ui-select-choices repeat="person.id as person in $ctrl.systemActors | filter: { name: $select.search }| orderBy:'name' | limitTo:10 ">
        <i ng-if="person.type === 'user'" class="fa fas fa-user"></i>
        <i ng-if="person.type === 'group'" class="fa fas fa-users"></i>
        &nbsp;<span ng-bind-html="person.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
      <!-- <ui-select-choices repeat="person.id as person in $ctrl.systemActors | filter: { name: $select.search }">
        <div ng-bind-html="person.name | highlight: $select.search"></div>
      </ui-select-choices> -->
    </ui-select>
  <div class="input-group-append">
	  <button type="button" class="btn btn-sm btn-primary" 
	          ng-click="$ctrl.addActor()" 
	          ng-disabled="!$ctrl.newActorId">
	    <i class="fa fa-plus"></i> Add
	  </button>
	</div>
</div>
