
<editor-interface-table display-props="$ctrl.displayProps"
                        id-prop="$ctrl.idProp"
                        rows="$ctrl.rows"
                        actions="$ctrl.actionsParam"
                        is-edit="$ctrl.enabled && $ctrl.isOwner" 
                        on-change="$ctrl.onSelectionChanged(data)"
                        thead-class="''">
</editor-interface-table>
<div ng-if="$ctrl.enabled && $ctrl.isOwner" class="input-group">
  <div class="ei-input-label">
    Add User: 
  </div>
 <ui-select limit="1" ng-model="$ctrl.newActorId"
      theme="bootstrap" close-on-select="true">
      <ui-select-match placeholder="Select User">
        {{$select.selected.name}}
      </ui-select-match>
      <ui-select-choices repeat="person.id as person in $ctrl.systemActorsArray | filter: { name: $select.search }| orderBy:'name' | limitTo:10 "
        group-by="'type'">
        <i ng-if="person.type === 'user'" class="fa fas fa-user"></i>
        <i ng-if="person.type === 'group'" class="fa fas fa-users"></i>
        &nbsp;<span ng-bind-html="person.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  <div class="input-group-append">
	  <button type="button" class="btn btn-sm btn-primary" 
	          ng-click="$ctrl.addActor()" 
	          ng-disabled="!$ctrl.newActorId">
	    <i class="fa fa-plus"></i> Add
	  </button>
	</div>
</div>
