
<div ng-repeat="(accessKey, access) in $ctrl.accessTypes">
  <div class="row">
    <div class="col-sm-2" style="line-height: 33px;">
      {{access.displayName}}
    </div>
    <div class="col-sm-10">
      <!-- Show the multi select only if this control is enabled. A quick fix until we are able to handle 1000+ users in the multiselect -->
      <!-- <aro-multi-select ng-if="$ctrl.enabled" model="access.actors" all-items="$ctrl.systemActors" enable-search="true" enable-html="true">
      </aro-multi-select> -->
      <aro-multiselect-search ng-if="$ctrl.enabled" 
        object-name="actor" 
        label-id="name" 
        search-list="$ctrl.subSystemActors" 
        selected="access.actors"
        refresh-tag-list="$ctrl.searchActors(searchObj)"
        on-selection-changed="$ctrl.onSelectionChanged(data)">
      </aro-multiselect-search>


      <!-- If not enabled, just show a list of the actors that have permissions -->
      <div ng-if="!$ctrl.enabled">
        <span ng-repeat="actor in access.actors" ng-bind-html="actor.name"></span>
      </div>
    </div>
  </div>
</div>

<editor-interface-table display-props="$ctrl.displayProps"
                        id-prop="$ctrl.idProp"
                        rows="$ctrl.rows"
                        is-edit="$ctrl.enabled" 
                        thead-class="''">
</editor-interface-table>
<div ng-if="$ctrl.enabled">
  add user: 
</div>
