.report-module-editor label {
  font-weight: 700;
}

.definitions-list a {
  line-height: 28px;
  cursor: pointer;
}

.definitions-list li {
  width: 100%;
  position: relative;
}

.subdefinition-delete-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: none;
}

.outside-btn:hover .subdefinition-delete-button {
  display: inline-block;
}
