.analysis-mode-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.analysis-type {
  flex: 0 0 auto;
}

/* React Card */

.card-collapse {
  margin-bottom: 1px;
  border: none;
}

.card-header-dark {
  background-color: #333;
  color: white;
  font-size: 18px;
  border-radius: 0px;
  text-align: center;
  padding: 5px;
}

.collapse-show{
  transition: flex-grow 100ms, flex-shrink 100ms, visibility 0ms 100ms;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-fixed{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Roic Reports Small */

.roic-report-label {
  line-height: 33px;
}
#tblNetworkBuildOutput td {
  line-height: 33px; /* To vertically align text */
}
.indent-1 {
  padding-left: 30px !important;
}