<style scoped>
  #global-settings {
    display: flex;
    flex-wrap: wrap
  }

  .settings-btn {
    width: calc(33.33333% - 20px);
    margin: 10px;
    height: 100px
  }
</style>
<modal visible="$ctrl.state.showGlobalSettings" modal-size="$ctrl.currentView === $ctrl.views.MANAGE_USERS ? 'modal-lg' : 'modal-md'" backdrop="static" on-hide="$ctrl.modalHide()">
  <modal-header title="{{$ctrl.currentView}}"></modal-header>
  <modal-body style="height: 500px;overflow: auto;">

    <div id="global-settings" ng-if="$ctrl.currentView === $ctrl.views.GLOBAL_SETTINGS">
      <button class="btn btn-light settings-btn" ng-click="$ctrl.currentView = $ctrl.views.MY_ACCOUNT">
        <i class="fa fa-2x fa-user"></i>
        <br>My Account
      </button>

      <button class="btn btn-light settings-btn" ng-click="$ctrl.currentView = $ctrl.views.TWOFACTOR_AUTHENTICATION">
        <i class="fa fa-2x fa-user-shield"></i>
        <br>Two Factor Authentication
      </button>

      <button class="btn btn-light settings-btn" ng-if="$ctrl.state.loggedInUser.isAdministrator" ng-click="$ctrl.currentView = $ctrl.views.MANAGE_USERS">
        <i class="fa fa-2x fa-users"></i>
        <br>Manage Users
      </button>

      <button class="btn btn-light settings-btn" ng-if="$ctrl.state.loggedInUser.isAdministrator" ng-click="$ctrl.currentView = $ctrl.views.MANAGE_GROUPS">
        <i class="fa fa-2x fa-users"></i>
        <br>Manage Groups
      </button>

      <button class="btn btn-light settings-btn" ng-click="$ctrl.openUserSettingsForUserId($ctrl.state.loggedInUser.id)">
        <i class="fa fa-2x fa-cogs"></i>
        <br>User Settings
      </button>

      <button class="btn btn-light settings-btn" ng-if="$ctrl.state.loggedInUser.isAdministrator" ng-click="$ctrl.currentView = $ctrl.views.TAG_MANAGER">
        <i class="fa fa-2x fa-tags"></i>
        <br>Tag Manager
      </button>
    </div>

    <user-account-settings ng-if="$ctrl.currentView === $ctrl.views.MY_ACCOUNT"></user-account-settings>

    <twofactor-settings ng-if="$ctrl.currentView === $ctrl.views.TWOFACTOR_AUTHENTICATION"></twofactor-settings>

    <manage-users ng-if="$ctrl.currentView === $ctrl.views.MANAGE_USERS"
                  manager-view="$ctrl.globalSettingsService.currentManageUserView"
                  open-user-settings-for-user-id="$ctrl.openUserSettingsForUserId(userId)">
    </manage-users>

    <manage-groups ng-if="$ctrl.currentView === $ctrl.views.MANAGE_GROUPS" manager-view="$ctrl.globalSettingsService.currentManageUserView">
    </manage-groups>

    <user-settings ng-if="$ctrl.currentView === $ctrl.views.USER_SETTINGS"
                   user-id="$ctrl.userIdForSettingsEdit">
    </user-settings>

    <tag-manager ng-if="$ctrl.currentView === $ctrl.views.TAG_MANAGER" manager-view="$ctrl.globalSettingsService.currentTagManagerView">
    </tag-manager>
  </modal-body>

  <modal-footer>
    <!-- Close button - show when we are in "Global Settings" mode -->
    <button ng-if="$ctrl.currentView === $ctrl.views.GLOBAL_SETTINGS" class="btn btn-primary" ng-click="$ctrl.modalHide()">Close</button>

    <button ng-if="$ctrl.currentView === $ctrl.views.MY_ACCOUNT" type="submit" class="btn btn-primary" ng-click="$ctrl.globalSettingsService.save()">Update settings</button>

    <a ng-if="$ctrl.currentView === $ctrl.views.MANAGE_USERS && $ctrl.globalSettingsService.currentManageUserView === $ctrl.globalSettingsService.ManageUserViews.Users"\
       type="button" class="btn btn-light" ng-href='/admin/users/csv'>Download CSV</a>
    <a ng-if="$ctrl.currentView === $ctrl.views.MANAGE_USERS && $ctrl.globalSettingsService.currentManageUserView === $ctrl.globalSettingsService.ManageUserViews.Users"
       type="button" class="btn btn-light" ng-click="$ctrl.globalSettingsService.openSendMailView()">Send email to all users</a>
    <a ng-if="$ctrl.currentView === $ctrl.views.MANAGE_USERS && $ctrl.globalSettingsService.currentManageUserView === $ctrl.globalSettingsService.ManageUserViews.Users && $ctrl.state.configuration.perspective.toolbar.globalSettings.manageUsers.registerUser.show"
       type="button" class="btn btn-light" ng-if="$ctrl.state.configuration.perspective.toolbar.globalSettings.manageUsers.registerUser.show"
       ng-click="$ctrl.globalSettingsService.openNewUserView()">Register a new user</a>

    <button ng-if="$ctrl.globalSettingsService.currentManageUserView === $ctrl.globalSettingsService.ManageUserViews.SendEmail" type="button" class="btn btn-primary" ng-click="$ctrl.globalSettingsService.sendMail()">Send mail</button>

    <button ng-if="$ctrl.currentView === $ctrl.views.TAG_MANAGER && $ctrl.globalSettingsService.currentTagManagerView === $ctrl.globalSettingsService.TagManagerViews.Tags" type="submit" class="btn btn-primary" ng-click="$ctrl.globalSettingsService.currentTagManagerView = $ctrl.globalSettingsService.TagManagerViews.CreateTag">Create Tag</button>

    <button ng-if="$ctrl.currentView === $ctrl.views.TAG_MANAGER && $ctrl.globalSettingsService.currentTagManagerView === $ctrl.globalSettingsService.TagManagerViews.UpdateTag" type="submit" class="btn btn-primary" ng-click="$ctrl.globalSettingsService.updateTag()">Update Tag</button>
    <button ng-if="$ctrl.currentView === $ctrl.views.TAG_MANAGER && $ctrl.globalSettingsService.currentTagManagerView === $ctrl.globalSettingsService.TagManagerViews.CreateTag" type="submit" class="btn btn-primary" ng-click="$ctrl.globalSettingsService.createTag()">Create Tag</button>

    <!-- Back button - show when we are in any mode other than "Global Settings" -->
    <button ng-if="$ctrl.currentView !== $ctrl.views.GLOBAL_SETTINGS && !$ctrl.isManageUsersView()" class="btn btn-primary float-right" 
      ng-click="$ctrl.backToGlobalSettings()">Back</button>
    <button ng-if="$ctrl.currentView !== $ctrl.views.GLOBAL_SETTINGS && $ctrl.isManageUsersView()" class="btn btn-primary float-right" 
      ng-click="$ctrl.globalSettingsService.openUserView()">Back</button>
  </modal-footer>
</modal>