<div style="height: 100%; width: 100%;">
  
  <!-- Control state = TWOFACTOR_ALREADY_SETUP. This is when the user already has twofactor set up for their account -->
  
  <!-- Control state = UNINITIALIZED. This is when the user does not have twofactor set up for their account -->
  <div ng-if="$ctrl.currentState === $ctrl.tfaStates.UNINITIALIZED">
    <p>
      Two factor authentication secures your account by requiring a one-time password (OTP)
      to log in (along with your regular account password). You can get the OTP via email, SMS
      or using an authenticator app like Google Authenticator or Authy.
    </p>
    <button class="btn btn-primary" ng-click="$ctrl.overwriteSecretForUser()">Get Started</button>
  </div>
  
  <!-- Control state = SECRET_GENERATED. This is when the user has generated a secret but has not synced it with their app -->
  <div ng-if="$ctrl.currentState === $ctrl.tfaStates.SECRET_GENERATED">
    <p>
      A secret key has been generated for your account. You can now use an app like Google Authenticator or Authy
      to sync the secret key with your account. Simply scan the QR code with the app and then enter the validation
      code that shows up on the app.
    </p>
    <img ng-src="{{$ctrl.totpSecret.qrCode}}">
    <div ng-if="$ctrl.showSecretText">Secret: {{$ctrl.totpSecret.secret}}</div>
    <button class="btn btn-light" ng-if="!$ctrl.showSecretText" ng-click="$ctrl.showSecretText = true">Enter manually</button>
    <input class="form-control" ng-model="$ctrl.verificationCode" placeholder="Enter verification code from app">
    <button class="btn btn-primary" ng-click="$ctrl.verifySecretForUser()">Verify</button>
  </div>

  <!-- Control state = SETUP_COMPLETE. This is when the user has generated a secret but has not synced it with their app -->
  <div ng-if="$ctrl.currentState === $ctrl.tfaStates.SETUP_COMPLETE">
    <p>Congratulations! Two-factor authentication has been successfully set up for your account. In the future, you will
      require a One-Time Password (OTP) to log in to your account (in addition to your account password).
    </p>
  </div>

  <div class="disable-sibling-controls" ng-if="$ctrl.isWaitingForResponse">
  </div>
</div>
