<div style="padding:0px 20px">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h4>LOB</h4>
            </div>
            <div class="col-md-8">
                <h4>Assets</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row" ng-repeat="lobDescription in lobDescriptions" style="padding:10px">
                <div class="col-md-6">
                    <span>{{lobDescription}}</span>
                </div>
                <div class="col-md-6">
                    <toggle ng-model="toggleValue" checked ng-change="changed()" onstyle="btn-danger"></toggle>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" ng-repeat="mapLayer in mapLayers" style="padding:10px">
                <div class="col-md-2">
                    <img src="{{mapLayer.getLayerIcon()}}" style="width:32px;height:32px">
                </div>
                <div class="col-md-6">
                    <span>{{mapLayer.getLayerName()}}</span>
                </div>
                <div class="col-md-4">
                    <toggle ng-model="mapLayer.layerChecked" ng-change="mapLayer.showHideLayer()" onstyle="btn-danger"></toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModal()">OK</button>
    </div>
</div>