<div class="maps-wrapper" ng-controller="MapController as maps">
    <div id="mapView" ng-init="maps.initMap()"></div>
</div>


<script type="text/ng-template" id="layertoggle.html">
    <div class="layer-container">
        <span class="toggle-text">Toggle Layers</span>
        <ul>
            <li ng-repeat="layer in maps.mapLayers">
                <input type="checkbox" ng-model="layer.layerChecked" ng-checked="layer.layerChecked" ng-click="layer.showHideLayer()"> <span>{{layer.getLayerName()}}</span>
            </li>
        </ul>
    </div>
</script>