<div class="map-tool-wrapper">
  <div ng-show="$ctrl.map_tools.is_visible('construction_sites')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white">
      <a href="javascript:void(0)" class="float-right" ng-show="$ctrl.map_tools.is_expanded('construction_sites')" ng-click="$ctrl.map_tools.collapse('construction_sites')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!$ctrl.map_tools.is_expanded('construction_sites')" ng-click="$ctrl.map_tools.expand('construction_sites')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">Construction Sites</h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="$ctrl.map_tools.is_expanded('construction_sites')">
      <form>
        <ul class="customer-type">
          <li>
            <div class="text-center">
              <div class="fa fa-road" style="width:16px;margin-right:10px"></div>
            </div>
            <div class="ctype-name">
              Road Segments
            </div>
            <div class="ctype-checkbox">
              <input type="checkbox" class="checkboxfill" ng-model="$ctrl.roadLayer.visible" name="ctype-name" ng-change="$ctrl.toggleRoadLayer()">
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>