<div>
  <div class="map-tool panel panel-primary" id="measuring-stick-result" ng-show="measuredDistance">
    <div class="panel-heading">
      Measured distance: {{ measuredDistance * 0.000621371 | number: 2 }} mi
    </div>
  </div>

  <div class="map-tool-wrapper">
    <div ng-show="$ctrl.map_tools.is_visible('locations')" class="card map-tool">
      <div class="card-header map-tools-card-header bg-primary text-white">
        <a href="javascript:void(0)" class="float-right" ng-show="$ctrl.map_tools.is_expanded('locations')" ng-click="$ctrl.map_tools.collapse('locations')">
          <span style="color:white" class="fa fa-chevron-up"></span>
        </a>
        <a href="javascript:void(0)" class="float-right" ng-show="!$ctrl.map_tools.is_expanded('locations')" ng-click="$ctrl.map_tools.expand('locations')">
          <span style="color:white" class="fa fa-chevron-down"></span>
        </a>
        <h5 class="map-tool-title-text">Locations</h5>
      </div>
      <div class="card-body map-tools-card-body" ng-show="$ctrl.map_tools.is_expanded('locations')">

        <!-- Markup for any location filters that are specified for the current perspective -->
        <div ng-repeat="locationFilter in $ctrl.state.configuration.perspective.locationFilters">
          
          <!-- Multi-select filters will have a number of checkboxes -->
          <div ng-if="locationFilter.type === 'multiSelect'"
               class="container">
            <!-- The filter title -->
            <div class="row" style="font-weight: bold">
              <div class="col-sm-12">
                {{locationFilter.label}}
              </div>
            </div>
            <!-- All the checkboxes for this filter -->
            <div class="row">
              <div ng-repeat="filterValue in locationFilter.values" class="col-sm-12">
                <span class="ctype-icon" ng-if="filterValue.iconUrl">
                  <img ng-src="{{filterValue.iconUrl}}" style="width:16px;margin-right:10px">
                </span>
                <span class="ctype-name">{{filterValue.label}}</span>
                <span class="ctype-checkbox float-right">
                  <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                         style="margin-top: 0px;"
                         ng-model="filterValue.checked"
                         ng-change="$ctrl.updateMapLayers()">
                </span>
              </div>
            </div>
          </div>
          
          <!-- Threshold filters will have a range bar -->
          <div ng-if="locationFilter.type === 'threshold'"
               class="container">
            <!-- The filter title -->
            <div class="row">
              <div class="col-sm-12">
                {{locationFilter.label}} ( {{locationFilter.value | number: 2}} )
              </div>
            </div>
            <!-- A range input for this filter -->
            <div class="row">
              <input type="range" min="{{locationFilter.minValue}}" max="{{locationFilter.maxValue}}"
                     step="{{(locationFilter.maxValue - locationFilter.minValue) / 100}}" ng-model="locationFilter.value"
                     style="width: 100%;">
            </div>
          </div>
        </div>

        <div ng-if="$ctrl.state.configuration.perspective.mapTools.showProspectsFilter">
          <div>
            <span style="font-weight: bold">Filter:</span>
          </div>
          <div class="row" style="padding-bottom: 5px; margin-right: 0; margin-left: 0;">
            <div class="col-md-4" style="padding-left: 0;padding-right: 0" ng-repeat="filter in $ctrl.state.locationFilters">
              <div class="ctype-checkbox">
                <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                        style="margin-top: 0px;"
                        ng-model="filter.checked"
                        ng-checked="filter.checked"
                        ng-change="$ctrl.updateMapLayers()">
                <img ng-src="{{filter.iconUrl}}" style="width:16px;">
                <span>{{filter.label}}</span>
              </div>
            </div>
          </div>
        </div>
        <form>
          <ul class="customer-type">
            <!-- Loop through all location types -->
            <li ng-repeat="locationType in $ctrl.locationLayers | orderBy: '-key'">
              <div class="ctype-icon" ng-if="locationType.showIcon"><img ng-src="{{locationType.iconUrl}}" style="width:16px;margin-right:10px"></div>
              <div class="ctype-name">{{locationType.label}}</div>
              <div class="ctype-checkbox">
                <input type="checkbox" class="checkboxfill" ng-style="stylebtn"
                        ng-checked="locationType.checked"
                        ng-click="$ctrl.updateLayerVisibility(locationType, !locationType.checked, $ctrl.locationLayers)">
              </div>
            </li>
          </ul>
        </form>
        <div ng-if="disablelocations" class="alert alert-warning" role="alert">
          Locations not displayed at this zoom level
        </div>
      </div>
    </div>
  </div>
</div>
