<style scoped>
  .location-category-title {
    font-weight: bold;
    background-color: #ddd;
    padding: 5px 10px;
  }
</style>
<div>
  <div class="map-tool panel panel-primary" id="measuring-stick-result" ng-show="measuredDistance">
    <div class="panel-heading">
      Measured distance: {{ measuredDistance * 0.000621371 | number: 2 }} mi
    </div>
  </div>

  <div class="map-tool-wrapper">
    <div ng-show="$ctrl.map_tools.is_visible('locations')" class="card map-tool">
      <div class="card-header map-tools-card-header bg-primary text-white">
        <span class="float-right aro-pointer" ng-show="$ctrl.map_tools.is_expanded('locations')" ng-click="$ctrl.map_tools.collapse('locations')">
          <span style="color:white" class="fa fa-chevron-up"></span>
        </span>
        <span class="float-right aro-pointer" ng-show="!$ctrl.map_tools.is_expanded('locations')" ng-click="$ctrl.map_tools.expand('locations')">
          <span style="color:white" class="fa fa-chevron-down"></span>
        </span>
        <h5 class="map-tool-title-text">Locations</h5>
      </div>
      <div class="card-body map-tools-card-body" style="padding-top: 0px; max-height: 600px; overflow-y: auto; overflow-x: hidden;"
           ng-show="$ctrl.map_tools.is_expanded('locations')">

        <div class="row location-category-title" ng-if="$ctrl.areAnyLocationFiltersVisible()">
          Location Filters
        </div>
        <div ng-repeat="(filterName, filter) in $ctrl.state.configuration.locationCategories.filters">
          <ul class="customer-type">
            <!-- Loop through all filter types -->
            <li ng-repeat="rule in $ctrl.getOrderedRulesForFilter(filter)">
              <div class="ctype-icon"><img ng-src="{{rule.onPass.iconUrl}}" style="width:16px;margin-right:10px"></div>
              <div class="ctype-name">{{rule.description}}</div>
              <div class="ctype-checkbox">
                <input type="checkbox" class="checkboxfill" ng-style="stylebtn"
                        ng-checked="rule.isChecked"
                        ng-click="$ctrl.setRuleChecked(rule, !rule.isChecked)">
              </div>
            </li>
          </ul>

        </div>
  
        <div class="row location-category-title" ng-if="$ctrl.areAnyLocationLayersVisible()">
          Location Types
        </div>
        <form>
          <ul class="customer-type">
            <!-- Loop through all location types -->
            <li ng-repeat="locationType in $ctrl.locationLayers | orderBy: '-key'" ng-if="locationType.show">
              <div class="ctype-icon" ng-if="locationType.showIcon"><img ng-src="{{locationType.iconUrl}}" style="width:16px;margin-right:10px"></div>
              <div class="ctype-name">{{locationType.label}}</div>
              <div class="ctype-checkbox">
                <input type="checkbox" class="checkboxfill" ng-style="stylebtn"
                        ng-checked="locationType.checked"
                        ng-click="$ctrl.updateLayerVisibility(locationType, !locationType.checked, $ctrl.locationLayers)">
              </div>
            </li>
          </ul>
        </form>
        <div ng-if="disablelocations" class="alert alert-warning" role="alert">
          Locations not displayed at this zoom level
        </div>

        <!-- Markup for any location filters that are specified for the current perspective -->
        <div ng-repeat="locationFilter in $ctrl.state.configuration.perspective.locationFilters">

          <!-- Multi-select filters will have a number of checkboxes -->
          <div ng-if="locationFilter.type === 'multiSelect'">
            <!-- The filter title -->
            <div class="row location-category-title">
              <button ng-class="{ 'btn btn-xs': true,
                                  'btn-light': !locationFilter.useFilter,
                                  'btn-danger': locationFilter.useFilter }"
                      style="padding: 3px 5px 0px 5px;"
                      ng-click="locationFilter.useFilter = !locationFilter.useFilter; $ctrl.updateMapLayers()">
                <i class="fas fa-filter"></i>
              </button>
              <span style="line-height: 26px; margin-left: 5px;">{{locationFilter.label}}</span>
            </div>
            <!-- All the checkboxes for this filter -->
            <div class="row" ng-show="locationFilter.useFilter">
              <div ng-repeat="filterValue in locationFilter.values" class="col-sm-12" style="padding: 5px 15px;">
                <span class="ctype-icon" ng-if="filterValue.iconUrl">
                  <img ng-src="{{filterValue.iconUrl}}" style="width:16px;margin-right:10px">
                </span>
                <span class="ctype-name">{{filterValue.label}}</span>
                <span class="ctype-checkbox float-right">
                  <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                         style="margin-top: 0px;"
                         ng-model="filterValue.checked"
                         ng-change="$ctrl.updateMapLayers()">
                </span>
              </div>
            </div>
          </div>
          
          <!-- Threshold filters will have a range bar -->
          <div ng-if="locationFilter.type === 'threshold'">
            <!-- The filter title -->
            <div class="row location-category-title">
              <button ng-class="{ 'btn btn-xs': true,
                                  'btn-light': !locationFilter.useFilter,
                                  'btn-danger': locationFilter.useFilter }"
                      style="padding: 3px 5px 0px 5px;"
                      ng-click="locationFilter.useFilter = !locationFilter.useFilter; $ctrl.updateMapLayers()">
                <i ng-class="{ 'fas fa-filter': true, 'text-danger': locationFilter.isAnyFilterSelected }"></i>
              </button>
            <span style="line-height: 26px; margin-left: 5px;">{{locationFilter.label}} ( {{locationFilter.value | number: 2}} )</span>
            </div>
            <!-- A range input for this filter -->
            <div class="row" style="padding: 15px;" ng-show="locationFilter.useFilter">
              <input type="range" min="{{locationFilter.minValue}}" max="{{locationFilter.maxValue}}"
                     step="{{(locationFilter.maxValue - locationFilter.minValue) / 100}}" ng-model="locationFilter.value"
                     ng-change="$ctrl.updateMapLayers()" class="aro-slider">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
