<style scoped>
  .layer-type-checkboxes {
    padding-left: 5px;
    padding-right: 5px;
  }

  .label-message {
    display: inline-block;
    /*
    color: #888888;
    */
    float: right;
    cursor: pointer;
  }

  .box {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    float: left
  }
</style>

<div class="map-tool-wrapper">
  <div ng-show="$ctrl.map_tools.is_visible('network_nodes')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white">
      <a href="javascript:void(0)" class="float-right" ng-show="$ctrl.map_tools.is_expanded('network_nodes')" ng-click="$ctrl.map_tools.collapse('fiber_plant')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!$ctrl.map_tools.is_expanded('network_nodes')" ng-click="$ctrl.map_tools.expand('fiber_plant')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">Network Equipment</h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="$ctrl.map_tools.is_expanded('network_nodes')">

      <!-- New implementation of network equipments -->
      <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-4">
          <strong style="padding-left: 5px;">Type</strong>
        </div>
        <div class="col-md-4" ng-if="$ctrl.state.configuration.perspective.networkEquipment.showExisting">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes" ng-model="$ctrl.state.equipmentLayerTypeVisibility.existing"
            ng-change="$ctrl.updateMapLayers()">
          <span>&nbsp;Existing</span>
        </div>
        <div class="col-md-4" ng-if="$ctrl.state.configuration.perspective.networkEquipment.showPlanned">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes" ng-model="$ctrl.state.equipmentLayerTypeVisibility.planned"
            ng-change="$ctrl.updateMapLayers()">
          <span>&nbsp;Planned</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td colspan="2"><strong>Equipment</strong></td>
              </tr>
              <tr ng-repeat="equipmentLayer in $ctrl.equipmentsArray | orderBy: 'listIndex'"
                  ng-if="$ctrl.state.configuration.perspective.networkEquipment.areVisible.indexOf(equipmentLayer.key) >= 0">
                <td><img ng-src="{{equipmentLayer.iconUrl}}" style="width: 16px; margin-right: 15px">{{equipmentLayer.label}}

                  <button type="button" class="btn btn-primary btn-thin label-message" ng-if="$ctrl.mapZoom <= equipmentLayer.aggregateZoomThreshold && 'point' === equipmentLayer.equipmentType"
                    ng-click="$ctrl.zoomTo(equipmentLayer.aggregateZoomThreshold)" data-toggle="tooltip" title="Zoom To"><span class="fa fa-expand"></span></button>

                </td>
                <td>
                  <input type="checkbox" class="checkboxfill" ng-disabled="$ctrl.mapZoom <= equipmentLayer.aggregateZoomThreshold && 'point' === equipmentLayer.equipmentType"
                    ng-checked="equipmentLayer.checked" ng-click="$ctrl.updateLayerVisibility('equipments', equipmentLayer, !equipmentLayer.checked)">
                </td>
              </tr>
              <tr>
                <td colspan="2"><strong>Cable Plant</strong></td>
              </tr>
              <tr ng-repeat="equipmentLayer in $ctrl.cablesArray | orderBy: 'listIndex'">
                <td>
                  <div class="box" ng-style="{ 'background-color': $ctrl.getBackgroungColor(equipmentLayer) }"></div>{{equipmentLayer.label}}</td>
                <td>
                  <input type="checkbox" class="checkboxfill" ng-checked="equipmentLayer.checked" ng-click="$ctrl.updateLayerVisibility('cables', equipmentLayer, !equipmentLayer.checked)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>