.plan-settings-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.plan-settings-error-contain {
  padding-top: 5px;
  padding-bottom: 10px;
}

.plan-settings-error-message {
  display:inline-block;
  padding: 8px;
}

.analysis-type {
  flex: 0 0 auto;
}
.old-accordion-title {
  flex: 0 0 auto;
}
.old-accordion-contents {
  flex: 1 1 auto;
  transition: flex-grow 100ms, flex-shrink 100ms, visibility 0ms 100ms;
  overflow: hidden;
  height: 450px;
  max-height: 500px;
  overflow: auto;
}
.old-accordion-contents.collapsed {
  flex: 0 0 auto;
  height: 0px;
  visibility: hidden;
}
.old-accordion-title {
  background-color: #333;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0px;
}
.old-accordion-title:hover, .old-accordion-title:focus {
  background-color: #333;
  color: white;
}

/* React Card */

.card-collapse {
  margin-bottom: 1px;
  border: none;
}

.card-header-dark {
  background-color: #333;
  color: white;
  font-size: 18px;
  border-radius: 0px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.collapse-show{
  transition: flex-grow 100ms, flex-shrink 100ms, visibility 0ms 100ms;
  overflow-x: hidden;
  flex-grow: 1;
}
.collapse{
  overflow: visible;
}

.card-fixed{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Plan Project Configuration */


.indent {
  margin: 5px;
}
.form-div-center,#tblProjectConfiguration td {
  line-height: 33px;
}
.btn-project-configuration {
  width: calc(49% - 20px);
  margin: 10px;
  height: 100px
}
.btn-delete-project {
  padding: 3px 7px;
}