
/* road segments detail */

.roadSegDetailRow {
  cursor: pointer;
}
.roadSegDetailRow:hover {
  outline: 1px solid #007bff;
}
.roadSegDetailAttributeRow {
  padding-left: 20px !important;
}
.roadSegOddRow {
  background-color: rgba(0, 0, 0, 0.05);
}

/* segments-tag-panel */

.segments-tag-panel .header {
  justify-content: space-between;
  border-bottom: 1px solid #888888;
  font-weight: bold;
}
.segments-tag-panel h3 {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
}
.segments-tag-panel .tag-rows {
  padding: 8px 0;
  display: none;
}
.segments-tag-panel .tag-rows.show {
  display: block;
}
.segments-tag-panel label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
.segments-tag-panel h4 {
  flex-basis: calc(50% - 15px);
  margin: 0;
  font-size: inherit;
}
.segments-tag-panel .stroke-preview {
  flex-basis: calc(50% - 15px);
  height: 8px;
  background-repeat: repeat;
}
.segments-tag-panel .checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 30px;
}

/* segments-tag-select */

.segments-tag-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 5px;
  border-top: 1px solid #888888;
}
.segments-tag-select h3 {
  margin: 0 12px 0 0;
  font-size: inherit;
  font-weight: bold;
}
.segments-tag-select .select {
  flex: 1;
}

/* aro-search */
.search-bar__input {
  width: 100% !important;
}

.search-bar__input > input {
  width: 100% !important;
}