<style>
  .plan-editor-bounds-contain{
    margin-top: 10px; 
    position: absolute;
    width: 100%;
    padding-right: 20px;
  }
</style>
  
<div class="plan-editor-bounds-contain"
  ng-if="$ctrl.viewBoundaryProps.dataType === 'equipment_boundary'">
  <!-- A table containing the editable properties of the selected object -->
  <table id="tblBoundaryProperties"
        class="table table-sm table-striped sidebar-table"
        style="margin-bottom: 10px">
    <thead>
      <div class="clearfix" ng-if="!$ctrl.state.configuration.networkEquipment.equipments[$ctrl.transactionFeatures[$ctrl.selectedFeatures[0]].siteNetworkNodeType]" style="margin-top: 10px">
        <!-- Section header showing the type of the selected object -->
        <div class="sidebar-table-header">
          <span>Site Boundary</span>
          <button
            ng-if="!$ctrl.isEditingFeatureProperties"
            ng-class="{ 'btn ei-panel-header-btn-set ei-foldout-header-btn': true,
              'btn-light': $ctrl.viewBoundaryProps.attributes.is_locked === 'true',
              'btn-primary': $ctrl.viewBoundaryProps.attributes.is_locked !== 'true' }"
            ng-disabled="$ctrl.viewBoundaryProps.attributes.is_locked === 'true'"
            ng-click="$ctrl.requestEditViewObject()">Edit</button>
        </div>
    </thead>
    <tbody>
      <tr>
        <td>Site boundary type</td>
        <td>
          <!-- Show dropdown if editing -->
          <!-- Funky ng-options because ng-model is a string (from aro-service) and boundaryTypes[x].id is a number -->
          <select class="form-control"
            ng-if="$ctrl.isEditingFeatureProperties"
            ng-model="$ctrl.viewBoundaryProps.attributes.boundary_type_id"
            ng-options="(+item.id).toString() as item.description for item in $ctrl.state.boundaryTypes"
            ng-change="$ctrl.markAsDirty()">
          </select>
          <!-- Show text if not editing -->
          <span ng-if="!$ctrl.isEditingFeatureProperties">
            {{$ctrl.boundaryIdToName[$ctrl.viewBoundaryProps.attributes.boundary_type_id]}}
          </span>
        </td>
      </tr>
      <tr>
        <td>Site move update</td>
        <td>
          <!-- Show dropdown if editing -->
          <select class="form-control"
            ng-if="$ctrl.isEditingFeatureProperties"
            ng-model="$ctrl.viewBoundaryProps.attributes.selected_site_move_update"
            ng-options="item as item for item in $ctrl.siteMoveUpdates"
            ng-change="$ctrl.markAsDirty()">
          </select>
          <!-- Show text if not editing -->
          <span ng-if="!$ctrl.isEditingFeatureProperties">
            {{$ctrl.viewBoundaryProps.attributes.selected_site_move_update}}
          </span>
        </td>
      </tr>
      <tr>
        <td>Site boundary generation</td>
        <td>
          <!-- Show dropdown if editing -->
          <select class="form-control"
            ng-if="$ctrl.isEditingFeatureProperties"
            ng-model="$ctrl.viewBoundaryProps.attributes.selected_site_boundary_generation"
            ng-options="item as item for item in $ctrl.siteBoundaryGenerations"
            ng-change="$ctrl.markAsDirty()">
          </select>
          <!-- Show text if not editing -->
          <span ng-if="!$ctrl.isEditingFeatureProperties">
            {{$ctrl.viewBoundaryProps.attributes.selected_site_boundary_generation}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
    <button ng-class="{ 'btn float-right': true,
                        'btn-light': !$ctrl.isDirty,
                        'btn-primary': $ctrl.isDirty }"
            ng-disabled="!$ctrl.isDirty"
            ng-click="$ctrl.saveBoundaryProperties()"
            style="margin-bottom: 10px">
      <i class="fa fa-save"></i>&nbsp;&nbsp;Save boundary properties
    </button>
  </div>
  
  <hr class="plan-editor-hr">
  
  <button class="btn btn-primary btn-sm" 
    ng-click="$ctrl.requestCalculateCoverage()">
    Calculate Coverage
  </button>
<!--   
  <boundary-coverage 
    bounds-input="$ctrl.coverageOutput"
    parent-selected-object-id="$ctrl.selectedObjectId"
    is-working-override="$ctrl.isWorkingOnCoverage">
  </boundary-coverage>
   -->
</div>
