<div style="margin: 10px">

  <!-- Buttons to commit or discard a transaction -->
  <div class="text-center">
    <div class="btn-group ">
      <button class="btn btn-default" ng-click="$ctrl.saveTransaction()"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit</button>
      <button class="btn btn-default" ng-click="$ctrl.discardTransaction()"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard</button>
    </div>
  </div>
  <br>

  <table class="table table-condensed table-striped" style="margin-bottom: 10px">
    <tr>
      <td>Name</td>
      <td>
        <input type="text" class="form-control" placeholder="Name"
          ng-model="$ctrl.serviceLayerName">
      </td>
    </tr>
    <tr>
      <td>Code</td>
      <td>
        <input type="text" class="form-control" placeholder="Code"
          ng-model="$ctrl.serviceLayerCode">
      </td>
    </tr>
    <tr>
      <td>Draw Layer</td>
      <td>
        <aro-drawing-manager
          map-global-object-name="map"
          feature-type="createServiceLayer"
          drawing-control="false" 
          drawing-modes="['polygon']"
          editable="true"
          default-drawing-mode="polygon"
          delete-map-objects="$ctrl.discardChanges"
          register-create-map-object-callback="$ctrl.registerCreateMapObjectCallback(createMapObjects)">
        </aro-drawing-manager>
      </td>
    </tr>
  </table>

  <edit-service-layer 
    map-global-object-name="map" 
    current-transaction="$ctrl.currentTransaction">
  </edit-service-layer>

</div>