<style>
  .equipment-properties-lat-lng-label {
    padding: 0px 5px;
  }
</style>

<!-- Section to show properties when the selected map object is an equipment node -->
<div class="clearfix" ng-if="$ctrl.viewFeature && $ctrl.viewFeature.dataType === 'equipment'" style="margin-top: 10px">

  <!-- Section header showing the type of the selected object -->
  <div class="sidebar-table-header">
    <img
      ng-src="{{$ctrl.state.configuration.networkEquipment.equipments[$ctrl.viewFeature.networkNodeType].iconUrl}}"
      style="vertical-align:middle; padding-right: 10px">
    <span>
      {{$ctrl.state.configuration.networkEquipment.equipments[$ctrl.viewFeature.networkNodeType].label}}
    </span>

    <button ng-class="{ 'btn ei-panel-header-btn-set ei-foldout-header-btn mt-1': true,
              'btn-light': $ctrl.viewFeature.attributes.is_locked === 'true' || $ctrl.transactionFeatures[$ctrl.viewFeature.objectId],
              'btn-primary': $ctrl.viewFeature.attributes.is_locked !== 'true' && !$ctrl.transactionFeatures[$ctrl.viewFeature.objectId] }"
      ng-disabled="$ctrl.viewFeature.attributes.is_locked === 'true' || $ctrl.transactionFeatures[$ctrl.viewFeature.objectId]" ng-click="$ctrl.requestEditViewObject()">
      Edit
    </button>
    <div class='d-flex flex-row mt-2' style="align-items: center;">
      <div class='flex-grow-1 flex-shrink-1'></div>
      <div class='flex-grow-0 flex-shrink-0 equipment-properties-lat-lng-label'>
        <div class="badge badge-dark">LATITUDE</div>
      </div>
      <div class='flex-grow-0 flex-shrink-0 equipment-properties-lat-lng-label'>
        <pre ng-if="!$ctrl.isEditingFeatureProperties" style="display: inline;">{{$ctrl.viewFeature.geometry.coordinates[1] | number : 6}}</pre>

        <input ng-if="$ctrl.isEditingFeatureProperties" type="number" class="form-control form-control-sm"
          ng-model="$ctrl.viewFeature.geometry.coordinates[1]" ng-model-options="{ debounce: 100 }" step="0.000001"
          ng-change="$ctrl.markAsDirty()" style="width: 95px;">
      </div>
      <div class='flex-grow-0 flex-shrink-0' style="width: 10px;"></div>
      <div class='flex-grow-0 flex-shrink-0 equipment-properties-lat-lng-label'>
        <div class="badge badge-dark">LONGITUDE</div>
      </div>
      <div class='flex-grow-0 flex-shrink-0 equipment-properties-lat-lng-label'>
        <pre ng-if="!$ctrl.isEditingFeatureProperties" style="display: inline;">{{$ctrl.viewFeature.geometry.coordinates[0] | number : 6}}</pre>

        <input ng-if="$ctrl.isEditingFeatureProperties" type="number" class="form-control form-control-sm"
          ng-model="$ctrl.viewFeature.geometry.coordinates[0]" ng-model-options="{ debounce: 100 }" step="0.000001"
          ng-change="$ctrl.markAsDirty()" style="width: 95px;">
      </div>
      <div class='flex-grow-1 flex-shrink-1'></div>
    </div>
  </div>

  <!-- A table containing the editable properties of the selected object -->
  <editor-interface-tree
    object-to-view="$ctrl.viewFeature.networkNodeEquipment"
    is-edit="$ctrl.isEditingFeatureProperties"
    root-meta-data="{'networkNodeType':$ctrl.viewFeature.networkNodeType}"
    get-new-list-item="$ctrl.getNewListItem"
    on-change="$ctrl.markAsDirty()">
  </editor-interface-tree>

  <!-- A button to save equipment properties -->
  <button
    ng-if="$ctrl.isEditingFeatureProperties"
    ng-class="{ 'btn float-right': true,
                'btn-light': !$ctrl.isDirty,
                'btn-primary': $ctrl.isDirty }"
    ng-disabled="!$ctrl.isDirty"
    ng-click="$ctrl.saveEquipmentProperties()"
    style="margin-bottom: 10px">
    <i class="fa fa-save"></i>&nbsp;&nbsp;Save equipment properties
  </button>
</div>
