<div>
  <style scoped>
    .indent-1 {
      padding-left: 30px !important;
    }
    #pointer {
      cursor: pointer;
    }
  </style>
  <table id="tblPlanSummary" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <td ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
          {{info.Label}}
        </td>
      </tr>
    </thead>  
    <!-- Display plan summary  -->
    <tbody ng-repeat="(categoryType, categoryinfo) in $ctrl.summaryCategoryTypes">
      <!-- Display total summary of a category -->
      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded(categoryType)">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded[categoryType]"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded[categoryType]"></i>
          {{categoryType}}
        </th>

        <!-- Display installation types -->
        <th ng-if="categoryinfo['aggregateBy'] === 'count'" ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
            {{ categoryinfo['totalSummary'][installationType][0][categoryinfo['aggregateBy']] }}
        </th>
          <!-- Display with two decimal points -->
        <th ng-if="categoryinfo['aggregateBy'] !== 'count'" ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
            <!-- converting to client specific units -->
            {{ categoryinfo['totalSummary'][installationType][0][categoryinfo['aggregateBy']] * $ctrl.config.length.meters_to_length_units | number : 1 }}
        </th>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded[categoryType] && categoryType == 'Coverage'">
        <td colspan="4" class="indent-1">
          {{ $ctrl.state.selectedBoundaryType.description }}
        </td>
      </tr>

      <!-- Display each element summary in category -->
      <tr ng-if="$ctrl.isKeyExpanded[categoryType]" ng-repeat="(name, installationType) in categoryinfo['summaryData']">
        <!-- For category type 'Equipment' display nicer names -->
        <td class="indent-1" ng-if="categoryType === 'Equipment'">{{$ctrl.state.networkNodeTypesEntity[name]}}</td>
        <td class="indent-1 text-capitalize" ng-if="categoryType !== 'Equipment'">{{name}}</td>

        <!-- Display installation types -->
        <td ng-if="categoryinfo['aggregateBy'] === 'count'" ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
          {{ installationType[type][0][categoryinfo['aggregateBy']] || 0}}
        </td>
          <!-- Display with two decimal points -->
        <td ng-if="categoryinfo['aggregateBy'] !== 'count'" ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
          <!-- converting to client specific units -->
          {{ installationType[type][0][categoryinfo['aggregateBy']] * $ctrl.config.length.meters_to_length_units || 0 | number : 1 }}
        </td>
      </tr>

    </tbody>

    <!-- Display Coverage summary -->
    <!-- <tbody> -->
      <!-- coverage total summary -->
      <!-- <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Coverage')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Coverage']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Coverage']"></i>
          Coverage
        </th>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr> -->

      <!-- coverage detail summary -->
      <!-- <tr ng-if="$ctrl.isKeyExpanded['Coverage']">
        <td colspan="4" class="indent-1">
          {{ $ctrl.state.selectedBoundaryType.description }}
        </td>  
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded['Coverage']" ng-repeat="(locationEntityType, info) in $ctrl.transformedCoverageSummary">
        <td class="indent-1">{{locationEntityType}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].tagSetCounts || 0 }}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['PLANNED'].id][0].tagSetCounts || 0}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['Total'].id][0].tagSetCounts || 0}}</td>
      </tr>

    </tbody>   -->
  </table>
  <!-- <table id="tblPlanSummary" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <td ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
          {{info.Label}}
        </td>
      </tr>
    </thead>  
    <tbody>

      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Equipment')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Equipment']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Equipment']"></i>
          Equipment
        </th>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded['Equipment']" ng-repeat="(equipmentType, info) in $ctrl.summaryCategoryTypes['Equipment']['summaryData']">
        <th class="indent-1">{{$ctrl.state.networkNodeTypesEntity[equipmentType]}}</th>
        <td>{{ info[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr>

      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Fiber')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Fiber']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Fiber']"></i>
          Fiber
        </th>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].lengthMeters | number : 2}}</td>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded['Fiber']" ng-repeat="(fiberType, info) in $ctrl.summaryCategoryTypes['Fiber']['summaryData']">
        <th class="indent-1">{{fiberType}}</th>
        <td>{{ info[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['PLANNED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['Total'].id][0].lengthMeters | number : 2}}</td>
      </tr>

    </tbody>
  </table>     -->

  <!-- <button class="btn btn-primary pull-right" ng-click="$ctrl.downloadPlanSummary()">Download Summary</button> -->
  <a class="pull-right btn btn-default btn-sm" ng-href="{{$ctrl.downloadLink}}">
    <span style="color:#4d99e5" class="fa fa-download"></span>
  </a>
</div>  