In plan summary
<div>
  <style scoped>
    .indent-1 {
      padding-left: 30px !important;
    }
    #pointer {
      cursor: pointer;
    }
  </style>
  <table id="tblPlanSummary" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <!-- <td ng-repeat="countTypes in $ctrl.summaryInstallationTypes">
          {{countTypes.Label}}
        </td> -->
        <td ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
          {{info.Label}}
        </td>
      </tr>
    </thead>  
    <tbody>

      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Equipment')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Equipment']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Equipment']"></i>
          Equipment
        </th>
        <!-- <td ng-repeat="(installationType, value) in $ctrl.totalEquipmentSummary">
          {{value[0].count}}
        </td> -->
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Equipment']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded['Equipment']" ng-repeat="(equipmentType, info) in $ctrl.summaryCategoryTypes['Equipment']['summaryData']">
        <th class="indent-1">{{$ctrl.state.networkNodeTypesEntity[equipmentType]}}</th>
        <!-- <td ng-repeat="(installationType, value) in info">
          {{value[0].count}}
        </td> -->
        <td>{{ info[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr>

      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Fiber')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Fiber']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Fiber']"></i>
          Fiber
        </th>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Fiber']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].lengthMeters | number : 2}}</td>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded['Fiber']" ng-repeat="(fiberType, info) in $ctrl.summaryCategoryTypes['Fiber']['summaryData']">
        <th class="indent-1">{{fiberType}}</th>
        <td>{{ info[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['PLANNED'].id][0].lengthMeters | number : 2}}</td>
        <td>{{ info[$ctrl.summaryInstallationTypes['Total'].id][0].lengthMeters | number : 2}}</td>
      </tr>

    </tbody>
  </table>    
</div>  