<style>
  .edit-plan-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="edit-plan-container">
  <accordion style="position: relative; flex: 1 1 auto;" toggle-expanded-panel="'EDIT_PLAN'">
    <accordion-panel-title title="'Edit Plan'" panel-id="'EDIT_PLAN'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'EDIT_PLAN'">
      <!-- <location-detail></location-detail> -->
      asdfasdf
    </accordion-panel-contents>
  </accordion>
</div>
