<style>
  .edit-plan-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #tblEquipmentProperties td {
    line-height: 33px;  /* To vertically align text */
  }
  .draggable-item-button {
    border: none;
  }
  .plan-editor-hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>

<div class="edit-plan-container">
  <accordion style="position: relative; flex: 1 1 auto;" toggle-expanded-panel="'EDIT_PLAN'">
    <accordion-panel-title title="'Edit Plan'" panel-id="'EDIT_PLAN'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'EDIT_PLAN'">

      <!-- Add a component to handle map editing -->
      <map-object-editor map-global-object-name="{{$ctrl.mapGlobalObjectName}}"
                         map-container-id="map-canvas-container"
                         object-icon-url="/images/map_icons/aro/plan_equipment.png"
                         object-selected-icon-url="/images/map_icons/aro/plan_equipment_selected.png"
                         create-object-on-click="false"
                         on-create-object="$ctrl.handleObjectCreated(mapObject, usingMapClick)"
                         on-modify-object="$ctrl.handleObjectModified(mapObject)"
                         on-select-object="$ctrl.handleSelectedObjectChanged(mapObject)"
                         on-delete-object="$ctrl.handleObjectDeleted(mapObject)"
                         register-object-delete-callback="$ctrl.registerObjectDeleteCallback(deleteObjectWithId)"
                         register-create-map-objects-callback="$ctrl.registerCreateMapObjectsCallback(createMapObjects)"
                         register-remove-map-objects-callback="$ctrl.registerRemoveMapObjectsCallback(removeMapObjects)">
      </map-object-editor>

      <div style="margin: 10px">

        <!-- Buttons to commit or discard a transaction -->
        <div class="text-center">
          <div class="btn-group ">
            <button class="btn btn-default" ng-click="$ctrl.commitTransaction()"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit</button>
            <button class="btn btn-default" ng-click="$ctrl.discardTransaction()"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard</button>
          </div>
        </div>
        <br>

        <!-- Section that allows the user to drag and drop equipment and boundaries onto the map -->
        <div style="width: 100%">
          <p class="text-center">Click and drag equipment/boundary onto the map</p>
          <hr class="plan-editor-hr">
          <!-- Equipment buttons. Only add the ones in the allEditableNetworkNodeTypes list -->
          <draggable-button ng-repeat="equipment in $ctrl.configuration.networkEquipment.equipmentList.planned.layers"
                            ng-if="$ctrl.allEditableNetworkNodeTypes.indexOf(equipment.networkNodeType) >= 0"
                            icon="{{equipment.iconUrl}}",
                            is-disabled="$ctrl.enabledNetworkNodeTypes.indexOf(equipment.networkNodeType) < 0"
                            entity-type="networkEquipment"
                            entity-details="{{equipment.networkNodeType}}">
          </draggable-button>
          <hr class="plan-editor-hr">
          <!-- Boundary buttons -->
          <button class="btn btn-default draggable-item-button">
            <i class="fa fa-2x fa-registered"></i>
          </button>
          <button class="btn btn-default draggable-item-button">
            <i class="fa fa-2x fa-copyright"></i>
          </button>
          <hr class="plan-editor-hr">
        </div>
        <br>

        <!-- We need an object to be selected in order to show its details -->
        <div ng-if="$ctrl.selectedMapObject">
          <!-- Section header showing the type of the selected object -->
          <div style="padding-bottom: 10px; font-weight: 700;">
              <img ng-src="{{$ctrl.getSelectedNetworkConfig().iconUrl}}" style="padding-right: 10px">
              {{$ctrl.getSelectedNetworkConfig().label}}
          </div>
          <!-- A table containing the editable properties of the selected object -->
          <table id="tblEquipmentProperties"
                 class="table table-condensed table-striped">
            <tbody>
              <tr>
                <td>Site Identifier</td>
                <td>
                  <input class="form-control"
                         ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].siteIdentifier"
                         ng-change="$ctrl.markSelectedEquipmentPropertiesDirty()">
                </td>
              </tr>
              <tr>
                <td>Site Name</td>
                <td>
                  <input class="form-control"
                         ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].siteName"
                         ng-change="$ctrl.markSelectedEquipmentPropertiesDirty()">
                </td>
              </tr>
              <tr>
                <td>Equipment</td>
                <td>
                  <select class="form-control"
                          ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedEquipmentType"
                          ng-options="item as item for item in $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].equipmentTypes"
                          ng-change="$ctrl.markSelectedEquipmentPropertiesDirty()">
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button ng-class="{ 'btn btn-sm pull-right': true,
                              'btn-default': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty,
                              'btn-primary': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty }"
                  ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty"
                  ng-click="$ctrl.saveSelectedEquipmentProperties()">
            <i class="fa fa-save"></i>&nbsp;&nbsp;Save equipment attributes
          </button>
          <button class="btn btn-block btn-danger" ng-click="$ctrl.deleteSelectedObject()" style="margin-top: 10px">
            <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete selected location
          </button>
          <br>
          <br>
          <select class="form-control"
                  ng-model="$ctrl.selectedBoundaryType"
                  ng-options="item as item.description for item in $ctrl.state.boundaryTypes">
          </select>
        </div>
      </div>
    </accordion-panel-contents>
  </accordion>
</div>
