<style>
  .edit-plan-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #tblEquipmentProperties td {
    line-height: 33px;  /* To vertically align text */
  }
  #tblBoundaryProperties td {
    line-height: 33px;  /* To vertically align text */
  }
  .draggable-item-button {
    border: none;
  }
  .plan-editor-hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .plan-editor-coverage-header{
    cursor: auto;
  }
  
  .plan-editor-census-cat{
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .plan-editor-census-tag{
    padding-left: 20px;
  }
  
  .plan-editor-census-tag-count{
    margin-left: 10px;
    font-weight: bold;
  }
  
</style>

<div class="edit-plan-container">
  <accordion style="position: relative; flex: 1 1 auto;" toggle-expanded-panel="'EDIT_PLAN'">
    <accordion-panel-title title="'Edit Plan'" panel-id="'EDIT_PLAN'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'EDIT_PLAN'">

      <!-- Add a component to handle map editing -->
      <map-object-editor map-global-object-name="{{$ctrl.mapGlobalObjectName}}"
                         map-container-id="map-canvas-container"
                         get-object-icon-url="$ctrl.getObjectIconUrl({objectKey, objectValue})"
                         object-selected-icon-url="$ctrl.getObjectIconUrl({objectKey, objectValue})"
                         create-object-on-click="false"
                         allow-boundary-creation="$ctrl.state.showSiteBoundary"
                         hide-object-ids="$ctrl.objectIdsToHide"
                         on-create-object="$ctrl.handleObjectCreated(mapObject, usingMapClick, feature)"
                         on-modify-object="$ctrl.handleObjectModified(mapObject)"
                         on-select-object="$ctrl.handleSelectedObjectChanged(mapObject)"
                         on-delete-object="$ctrl.handleObjectDeleted(mapObject)"
                         on-object-dropped-on-marker="$ctrl.handleObjectDroppedOnMarker({dropEvent: dropEvent, targetObjectId: targetObjectId})"
                         register-object-delete-callback="$ctrl.registerObjectDeleteCallback(deleteObjectWithId)"
                         register-create-map-objects-callback="$ctrl.registerCreateMapObjectsCallback(createMapObjects)"
                         register-remove-map-objects-callback="$ctrl.registerRemoveMapObjectsCallback(removeMapObjects)">
      </map-object-editor>

      <div style="margin: 10px">

        <!-- Buttons to commit or discard a transaction -->
        <div class="text-center">
          <div class="btn-group ">
            <button class="btn btn-default" ng-click="$ctrl.commitTransaction()"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit</button>
            <button class="btn btn-default" ng-click="$ctrl.discardTransaction()"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard</button>
          </div>
        </div>
        <br>

        <!-- Section that allows the user to drag and drop equipment and boundaries onto the map -->
        <div style="width: 100%">
          <p class="text-center">Click and drag equipment/boundary onto the map</p>
          <hr class="plan-editor-hr">
          <!-- Equipment buttons. Only add the ones in the allEditableNetworkNodeTypes list -->
          <draggable-button ng-repeat="equipment in $ctrl.configuration.networkEquipment.equipments"
                            ng-if="$ctrl.allEditableNetworkNodeTypes.indexOf(equipment.networkNodeType) >= 0"
                            icon="{{equipment.iconUrl}}" 
                            is-disabled="$ctrl.enabledNetworkNodeTypes.indexOf(equipment.networkNodeType) < 0"
                            entity-type="networkEquipment"
                            entity-details="{{equipment.networkNodeType}}">
          </draggable-button>
          <hr class="plan-editor-hr">
          <!-- Boundary buttons -->
          <div ng-if="!$ctrl.state.showSiteBoundary" class="alert alert-warning">
            You can add site boundaries only if the "Site Boundaries" option is selected in View Settings
          </div>
          
          <div style="display: flex">
            <div style="flex: 0 0 auto; padding-right: 20px; line-height: 33px;">
	            <input type="checkbox" class="checkboxfill" ng-model="$ctrl.state.showSiteBoundary" ng-change="$ctrl.toggleSiteBoundary()" name="ctype-name"
				        style="margin: 0px;">
				        Site Boundaries
				    </div>
			      <select class="form-control" style="flex: 1 1 auto"
			        ng-if="$ctrl.state.showSiteBoundary" 
			        ng-model="$ctrl.state.selectedBoundaryType"
			        ng-options="item as item.description for item in $ctrl.state.boundaryTypes"
			        ng-change="$ctrl.toggleSiteBoundary()">
			      </select>
          </div>
          
          <div ng-if="$ctrl.state.showSiteBoundary" style="display: flex; flex-direction: row; width: 100%">
            <div style="flex: 0 0 auto">
              <draggable-button icon="/images/map_icons/aro/boundary_road_segments.png"
                                is-disabled="false"
                                is-boundary="true"
                                entity-details='{ "spatialEdgeType": "{{$ctrl.Constants.SPATIAL_EDGE_ROAD}}", "directed": false }'>
              </draggable-button>
            </div>
            <div style="flex: 0 0 auto">
              <draggable-button icon="/images/map_icons/aro/boundary_copper.png"
                                is-disabled="false"
                                is-boundary="true"
                                entity-details='{ "spatialEdgeType": "{{$ctrl.Constants.SPATIAL_EDGE_COPPER}}", "directed": false }'>
              </draggable-button>
            </div>
            <div style="flex: 0 0 auto">
              <draggable-button icon="/images/map_icons/aro/boundary_copper_directed.png"
                                is-disabled="false"
                                is-boundary="true"
                                entity-details='{ "spatialEdgeType": "{{$ctrl.Constants.SPATIAL_EDGE_COPPER}}", "directed": true }'>
              </draggable-button>
            </div>
            <div style="flex: 0 0 auto; line-height: 45px; padding-left: 5px; padding-right: 5px;">
              Distance ({{$ctrl.configuration.units.length_units}})
            </div>
            <div style="flex: 1 1 auto; margin-top: 5px; padding-left: 5px; padding-right: 5px;">
              <input class="form-control"
                      ng-model="$ctrl.lastUsedBoundaryDistance">
            </div>
          </div>
        </div>

        <!-- Section to show subnet calculation options -->
        <table id="tblPlanInfo" class="table table-condensed table-striped" style="margin-top: 15px;">
          <tbody>
            <tr>
              <td>Subnets</td>
              <td>
                <input type="checkbox" class="checkboxfill layer-type-checkboxes" style="margin: 0px;"
                       ng-model="$ctrl.autoRecalculateSubnet">
                  <span>Auto recalculate</span>
              </td>
              <td>
                <input type="checkbox" class="checkboxfill layer-type-checkboxes" style="margin: 0px;"
                       ng-model="$ctrl.stickyAssignment">
                <span>Sticky assignment</span>
              </td>
            </tr>
            <tr>
              <td>Route to CO</td>
              <td>
                <input type="radio" class="checkboxfill layer-type-checkboxes" style="margin: 0px;" name="closestCOFinder"
                        ng-model="$ctrl.coSearchType" value="SERVICE_AREA">
                <span>Service Area</span>
              </td>
              <td>
                <input type="radio" class="checkboxfill layer-type-checkboxes" style="margin: 0px;" name="closestCOFinder"
                        ng-model="$ctrl.coSearchType" value="CLOSEST">
                <span>Closest</span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Section to show properties when the selected map object is an equipment node -->
        <div class="clearfix" ng-if="$ctrl.selectedMapObject && $ctrl.isMarker($ctrl.selectedMapObject)" style="margin-top: 10px">
          <!-- Section header showing the type of the selected object -->
          <div class="sidebar-table-header" ng-if="$ctrl.getSelectedNetworkConfig()">
              <img ng-src="{{$ctrl.getSelectedNetworkConfig().iconUrl}}" style="vertical-align:middle; padding-right: 10px">
              <span>{{$ctrl.getSelectedNetworkConfig().label}}</span>
          </div>
          <!-- A table containing the editable properties of the selected object -->
          <editor-interface-tree 
                              on-change="$ctrl.markSelectedEquipmentPropertiesDirty()"
                              object-to-view="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].networkNodeEquipment" 
                              is-edit="true"></editor-interface-tree>

          <button ng-class="{ 'btn btn-sm pull-right': true,
                              'btn-default': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty,
                              'btn-primary': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty }"
                  ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty"
                  ng-click="$ctrl.saveSelectedEquipmentProperties()"
                  style="margin-bottom: 10px">
            <i class="fa fa-save"></i>&nbsp;&nbsp;Save equipment properties
          </button>
        </div>

        <!-- Section to show properties when the selected map object is an equipment boundary -->
        <div ng-if="$ctrl.isWorkingOnCoverage">
          <p>Calculating coverage area...</p>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
        <div ng-if="$ctrl.selectedMapObject && !$ctrl.isMarker($ctrl.selectedMapObject)" style="margin-top: 10px">
          <!-- Section header showing the type of the selected object -->
          <div class="sidebar-table-header" ng-if="$ctrl.getSelectedBoundaryNetworkConfig()">
              <img src="/images/map_icons/aro/boundary_road_segments.png" style="vertical-align:middle; padding-right: 10px">
              <span>{{$ctrl.getSelectedBoundaryNetworkConfig().label}} boundary</span>
          </div>
          <!-- A table containing the editable properties of the selected object -->
          <table id="tblBoundaryProperties"
                 class="table table-condensed table-striped sidebar-table"
                 style="margin-bottom: 10px">
            <tbody>
              <tr>
                <td>Site boundary type</td>
                <td>
                  <select class="form-control"
                          ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedSiteBoundaryTypeId"
                          ng-options="item.id as item.description for item in $ctrl.state.boundaryTypes"
                          ng-change="$ctrl.markSelectedBoundaryPropertiesDirty(); $ctrl.handleSiteBoundaryTypeChanged();">
                  </select>
                </td>
              </tr>
              <tr>
                <td>Site move update</td>
                <td>
                  <select class="form-control"
                          ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedSiteMoveUpdate"
                          ng-options="item as item for item in $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].siteMoveUpdates"
                          ng-change="$ctrl.markSelectedBoundaryPropertiesDirty()">
                  </select>
                </td>
              </tr>
              <tr>
                <td>Site boundary generation</td>
                <td>
                  <select class="form-control"
                          ng-model="$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].selectedSiteBoundaryGeneration"
                          ng-options="item as item for item in $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].siteBoundaryGenerations"
                          ng-change="$ctrl.markSelectedBoundaryPropertiesDirty()">
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="clearfix">
	          <button ng-class="{ 'btn btn-sm pull-right': true,
	                              'btn-default': !$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty,
	                              'btn-primary': $ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty }"
	                  ng-disabled="!$ctrl.objectIdToProperties[$ctrl.selectedMapObject.objectId].isDirty"
	                  ng-click="$ctrl.saveSelectedBoundaryProperties()"
	                  style="margin-bottom: 10px">
	            <i class="fa fa-save"></i>&nbsp;&nbsp;Save boundary properties
	          </button>
          </div>
          
          <hr class="plan-editor-hr">
          
          <button class="btn btn-primary btn-sm" 
                  ng-if="!$ctrl.boundaryCoverageById.hasOwnProperty($ctrl.selectedMapObject.objectId)"
                  ng-click="$ctrl.onRequestCalculateCoverage()">
            calculate coverage
          </button>
          
          <div ng-if="$ctrl.boundaryCoverageById.hasOwnProperty($ctrl.selectedMapObject.objectId)">
            <div class="ei-header plan-editor-coverage-header">
              Site boundary coverage: {{$ctrl.boundaryCoverageById[$ctrl.selectedMapObject.objectId].boundaryData.coverageInfo.length}}
            </div>
            <canvas ng-init="$ctrl.showCoverageChart()" class="plan-editor-bounds-dist-chart" width="300" height="300"></canvas>
            <div style="margin-bottom: 20px;">
              <div class="ei-header plan-editor-coverage-header">
                Locations by Census Block Tag
              </div>
              <div class="plan-editor-census-tag" ng-if="$ctrl.objKeys($ctrl.boundaryCoverageById[$ctrl.selectedMapObject.objectId].censusTagsByCat).length < 1">none</div>
              <div ng-repeat="cat in $ctrl.boundaryCoverageById[$ctrl.selectedMapObject.objectId].censusTagsByCat">
                <div class="ei-property-item plan-editor-census-cat">
                  {{cat.description}}
                </div>
                <div class="plan-editor-census-tag" ng-repeat="tag in cat.tags">
                  <div class="outlineLegendIcon" style="border-color: {{tag.colourHash}}; background-color: {{tag.colourHash}}33;"></div>
                  {{tag.description}}: <span class="plan-editor-census-tag-count">{{tag.count}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-panel-contents>
    <!-- Plan Summary -->
    <accordion-panel-title title="'Plan Summary'" panel-id="'PLAN_SUMMARY'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'PLAN_SUMMARY'">
      <plan-summary></plan-summary>
    </accordion-panel-contents>
  </accordion>
</div>
