<div>
  <style scoped>
    .indent-1 {
      padding-left: 20px !important;
    }
    .indent-2 {
      padding-left: 30px !important;
    }
    #pointer {
      cursor: pointer;
    }
  </style>
  <table id="tblPlanSummary" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <td ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
          {{info.Label}}
        </td>
      </tr>
    </thead>  
    <!-- Display plan summary  -->
    <tbody ng-repeat="(categoryType, categoryinfo) in $ctrl.summaryCategoryTypes" ng-if="categoryType !== 'Coverage'">
      <!-- Display total summary of a category -->
      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded(categoryType)">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded[categoryType]"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded[categoryType]"></i>
          {{categoryType}}
        </th>

        <!-- Display installation types -->
        <th ng-if="categoryinfo['aggregateBy'] === 'count'" ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
            {{ categoryinfo['totalSummary'][installationType][0][categoryinfo['aggregateBy']] }}
        </th>
          <!-- Display with two decimal points -->
        <th ng-if="categoryinfo['aggregateBy'] !== 'count'" ng-repeat="(installationType,info) in $ctrl.summaryInstallationTypes">
            <!-- converting to client specific units -->
            {{ categoryinfo['totalSummary'][installationType][0][categoryinfo['aggregateBy']] * $ctrl.config.length.meters_to_length_units | number : 1 }}
        </th>
      </tr>

      <tr ng-if="$ctrl.isKeyExpanded[categoryType] && categoryType == 'Coverage'">
        <td colspan="4" class="indent-1">
          {{ $ctrl.state.selectedBoundaryType.description }}
        </td>
      </tr>

      <!-- Display each element summary in category -->
      <tr ng-if="$ctrl.isKeyExpanded[categoryType]" ng-repeat="(name, installationType) in categoryinfo['summaryData']">
        <!-- For category type 'Equipment' display nicer names -->
        <td class="indent-1" ng-if="categoryType === 'Equipment'">{{$ctrl.state.networkNodeTypesEntity[name]}}</td>
        <td class="indent-1 text-capitalize" ng-if="categoryType !== 'Equipment'">{{name}}</td>

        <!-- Display installation types -->
        <td ng-if="categoryinfo['aggregateBy'] === 'count'" ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
          {{ installationType[type][0][categoryinfo['aggregateBy']] || 0}}
        </td>
          <!-- Display with two decimal points -->
        <td ng-if="categoryinfo['aggregateBy'] !== 'count'" ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
          <!-- converting to client specific units -->
          {{ installationType[type][0][categoryinfo['aggregateBy']] * $ctrl.config.length.meters_to_length_units || 0 | number : 1 }}
        </td>
      </tr>

    </tbody>

    <!-- Display Coverage summary -->
    <tbody>
      <!-- coverage total summary -->
      <tr>
        <th id="pointer" ng-click="$ctrl.toggleIsKeyExpanded('Coverage')">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isKeyExpanded['Coverage']"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isKeyExpanded['Coverage']"></i>
          Coverage
        </th>
        <td>{{ $ctrl.summaryCategoryTypes['Coverage']['totalSummary'][$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Coverage']['totalSummary'][$ctrl.summaryInstallationTypes['PLANNED'].id][0].count }}</td>
        <td>{{ $ctrl.summaryCategoryTypes['Coverage']['totalSummary'][$ctrl.summaryInstallationTypes['Total'].id][0].count }}</td>
      </tr>

      <!-- coverage detail summary -->
      <tr ng-if="$ctrl.isKeyExpanded['Coverage']">
        <td colspan="4" class="indent-1">
          {{ $ctrl.state.selectedBoundaryType.description }}
        </td>  
      </tr>

    </tbody>
    <tbody ng-if="$ctrl.isKeyExpanded['Coverage']" ng-repeat="(locationEntityType, coverageinfo) in $ctrl.summaryCategoryTypes['Coverage']['summaryData']">
      <tr>
        <td id="pointer" class="indent-1" ng-click="$ctrl.togglelocationTagCoverage(locationEntityType)">
          <i class="fa fa-plus-square-o ei-foldout-icon" ng-if="!$ctrl.isLocKeyExpanded[locationEntityType]"></i>
          <i class="fa fa-minus-square-o ei-foldout-icon" ng-if="$ctrl.isLocKeyExpanded[locationEntityType]"></i>
          {{locationEntityType}}
        </td>
        <!-- <td ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
          {{ coverageinfo[type][0][count] || 0}}
        </td> -->
        <td>{{ coverageinfo[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count || 0 }}</td>
        <td>{{ coverageinfo[$ctrl.summaryInstallationTypes['PLANNED'].id][0].count || 0}}</td>
        <td>{{ coverageinfo[$ctrl.summaryInstallationTypes['Total'].id][0].count || 0}}</td>
      </tr>
      <tr ng-if="$ctrl.isLocKeyExpanded[locationEntityType]" ng-repeat="(tag,taginfo) in $ctrl.locTagCoverage[locationEntityType]">
        <td class="indent-2"> {{ $ctrl.censusTagCategories[tag].description }}</td>
          <!-- <td ng-repeat="(type,info) in $ctrl.summaryInstallationTypes">
            {{ taginfo[type][0][count] || 0}}
          </td> -->
          <td>{{ taginfo[$ctrl.summaryInstallationTypes['INSTALLED'].id][0].count || 0 }}</td>
          <td>{{ taginfo[$ctrl.summaryInstallationTypes['PLANNED'].id][0].count || 0}}</td>
          <td>{{ taginfo[$ctrl.summaryInstallationTypes['Total'].id][0].count || 0}}</td>
      </tr>
    </tbody>  
  </table>

  <!-- Show buttons for downloading plan summary reports -->
  <summary-reports>
  </summary-reports>
</div>  