<style>
  .edit-plan-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="edit-plan-container">
  <accordion style="position: relative; flex: 1 1 auto;" toggle-expanded-panel="$ctrl.state.activeEditPlanPanel">
    <accordion-panel-title title="'Edit Plan'" panel-id="$ctrl.state.EditPlanPanels.EDIT_PLAN"></accordion-panel-title>
    <accordion-panel-contents panel-id="$ctrl.state.EditPlanPanels.EDIT_PLAN">
      <div>
        <r-plan-editor></r-plan-editor>
        <!--
        <plan-editor map-global-object-name="map"></plan-editor>
        -->
      </div>
    </accordion-panel-contents>
    <!-- Plan Summary -->
    <accordion-panel-title title="'Plan Summary'" panel-id="$ctrl.state.EditPlanPanels.PLAN_SUMMARY"></accordion-panel-title>
    <accordion-panel-contents panel-id="$ctrl.state.EditPlanPanels.PLAN_SUMMARY">
      <r-plan-summary ng-if="$ctrl.state.activeEditPlanPanel === $ctrl.state.EditPlanPanels.PLAN_SUMMARY"></r-plan-summary>
    </accordion-panel-contents>
  </accordion>
</div>
