<div style="margin: 10px">

  <!-- Buttons to commit or discard a transaction -->
  <div class="text-center">
    <div class="btn-group ">
      <button class="btn btn-default" ng-click="$ctrl.commitTransaction()"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Commit</button>
      <button class="btn btn-default" ng-click="$ctrl.discardTransaction()"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Discard</button>
    </div>
  </div>
  <br>

  <table class="table table-sm table-striped" style="margin-bottom: 10px">
    <tr>
      <td>Name</td>
      <td>
        <input type="text" class="form-control" placeholder="Name"
          ng-change="$ctrl.markSelectedServiceAreaPropertiesDirty()"
          ng-model="$ctrl.selectedMapObject.feature.name">
      </td>
    </tr>
    <tr>
      <td>Code</td>
      <td>
        <input type="text" class="form-control" placeholder="Code"
          ng-change="$ctrl.markSelectedServiceAreaPropertiesDirty()"
          ng-model="$ctrl.selectedMapObject.feature.code">
      </td>
    </tr>
  </table>

  <!-- <div style="display: flex; flex-direction: row; width: 100%">
    <div style="flex: 0 0 auto">
      <draggable-button icon="/images/map_icons/aro/hexagon.png" 
      is-disabled="false"
      entity-details="{{$ctrl.Constants.MAP_OBJECT_CREATE_SERVICE_AREA}}">
      </draggable-button>
    </div>
  </div> -->

  <button ng-class="{ 'btn btn-block': true, 
    'btn-default': !$ctrl.objectIdToMapObject[$ctrl.selectedMapObject.objectId].isDirty,
    'btn-primary': $ctrl.objectIdToMapObject[$ctrl.selectedMapObject.objectId].isDirty }"
    style="margin-top: 10px"
    ng-click="$ctrl.saveSelectedServiceAreaProperties()">
    <i class="fa fa-save"></i>&nbsp;&nbsp;Save service area properties
  </button>

  <map-object-editor ng-if="$ctrl.currentTransaction"
      map-global-object-name="map"
      map-container-id="map-canvas-container"
      get-object-icon-url="$ctrl.getObjectIconUrl({objectKey, objectValue})"
      object-selected-icon-url="$ctrl.getObjectIconUrl({objectKey, objectValue})"
      create-object-on-click="false"
      allow-boundary-creation="false"
      is-boundary-creation-allowed="$ctrl.isBoundaryCreationAllowed(mapObject)"
      feature-type="serviceArea"
      on-create-object="$ctrl.handleObjectCreated(mapObject, usingMapClick, feature)"
      on-modify-object="$ctrl.handleObjectModified(mapObject)"
      on-select-object="$ctrl.handleSelectedObjectChanged(mapObject)"
      on-delete-object="$ctrl.handleObjectDeleted(mapObject)"
      on-object-dropped-on-marker="$ctrl.handleObjectDroppedOnMarker({dropEvent: dropEvent, targetObjectId: targetObjectId})"      
      register-object-delete-callback="$ctrl.registerObjectDeleteCallback(deleteObjectWithId)"
      register-create-map-objects-callback="$ctrl.registerCreateMapObjectsCallback(createMapObjects)"
      register-remove-map-objects-callback="$ctrl.registerRemoveMapObjectsCallback(removeMapObjects)"
      register-create-editable-existing-map-object="$ctrl.registerCreateEditableExistingMapObject(createEditableExistingMapObject)">
</map-object-editor>

</div>