<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>

	<listener>
	   <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener> 
	<servlet>
        <servlet-name>aroServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- Set dispatchOptionsRequest and async-supported to enable support for WebSockets -->
	    <init-param>
	      <param-name>dispatchOptionsRequest</param-name>
	      <param-value>true</param-value>
	    </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aroServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>requestLoggingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CommonsRequestLoggingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>includePayload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>includeClientInfo</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>includeQueryString</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxPayloadLength</param-name>
            <param-value>2000</param-value>
        </init-param>
    </filter>
    
    <filter>
    	<filter-name>requestAuthenticationFilter</filter-name>
    	<filter-class>com.altvil.authentication.CustomHeaderAuthenticationFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>requestLoggingFilter</filter-name>
        <servlet-name>aroServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>requestAuthenticationFilter</filter-name>
        <servlet-name>aroServlet</servlet-name>
    </filter-mapping>
</web-app>