<div>
  <!-- Locations layer modal -->
  <div id="locations_controller" ng-show="!isLoadingConfiguration">
    <div ng-if="configuration.perspective.mapTools['prosects'].show">
      <div style="padding-left: 10px">
        <span style="font-weight: bold">Filter:</span>
      </div>
      <div class="row" style="padding-bottom: 5px;margin-right: 0;margin-left: 0;padding-left: 11px;">
        <div class="col-md-4" style="padding-left: 0;padding-right: 0" ng-repeat="filter in locationFilters">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                 ng-model="filter.checked"
                 ng-checked="filter.checked" ng-change="updateMapLayers()">
          <span>{{filter.label}} </span>
        </div>
      </div>
    </div>
    <form>
      <ul class="customer-type">
        <!-- Loop through all location types -->
        <li ng-repeat="locationType in derivedLocationTypes">
          <div class="ctype-icon"><img ng-src="{{locationType.iconUrl}}" style="width:16px;margin-right:10px"></div>
          <div class="ctype-name">{{locationType.label}}</div>
          <div class="ctype-checkbox">
            <input type="checkbox" class="checkboxfill" ng-style="stylebtn"
                    ng-checked="locationType.checked"
                    ng-click="setLocationTypeVisibility(locationType, !locationType.checked)">
          </div>
        </li>
      </ul>
    </form>

    <a ng-if="env_is_test" href="javascript:void(0)" ng-click="locations_layer.select_random_features()" ng-attr-data-loaded="{{locations_layer.data_loaded}}">Test</a>

    <div ng-if="disablelocations" class="alert alert-warning" role="alert">
      Locations not displayed at this zoom level
    </div>
  </div>

  <!-- Spinner that will be shown while the configuration is being loaded from the server -->
  <div style="margin:30px;text-align:center;" ng-if="isLoadingConfiguration">
    <p>Loading location categories</p>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
