<div id="target_builder_controller">
  <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="optimizationMode != null && optimizationMode !== 'targets'">
    Optimizations can not be run on both boundaries and targets. Any target selection you make will remove all previously selected boundaries.
  </div>

  <% if (config.ARO_CLIENT !== 'verizon') { %>
    <p><strong>Optimization Type</strong></p>
    <select class="form-control"
      ng-model="optimizationType"
      ng-options="item.id as item.label for item in optimizationTypeOptions">
    </select>
    <div ng-show="optimizationType === 'TARGET_IRR' || optimizationType === 'BUDGET_IRR'">
      <br>
      <p><strong>IRR Threshold</strong></p>
      <div class="row">
        <div class="col-md-7">
          <input type="range" min="0" max="100" step="1" value="10" ng-model="irrThresholdRange" style="margin-top: 10px" ng-change="irrThresholdRangeChanged()">
        </div>
        <div class="col-md-5">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <input type="number" min="0" max="100" step="1" ng-model="irrThreshold" class="form-control text-right" ng-change="irrThresholdChanged()">
              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="optimizationType === 'BUDGET_IRR' || optimizationType === 'IRR'">
      <br>
      <p><strong>Target Capital</strong></p>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control text-right" placeholder="Amount" value="10,000,000" name="budget">
            </div>
          </div>
        </div>
      </div>
      <p><strong>Budget Allocation</strong></p>
      <div class="clearfix">
        <div style="float:left; width:20%">
          <label class="text-right" style="display:block">Year 1</label>
          <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="100%">
        </div>
        <div style="float:left; width:20%">
          <label class="text-right" style="display:block">Year 2</label>
          <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
        </div>
        <div style="float:left; width:20%">
          <label class="text-right" style="display:block">Year 3</label>
          <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
        </div>
        <div style="float:left; width:20%">
          <label class="text-right" style="display:block">Year 4</label>
          <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
        </div>
        <div style="float:left; width:20%">
          <label class="text-right" style="display:block">Year 5</label>
          <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
        </div>
      </div>
      <div ng-show="optimizationMode === 'targets' && optimizationType === 'IRR'">
        <br>
        <p><strong>Non-Targeted Customers</strong></p>
        <div class="checkbox" ng-repeat="entity in entityTypes">
          <label>
            <checkbox
                    class="chk-small"
                    ng-model="entityTypesTargeted[entity.id]"
                    name="ctype-name"
            ></checkbox>
          </label>
        </div>
      </div>
    </div>
    <br>
  <% } %>

  <p><strong>Select Targets</strong></p>
  <input class="form-control select2" type="text" placeholder="Business Name">
  <br>
  <div class="checkbox">
    <label>
      <checkbox
              class="chk-small"
              ng-model="optimizeUploaded"
              name="ctype-name"
      ></checkbox>
       Uploaded Locations

      <div ng-show="optimizeUploaded" style="width: 200px">
        <input class="form-control uploadedCustomersSelect uploadCustomersTargetBuilding" class="uploadedCustomersSelect"
        	   ng-change="changeDatasource()"
               ng-model="selectedDatasource">
      </div>
    </label>
  </div>
  <br>
  <form id="target-builder-upload">
    <p>
     <button class="btn btn-primary btn-sm"
       ng-class="{'btn-success': isToolSelected('single') && !deselectMode, 'btn-danger active': isToolSelected('single') && deselectMode}"
       ng-click="toggleSelectedTool('single')">Building Select</button>
     <button class="btn btn-primary btn-sm"
       ng-class="{'btn-success': isToolSelected('polygon') && !deselectMode, 'btn-danger active': isToolSelected('polygon') && deselect_mode}"
       ng-click="toggleSelectedTool('polygon')">Polygon Select</button>
     <span>
       <input type="file" name="csv" id="target-builder-upload-csv" style="width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; z-index:-1">
       <label for="target-builder-upload-csv" ng-click="setSelectedTool('upload')">
         <span class="btn btn-primary btn-sm" ng-class="{'btn-success': isToolSelected('upload') }">Upload</span>
       </label>
     </span>
    </p>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="!showHeatmapAlert && isToolSelected('single')">
      Click on buildings on the map to add them to the optimization targets.
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="!showHeatmapAlert && isToolSelected('polygon')">
      Click on the map to draw a polygon - all locations in the polygon will be selected as optimization targets.
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="isToolSelected('upload')">
      Upload csv with single column of location ids - these locations will be selected as optimization targets.
      <br><br>
      <a class="btn btn-primary btn-sm" href="/csv/example_location_upload.csv" download="example_location_upload.csv">Download example file</a>
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="showHeatmapAlert">
      To use this feature, you must be viewing individual locations. Please zoom in or turn off the heatmap button below the zoom buttons.
    </div>
  </form>

  <p><strong>Targeted Locations</strong><strong ng-show="targetsTotal > 5" class="ng-binding;" style="float:right;">Total: {{targetsTotal}}</strong></p>
  <p ng-show="targets.length === 0">
    <em>No targeted locations</em>
  </p>
  <div style="min-height: 0px; max-height: 150px; overflow: auto;">
    <ul style="list-style-type:none; padding:0" ng-repeat="target in targets">
      <li>
        <a href="javascript:void(0)" class="text-danger" ng-click="deleteTarget(target)" style="margin-right: 5px">
          <span class="fa fa-trash-o"></span>
        </a>
        {{ target.address }}
      </li>
    </ul>
  </div>

  <p ng-show="targets.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="deleteAllTargets()">Remove all targets</button>
  </p>

  <p><strong>Technology</strong></p>

  <div class="checkbox" ng-repeat="type in technologyTypes">
    <label>
     <div style="display: inline-block">
       <checkbox
               class="chk-small"
               ng-model="type.selected"
               ng-checked="type.selected"
               ng-change="toggleTechType(type)"
               id="T{{ type.id }}"
       ></checkbox>
       {{type.label}}
     </div>
    <div  ng-show="type.id == 'FiveG' && type.selected" style="display: inline-block">
     <label>
      <span>Polygon Type</span>
      <select class="form-control" ng-model="polygonOptions.polygonStrategy">
        <option value="FIXED_RADIUS">Fixed Radius</option>
        <option value="AVERAGE_RADIUS">Average Radius</option>
        <option value="RAY_TRACING">Ray Tracing</option>
      </select>
     <div style="display: inline-block">
       <checkbox
               class="chk-small"
               ng-model="isChecked2"
               name="ctype-name"
       ></checkbox>
        Fiber Proximity Placement
     </div>
     <div style="display: inline-block"> Radius
       <span>
           <input
                   type="text"
                   ng-model="cellNodeConstraints.cellRadius"
                   placeholder="Cell Radius"
                   style="width: 85px;margin-left: 50px"
           >
           <span><b>m</b></span>
       </span>
     </div>
     </label>
    </div>
    </label>

  </div>
  
  <p><strong>Network Construction</strong></p>
  <form>

    <select  class="form-control ng-pristine ng-valid ng-touched" ng-model="technology" >
      <option value="direct_routing">Unsplit Routing</option>
      <option value="odn1" >Hub-Only Split</option>
      <% if (config.ARO_CLIENT === 'reliance') { %>
      <option value="odn2" > 5G </option>
      <% } else {%>
      <option value="odn2" >Hub-Distribution Split</option>
      <% } %>
    </select>

  </form>
    
  <% if (config.ARO_CLIENT !== 'verizon') { %>
    <div>
      <p><strong>Optimization Processing Layer</strong></p>
      <p>
        <select class="form-control" ng-model="selectedBoundary"
          ng-options="boundary as boundary.description for boundary in allBoundaries track by boundary.id">
          <option value="">Default Layer</option>
        </select>
      </p>
    </div>

    <div>
      <p class="pull-left">
        <button class="btn btn-primary" ng-click="runExpertMode()">Expert Mode</button>
      </p>
      <p class="pull-right">
        <button class="btn btn-primary" ng-hide="calculating" ng-click="run()">Get Results</button>
        <button class="btn btn-danger" ng-show="calculating" ng-click="cancel()"><span class="spin fa fa-repeat"></span> Cancel</button>
      </p>
    </div>
  <% } %>

</div>
