<div>
  <!-- <div class="modal" id="create-location" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create location</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business name</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.business_name">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Number of employees</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.number_of_employees">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business industry</label>
              <div class="col-sm-8">
                <select class="form-control industries" ng-model="new_location_data.business_industry" ng-options="industry.text for industry in industries"></select>
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Annual recurring cost</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.annual_recurring_cost">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Install cost</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.install_cost">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business customer type</label>
              <div class="col-sm-8">
                <select class="form-control businesses_customer_types" ng-model="new_location_data.business_customer_type" ng-options="customer_type.name for customer_type in customer_types"></select>
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'residential' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Number of households</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.number_of_households">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'residential' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Household customer type</label>
              <div class="col-sm-8">
                <select class="form-control households_customer_types" ng-model="new_location_data.household_customer_type" ng-options="customer_type.name for customer_type in customer_types"></select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="create_location()">Create location</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Locations layer modal -->
  <div id="locations_controller" ng-show="!isLoadingConfiguration">
    <div ng-if="currentUser.rol === 'sales'">
      <div style="padding-left: 10px">
        <span style="font-weight: bold">Filter:</span>
      </div>
      <div class="row" style="padding-bottom: 5px;margin-right: 0;margin-left: 0;padding-left: 11px;">
        <div class="col-md-4" style="padding-left: 0;padding-right: 0">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                 checked
                 disabled>
          <span>&nbsp;Prospect </span>
        </div>

        <div class="col-md-4" style="padding-left: 0;padding-right: 0">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                 checked
                 disabled>
          <span>&nbsp;Winback </span>
        </div>

        <div class="col-md-4" style="padding-left: 0;padding-right: 0">
          <input type="checkbox" class="checkboxfill layer-type-checkboxes"
                 checked
                 disabled>
          <span>&nbsp;Customer </span>
        </div>
      </div>
    </div>
    <form>
      <ul class="customer-type">
        <!-- Loop through all location types -->
        <li ng-repeat="locationType in derivedLocationTypes">
          <div class="ctype-icon"><img ng-src="{{locationType.iconUrl}}" style="width:16px;margin-right:10px"></div>
          <div class="ctype-name">{{locationType.label}}</div>
          <div class="ctype-checkbox">
            <input type="checkbox" class="checkboxfill" ng-style="stylebtn"
                    ng-checked="locationType.checked"
                    ng-click="setLocationTypeVisibility(locationType, !locationType.checked)">
          </div>
        </li>
      </ul>
    </form>

    <a ng-if="env_is_test" href="javascript:void(0)" ng-click="locations_layer.select_random_features()" ng-attr-data-loaded="{{locations_layer.data_loaded}}">Test</a>

    <div ng-if="disablelocations" class="alert alert-warning" role="alert">
      Locations not displayed at this zoom level
    </div>
  </div>

  <!-- Spinner that will be shown while the configuration is being loaded from the server -->
  <div style="margin:30px;text-align:center;" ng-if="isLoadingConfiguration">
    <p>Loading location categories</p>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
