<div>
  <div class="panel-body" ng-show="map_tools.is_expanded('financial_profile')" style="max-height: 700px; overflow: auto">
    <p ng-hide="showData" class="text-center" style="margin: 100px 10px">
      Click on an area to see its financial summary.
    </p>
    <div  ng-show="showData">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#financialProfileSummary" role="tab" data-toggle="tab">Summary</a></li>
      <li role="presentation"><a href="#financialProfileFiberDetails" role="tab" data-toggle="tab">Fiber Details</a></li>
      <li role="presentation"><a href="#financialProfilePremises" role="tab" data-toggle="tab">Premises</a></li>
      <li role="presentation"><a href="#financialProfileSubscribers" role="tab" data-toggle="tab">Subscribers</a></li>
      <li role="presentation"><a href="#financialProfileRevenue" role="tab" data-toggle="tab">Revenue</a></li>
      <li role="presentation"><a href="#financialProfileOpex" role="tab" data-toggle="tab">Opex</a></li>
      <li role="presentation"><a href="#financialProfileCapex" role="tab" data-toggle="tab">Capex</a></li>
      <li role="presentation"><a href="#financialProfileCashFlow" role="tab" data-toggle="tab">Cash Flow</a></li>
      <!-- <li role="presentation"><a href="#financialProfileRouteOpportunities" role="tab" data-toggle="tab">Route Opportunities</a></li> -->
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="financialProfileSummary" style="margin-top: 20px">
        <div class="row">
          <div class="col-sm-6">
            <table class="table">
              <tbody>
                <tr>
                  <th colspan="5">Fiber Capex</th>
                  <!-- <td colspan="2" class="text-right">{{metadata.fiber_cost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td> -->
                </tr>
                <tr ng-repeat="cost in metadata.priceModel.fiberCosts">
                  <td class="text-capitalize" colspan="3"><small> ↳ {{cost.fiberType}} ({{cost.lengthMeters * <%- config.length.meters_to_length_units %> | number : 0}} <%- config.length.length_units %>)</small></td>
                  <td colspan="2" class="text-right">{{cost.totalCost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td>
                </tr>
                <tr>
                  <th colspan="5">Equipment Capex</th>
                  <!-- <td colspan="2" class="text-right">{{metadata.equipment_cost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td> -->
                </tr>
                <tr ng-repeat="cost in metadata.priceModel.equipmentCosts" ng-if="cost.total > 0">
                  <td colspan="3"><small> ↳ {{state.networkNodeTypesEntity[cost.nodeType]}} (x{{cost.quantity | number }})</small></td>
                  <td colspan="2" class="text-right">{{cost.total / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td>
                </tr>
                <tr>
                  <th colspan="3">Total Capex</th>
                  <td colspan="2" class="text-right">{{metadata.priceModel.totalCost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <table class="table">
              <tbody>
                <tr>
                  <th colspan="3">Premises Passed</th>
                  <td colspan="2" class="text-right">{{plannedNetworkDemand.locationDemand.rawCoverage | number}}</td>
                </tr>
                <tr ng-repeat="(key, value) in plannedNetworkDemand.locationDemand.entityDemands">
                  <td class="text-capitalize" colspan="3" ng-if="key === 'small' || key === 'medium' || key === 'large'"><small> ↳ {{key}} Business</small></td>
                  <td class="text-capitalize" colspan="3" ng-if="key === 'household' || key === 'celltower'"><small> ↳ {{key}}</small></td>
                  <td colspan="2" class="text-right">{{value.rawCoverage | number}}</td>
                </tr>
                <tr>
                  <th colspan="3"><%- config.currency_symbol %> / Premises Passed</th>
                  <td colspan="2" class="text-right"> {{metadata.priceModel.totalCost / plannedNetworkDemand.locationDemand.rawCoverage | currency:"<%- config.currency_symbol %>":0}}</td>
                </tr>
                <tr ng-repeat="networkStatistic in metadata.networkStatistics" 
                  ng-if="networkStatistic.networkStatisticType === 'roic_npv'">
                  <th colspan="3">NPV</th>
                  <td colspan="2" class="text-right">{{networkStatistic.value / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td>
                </tr>
                <tr ng-repeat="networkStatistic in metadata.networkStatistics"
                  ng-if="networkStatistic.networkStatisticType === 'roic_irr'">
                  <th colspan="3">IRR</th>
                  <td colspan="2" class="text-right">{{(networkStatistic.value * 100) | number : 1}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileCashFlow" style="margin-top: 20px">
        <div>
          <p class="text-center"><strong>Cash Flow Summary</strong></p>
          <canvas id="financial-profile-chart-cash-flow" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-cash-flow')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-cash-flow-legend"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileCapex" style="margin-top: 20px">
        <div>
          <p class="text-center"><strong>Capex</strong></p>
          <form class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="capexFilter" ng-change="refreshCurrentTab(true)">
                <option value="bau">BAU</option>
                <option value="plan">Plan</option>
                <option value="incremental">Incremental</option>
              </select>
            </div>
            <!--
            <div class="checkbox" style="margin-left: 10px">
              <label>
                <input type="checkbox" ng-model="capexFilterEntityTypes['businesses']" ng-change="refreshCurrentTab(true)"> Businesses
              </label>
            </div>
            <div class="checkbox" style="margin-left: 10px">
              <label>
                <input type="checkbox" ng-model="capexFilterEntityTypes['businesses']" ng-change="refreshCurrentTab(true)"> Households
              </label>
            </div>
            <div class="checkbox" style="margin-left: 10px">
              <label>
                <input type="checkbox" ng-model="capexFilterEntityTypes['businesses']" ng-change="refreshCurrentTab(true)"> Cell Sites
              </label>
            </div>
            -->
          </form>
          <canvas id="financial-profile-chart-capex" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-capex')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-capex-legend"></div>
          <!--
          <br>
          <p class="text-center"><strong>Budget Allocation</strong></p>
          <canvas id="financial-profile-chart-budget" style="width:100%; height:200px"></canvas>
          <div id="financial-profile-chart-budget-legend"></div>
          -->
          <br>
          <p class="text-center"><strong>Connect Capex</strong></p>
          <form class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="connectCapexFilter" ng-change="showConnectCapexChart(true)">
                <option value="bau">BAU</option>
                <option value="plan">Plan</option>
                <option value="incremental">Incremental</option>
              </select>
            </div>
            <form class="form-inline">
              <div class="checkbox" style="margin-left: 10px" ng-repeat="(entityType, entityName) in entityTypes">
                  <input type="checkbox" class="checkboxfill"
                         ng-model="connectCapexFilterEntityTypes[entityType]"
                         name="ctype-name"
                         ng-change="showConnectCapexChart(true)"
                  >
                  <span style="padding-left: 5px">{{ entityName }}</span>
              </div>
            </form>
          </form>
          <canvas id="financial-profile-chart-connect-capex" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-connect-capex')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-connect-capex-legend"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileRevenue" style="margin-top: 20px">
        <div>
          <p class="text-center"><strong>Revenue</strong></p>
          <form class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="revenueFilter" ng-change="refreshCurrentTab(true)">
                <option value="bau">BAU</option>
                <option value="plan">Plan</option>
                <option value="incremental">Incremental</option>
              </select>
            </div>
          </form>
          <canvas id="financial-profile-chart-revenue" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-revenue')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-revenue-legend"></div>

          <p class="text-center"><strong>ARPU</strong></p>
          <form class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="arpuFilter" ng-change="showArpuChart(true)"
                ng-options="entity.key as entity.name for entity in entityTypesArray">
              </select>
            </div>
          </form>
          <canvas id="financial-profile-chart-arpu" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-arpu')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-arpu-legend"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfilePremises" style="margin-top: 20px">
        <div>
          <p class="text-center"><strong>Cumulative Premises Passed</strong></p>
          <div class="pull-right">
            <form class="form-inline">
              <div class="radio">
                  <input id="radio-count" type="radio" name="percentage" value="false" ng-model="premisesPercentage" ng-change="showPremisesChart(true)">
                  <label for="radio-count" class="radio-label">Count</label>
              </div>
              <div class="radio" style="margin-left: 10px">
                  <input  id="radio-percent" type="radio" name="percentage" value="true" ng-model="premisesPercentage" ng-change="showPremisesChart(true)">
                  <label for="radio-percent" class="radio-label">Percentage</label>
              </div>
            </form>
          </div>
          <form class="form-inline" ng-show="aboveWirecenter">
            <div class="form-group">
              <select class="form-control" ng-model="capexFilter" ng-change="showPremisesChart(true)">
                <option value="bau">BAU</option>
                <option value="plan">Plan</option>
                <option value="incremental">Incremental</option>
              </select>
            </div>
          </form>
          <form class="form-inline">
            <!-- Checkboxes for business/household/celltower categories -->
            <div>
              <div class="checkbox" style="margin-left: 10px" ng-repeat="(entityType, entityName) in entityTypes">
                  <input type="checkbox" class="checkboxfill"
                         ng-model="premisesFilterEntityTypes[entityType]"
                         name="ctype-name"
                         ng-change="showPremisesChart(true)"
                  >
                  <span style="padding-left: 5px">{{ entityName }}</span>
              </div>
            </div>
          </form>
          <canvas id="financial-profile-chart-premises" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-premises')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-premises-legend"></div>
          <p class="text-center"><strong>New Premises Passed</strong></p>
          <canvas id="financial-profile-chart-premises-period" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-premises-period')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-premises-period-legend"></div>
          <br>
          <p class="text-center"><strong>Cost per Premise Passed</strong></p>
          <canvas id="financial-profile-chart-cost-per-premise" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-cost-per-premise')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-cost-per-premise-legend" style="display:none"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileSubscribers" style="margin-top: 20px">
        <div>
          <p class="text-center"><strong>Subscribers</strong></p>
          <form class="form-inline">
            <!-- Checkboxes for business/household/celltower categories -->
            <div class="radio" style="margin-left: 10px" ng-repeat="(entityType, entityName) in entityTypes">
                <input type="checkbox" class="checkboxfill"
                       ng-model="subscribersFilterEntityTypes[entityType]"
                       name="ctype-name"
                       ng-change="showSubscribersChart(true)"
                >
                <span style="padding-left: 5px">{{ entityName }}</span>
            </div>
          </form>
          <canvas id="financial-profile-chart-subscribers" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-subscribers')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-subscribers-legend"></div>
          <br>
          <p class="text-center"><strong>Penetration</strong></p>
          <form class="form-inline">
            <!-- Radio buttons for business/household/celltower categories -->
            <div class="radio" ng-repeat="(entityType, entityName) in entityTypes">
              <input id="radio-{{ entityType }}" name="entityType" type="radio" ng-model="penetrationFilter.entityType" ng-change="showPenetrationChart(true)" value="{{entityType}}">
              <label for="radio-{{ entityType }}" class="radio-label">{{ entityName }}</label>
            </div>
          </form>
          <canvas id="financial-profile-chart-penetration" style="width:100%; height:200px"></canvas>
          <button ng-click="downloadChart('financial-profile-chart-penetration')" class="pull-right btn btn-default btn-sm">
            <span style="color:white" class="fa fa-download"></span>
          </button>
          <div id="financial-profile-chart-penetration-legend"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileOpex" style="margin-top: 20px">
        <p class="text-center"><strong>Recurring Costs</strong></p>
        <form class="form-inline">
          <!-- Checkboxes for business/household/celltower categories -->
          <div class="checkbox" style="margin-left: 10px" ng-repeat="(entityType, entityName) in entityTypes">
              <input type="checkbox" class="checkboxfill"
                     ng-model="opexRecurringFilterEntityTypes[entityType]"
                     name="ctype-name"
                     ng-change="showOpexRecurringChart(true)"
              >
              <span style="padding-left: 5px">{{ entityName }}</span>
          </div>
        </form>
        <canvas id="financial-profile-chart-opex-recurring" style="width:100%; height:200px"></canvas>
        <button ng-click="downloadChart('financial-profile-chart-opex-recurring')" class="pull-right btn btn-default btn-sm">
          <span style="color:white" class="fa fa-download"></span>
        </button>
        <div id="financial-profile-chart-opex-recurring-legend"></div>
        <br>
        <p class="text-center"><strong>Cost %</strong></p>
        <form class="form-inline">
          <div class="form-group">
            <select class="form-control" ng-model="opexCostFilter" ng-change="showOpexCostChart(true)"
              ng-options="entity.key as entity.name for entity in entityTypesArray">
            </select>
          </div>
        </form>
        <canvas id="financial-profile-chart-opex-cost" style="width:100%; height:200px"></canvas>
        <button ng-click="downloadChart('financial-profile-chart-opex-cost')" class="pull-right btn btn-default btn-sm">
          <span style="color:white" class="fa fa-download"></span>
        </button>
        <div id="financial-profile-chart-opex-cost-legend"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="financialProfileFiberDetails" style="margin-top: 20px">
        <table class="table">
          <thead>
            <th></th>
            <th class="text-right">Distribution Fiber</th>
            <th class="text-right">Feeder Fiber</th>
            <th class="text-right">Backhaul Fiber</th>
            <th class="text-right">Total <%- config.length.length_units %></th>
            <th class="text-right">Cost per <%- config.length.length_units %></th>
            <th class="text-right">Total cost</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="fiberDetail in metadata.fiberDetails">
              <td>{{fiberDetail.description}}</td>
              <td class="text-right">{{fiberDetail.types['distribution'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></td>
              <td class="text-right">{{fiberDetail.types['feeder'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></td>
              <td class="text-right">{{fiberDetail.types['backbone'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></td>
              <td class="text-right">{{fiberDetail.totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></td>
              <td class="text-right">{{fiberDetail.totalCost / (fiberDetail.totalLength * <%- config.length.meters_to_length_units %>) | currency:"<%- config.currency_symbol %>":1}}</td>
              <td class="text-right">{{fiberDetail.totalCost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</td>
              <th>
                <a href="javascript:void(0)"
                  style="color: {{ fiberDetailLayers[fiberDetail.name] && fiberDetailLayers[fiberDetail.name].visible ? fiberDetailColors[fiberDetail.name] : 'red' }}"
                  ng-click="toggleFiberDetailLayer(fiberDetail.name)">
                  <i class="fa fa-eye"></i>
                </a>
              </th>
            </tr>
            <tr>
              <th>Total</th>
              <th class="text-right">{{metadata.fiberTotals.types['distribution'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></th>
              <th class="text-right">{{metadata.fiberTotals.types['feeder'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></th>
              <th class="text-right">{{metadata.fiberTotals.types['backbone'].totalLength * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></th>
              <th class="text-right">{{metadata.fiberTotals.totalLength * <%- config.length.meters_to_length_units %> | number : 2}} <%- config.length.length_units %></th>
              <th class="text-right">{{metadata.fiberTotals.totalCost / (metadata.fiberTotals.totalLength * <%- config.length.meters_to_length_units %>) | currency:"<%- config.currency_symbol %>":1}}</th>
              <th class="text-right">{{metadata.fiberTotals.totalCost / 1000 | currency:"<%- config.currency_symbol %>":1}}K</th>
              <th></th>
            </tr>
            <tr>
              <th>Existing Fiber</th>
              <th class="text-right" ng-show="fiberDetailsAdditional">{{fiberDetailsAdditional.length * <%- config.length.meters_to_length_units %> | number : 1}} <%- config.length.length_units %></th>
              <th class="text-right" ng-hide="fiberDetailsAdditional">Calculating...</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
