<div id="area_network_planning_controller">
  <p><strong>Optimization Type</strong></p>
  <select class="form-control"
    ng-model="state.optimizationOptions.algorithm"
    ng-options="item.id as item.label for item in optimizationTypeOptions">
  </select>
  <div ng-show="state.optimizationOptions.algorithm === 'TARGET_IRR' || state.optimizationOptions.algorithm === 'BUDGET_IRR' || state.optimizationOptions.algorithm === 'IRR_THRESH'">
    <br>
    <p><strong>IRR Threshold</strong></p>
    <div class="row">
      <div class="col-md-7">
        <input type="range" min="0" max="100" step="1" value="10" ng-model="irrThresholdRange" style="margin-top: 10px" ng-change="irrThresholdRangeChanged()">
      </div>
      <div class="col-md-5">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <input type="number" min="0" max="100" step="1" ng-model="state.optimizationOptions.preIrrThreshold" class="form-control text-right" ng-change="irrThresholdChanged()">
            <div class="input-group-addon">%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="state.optimizationOptions.algorithm === 'BUDGET_IRR' || state.optimizationOptions.algorithm === 'IRR' || state.optimizationOptions.algorithm === 'IRR_THRESH'">
    <br>
    <div ng-hide="state.optimizationOptions.algorithm === 'IRR_THRESH'">
      <p><strong>Target Capital</strong></p>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <div class="input-group-addon"><%- config.currency_symbol %></div>
              <input type="text" class="form-control text-right" placeholder="Amount" ng-model="state.optimizationOptions.budget">
            </div>
          </div>
        </div>
      </div>
    </div>
    <p><strong>Budget Allocation</strong></p>
    <div class="clearfix">
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 1</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="100%">
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 2</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 3</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 4</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 5</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
    </div>
    <div ng-show="optimizationMode === 'targets' && state.optimizationOptions.algorithm === 'IRR'">
      <br>
      <p><strong>Non-Targeted Customers</strong></p>
      <div class="checkbox" ng-repeat="entity in entityTypes">
        <label>
          <checkbox
                  class="chk-small"
                  ng-model="entityTypesTargeted[entity.id]"
                  name="ctype-name"
                  ng-change="changeLocationsLayer()"
          ></checkbox>
          {{ entity.value }}
        </label>
      </div>
    </div>
  </div>
  <div ng-show="state.optimizationOptions.algorithm === 'COVERAGE'">
    <br>
    <p><strong>Coverage Target</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <div class="input-group-addon">%</div>
            <input type="text" class="form-control text-right" placeholder="Percentage" ng-model="state.optimizationOptions.coverageThreshold" name="coverage_target">
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <% if (config.ARO_CLIENT !== 'verizon') { %>
  <p><strong>Search or Click Geographies</strong></p>
  <div class="form-group form-group-sm">
    <input id="area-network-planning-search" type="text" class="form-control" placeholder="Search geographies">
  </div>
  <div>
    <button class="btn btn-primary btn-sm"
            ng-class="{'btn-success': isToolSelected('polygon') && !deselectMode, 'btn-danger active': isToolSelected('polygon') && deselect_mode}"
            ng-click="toggleSelectedTool('polygon')">Polygon Select</button>
  </div>
  <p ng-hide="selectedRegions.length > 0"><em>No geographies selected</em></p>
  <ul ng-show="selectedRegions.length > 0" style="list-style-type:none; padding:0">
    <li ng-repeat="geography in selectedRegions | limitTo:5">
      <a href="javascript:void(0)" class="text-danger" ng-click="removeGeography(geography)" style="margin-right: 5px">
        <span class="fa fa-trash-o"></span>
      </a>
      {{ geography.name }}
    </li>
  </ul>
  <p ng-show="selectedRegions.length > 5">
    {{ selectedRegions.length - 5 }} additional boundaries
  </p>
  <p ng-show="selectedRegions.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="removeAllGeographies()">Remove all boundaries</button>
  </p>
  <% } %>

  <p><strong>Technology</strong></p>

  <div class="checkbox" ng-repeat="type in state.optimizationOptions.technologies">
    <label>
     <div style="display: inline-block">
       <checkbox
               class="chk-small"
               ng-model="type.checked"
               name="ctype-name"
               ng-checked="type.checked"
       ></checkbox>
       {{type.label}}
     </div>
    <div ng-show="type.id == 'FiveG' && type.checked" style="display: inline-block">
    <label>
      <span>Polygon Type</span>
      <select class="form-control" ng-model="state.optimizationOptions.fiberNetworkConstraints.cellNodeConstraints.polygonStrategy">
        <option value="FIXED_RADIUS">Fixed Radius</option>
        <option value="AVERAGE_RADIUS">Average Radius</option>
        <option value="RAY_TRACING">Ray Tracing</option>
      </select>
      <div style="display: inline-block">
        <checkbox
                class="chk-small"
                ng-model="isChecked2"
                name="ctype-name"
        ></checkbox>
        Fiber Proximity Placement
      </div>
      <div style="display: inline-block"> Radius
        <span>
            <input
                    type="text"
                    ng-model="state.optimizationOptions.fiberNetworkConstraints.cellNodeConstraints.cellRadius"
                    placeholder="Cell Radius"
                    style="width: 85px;margin-left: 50px"
            >
            <span><b>m</b></span>
        </span>
      </div>
      <div>
        <span>Tile System</span>
        <select class="form-control ng-pristine ng-valid ng-touched"
                ng-model="state.optimizationOptions.fiberNetworkConstraints.cellNodeConstraints.selectedTile"
                ng-change="changeTileSelected(tileselected)"
                ng-options="tile_system.name for tile_system in state.optimizationOptions.fiberNetworkConstraints.cellNodeConstraints.tiles">
        </select>
      </div>
    </label>
    </div>
    </label>

  </div>

  <p><strong>Network Construction</strong></p>
  <form>

    <select  class="form-control ng-pristine ng-valid ng-touched" ng-model="state.optimizationOptions.fiberNetworkConstraints.routingMode" >
      <option value="DIRECT_ROUTING">Unsplit Routing</option>
      <option value="ODN_1" >Hub-Only Split</option>
      <% if (config.ARO_CLIENT === 'reliance') { %>
      <option value="ODN_2">Hub-Terminal Split </option>
      <% } else {%>
      <option value="ODN_2">Hub-Distribution Split</option>
      <% } %>
    </select>

  </form>



  <% if (config.ARO_CLIENT === 'verizon') { %>

  <div ng-show="state.optimizationOptions.algorithm === 'TABC'">
    <p><strong>Route Generation Options</strong></p>
    <form>
      <div class="checkbox" ng-repeat="option in state.optimizationOptions.routeGenerationOptions">
        <label>
          <input type="checkbox"
            ng-model="option.checked"
            ng-click="routeGenerationOptionsChanged(option.id)"> {{ option.value }}
        </label>
      </div>
    </form>

  </div>

  <% } %>

  <div ng-show="optimizationMode === 'targets'">
    <p><strong>Optimization Processing Layer</strong></p>
    <p>
      <select class="form-control" ng-model="selectedBoundary"
        ng-options="boundary as boundary.description for boundary in allBoundaries track by boundary.id">
        <option value="">Default Layer</option>
      </select>
    </p>
  </div>

  <div>
  	<p class="pull-left">
        <button class="btn btn-primary" ng-click="runExpertMode()">Expert Mode</button>
    </p>
    <p class="pull-right">
      <button class="btn btn-primary" ng-hide="calculating" ng-click="run()">Get Results</button>
      <button class="btn btn-danger" ng-show="calculating" ng-click="cancel()"><span class="spin fa fa-repeat"></span> Cancel</button>
    </p>
  </div>
</div>
