<div>
  <!-- Locations layer modal -->
  <div id="locations_controller" ng-show="!isLoadingConfiguration">

    <form>
      <!-- Businesses -->
      <div class="customer-type shaded">
        <label>Locations</label>
      </div>
      <ul class="customer-type">
        <li ng-repeat="constructionSite in derivedConstructionSites">
          <div class="ctype-icon"><img ng-src="{{constructionSite.iconUrl}}" style="width:16px;margin-right:10px"></div>
          <div class="ctype-name">
            {{constructionSite.label}}
          </div>
          <div class="ctype-checkbox">
            <input type="checkbox" class="checkboxfill"
                   ng-model="constructionSite.checked"
                   name="ctype-name"
                   ng-change="changeLocationsLayer()"
            >
          </div>
        </li>
      </ul>

      <!-- Data sources -->
      <!-- Global businesses -->
      <div class="customer-type shaded">
        <label>Location data sources</label>
      </div>
      <!-- Uploaded data sources -->
      <div class="customer-type">
        <ui-select multiple ng-model="planState.selectedDataSources"
                   theme="bootstrap"
                   close-on-select="true"
                   on-select="changeLocationsLayer()"
                   on-remove="changeLocationsLayer()">
          <ui-select-match placeholder="Select data sources...">{{$item.name}} [id {{$item.dataSourceId}}]</ui-select-match>
          <ui-select-choices class="ui-select-width-300" repeat="uploadedDataSource in allUploadedDataSources">
            <div>{{uploadedDataSource.name}}</div>
          </ui-select-choices>
        </ui-select>
        <button class="btn btn-sm btn-primary btn-block" style="margin: 5px 0" ng-click="addCustomers()">
          <span class="fa fa-plus"></span> Add data sources...
        </button>
      </div>
    </form>

    <div class="alert alert-info text-center" role="alert" ng-show="heatmapVisible">
      To see individual locations, zoom in or turn off the heatmap button below the zoom buttons
    </div>

    <a ng-if="env_is_test" href="javascript:void(0)" ng-click="locations_layer.select_random_features()" ng-attr-data-loaded="{{locations_layer.data_loaded}}">Test</a>
  </div>

  <!-- Spinner that will be shown while the configuration is being loaded from the server -->
  <div style="margin:30px;text-align:center;" ng-if="isLoadingConfiguration">
    <p>Loading location categories</p>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
