<div class="map_settings_container">
  <ul class="settings_items">
      <li>
      
        <div class="settings_item">
          <div class="settings_label">Location Heatmap</div>
          <div class="settings_object">
            <checkbox
                    class="chk-small"
                    ng-model="heatmapOn"
                    name="ctype-name"
                    ng-change="toggleHeatmap()">
            </checkbox>
          </div>
        </div>

        <div class="settings_item">
          <div class="settings_label">Fiber Width</div>
          <div class="settings_object">
            <select ng-model="state.viewSetting.selectedFiberOption" ng-options="option as option.name for option in state.viewFiberOptions track by option.id" ng-change="fiberOptionChanged()"></select>
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.pixelWidth">
          <div class="settings_label">Max Pixel Width</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.pixelWidth.max" placeholder="Max Pixel Width">
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.pixelWidth">
          <div class="settings_label">Min Pixel Width</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.pixelWidth.min" placeholder="Min Pixel Width">
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.opacity">
          <div class="settings_label">Max Opacity</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.opacity.max" placeholder="Max Opacity">
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.opacity">
          <div class="settings_label">Min Opacity</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.opacity.min" placeholder="Min Opacity">
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.pixelWidth">
          <div class="settings_label">Exponent</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.pixelWidth.divisor" placeholder="Exponent">
          </div>
        </div>

        <div class="settings_item" ng-if="state.viewSetting.selectedFiberOption.pixelWidth &&  state.viewSetting.selectedFiberOption.pixelWidth.atomicDivisor">
          <div class="settings_label">Atomic Divisor</div>
          <div class="settings_object">
            <input type="text" ng-model="state.viewSetting.selectedFiberOption.pixelWidth.atomicDivisor" placeholder="Atomic Divisor">
          </div>
        </div>
      </li>
  </ul>
</div>