<div>
  <div ng-show="areaLayers.length > 0 || boundaries.length > 0">
    <div ng-repeat="layer in areaLayers">
      <div class="checkbox" ng-attr-id="map_layers_toggle_{{layer.type}}" ng-class="{ 'disabled': layer.disabled }">
        <div class="pull-right">
          <input type="checkbox" ng-click="toggleVisibility(layer)" ng-disabled="layer.disabled">
        </div>
        <div class="pull-right" style="margin-right: 30px">
          <span class="fa fa-repeat map-layer-spinner map-layer-spinner-{{layer.type}}"></span>
          <!--
          <a href="javascript:void(0)" class="text-success" ng-click="select_area(layer)"><span class="<%= config.ui.icons.market_profile %>"></span></a>
          -->
        </div>
        <label>
          {{layer.name}}
        </label>
      </div>
    </div>
    <div ng-repeat="boundary in boundaries">
      <div class="checkbox">
        <div class="pull-right boundary-options">
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Edit" ng-click="renameBoundary(boundary)">
              <span class="fa fa-pencil"></span>
          </a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="tooltip"
            data-placement="top" title="Delete" ng-click="deleteBoundary(boundary)">
              <span class="fa fa-trash-o"></span>
          </a>
          <a href="javascript:void(0)" class="text-success" data-toggle="tooltip"
            data-placement="top" title="Market profile" ng-click="show_market_size(boundary)">
              <span class="<%= config.ui.icons.market_profile %>"></span>
          </a>
          <a href="javascript:void(0)" class="text-warning" data-toggle="tooltip"
            data-placement="top" title="Customer profile" ng-click="show_customer_profile(boundary)">
              <span class="fa fa-users"></span>
          </a>
          <% if (config.route_planning.length >= 0) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Network planning" ng-click="run_network_planning(boundary)">
              <span class="fa fa-wrench"></span>
          </a>
          <% } %>
        </div>
        <label>
          <input type="checkbox" ng-click="toggleBoundary(boundary)" ng-checked="boundary.overlay.getMap()"> {{boundary.name}}
        </label>
      </div>
    </div>
    <hr>
  </div>

  <p>
    <p class="pull-right">
      <button class="btn btn-primary btn-xs" ng-click="createUserDefinedBoundary()">
        <span class="fa fa-plus"></span>
      </button>
    </p>
    <strong>User-defined boundaries</strong>
  </p>

  <select class="form-control" size="5" ng-model="selectedUserDefinedBoundary" ng-options="boundary as boundary.name for boundary in userDefinedBoundaries track by boundary.id" id="userDefinedBoundariesSelect">
    <option style="display:none"></option>
  </select>

  <br>
  <p ng-show="selectedUserDefinedBoundary">
    <button class="btn btn-primary btn-sm">
      <span class="fa fa-file-o"></span> &nbsp; Upload equipment to selected boundary
    </button>
    <input type="file" name="csv" style="opacity:0; width: 30px; position:relative; top:-25px; left:0">
  </p>

  <hr>

  <% if (config.ARO_CLIENT === 'verizon') { %>
  <p><strong>Search or Click Geographies</strong></p>
  <div class="form-group form-group-sm">
    <input id="area-network-planning-search" type="text" class="form-control" placeholder="Search geographies">
  </div>

  <!-- <p><strong>Selected Geographies</strong></p> -->
  <p ng-hide="selectedRegions.length > 0"><em>No geographies selected</em></p>
  <ul ng-show="selectedRegions.length > 0" style="list-style-type:none; padding:0">
    <li ng-repeat="geography in selectedRegions">
      <a href="javascript:void(0)" class="text-danger" ng-click="removeGeography(geography)" style="margin-right: 5px">
        <span class="fa fa-trash-o"></span>
      </a>
      {{ geography.name }}
    </li>
  </ul>
  <hr>
  <% } %>

  <!--
  <div ng-show="plan.owner_id === user_id">
    <h2>Build</h2>
    <p>
      <a class="btn btn-block btn-default btn-sm" ng-class="{'btn-success active': selected_tool}" ng-click="toggleTool()">Custom</a>
    </p>
  </div>
  -->
</div>
