<div>
  <div class="modal" id="create-location" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create location</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business name</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.business_name">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Number of employees</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.number_of_employees">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business industry</label>
              <div class="col-sm-8">
                <select class="form-control industries" ng-model="new_location_data.business_industry" ng-options="industry.text for industry in industries"></select>
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Annual recurring cost</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.annual_recurring_cost">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Install cost</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.install_cost">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'commercial' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Business customer type</label>
              <div class="col-sm-8">
                <select class="form-control businesses_customer_types" ng-model="new_location_data.business_customer_type" ng-options="customer_type.name for customer_type in customer_types"></select>
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'residential' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Number of households</label>
              <div class="col-sm-8">
                <input class="form-control" ng-model="new_location_data.number_of_households">
              </div>
            </div>
            <div class="form-group" ng-show="selected_tool === 'residential' || selected_tool === 'combo'">
              <label class="col-sm-4 control-label">Household customer type</label>
              <div class="col-sm-8">
                <select class="form-control households_customer_types" ng-model="new_location_data.household_customer_type" ng-options="customer_type.name for customer_type in customer_types"></select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="create_location()">Create location</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Locations layer modal -->
  <div id="locations_controller" ng-show="!isLoadingConfiguration">

    <form>
      <!-- Businesses -->
      <div class="customer-type shaded">
        <label>Locations</label>
      </div>
      <div ng-repeat="locationType in planState.locations.types" style="clear:both" class="customer-type">
        <div class="locations-filter" ng-show="selectedFilter === 'f_'+locationType.key">
          <form>
            <div class="form-group">
              <label>Industry</label>
              <select class="form-control" disabled>
                <option>Select an industry</option>
              </select>
            </div>
            <div class="form-group">
              <label>Employee count</label>
              <input type="range" disabled>
            </div>
          </form>
        </div>
        <div class="pull-right">
          <a href="javascript:;" ng-click="toggleFilter('f_'+locationType.key)" class="btn btn-default btn-xs locations-filter-btn">
            <span class="fa fa-chevron-left" ng-show="selectedFilter === 'f_'+locationType.key"></span>
            <span class="fa fa-chevron-right" ng-show="selectedFilter !== 'f_'+locationType.key"></span>
          </a>
        </div>
        <label class="pull-right">
          <span class="fa fa-repeat map-layer-spinner map-layer-spinner-locations" ng-show="business_categories_selected[locationType.key]"></span>
          <input type="checkbox" ng-model="locationType.checked" ng-change="changeLocationsLayer()">
        </label>
        <div class="pull-left">
          <img ng-src="{{locationType.icon}}" style="width:16px;margin-right:10px">
        </div>
        <label>{{locationType.label}}</label>
      </div>

      <!-- Data sources -->
      <!-- Global businesses -->
      <div class="customer-type shaded">
        <label>Location data sources</label>
      </div>
      <div class="customer-type">
        <label class="pull-right">
          <input type="checkbox" ng-model="planState.locations.dataSources.globalBusinesses" ng-change="changeLocationsLayer()">
        </label>
        <label>Global Businesses</label>
      </div>
      <!-- Global residential -->
      <div class="customer-type">
        <label class="pull-right">
          <input type="checkbox" ng-model="planState.locations.dataSources.globalResidential" ng-change="changeLocationsLayer()">
        </label>
        <label>Global Residential</label>
      </div>
      <!-- Global towers -->
      <div class="customer-type">
        <label class="pull-right">
          <input type="checkbox" ng-model="planState.locations.dataSources.globalTowers" ng-change="changeLocationsLayer()">
        </label>
        <label>Global Towers</label>
      </div>
    </form>
    end of new implementation

    <!-- Businesses -->
    <form ng-hide="show_commercial && !show_residential">
      <div>
        <div ng-repeat="category in business_categories" style="clear:both" class="customer-type shaded">
          <div ng-class="{'disabled': overlay !== 'none'}" ng-show="show_commercial">
            <div class="locations-filter" ng-show="selectedFilter === 'f_'+category.name">
              <form>
                <div class="form-group">
                  <label>Industry</label>
                  <select class="form-control" disabled>
                    <option>Select an industry</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Employee count</label>
                  <input type="range" disabled>
                </div>
              </form>
            </div>
            <div class="pull-right">
              <a href="javascript:;" ng-click="toggleFilter('f_'+category.name)" class="btn btn-default btn-xs locations-filter-btn">
                <span class="fa fa-chevron-left" ng-show="selectedFilter === 'f_'+category.name"></span>
                <span class="fa fa-chevron-right" ng-show="selectedFilter !== 'f_'+category.name"></span>
              </a>
            </div>
            <label class="pull-right">
              <span class="fa fa-repeat map-layer-spinner map-layer-spinner-locations" ng-show="business_categories_selected[category.name]"></span>
              <input type="checkbox" ng-model="business_categories_selected[category.name]" ng-change="changeLocationsLayerOLD_DELETEMETODO()">
            </label>
            <div class="pull-left">
              <img ng-src="{{mapIconFolder + 'businesses_' + category.name + '_default.png'}}" style="width:16px;margin-right:10px">
            </div>
            <label>{{category.description}}</label>
          </div>
        </div>
      </div>
      <!-- END Businesses -->

      <!-- Households -->
      <div ng-class="{'disabled': overlay !== 'none'}" ng-show="show_residential" class="customer-type shaded">
        <div class="locations-filter" ng-show="selectedFilter === 'residential'">
          <form>
            <div class="form-group">
              <label>Income Level</label>
              <select class="form-control" disabled>
                <option>Select an income level</option>
              </select>
            </div>
            <div class="form-group">
              <label>Education Level</label>
              <select class="form-control" disabled>
                <option>Select an education level</option>
              </select>
            </div>
            <div class="form-group">
              <label>Credit Quality</label>
              <select class="form-control" disabled>
                <option>Select an option</option>
              </select>
            </div>
          </form>
        </div>
        <div class="pull-right">
          <a href="javascript:;" ng-click="toggleFilter('residential')" class="btn btn-default btn-xs locations-filter-btn">
            <span class="fa fa-chevron-left" ng-show="selectedFilter === 'residential'"></span>
            <span class="fa fa-chevron-right" ng-show="selectedFilter !== 'residential'"></span>
          </a>
        </div>
        <label class="pull-right">
          <input type="checkbox" ng-model="show_households" value="households" ng-change="changeLocationsLayerOLD_DELETEMETODO('households')" ng-disabled="overlay !== 'none'">
        </label>
        <label style="margin-left:25px">{{households_description}}</label>
      </div>
      <div class="customer-type">
        <div ng-repeat="category in household_categories" style="clear:both">
          <div class="pull-left">
            <img ng-src="{{mapIconFolder + 'households_' + category.name + '_default.png'}}" style="width:16px;margin-right:10px">
          </div>
          <label class="pull-right" style="margin-right: 22px">
            <span class="fa fa-repeat map-layer-spinner map-layer-spinner-locations" ng-show="household_categories_selected[category.name]"></span>
            <input type="checkbox" ng-model="household_categories_selected[category.name]" ng-change="changeLocationsLayerOLD_DELETEMETODO()" ng-disabled="!show_households">
          </label>
          <label style="font-weight:normal">{{category.description}}</label>
        </div>
      </div>
      <!-- END Households -->

      <!-- CellTowers -->
      <div ng-if="towers.showInUi" ng-class="{'disabled': overlay !== 'none'}" class="customer-type shaded">
        <div class="locations-filter" ng-show="selectedFilter === 'towers'">
          <form>
            <div class="form-group">
              <label>Site Type</label>
              <select class="form-control" disabled>
                <option>Select a Site Type</option>
              </select>
            </div>
          </form>
        </div>
        <div class="pull-right">
          <a href="javascript:;" ng-click="toggleFilter('towers')" class="btn btn-default btn-xs locations-filter-btn">
            <span class="fa fa-chevron-left" ng-show="selectedFilter === 'towers'"></span>
            <span class="fa fa-chevron-right" ng-show="selectedFilter !== 'towers'"></span>
          </a>
        </div>
        <div class="pull-left">
          <img ng-src="{{mapIconFolder + 'tower.png'}}" style="width:16px;margin-right:10px">
        </div>
        <label class="pull-right">
          <span class="fa fa-repeat map-layer-spinner map-layer-spinner-locations" ng-show="show_towers"></span>
          <input type="checkbox" ng-model="show_towers" value="true" ng-change="changeLocationsLayerOLD_DELETEMETODO()" ng-disabled="overlay !== 'none'">
        </label>
        <label>{{towers.label}}</label>
      </div>
      <div ng-class="{'disabled': overlay !== 'none'}" class="customer-type shaded">
        <div class="locations-filter" ng-show="selectedFilter === 'addCustomers'">
          <form>
            <div class="form-group">
              <label>asdfasdf</label>
              <select class="form-control" disabled>
                <option>adfs</option>
              </select>
            </div>
          </form>
        </div>
        <div class="pull-right" style="visibility:hidden">
          <a href="javascript:;" ng-click="toggleFilter('addCustomers')" class="btn btn-default btn-xs locations-filter-btn">
            <span class="fa fa-chevron-left" ng-show="selectedFilter === 'addCustomers'"></span>
            <span class="fa fa-chevron-right" ng-show="selectedFilter !== 'addCustomers'"></span>
          </a>
        </div>
        <label class="pull-right">
          <input type="checkbox" ng-model="showUploadedCustomers" ng-change="changeLocationsLayerOLD_DELETEMETODO()" value="true" ng-disabled="overlay !== 'none'">
        </label>
        <label style="margin-left:25px">Uploaded Customers</label>
      </div>
      <!-- END CellTowers -->
    </form>

    <div ng-show="showUploadedCustomers" style="padding:10px; margin-left:25px; margin-right:30px">
      <input class="form-control uploadedCustomersSelect" id="uploadedCustomersSelect"
          ng-change="changeLocationsLayerOLD_DELETEMETODO()"
          ng-model="selectedDatasource">
      <button class="btn btn-sm btn-primary btn-block" style="margin: 5px 0" ng-click="addCustomers()">
        <span class="fa fa-plus"></span> Add customers
      </button>
    </div>

    <div class="alert alert-info text-center" role="alert" ng-show="heatmapVisible">
      To see individual locations, zoom in or turn off the heatmap button below the zoom buttons
    </div>

    <a ng-if="env_is_test" href="javascript:void(0)" ng-click="locations_layer.select_random_features()" ng-attr-data-loaded="{{locations_layer.data_loaded}}">Test</a>
  </div>

  <!-- Spinner that will be shown while the configuration is being loaded from the server -->
  <div style="margin:30px;text-align:center;" ng-if="isLoadingConfiguration">
    <p>Loading location categories</p>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
