<div id="target_builder_controller">
  <% if (config.ARO_CLIENT !== 'verizon') { %>
    <p><strong>Optimization Type</strong></p>
    <select class="form-control"
      ng-model="state.optimizationOptions.uiSelectedAlgorithm"
      ng-options="item as item.label for item in state.optimizationOptions.uiAlgorithms">
    </select>
    <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_THRESH'">
      <br>
      <p><strong>IRR Threshold</strong></p>
      <div class="row">
        <div class="col-md-7">
          <input
            type="range"
            min="0"
            max="1"
            step="0.01"
            ng-model="state.optimizationOptions.preIrrThreshold"
            style="margin-top: 10px">
        </div>
        <div class="col-md-5">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <input
                type="number"
                ng-model="state.optimizationOptions.preIrrThreshold"
                class="form-control text-right"
                percentage-input>
              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_TARGET'">
      <br>
      <p><strong>IRR Target</strong></p>
      <div class="row">
        <div class="col-md-7">
          <input
            type="range"
            min="0"
            max="1"
            step="0.01"
            ng-model="state.optimizationOptions.threshold"
            style="margin-top: 10px">
        </div>
        <div class="col-md-5">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <input
                type="number"
                ng-model="state.optimizationOptions.threshold"
                class="form-control text-right"
                percentage-input>
              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'BUDGET' || state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_TARGET'">
      <br>
      <p><strong>Target Capital</strong></p>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <div class="input-group-addon"><%- config.currency_symbol %></div>
              <input type="text"
                     class="form-control text-right"
                     placeholder="Amount"
                     ng-model="state.optimizationOptions.budget"
                     ng-currency
                     currency-symbol=""
                     fraction="0">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% } %>

  <p><strong>Select Targets</strong></p>
  <form id="target-builder-upload">
    <p>
     <button class="btn btn-sm"
       ng-class="{'btn-primary': selectedTool !== tools.SINGLE, 'btn-selected': selectedTool === tools.SINGLE && !deselectMode, 'btn-danger active': selectedTool === tools.SINGLE && deselectMode}"
       ng-click="setActiveTool(tools.SINGLE)">Building Select</button>
     <button class="btn btn-sm"
       ng-class="{'btn-primary': selectedTool !== tools.POLYGON, 'btn-selected': selectedTool === tools.POLYGON && !deselectMode, 'btn-danger active': selectedTool === tools.POLYGON && deselectMode}"
       ng-click="setActiveTool(tools.POLYGON)">Polygon Select</button>
     <span>
       <input type="file" name="csv" id="target-builder-upload-csv" style="width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; z-index:-1">
       <label for="target-builder-upload-csv" ng-click="setSelectedTool('upload')">
         <span class="btn btn-primary btn-sm" ng-class="{'btn-success': isToolSelected('upload') }">Upload</span>
       </label>
     </span>
    </p>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="!showHeatmapAlert && isToolSelected('single')">
      Click on buildings on the map to add them to the optimization targets.
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="!showHeatmapAlert && isToolSelected('polygon')">
      Click on the map to draw a polygon - all locations in the polygon will be selected as optimization targets.
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="isToolSelected('upload')">
      Upload csv with single column of location ids - these locations will be selected as optimization targets.
      <br><br>
      <a class="btn btn-primary btn-sm" href="/csv/example_location_upload.csv" download="example_location_upload.csv">Download example file</a>
    </div>
    <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="showHeatmapAlert">
      To use this feature, you must be viewing individual locations. Please zoom in or turn off the heatmap button below the zoom buttons.
    </div>
  </form>

  <p><strong>Targeted Locations</strong><strong ng-show="targetsTotal > 5" class="ng-binding;" style="float:right;">Total: {{targetsTotal}}</strong></p>
  <p ng-show="targets.length === 0">
    <em>No targeted locations</em>
  </p>
  <div style="min-height: 0px; max-height: 150px; overflow: auto;">
    <ul style="list-style-type:none; padding:0" ng-repeat="target in targets">
      <li>
        <a href="javascript:void(0)" class="text-danger" ng-click="deleteTarget(target)" style="margin-right: 5px">
          <span class="fa fa-trash-o"></span>
        </a>
        {{ target.address }}
      </li>
    </ul>
  </div>

  <p ng-show="targets.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="deleteAllTargets()">Remove all targets</button>
  </p>

  <p><strong>Technology</strong></p>

  <div class="checkbox" ng-repeat="type in state.optimizationOptions.technologies">
    <label>
     <div style="display: inline-block">
       <input type="checkbox" class="checkboxfill"
              ng-model="type.checked"
              name="ctype-name"
              ng-checked="type.checked"
       >
       {{type.label}}
     </div>
    <div  ng-show="type.id == 'FiveG' && type.checked" style="display: inline-block">
     <label>
     <div style="display: inline-block">
      <span>Polygon Type</span>
      <select class="form-control ng-pristine ng-valid ng-touched" 
      		  ng-model="state.optimizationOptions.networkConstraints.cellNodeConstraints.polygonStrategy">
        <option value="FIXED_RADIUS">Fixed Radius</option>
        <option value="AVERAGE_RADIUS">Average Radius</option>
        <option value="RAY_TRACING">Ray Tracing</option>
      </select>
     </div> 
     <div style="display: inline-block"> Radius
       <span>
           <input
                   type="text"
                   ng-model="state.optimizationOptions.networkConstraints.cellNodeConstraints.cellRadius"
                   placeholder="Cell Radius"
                   style="width: 85px;margin-left: 50px"
           >
           <span><b>m</b></span>
       </span>
     </div>
     </label>
    </div>
    </label>

  </div>
  
  <p><strong>Other Settings</strong></p>
  <div class="checkbox">
  	<label>
	 <input type="checkbox" class="checkboxfill"
          ng-model="state.optimizationOptions.generatedDataRequest.generatePlanLocationLinks"
          name="ctype-name"
     >
        Save Routed Locations
  	</label>      
  </div>
  
  <p><strong>Network Construction</strong></p>
  <form>

    <select  class="form-control ng-pristine ng-valid ng-touched" ng-model="state.optimizationOptions.networkConstraints.routingMode" >
      <option value="DIRECT_ROUTING">Unsplit Routing</option>
      <option value="ODN_1" >Hub-Only Split</option>
      <% if (config.ARO_CLIENT === 'reliance') { %>
      <option value="ODN_2" > 5G </option>
      <% } else {%>
      <option value="ODN_2" >Hub-Distribution Split</option>
      <% } %>
    </select>

  </form>
    
  <% if (config.ARO_CLIENT !== 'verizon') { %>
    <!--<div>
      <p><strong>Optimization Processing Layer</strong></p>
      <p>
      <form>
        <select class="form-control" ng-model="selectedBoundary" ng-change = setSelectedBoundary()
          ng-options="boundary as boundary.description for boundary in allBoundaries track by boundary.id">
          <option value="">Default Layer</option>
        </select>
      </form>  
      </p>
    </div>-->

    <div>
    	<% if (user.rol === 'admin' || user.rol === 'sales') { %>
      <p class="pull-left">
        <button class="btn btn-primary" ng-click="runExpertMode()">Expert Mode</button>
      </p>
      <% } %>
      <p class="pull-right">
        <button class="btn btn-primary" ng-hide="calculating" ng-click="run(state.getOptimizationBody(), state.optimizationOptions.geographies)">Get Results</button>
        <button class="btn btn-danger" ng-show="calculating" ng-click="cancel()"><span class="spin fa fa-repeat"></span> Cancel</button>
      </p>
    </div>
  <% } %>

</div>
