<div>
  <div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="optimizationMode != null && optimizationMode !== 'boundaries'">
    Optimizations can not be run on both boundaries and targets. Any boundary selection you make will remove all previously selected targets.
  </div>

  <div ng-show="areaLayers.length > 0 || boundaries.length > 0">
    <div ng-repeat="layer in areaLayers">
      <div class="checkbox" ng-attr-id="map_layers_toggle_{{layer.type}}" ng-class="{ 'disabled': layer.disabled }">
        <div class="pull-right">
          <checkbox
                  class="chk-small"
                  ng-model="locationType.checked"
                  name="ctype-name"
                  ng-change="toggleVisibility(layer)"
                  ng-disabled="layer.disabled"
          ></checkbox>
        </div>
        <div class="pull-right" style="margin-right: 30px">
          <span class="fa fa-repeat map-layer-spinner map-layer-spinner-{{layer.type}}"></span>
          <!--
          <a href="javascript:void(0)" class="text-success" ng-click="select_area(layer)"><span class="<%= config.ui.icons.market_profile %>"></span></a>
          -->
        </div>
        <label>
          {{layer.name}}
        </label>
      </div>
    </div>
    <div ng-repeat="boundary in boundaries">
      <div class="checkbox">
        <div class="pull-right boundary-options">
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Edit" ng-click="renameBoundary(boundary)">
              <span class="fa fa-pencil"></span>
          </a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="tooltip"
            data-placement="top" title="Delete" ng-click="deleteBoundary(boundary)">
              <span class="fa fa-trash-o"></span>
          </a>
          <a href="javascript:void(0)" class="text-success" data-toggle="tooltip"
            data-placement="top" title="Market profile" ng-click="show_market_size(boundary)">
              <span class="<%= config.ui.icons.market_profile %>"></span>
          </a>
          <a href="javascript:void(0)" class="text-warning" data-toggle="tooltip"
            data-placement="top" title="Customer profile" ng-click="show_customer_profile(boundary)">
              <span class="fa fa-users"></span>
          </a>
          <% if (config.route_planning.length >= 0) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Network planning" ng-click="run_network_planning(boundary)">
              <span class="fa fa-wrench"></span>
          </a>
          <% } %>
        </div>
        <label>
          <checkbox
                  class="chk-small"
                  ng-model="locationType.checked"
                  name="ctype-name"
                  ng-change="toggleBoundary(boundary)"
                  ng-checked="boundary.overlay.getMap()"
          ></checkbox>
           {{boundary.name}}
        </label>
      </div>
    </div>
  </div>

  <div ng-show="userDefinedLayer.visible" style="padding-left: 20px">
    <p>
      <select class="form-control" ng-model="selectedUserDefinedBoundary"
        ng-change="changeUserDefinedBoundary()"
        ng-options="boundary as boundary.name for boundary in userDefinedBoundaries track by boundary.id"
        id="userDefinedBoundariesSelect">
        <option value="">Select a boundary...</option>
      </select>
    </p>
    <p ng-show="selectedUserDefinedBoundary">
      <button class="btn btn-primary btn-sm btn-block" ng-click="editUserDefinedBoundary()">
        <span class="fa fa-pencil"></span> &nbsp; Edit selected layer
      </button>
    </p>
    <p ng-show="selectedUserDefinedBoundary">
      <button class="btn btn-primary btn-sm btn-block" ng-click="selectAllInLayer()">
        <span class="fa fa-hand-pointer-o"></span> &nbsp; Select All in Layer
      </button>
    </p>
    <p>
      <button class="btn btn-primary btn-sm btn-block" ng-click="createUserDefinedBoundary()">
        <span class="fa fa-plus"></span> &nbsp; Create a new layer
      </button>
    </p>
  </div>
  <hr>

  <% if (config.ARO_CLIENT === 'verizon') { %>
  <p><strong>Search or Click Geographies</strong></p>
  <div class="form-group form-group-sm">
    <input id="area-network-planning-search" type="text" class="form-control" placeholder="Search geographies">
  </div>

  <p ng-hide="selectedRegions.length > 0"><em>No geographies selected</em></p>
  <ul ng-show="selectedRegions.length > 0" style="list-style-type:none; padding:0">
    <li ng-repeat="geography in selectedRegions">
      <a href="javascript:void(0)" class="text-danger" ng-click="removeGeography(geography)" style="margin-right: 5px">
        <span class="fa fa-trash-o"></span>
      </a>
      {{ geography.name }}
    </li>
  </ul>
  <p ng-show="selectedRegions.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="removeAllGeographies()">Remove all boundaries</button>
  </p>
  <hr>
  <% } %>

  <% if (config.ARO_CLIENT !== 'verizon') { %>
  <div ng-show="plan.owner_id === user_id">
    <h2>Build</h2>
    <p>
      <a class="btn btn-block btn-default btn-sm" ng-class="{'btn-success active': selected_tool}" ng-click="toggleTool()">Custom</a>
    </p>
  </div>
  <% } %>
</div>
