<div id="fiber_plant_controller">

  <form>
    <p><strong>Competitors</strong></p>

    <select class="form-control"
            ng-model="planState.competition.selectedCompetitorType"
            ng-options="item as item.label for item in planState.competition.allCompetitorTypes"
            ng-change="onCompetitorTypeChanged()">
    </select>

    <br>
    <ui-select multiple ng-model="planState.competition.selectedCompetitors"
               theme="bootstrap"
               close-on-select="true"
               on-select="onSelectedCompetitorsChanged()"
               on-remove="onSelectedCompetitorsChanged()">
      <ui-select-match placeholder="Select data sources...">
        <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $item.fillStyle, opacity: 0.7, 'margin-right':'5px' }"></span>
        {{$item.name}}
      </ui-select-match>
      <ui-select-choices class="ui-select-width-300" repeat="competitor in planState.competition.allCompetitors">
        <div>
          {{competitor.name}}
        </div>
      </ui-select-choices>
    </ui-select>
  </form>

</div>
