<div>
  <div ng-show="number_of_area_layers() > 0 || boundaries.length > 0">
    <div ng-repeat="(key, layer) in area_layers">
      <div class="checkbox" ng-attr-id="map_layers_toggle_{{key}}" ng-class="{ 'disabled': layer.disabled }">
        <!--
        <div class="pull-right">
          <a href="javascript:void(0)" class="text-success" ng-click="select_area(layer)"><span class="<%= config.ui.icons.market_profile %>"></span></a>
        </div>
        -->
        <label class="eye-control">
          <input type="checkbox" ng-click="layer.toggleVisibility()" ng-disabled="layer.disabled"> {{layer.name}}
          <div class="eye-indicator"></div>
        </label>
      </div>
    </div>
    <% if (env_is_test) { %>
      <a href="javascript:void(0)" ng-click="area_layers.census_blocks_layer.select_random_area()" ng-attr-data-loaded="{{area_layers.census_blocks_layer.data_loaded}}">.</a>
    <% } %>
    <div ng-repeat="boundary in boundaries">
      <div class="checkbox">
        <div class="pull-right boundary-options">
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Edit" ng-click="rename_boundary(boundary)">
              <span class="fa fa-pencil"></span>
          </a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="tooltip"
            data-placement="top" title="Delete" ng-click="deleteBoundary(boundary)">
              <span class="fa fa-trash-o"></span>
          </a>
          <a href="javascript:void(0)" class="text-success" data-toggle="tooltip"
            data-placement="top" title="Market profile" ng-click="show_market_size(boundary)">
              <span class="<%= config.ui.icons.market_profile %>"></span>
          </a>
          <a href="javascript:void(0)" class="text-warning" data-toggle="tooltip"
            data-placement="top" title="Customer profile" ng-click="show_customer_profile(boundary)">
              <span class="fa fa-users"></span>
          </a>
          <% if (config.route_planning.length >= 0) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
            title="Network planning" ng-click="run_network_planning(boundary)">
              <span class="fa fa-wrench"></span>
          </a>
          <% } %>
        </div>
        <label class="eye-control">
          <input type="checkbox" ng-click="toggle_boundary(boundary)" ng-checked="boundary.overlay.getMap()"> {{boundary.name}}
          <div class="eye-indicator"></div>
        </label>
      </div>
    </div>
    <hr>
  </div>
  <div ng-show="plan.owner_id === user_id">
    <h2>Build</h2>
    <p>
      <a class="btn btn-block btn-default btn-sm" ng-class="{'btn-success active': selected_tool}" ng-click="toggle_tool()">Custom</a>
    </p>
  </div>
</div>
