<!--
<p>
  <button class="btn btn-primary btn-block" ng-click="addEquipment()">Add new equipment</button>
</p>
-->
<p>
  <button class="btn btn-primary btn-block" ng-class="{'btn-success': addingLinks}" ng-click="toggle()">Create backhaul links</button>
</p>

<ul ng-show="selectedEquipment.length > 0" style="list-style-type:none; padding:0">
  <li ng-repeat="equipment in selectedEquipment">
    <a href="javascript:void(0)" class="text-danger" ng-click="removeEquipment(equipment)" style="margin-right: 5px">
      <span class="far fa-trash-alt"></span>
    </a>
    {{ equipment.name }}
  </li>
</ul>

<div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-show="isEquipmentVisible">
  Click on pairs of equipment to create links between them. Backhaul will be routed between these equipment when optimization is run.
</div>

<div class="custom-ui custom-ui-vz alert alert-info text-center" role="alert" ng-hide="isEquipmentVisible">
  Please turn on one more more equipment layers in the Network tab before creating backhaul links.
</div>
