<div ng-controller="equipment_nodes_controller" id="equipment_nodes_controller">
  <h2>View</h2>

  <div ng-repeat="node_type in view_node_types">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="node_type.visible" ng-change="change_node_types_visibility()"> {{node_type.description}}
      </label>
    </div>
  </div>

  <div ng-repeat="(key, layer) in equipment_layers">
    <div class="checkbox" ng-attr-id="map_layers_toggle_{{key}}" ng-hide="layer.hide_in_ui">
      <label>
        <input type="checkbox" ng-click="layer.toggleVisibility()" ng-checked="layer.visible"> {{layer.name}}
      </label>
    </div>
  </div>

  <div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="showFeederFiber" ng-change="changedFiberVisibility()"> Feeder fiber
      </label>
    </div>
  </div>

  <div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="showDistributionFiber" ng-change="changedFiberVisibility()"> Distribution fiber
      </label>
    </div>
  </div>

  <% if (env_is_test) { %>
    <a href="javascript:void(0)" ng-click="equipment_layers.network_nodes.select_random_features()" ng-attr-data-loaded="{{equipment_layers.network_nodes.data_loaded}}">.</a>
    <a href="javascript:void(0)" ng-click="show_number_of_features()">.</a>

    <a href="javascript:void(0)" ng-click="place_random_equipment()">.</a>
    <span id="equipment_nodes_controller_number_of_features">{{number_of_features}}</span>
  <% } %>

  <!--
  <div ng-show="plan.owner_id === user_id && (build_node_types.length > 0 || show_recalculate)">
    <hr>
    <h2>Build</h2>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-sm-12" ng-repeat="node in build_node_types">
        <a class="btn btn-block btn-default btn-sm" ng-class="{'btn-success active': selected_tool === node.name}" ng-click="select_tool(node.name)">{{node.description}}</a>
        <br>
      </div>
    </div>
  </div>
  -->
</div>
