<div id="area_network_planning_controller">
  <p><strong>Optimization Type</strong></p>
  <select class="form-control"
    ng-model="optimizationType"
    ng-options="item.id as item.label for item in optimizationTypeOptions">
  </select>
  <div ng-show="optimizationType === 'TARGET_IRR' || optimizationType === 'BUDGET_IRR'">
    <br>
    <p><strong>IRR Threshold</strong></p>
    <div class="row">
      <div class="col-md-7">
        <input type="range" min="0" max="100" step="1" value="10" ng-model="irrThresholdRange" style="margin-top: 10px" ng-change="irrThresholdRangeChanged()">
      </div>
      <div class="col-md-5">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <input type="number" min="0" max="100" step="1" ng-model="irrThreshold" class="form-control text-right" ng-change="irrThresholdChanged()">
            <div class="input-group-addon">%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="optimizationType === 'BUDGET_IRR' || optimizationType === 'IRR'">
    <br>
    <p><strong>Target Capital</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <div class="input-group-addon"><%- config.currency_symbol %></div>
            <input type="text" class="form-control text-right" placeholder="Amount" value="10,000,000" name="budget">
          </div>
        </div>
      </div>
    </div>
    <p><strong>Budget Allocation</strong></p>
    <div class="clearfix">
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 1</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="100%">
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 2</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 3</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 4</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
      <div style="float:left; width:20%">
        <label class="text-right" style="display:block">Year 5</label>
        <input type="text" style="padding:5px" class="form-control text-right input-sm" placeholder="Percentage" value="0%" disabled>
      </div>
    </div>
    <div ng-show="optimizationMode === 'targets' && optimizationType === 'IRR'">
      <br>
      <p><strong>Non-Targeted Customers</strong></p>
      <div class="checkbox" ng-repeat="entity in entityTypes">
        <label>
          <input type="checkbox" ng-model="entityTypesTargeted[entity.id]"> {{ entity.value }}
        </label>
      </div>
    </div>
  </div>
  <div ng-show="optimizationType === 'DEFAULT'">
    <br>
    <p><strong>Coverage Target</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <div class="input-group-addon">%</div>
            <input type="text" class="form-control text-right" placeholder="Percentage" ng-model="coverageThreshold" name="coverage_target">
          </div>
        </div>
      </div>
    </div>
  </div>



  <br>
  <% if (config.ARO_CLIENT !== 'verizon') { %>
  <p><strong>Search or Click Geographies</strong></p>
  <div class="form-group form-group-sm">
    <input id="area-network-planning-search" type="text" class="form-control" placeholder="Search geographies">
  </div>

  <p ng-hide="selectedRegions.length > 0"><em>No geographies selected</em></p>
  <ul ng-show="selectedRegions.length > 0" style="list-style-type:none; padding:0">
    <li ng-repeat="geography in selectedRegions | limitTo:5">
      <a href="javascript:void(0)" class="text-danger" ng-click="removeGeography(geography)" style="margin-right: 5px">
        <span class="fa fa-trash-o"></span>
      </a>
      {{ geography.name }}
    </li>
  </ul>
  <p ng-show="selectedRegions.length > 5">
    {{ selectedRegions.length - 5 }} additional boundaries
  </p>
  <p ng-show="selectedRegions.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="removeAllGeographies()">Remove all boundaries</button>
  </p>
  <% } %>

  <% if (!config.ui.eye_checkboxes) { %>
  <p><strong>Endpoints</strong></p>
  <!-- Using ARO_CLIENT here as we are in a rush. To be refactored -->
  <% if (config.ARO_CLIENT === 'reliance') { %>
  <!-- For reliance, we want the business categories separate -->
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeLarge"> Very-High-Rise
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeMedium"> High-Rise
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeSMB"> Low-Rise
    </label>
  </div>
  <% } else { %>
  <!-- For all other clients, we want to club medium and large size businesses in one checkbox -->
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeSMB"> Small Businesses
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeMedium"> Medium Businesses
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeLarge"> Large Businesses
    </label>
  </div>
  <% } %>
  <% if (config.ARO_CLIENT === 'reliance') { %>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeHouseholds"> 5G
    </label>
  </div>
  <% } else { %>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeHouseholds"> Households
    </label>
  </div>
  <% } %>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeTowers"> {{ARO_CLIENT=='reliance' ? 'Enterprise':'Cell Towers'}}
    </label>
  </div>
  <% if (config.ARO_CLIENT === 'reliance') { %>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="optimizeUploaded"> Uploaded Businesses

      <div ng-show="optimizeUploaded" style="width: 200px">
        <input class="form-control uploadedCustomersSelect uploadCustomersAreaPlanning" class="uploadedCustomersSelect"
               ng-model="selectedDatasource">
      </div>
    </label>
  </div>
  <% } %>
  <% } %>

  <p><strong>Technology</strong></p>

  <div class="checkbox" ng-repeat="type in technologyTypes">
    <label>
      <input
              type="checkbox"
              value="{{type}}"
              ng-model="isChecked"
              ng-checked="selection.indexOf(type) > -1"
              ng-click="toggleTechType(type , isChecked)"
      > {{type}}
    </label>
  </div>

  <p><strong>{{ARO_CLIENT == 'verizon' ?'Technology' : 'Network Construction'}}</strong></p>
  <form>

    <select  class="form-control ng-pristine ng-valid ng-touched" ng-model="technology" >
      <option value="direct_routing">Unsplit Routing - (Direct Routing)</option>
      <option value="odn1" >Hub-Only Split - (ODN 1.0 (Centralized Split))</option>
      <% if (config.ARO_CLIENT === 'reliance') { %>
      <option value="odn2" >5G - (ODN 2.0 (Distributed Split))</option>
      <% } else {%>
      <option value="odn2" >Hub-Distribution Split - (ODN 2.0 (Distributed Split))</option>
      <% } %>
    </select>

  </form>



  <% if (config.ARO_CLIENT === 'verizon') { %>

  <div ng-show="optimizationType === 'TABC'">
    <p><strong>Route Generation Options</strong></p>
    <form>
      <div class="checkbox" ng-repeat="option in routeGenerationOptions">
        <label>
          <input type="checkbox"
            ng-model="routeGenerationOptionsValues[option.id]"
            ng-click="routeGenerationOptionsChanged(option.id)"> {{ option.value }}
        </label>
      </div>
    </form>

  </div>

  <% } %>

  <div ng-show="optimizationMode === 'targets'">
    <p><strong>Optimization Processing Layer</strong></p>
    <p>
      <select class="form-control" ng-model="selectedBoundary"
        ng-options="boundary as boundary.description for boundary in allBoundaries track by boundary.id">
        <option value="">Default Layer</option>
      </select>
    </p>
  </div>

  <div>
    <p class="pull-right">
      <button class="btn btn-primary" ng-hide="calculating" ng-click="run()">Get Results</button>
      <button class="btn btn-danger" ng-show="calculating" ng-click="cancel()"><span class="spin fa fa-repeat"></span> Cancel</button>
    </p>
  </div>
</div>
