<div id="equipment_nodes_controller">
  <div class="row">
    <div class="col-md-2">
      <p style="margin-top: 10px"><strong>Asset Type</strong></p>
    </div>
    <div class="col-md-10">
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" disabled> Aerial
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" disabled> Underground
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" disabled> Buried
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p style="margin-top: 10px"><strong>Assets</strong></p>
    </div>
    <div class="col-md-10">
      <div class="panel-group" id="serviceLayersAccordion" role="tablist" aria-multiselectable="true" style="margin-top: 9px">
        <div class="panel panel-default" ng-repeat="serviceLayer in serviceLayers" ng-if="!serviceLayer.hidden">
          <div class="panel-heading" role="tab">
            <p class="panel-title" style="background-color:#eee; padding-left:10px">
              <input type="checkbox" ng-model="serviceLayer.enabled" ng-change="serviceLayer.changedAvailability()">
              <a role="button" data-toggle="collapse" data-parent="#serviceLayersAccordion" ng-href="#serviceLayer{{serviceLayer.id}}">
                <span class="fa fa-caret-down pull-right" style="padding-right: 10px; padding-top: 3px;"></span>
                <span class="fa fa-caret-up pull-right" style="padding-right: 10px; padding-top: 3px;"></span>
                {{ serviceLayer.equipment_description }}
              </a>
            </p>
          </div>
          <div id="serviceLayer{{serviceLayer.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" style="border-top: none">
              <div ng-repeat="nodeType in serviceLayer.nodeTypes">
                <div class="pull-left" style="margin-right: 5px"><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/composite/{{serviceLayer.name}}_{{nodeType.name}}.png" style="width:16px"></div>
                <div class="pull-right">
                  <input type="checkbox" ng-model="nodeType.visible" ng-change="serviceLayer.changeNodeTypesVisibility(nodeType)" ng-disabled="!vztfttp || !serviceLayer.enabled">
                </div>
                <div ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                  <label style="font-weight:normal">
                    {{nodeType.service_layer_node_name}}
                  </label>
                </div>

                <div ng-if="serviceLayer.name == 'all' && nodeType.name =='cell_5g'">
                  <div class="pull-left" style="margin-right: 5px"><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/composite/fxArea.png" style="width:16px"></div>
                  <div class="pull-right">
                    <input type="checkbox" ng-model="nodeType.coverage_visible" ng-change="serviceLayer.fixedWirelessVisibilityChanged(serviceLayer , nodeType)" ng-disabled="!vztfttp || !serviceLayer.enabled">
                  </div>
                  <div ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                    <label style="font-weight:normal">
                      Fixed Wireless Coverage
                    </label>
                  </div>
                </div>

              </div>

              <div ng-if="serviceLayer.id === 'all'">
                <div class="pull-left" style="margin-right: 5px"><span style="background-color:blue; width:12px; height:12px; margin-right: 3px; display:inline-block"></span></div>
                <div class="pull-right">
                  <input type="checkbox" ng-model="serviceLayer.showFeederFiber" ng-change="serviceLayer.changedFiberVisibility()" ng-disabled="!vztfttp || !serviceLayer.enabled">
                </div>
                <div ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                  <label style="font-weight:normal">
                    Feeder Fiber
                  </label>
                </div>
              </div>

              <div ng-if="serviceLayer.id === 'all'">
                <div class="pull-left" style="margin-right: 5px"><span style="background-color:red; width:12px; height:12px; margin-right: 3px; display:inline-block"></span></div>
                <div class="pull-right">
                  <input type="checkbox" ng-model="serviceLayer.showDistributionFiber" ng-change="serviceLayer.changedFiberVisibility()" ng-disabled="!vztfttp || !serviceLayer.enabled">
                </div>
                <div ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                  <label style="font-weight:normal">
                    Distribution Fiber
                  </label>
                </div>
              </div>

              <div ng-if="serviceLayer.id === 'all'">
                <div class="pull-left" style="margin-right: 5px"><span style="background-color:black; width:12px; height:12px; margin-right: 3px; display:inline-block"></span></div>
                <div class="pull-right">
                  <input type="checkbox" ng-model="serviceLayer.showBackhaulFiber" ng-change="serviceLayer.changedFiberVisibility()" ng-disabled="!vztfttp || !serviceLayer.enabled">
                </div>
                <div ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                  <label style="font-weight:normal">
                    Backhaul Fiber
                  </label>
                </div>
              </div>

              <!--
              <div class="disabled" ng-if="!serviceLayer.userDefined">
                <div class="pull-right">
                  <input type="checkbox" disabled>
                </div>
                <label style="font-weight:normal">
                  Poles
                </label>
              </div>
              -->

              <div ng-repeat="layer in serviceLayer.layers">
                <div class="pull-left" style="margin-right: 5px"><span style="background-color: <%- config.ui.colors.fiber %>; width:12px; height:12px; margin-right: 3px; display:inline-block"></span></div>
                <div class="pull-right">
                  <input type="checkbox" ng-click="layer.toggleVisibility()" ng-checked="layer.visible" ng-disabled="!vztfttp || !serviceLayer.enabled">
                </div>
                <div ng-attr-id="map_layers_toggle_{{layer.key}}" ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                  <label style="font-weight:normal">
                    {{layer.name}}
                  </label>
                </div>
              </div>

              <div ng-if="serviceLayer.id === 'existing_fiber'">
                <div id="fiberDatasources">
                  <div ng-repeat="datasource in showingDatasources" ng-attr-id="fiberDatasources-{{datasource.systemId}}">
                    <div class="pull-left" style="margin-right: 5px"><span style="background-color: <%- config.ui.colors.fiber %>; width:12px; height:12px; margin-right: 3px; display:inline-block"></span></div>
                    <div class="pull-right">
                      <a href="javascript:;" ng-click="removeDatasource(datasource)" ng-if="datasource.libraryId">
                        <span class="fa fa-trash-o"></span>
                      </a>
                      <input type="checkbox" ng-model="datasource.visible" ng-change="datasource.toggleVisibility()">
                    </div>
                    <div ng-attr-id="map_layers_toggle_{{layer.key}}" ng-class="{disabled: !vztfttp || !serviceLayer.enabled}">
                      <label style="font-weight:normal" class="fiber-label">
                        {{datasource.name}}
                      </label>
                    </div>
                  </div>
                </div>

                <% if (user.rol === 'admin' || user.rol === 'biz-dev') { %>
                <select class="form-control" ng-model="fiber.selected"
                  ng-change="changeSelectedFiberDatasource()"
                  ng-options="datasource as datasource.name for datasource in remainingDatasources track by datasource.systemId">
                  <option value="">Select a datasource to see it</option>
                </select>
                <button class="btn btn-sm btn-primary btn-block" style="margin: 5px 0" ng-click="addFiber()">
                  <span class="fa fa-plus"></span> Add fiber
                </button>
                <% } %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if (env_is_test) { %>
    <a href="javascript:void(0)" ng-click="equipment_layers.network_nodes.select_random_features()" ng-attr-data-loaded="{{equipment_layers.network_nodes.data_loaded}}">.</a>
    <a href="javascript:void(0)" ng-click="show_number_of_features()">.</a>

    <a href="javascript:void(0)" ng-click="place_random_equipment()">.</a>
    <span id="equipment_nodes_controller_number_of_features">{{number_of_features}}</span>
  <% } %>

</div>
