<div class="map_settings_container">
  <ul class="settings_items">
      <li>

        <div class="settings_item">
          <div class="settings_label">Location Heatmap</div>
          <div class="settings_object">
            <checkbox
                    class="chk-small"
                    ng-model="heatmapOn"
                    name="ctype-name"
                    ng-change="toggleHeatmap()">
            </checkbox>
          </div>
        </div>

        <div class="settings_item">
          <div class="settings_label">Fiber Width</div>
          <div class="settings_object">
            <select ng-model="selectedFO" ng-options="option as option.name for option in fiberOptions track by option.id" ng-change="fiberOptionChanged()"></select>
          </div>
        </div>

        <div class="settings_item" ng-if="selectedFO.pixelWidth">
          <div class="settings_label">Max Pixel Width</div>
          <div class="settings_object">
            <input type="text" ng-model="selectedFO.pixelWidth.max" placeholder="Max Pixel Width">
          </div>
        </div>

        <div class="settings_item" ng-if="selectedFO.pixelWidth">
          <div class="settings_label">Min Pixel Width</div>
          <div class="settings_object">
            <input type="text" ng-model="selectedFO.pixelWidth.min" placeholder="Min Pixel Width">
          </div>
        </div>

        <div class="settings_item" ng-if="selectedFO.pixelWidth">
          <div class="settings_label">Exponent</div>
          <div class="settings_object">
            <input type="text" ng-model="selectedFO.pixelWidth.divisor" placeholder="Min Pixel Width">
          </div>
        </div>

        <div class="settings_item" ng-if="selectedFO.pixelWidth &&  selectedFO.pixelWidth.atomicDivisor">
          <div class="settings_label">Atomic Divisor</div>
          <div class="settings_object">
            <input type="text" ng-model="selectedFO.pixelWidth.atomicDivisor" placeholder="Min Pixel Width">
          </div>
        </div>
      </li>
  </ul>
</div>