<div id="fiber_plant_controller">

  <form>

    <div ng-if="state.configuration.perspective.competitorNetworks.showCompetitorTypes">
      <p><strong>Competitor Types</strong></p>
      <select class="form-control form-control-sm"
              ng-model="state.competition.selectedCompetitorType"
              ng-options="item as item.label for item in state.competition.allCompetitorTypes"
              ng-change="onCompetitorTypeChanged()">
      </select>
    </div>

    <br>
    <p><strong>Competitors</strong></p>
    <input type="checkbox" class="checkboxfill"
           ng-model="state.competition.useAllCompetitors"
           ng-change="onUseAllCompetitorsChanged()"
    > Use All Competitors
    <ui-select multiple ng-model="state.competition.selectedCompetitors"
               ng-disabled="state.competition.useAllCompetitors"
               theme="bootstrap"
               close-on-select="true"
               on-select="onSelectedCompetitorsChanged()"
               on-remove="onSelectedCompetitorsChanged()">
      <ui-select-match placeholder="Select data sources...">
        <span ng-style="{ display:'inline-block', width:'10px', height:'10px', 'background-color': $item.fillStyle, opacity: 0.7, 'margin-right':'5px' }"></span>
        {{$item.name}}
      </ui-select-match>
      <ui-select-choices class="ui-select-width-300 ui-select-font" repeat="competitor in state.competition.allCompetitors | filter: $select.search">
        <div>
          {{competitor.name}}
        </div>
      </ui-select-choices>
    </ui-select>

    <br>
    <p><strong>Survey Data</strong></p>
    <input type="checkbox" class="checkboxfill" ng-model="state.competition.useNBMDataSource" ng-change="onDataSourceChanged()"> {{state.configuration.perspective.competitorNetworks.fiberPlantAlternateLabel  ? 'FCC Form 477': 'NBM'}}
    <input type="checkbox" class="checkboxfill" ng-model="state.competition.useGeotelDataSource" ng-change="onDataSourceChanged()" ng-disabled="state.configuration.perspective.competitorNetworks.disableGeotel"> Geotel

    <br>
    <p><strong>Survey Data</strong></p>
    <input type="checkbox" class="checkboxfill"
           ng-checked="state.competition.showCensusBlocks"
           ng-click="toggleShowSurveyData()">
    Census Blocks

    <br>
    <br>
    <p><strong>Fiber Route Data</strong></p>
    <input type="checkbox" class="checkboxfill"
           ng-checked="state.competition.showFiberRoutes"
           ng-disabled="state.configuration.perspective.competitorNetworks.disableRoutes"
           ng-click="toggleShowFiberRoutesData()">
    Routes

    <br>
    <input type="checkbox" class="checkboxfill"
           ng-checked="state.competition.showFiberRoutesBuffer"
           ng-disabled="state.configuration.perspective.competitorNetworks.disableRoutesBuffer"
           ng-click="toggleShowFiberRoutesBufferData()">
    Routes Buffer

    <br>
    <br>
    <p><strong>Rendering</strong></p>
    <select class="form-control form-control-sm"
            ng-model="state.competition.selectedRenderingOption"
            ng-options="item as item.label for item in state.competition.allRenderingOptions"
            ng-change="onRenderingChanged()">
    </select>
    <!-- to test different rendering options -->
    <p><input type="checkbox" class="checkboxfill" ng-model="showBlockHeatMap" ng-change="onRenderingChanged()"> Show heatmap</p>
    <p>Minimum aggregated value</p>
    <input type="range" min="0.0" max="1.0" step="0.05" ng-model="minAggregatedValue" ng-change="onRenderingChanged()">
    <p>Maximum aggregated value</p>
    <input type="range" min="0.0" max="1.0" step="0.05" ng-model="maxAggregatedValue" ng-change="onRenderingChanged()">
  </form>

</div>
