<div id="area_network_planning_controller">
  <p><strong>Optimization Type</strong></p>
  <select class="form-control"
    ng-model="state.optimizationOptions.uiSelectedAlgorithm"
    ng-options="item as item.label for item in state.optimizationOptions.uiAlgorithms">
  </select>
  <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_THRESH'">
    <br>
    <p><strong>IRR Threshold</strong></p>
    <div class="row">
      <div class="col-md-7">
        <input
          type="range"
          min="0"
          max="1"
          step="0.01"
          ng-model="state.optimizationOptions.preIrrThreshold"
          style="margin-top: 10px">
      </div>
      <div class="col-md-5">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <input
              type="number"
              ng-model="state.optimizationOptions.preIrrThreshold"
              class="form-control text-right"
              percentage-input>
            <div class="input-group-addon">%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_TARGET'">
    <br>
    <p><strong>IRR Target</strong></p>
    <div class="row">
      <div class="col-md-7">
        <input
          type="range"
          min="0"
          max="1"
          step="0.01"
          ng-model="state.optimizationOptions.threshold"
          style="margin-top: 10px">
      </div>
      <div class="col-md-5">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <input
              type="number"
              ng-model="state.optimizationOptions.threshold"
              class="form-control text-right"
              percentage-input>
            <div class="input-group-addon">%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'BUDGET' || state.optimizationOptions.uiSelectedAlgorithm.id === 'IRR_TARGET'">
    <br>
    <p><strong>Target Capital</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <div class="input-group-addon"><%- config.currency_symbol %></div>
            <input type="text"
                    class="form-control text-right"
                    placeholder="Amount"
                    ng-model="state.optimizationOptions.budget"
                    ng-currency
                    currency-symbol=""
                    fraction="0">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'COVERAGE'">
    <br>
    <p><strong>Coverage Target</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm">
            <div class="input-group-addon">%</div>
            <input percentage-input type="text" class="form-control text-right" placeholder="Percentage" ng-model="state.optimizationOptions.threshold" name="coverage_target">
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <% if (config.ARO_CLIENT !== 'verizon') { %>
  <p><strong>Search or Click Geographies</strong></p>
  <div class="form-group form-group-sm">
    <input id="area-network-planning-search" type="text" class="form-control" placeholder="Search geographies">
  </div>
  <div>
    <button class="btn btn-sm"
            ng-class="{'btn-primary' : !isToolSelected('polygon') ,'btn-selected': isToolSelected('polygon') && !deselectMode, 'btn-danger active': isToolSelected('polygon') && deselectMode}"
            ng-click="toggleSelectedTool('polygon')">Polygon Select</button>
  </div>
  <p ng-hide="regions.selectedRegions.length > 0"><em>No geographies selected</em></p>
  <div style="margin: 5px;min-height: 0px;max-height: 110px;overflow: auto;">
    <strong ng-show="regions.selectedRegions.length > 5" class="ng-binding;">Total: {{regions.selectedRegions.length}}</strong>
    <ul ng-show="regions.selectedRegions.length > 0" style="list-style-type:none; padding:0; margin-bottom: 0px;">
      <li ng-repeat="geography in regions.selectedRegions">
        <a href="javascript:void(0)" class="text-danger" ng-click="removeGeography(geography)" style="margin-right: 5px">
          <span class="fa fa-trash-o"></span>
        </a>
        {{ geography.name }}
      </li>
    </ul>
  </div>
  <p ng-show="regions.selectedRegions.length > 0">
    <button class="btn btn-primary btn-sm" ng-click="removeAllGeographies()">Remove all boundaries</button>
  </p>
  <% } %>

  <p><strong>Technology</strong></p>

  <div class="checkbox" ng-repeat="type in state.optimizationOptions.technologies">
    <label>
     <div style="display: inline-block">
       <input type="checkbox" class="checkboxfill"
              ng-model="type.checked"
              name="ctype-name"
              ng-checked="type.checked"
       >
       {{type.label}}
     </div>
    <div ng-show="type.id == 'FiveG' && type.checked" style="display: inline-block">
    <label>
      <div style="display: inline-block">
      	<span>Polygon Type</span>
      	<select class="form-control" ng-model="state.optimizationOptions.networkConstraints.cellNodeConstraints.polygonStrategy">
          <option value="FIXED_RADIUS">Fixed Radius</option>
          <option value="AVERAGE_RADIUS">Average Radius</option>
          <option value="RAY_TRACING">Ray Tracing</option>
      	</select>
      </div>
      <div style="display: inline-block"> Radius
        <span>
            <input
                    type="text"
                    ng-model="state.optimizationOptions.networkConstraints.cellNodeConstraints.cellRadius"
                    placeholder="Cell Radius"
                    style="width: 85px;margin-left: 50px"
            >
            <span><b>m</b></span>
        </span>
      </div>
      <div>
        <span>Tile System</span>
        <select class="form-control ng-pristine ng-valid ng-touched"
                ng-model="state.optimizationOptions.networkConstraints.cellNodeConstraints.selectedTile"
                ng-change="changeTileSelected(tileselected)"
                ng-options="tile_system.name for tile_system in state.optimizationOptions.networkConstraints.cellNodeConstraints.tiles">
        </select>
      </div>
    </label>
    </div>
    </label>

  </div>

  <p><strong>Other Settings</strong></p>
  <div class="checkbox">
  	<label>
	    <input type="checkbox" class="checkboxfill"
             ng-model="state.optimizationOptions.generatedDataRequest.generatePlanLocationLinks"
             name="ctype-name"
      >
        Save Routed Locations
  	</label>      
  </div>
  
  <p><strong>Network Construction</strong></p>
  <form>

    <select  class="form-control ng-pristine ng-valid ng-touched" ng-model="state.optimizationOptions.networkConstraints.routingMode" >
      <option value="DIRECT_ROUTING">Unsplit Routing</option>
      <option value="ODN_1" >Hub-Only Split</option>
      <option value="ODN_2">Hub-Distribution Split</option>
    </select>

  </form>



  <% if (config.ARO_CLIENT === 'verizon') { %>

  <div ng-show="state.optimizationOptions.uiSelectedAlgorithm.id === 'TABC'">
    <p><strong>Route Generation Options</strong></p>
    <form>
      <div class="checkbox" ng-repeat="option in state.optimizationOptions.routeGenerationOptions">
        <label>
          <input type="checkbox" class="checkboxfill"
            ng-model="option.checked"
            ng-click="routeGenerationOptionsChanged(option.id)"> {{ option.value }}
        </label>
      </div>
    </form>

  </div>

  <% } %>

  <div ng-show="optimizationMode === 'targets'">
    <p><strong>Optimization Processing Layer</strong></p>
    <p>
      <select class="form-control" ng-model="selectedBoundary"
        ng-options="boundary as boundary.description for boundary in allBoundaries track by boundary.id">
        <option value="">Default Layer</option>
      </select>
    </p>
  </div>

  <div>
    <p class="pull-left" ng-if="configuration.perspective.areaNetworkPlanning.expertMode.show">
      <button class="btn btn-primary" ng-click="runExpertMode()">Expert Mode</button>
    </p>

    <p class="pull-right">
      <button class="btn btn-primary" ng-hide="calculating" ng-click="run(state.getOptimizationBody(), getSelectedGeographies())">Get Results</button>
      <button class="btn btn-danger" ng-show="calculating" ng-click="cancel()"><span class="spin fa fa-repeat"></span> Cancel</button>
    </p>
  </div>
</div>
