<div>
  <p><strong>Select Targets</strong></p>
  <input class="form-control select2" type="text" placeholder="Business Name">
  <br><br>
  <form id="target-builder-upload">
    <p>
     <button class="btn btn-primary btn-sm"
       ng-class="{'btn-success': isToolSelected('single') && !deselectMode, 'btn-danger active': isToolSelected('single') && deselectMode}"
       ng-click="toggleSelectedTool('single')">Building Select</button>
     <button class="btn btn-primary btn-sm"
       ng-class="{'btn-success': isToolSelected('polygon') && !deselectMode, 'btn-danger active': isToolSelected('polygon') && deselect_mode}"
       ng-click="toggleSelectedTool('polygon')">Polygon Select</button>
     <span>
       <input type="file" name="csv" id="target-builder-upload-csv" style="width:0.1px; height:0.1px; opacity:0; overflow:hidden; position:absolute; z-index:-1">
       <label for="target-builder-upload-csv" ng-click="setSelectedTool('upload')">
         <span class="btn btn-primary btn-sm" ng-class="{'btn-success': isToolSelected('upload') }">Upload</span>
       </label>
     </span>
    </p>
    <div class="alert alert-info text-center" role="alert" ng-show="isToolSelected('single')">
      Click on buildings on the map to add them to the optimization targets.
    </div>
    <div class="alert alert-info text-center" role="alert" ng-show="isToolSelected('polygon')">
      Click on the map to draw a polygon - all locations in the polygon will be selected as optimization targets.
    </div>
    <div class="alert alert-info text-center" role="alert" ng-show="isToolSelected('upload')">
      Upload csv with single column of location ids - these locations will be selected as optimization targets.
    </div>
    <div class="alert alert-info text-center" role="alert" ng-show="locationsHeatmap">
      To use this feature, you must be viewing individual locations. Please zoom in or turn off the heatmap button below the zoom buttons.
    </div>
  </form>

  <p><strong>Targeted Locations</strong></p>
  <p ng-show="targets.length === 0">
    <em>No targeted locations</em>
  </p>
  <ul style="list-style-type:none; padding:0" ng-repeat="target in targets">
    <li>
      <a href="javascript:void(0)" class="text-danger" ng-click="deleteTarget(target)" style="margin-right: 5px">
        <span class="fa fa-trash-o"></span>
      </a>
      {{ target.address }}
    </li>
  </ul>
  <p ng-show="targetsTotal - targets.length > 0">
    {{ targetsTotal - targets.length }} additional targeted locations
  </p>
</div>
