<div class="row">
  <div class="col-md-4">
    <p><strong>Annual Growth</strong></p>
  </div>
  <div class="col-md-8">
    <input type="range">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><strong>Duration</strong></p>
  </div>
  <div class="col-md-8">
    <input type="range">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><strong>Fair share</strong></p>
  </div>
  <div class="col-md-2 text-right">
    33%
  </div>
  <div class="col-md-4">
    <p><strong>Existing penetration</strong></p>
  </div>
  <div class="col-md-2 text-right">
    25%
  </div>
</div>
