<!DOCTYPE html>
<html ng-app="aro">
  <head>
    <title><%= config.ui.title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <% if (config.ARO_CLIENT != 'frontier') { %>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <% } %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aro.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/client_<%= config.ARO_CLIENT %>.css">
  </head>
  <body>
    <div class="login-page-bg">
      <div class="container login-box">
        <div class="row">
          <div class="col-sm-12">
            <img id="aro_logo" src="/images/logos/<%= config.ARO_CLIENT %>/logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <form action="/forgot_password" method="post">
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" class="form-control" placeholder="Your email address">
                </div>
                <button type="submit" class="btn btn-light">Send reset instructions</button>
              </form>
              <br>
              <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
