<!DOCTYPE html>
<html>
  <head>
    <title>ARO</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
      // Global variables
      var map;
      var county_subdivisions_layer = new google.maps.Data();

      // Available map layers (should be stored in config or controller eventually)
      var layer_properties = {
        county_subdivisions_layer: {
          visible: false,
          loaded: false
        }
      };

      function initialize() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 7,
          center: {lat: 42.75633, lng: -75.81028} // Centroid of New York State
        });

        // Set up layer toggle control elements
        function Controls(controlDiv, map) {
          var county_control = document.createElement('div');
          county_control.style.backgroundColor = '#fff';
          county_control.style.border = '2px solid #000';
          county_control.style.borderRadius = '3px';
          county_control.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
          county_control.style.cursor = 'pointer';
          county_control.style.marginBottom = '22px';
          county_control.style.textAlign = 'center';
          county_control.title = 'County Subdivisions';
          controlDiv.appendChild(county_control);

          var county_control_text = document.createElement('div');
          county_control_text.style.color = 'rgb(25,25,25)';
          county_control_text.style.fontFamily = 'Roboto,Arial,sans-serif';
          county_control_text.style.fontSize = '12px';
          county_control_text.style.lineHeight = '38px';
          county_control_text.style.paddingLeft = '5px';
          county_control_text.style.paddingRight = '5px';
          county_control_text.innerHTML = 'CS';
          county_control.appendChild(county_control_text);

          google.maps.event.addDomListener(county_control, 'click', function() {
            toggle_layer(county_subdivisions_layer, 'county_subdivisions_layer', 'county_subdivisions/36', county_control);
          });
        }

        // Toggle map data layers
        //
        // layer: google.maps.Data() (ex. var my_layer = new google.maps.Data())
        // layer: String (ex. 'my_layer')
        // api_endpoint: String (ex. '/collection/:id')
        // control_element: document element (ex. var my_control = document.createElement('div'))
        function toggle_layer(layer, layer_name, api_endpoint, control_element) {
          if (!layer_properties[layer_name].visible) {
            // Load the layer's data if it's not already loaded
            // Should be cached eventually, not done like this
            if (!layer_properties[layer_name].loaded) {
              layer.loadGeoJson(api_endpoint);
              layer.setStyle(function(feature) {
                var color = feature.getProperty('color');
                return ({
                  fillColor: color,
                  strokeColor: color,
                  strokeWeight: 2
                });
              });
              layer_properties[layer_name].loaded = true;
            }
            layer.setMap(map);
            layer_properties[layer_name].visible = true;
            control_element.style.backgroundColor = '#f00';
          } else {
            layer.setMap(null)
            layer_properties[layer_name].visible = false;
            control_element.style.backgroundColor = '#fff';
          }
        }

        var centerControlDiv = document.createElement('div');
        var centerControl = new Controls(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(centerControlDiv);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>