<!DOCTYPE html>
<html ng-app="aro">
  <head>
    <title>ARO</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/aro.css">
  </head>
  <body>
    <div id="left-col">
      <div ng-controller="map_layers_controller">
        <div ng-repeat="(key, layer) in area_layers">
          <p>
            <a href="#" class="btn btn-primary btn-block btn-sm" ng-attr-title="{{layer.name}}" data-toggle="tooltip" data-placement="right"
              ng-class="{'btn-success active': layer.visible}"
              ng-click="layer.toggle_visibility()">{{layer.short_name}}</a>
          </p>
        </div>
        <hr>
        <div ng-repeat="(key, layer) in feature_layers">
          <p>
            <a href="#" class="btn btn-primary btn-block btn-sm" ng-attr-title="{{layer.name}}" data-toggle="tooltip" data-placement="right"
              ng-class="{'btn-success active': layer.visible}"
              ng-attr-data-loaded="{{layer.data_loaded}}"
              ng-click="layer.toggle_visibility()">{{layer.short_name}}</a>
            <a href="#" class="<%= show_on_test %>" ng-click="layer.select_random_features()">.</a>
          </p>
        </div>
      </div>

      <hr>

      <div ng-controller="map_tools_controller">
        <div ng-repeat="tool in map_tools.available_tools">
          <p>
            <a href="#" class="btn btn-primary btn-block btn-sm" ng-attr-title="{{tool.name}}" data-toggle="tooltip" data-placement="right"
              ng-attr-id="map_tools_toggle_{{tool.id}}"
              ng-class="{'btn-success active': map_tools.is_visible(tool.id)}"
              ng-click="map_tools.toggle(tool.id)">{{tool.short_name}}</a>
          </p>
        </div>
      </div>

      <hr>

      <div ng-controller="selection_tools_controller">
        <div ng-repeat="(key, tool) in available_tools">
          <p>
            <a href="#" class="btn btn-default btn-block btn-sm"
              ng-attr-title="{{tool.name}}" data-toggle="tooltip" data-placement="right"
              ng-class="{'btn-success active': selected_tool == key}"
              ng-click="toggle_tool(key)"><span ng-attr-class="{{tool.icon}}"></span></a>
          </p>
        </div>
      </div>

    </div>

    <div ng-controller="selected_location_controller">
      <div class="modal" id="selected_location_controller" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Location details</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-5 control-label">Entry fee</label>
                  <div class="col-sm-7 text-right">
                    <p class="form-control-static">{{location.entry_fee | currency}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Number of businesses</label>
                  <div class="col-sm-7 text-right">
                    <p class="form-control-static">{{location.number_of_businesses}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Business install costs</label>
                  <div class="col-sm-7 text-right">
                    <p class="form-control-static">{{location.business_install_costs | currency}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Number of households</label>
                  <div class="col-sm-4 pull-right">
                    <input type="text" class="form-control" style="text-align:right" ng-model="location.number_of_households">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Household install costs</label>
                  <div class="col-sm-7 text-right">
                    <p class="form-control-static">{{location.household_install_costs | currency}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Total</label>
                  <div class="col-sm-7 text-right">
                    <p class="form-control-static">{{location.total | currency}}</p>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="location_show_businesses">
      <div class="modal" id="location_show_businesses" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Businesses</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th class="text-right"># employees</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="business in businesses">
                    <td>{{business.name}}</th>
                    <td class="text-right">{{business.number_of_employees}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="shortest_path_controller">
      <div class="modal" id="select-route" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
              <h4 class="modal-title" id="myModalLabel">Select a route</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="route in routes">
                    <td>{{route.name}}</th>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm" ng-click="select_route(route)">View</a>
                      <a href="#" class="btn btn-danger btn-sm" ng-click="delete_route(route)">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="create_route()">Create a new route</button>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="map_tools.is_visible('route') && route != null" class="panel panel-primary" id="shortest_path_controller">
        <div class="panel-heading">
          <a href="#" class="pull-right" ng-show="map_tools.is_expanded('route')" ng-click="map_tools.collapse('route')">
            <span style="color:white" class="glyphicon glyphicon-chevron-up"></span>
          </a>
          <a href="#" class="pull-right" ng-show="!map_tools.is_expanded('route')" ng-click="map_tools.expand('route')">
            <span style="color:white" class="glyphicon glyphicon-chevron-down"></span>
          </a>
          Distance Based Route Plan
        </div>
        <div class="panel-body" ng-show="map_tools.is_expanded('route')">
          <div>
            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Sources</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{selection.sources.length()}}</p>
                </div>
                <label class="col-sm-offset-2 col-sm-3 control-label">Targets</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{selection.targets.length()}}</p>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Route name" ng-model="route.name">
                    <span class="input-group-btn"><a class="btn btn-default btn-sm" ng-click="show_routes()">...</a></span>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Strands</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Number of fiber strands" ng-model="route.number_of_strands">
                </div>
              </div>
              <div class="form-group form-group-sm" style="margin-bottom: 0">
                <label class="col-sm-3 control-label">Cable type</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option value="aerial">Aerial</option>
                    <option value="buried">Buried</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm" style="margin-bottom: 0">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="always_shows_sources" ng-change="toggle_always_show_sources()"> Show selected sources
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="always_shows_targets" ng-change="toggle_always_show_targets()"> Show selected targets
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                  <button class="btn btn-sm btn-primary" ng-click="save_changes()" type="button">Save changes</button>
                  <button class="btn btn-sm btn-danger" ng-click="clear_route()" type="button">Clear Route</button>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-7 control-label">Locations cost</label>
                <div class="col-sm-5">
                  <p class="form-control-static">{{route.metadata.locations_cost | currency}}</p>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-7 control-label">Fiber cost</label>
                <div class="col-sm-5">
                  <p class="form-control-static">{{route.metadata.fiber_cost | currency}}</p>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-7 control-label">Total cost</label>
                <div class="col-sm-5">
                  <p class="form-control-static" id="shortest_path_total_cost">{{route.metadata.total_cost | currency}}</p>
                </div>
              </div>
              <div class="form-group form-group-sm" ng-repeat="revenue in route.metadata.npv">
                <label class="col-sm-7 control-label">NPV {{revenue.year}}</label>
                <div class="col-sm-5">
                  <p class="form-control-static">{{revenue.value | currency}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="market_size_controller">
      <div ng-show="map_tools.is_visible('market_size')" class="panel panel-primary" id="market_size_controller">
        <div class="panel-heading">
          <a href="#" class="pull-right" ng-show="map_tools.is_expanded('market_size')" ng-click="map_tools.collapse('market_size')">
            <span style="color:white" class="glyphicon glyphicon-chevron-up"></span>
          </a>
          <a href="#" class="pull-right" ng-show="!map_tools.is_expanded('market_size')" ng-click="map_tools.expand('market_size')">
            <span style="color:white" class="glyphicon glyphicon-chevron-down"></span>
          </a>
          Market Size
        </div>
        <div class="panel-body" ng-show="map_tools.is_expanded('market_size')">
          <div>
            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Industry</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="industry.industry_name for industry in filters.industries" ng-model="industry" ng-change="calculate_market_size()">
                    <option value="">All industries</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Product</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="product.product_name for product in filters.products" ng-model="product" ng-change="calculate_market_size()">
                    <option value="">All products</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Business size</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="range.value_range for range in filters.employees_by_location" ng-model="employees_range" ng-change="calculate_market_size()">
                    <option value="">All business sizes</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Area</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="No census block selected" readonly ng-show="area === null">
                  <div class="input-group" ng-show="area !== null">
                    <input type="text" class="form-control" ng-model="area" readonly>
                    <span class="input-group-btn"><a class="btn btn-default btn-sm" ng-click="clear_area()"><span class="glyphicon glyphicon-remove"></span></a></span>
                  </div>
                </div>
              </div>
              <!--
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Distance threshold</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="threshold" ng-change="calculate_market_size()">
                </div>
              </div>
              -->
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Total</label>
                <div class="col-sm-9">
                  <table class="table" style="max-height: 200px; overflow: scroll; display: block; width: 100%" ng-show="!loading && total.length > 0">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in total">
                        <td>{{row.year}}</td>
                        <td>{{row.total | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="form-control-static" ng-show="!loading && total.length === 0">No data available in this area with the selected filters</p>
                  <p class="form-control-static" ng-show="loading">Loading...</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="equipment_nodes_controller">
      <div ng-show="map_tools.is_visible('equipment_nodes')" class="panel panel-primary" id="equipment_nodes_controller">
        <div class="panel-heading">
          <a href="#" class="pull-right" ng-show="map_tools.is_expanded('equipment_nodes')" ng-click="map_tools.collapse('equipment_nodes')">
            <span style="color:white" class="glyphicon glyphicon-chevron-up"></span>
          </a>
          <a href="#" class="pull-right" ng-show="!map_tools.is_expanded('equipment_nodes')" ng-click="map_tools.expand('equipment_nodes')">
            <span style="color:white" class="glyphicon glyphicon-chevron-down"></span>
          </a>
          Add equipment nodes
        </div>
        <div>
          <div class="panel-body" ng-show="map_tools.is_expanded('equipment_nodes')">
            <form class="form-horizontal">
              <div class="form-group form-group-sm" style="margin-bottom: 0">
                <label class="col-sm-3 control-label">Node type</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="node_type" ng-options="node.description for node in node_types">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                  <button class="btn btn-sm btn-primary" ng-click="save_nodes()" type="button">Save nodes</button>
                  <button class="btn btn-sm btn-danger" ng-click="clear_nodes()" type="button">Clear</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="map-canvas"></div>

    <div ng-controller="contextual_menu_controller">
      <ul class="dropdown-menu" id="contextual_menu">
        <li ng-repeat="option in options">
          <a href="#" ng-click="select_option($index)">{{option.label}}</a>
        </li>
      </ul>
    </div>

    <div id="loader-wrapper"><div class="loader"></div></div>
    
  </body>

  <!-- Angular controllers and services -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=visualization"></script>
  <script>
    var app = angular.module('aro', []);
    var map;
    
    function initialize() {
      var styles = [{
        featureType: 'poi',
        elementType: 'labels',
        stylers: [ { visibility: 'off' } ],
      }];

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        panControl: false,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL,
          position: google.maps.ControlPosition.TOP_RIGHT
        },
        mapTypeControlOptions: {
          position: google.maps.ControlPosition.TOP_RIGHT
        },
        styles: styles,
      });
    }

    $(document).ready(initialize);
  </script>
  <script src="javascripts/libs/bootstrap.min.js"></script>
  <script src="javascripts/libs/underscore.js"></script>
  <script src="javascripts/libs/sweetalert.min.js"></script>
  <script src="javascripts/controllers/map_layers_controller.js"></script>
  <script src="javascripts/controllers/map_tools_controller.js"></script>
  <script src="javascripts/controllers/shortest_path_controller.js"></script>
  <script src="javascripts/controllers/market_size_controller.js"></script>
  <script src="javascripts/controllers/equipment_nodes_controller.js"></script>
  <script src="javascripts/controllers/selected_location_controller.js"></script>
  <script src="javascripts/controllers/contextual_menu_controller.js"></script>
  <script src="javascripts/controllers/selection_tools_controller.js"></script>
  <script src="javascripts/controllers/location_show_businesses.js"></script>
  <script src="javascripts/models/map_utils.js"></script>
  <script src="javascripts/models/map_layer.js"></script>
  <script src="javascripts/models/selection.js"></script>
  <script src="javascripts/models/loader.js"></script>
  <script src="javascripts/models/map_tools.js"></script>
  <script src="javascripts/interceptors/http_error_handler.js"></script>
  <script>app.run(function(loader){})</script>
  <script>
    $(function () {
      var tooltips = $('[data-toggle="tooltip"]');
      tooltips.tooltip();
      tooltips.on('click mouseout', function() {
        $(this).tooltip('hide');
      })
    })
  </script>
  <script type="text/javascript">
    (function() {
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = '//api.usersnap.com/load/'+
            '2d42c702-aa21-4b34-83cc-5b9f4f830125.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
  </script>
</html>
