<!DOCTYPE html>
<html ng-app="aro">
  <head>
    <title>OneFiber</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/select2.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/aro.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/layout_<%= config.ui.layout %>.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/client_<%= config.ARO_CLIENT %>.css">
  </head>
  <body>

    <div ng-controller="customer_profile_controller">
      <% include modal_customer_profile.html %>
    </div>

    <% if (user.rol === 'admin') { %>
      <div ng-controller="admin_users_controller">
        <% include modal_manage_users.html %>
        <% include modal_new_user.html %>
      </div>
    <% } %>

    <div ng-controller="navigation_menu_controller">

      <% include modal_build_sequence.html %>

      <div id="home_screen" ng-show="!plan">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <img id="aro_logo" src="/images/logos/one_fiber_logo.png" />
            </div>
            <div class="col-sm-8">
              <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-click="new_plan()">Create New Network Plan</a>
              <br>
            </div>
            <div class="col-sm-8">
              <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-click="showPlans()">Open Network Plan</a>
              <br>
            </div>
            <div class="col-sm-8">
              <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-click="manageNetworkPlans()">Manage Network Plans</a>
              <br>
            </div>
            <% if (user.rol === 'admin') { %>
              <div class="col-sm-8">
                <a href="#manage-users" class="btn btn-primary btn-block" data-toggle="modal">Manage Users</a>
                <br>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <% include modal_select_plan.html %>

      <% include modal_manage_network_plans.html %>

      <% include modal_new_plan.html %>

      <% include modal_edit_plan.html %>

      <% include modal_share_plan.html %>

      <% include modal_plan_combo.html %>

      <div class="modal" id="export-plan" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Export route</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Filename</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="kml_file_name">
                      <span class="input-group-addon">.kml</span>
                    </div>
                  </div>
                </div>
                <span id="export-error" style="display: none">Filename can only contain letters and numbers!</span>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="export_kml()">Export file</button>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default">
        <div class="container-fluid navbar-container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button ng-show="plan" type="button" style="float: left; margin-right: 8px; margin-left: 7px;" class="btn btn-sm navbar-btn" ng-click="selectPlan(null)"><span class="fa fa-chevron-left"></span></button>
            <a href="javascript:void(0)" class="navbar-brand" ng-click="showCombo()">{{plan.name}}</a>

            <p ng-show="plan" class="navbar-text" id="top_bar_tools">
              <span ng-click="openFinancialProfile()" style="cursor:pointer" ng-show="show_financial_profile">
                <span class="fa fa-usd"></span>
                <span class="label label-info">{{plan.metadata.npv | currency}}</span>
                <span class="label label-danger" id="shortest_path_total_cost">{{plan.metadata.total_cost | currency}}</span>
              </span>
              <!--
              <span data-toggle="modal" ng-click="openCustomerProfile()" style="cursor:pointer" ng-show="show_customer_profile">
                <span class="fa fa-users"></span>
                  {{ plan.metadata.customers_businesses_total | number }} businesses,
                  {{ plan.metadata.customers_households_total | number }} households,
                  {{ plan.metadata.customers_towers_total | number }} towers
                  covered
              </span>
              -->

              <% if (config.ui.layout === 'default') { %>
              <span data-toggle="modal" ng-click="openMarketProfile()" style="cursor:pointer" ng-show="show_market_profile">
                <span class="<%= config.ui.icons.market_profile %>" ng-class="{'spin': market_profile_calculating}"></span>
                <span ng-show="market_profile_current_year.total">
                  <span class="label label-success"><span>Market Size</span>
                    {{ market_profile_current_year.total / market_size_scale_n | currency }}{{ market_size_scale_s }}
                  </span>
                  <span class="label label-info" style="background-color: <%- config.ui.colors.fair_share %>"><span>
                    <%- config.displayable_client_carrier_name || config.client_carrier_name %> revenue</span>
                    {{ market_profile_fair_share_current_year_total / market_size_scale_n | currency }}{{ market_size_scale_s }}
                  </span>
                  <span class="label label-info"><span>Market Share</span>{{ market_profile_share*100 | number:2 }}%</span>
                </span>
              </span>
              <% } %>
            </p>

          </div>

          <div class="collapse navbar-collapse">
            <p class="navbar-text saving" id="plan-saving">
              <small><span class="spin fa fa-repeat"></span> Saving plan…</small>
            </p>
            <p class="navbar-text saving" id="plan-saved">
              <small><span class="fa fa-check"></span> Plan saved</small>
            </p>

<!--             <p class="navbar-text" ng-show="plan">
              <a style="cursor:pointer; color:white" data-target="#build-sequence" data-toggle="modal"><small>Build Sequence</small></a>
            </p> -->

<!--             <div class="navbar-text" style="width: 200px" ng-show="plan">
              <div id="year-slider"></div>
            </div> -->

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-user"></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/settings/show">
                    <span class="fa fa-cog"></span>
                    Account settings
                  </a></li>
                  <li><a href="/logout">
                    <span class="fa fa-power-off"></span>
                    Log out
                  </a></li>
                </ul>
              </li>
              <li class="dropdown" ng-show="plan" id="network_plan_menu">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-cog"></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" ng-click="save_as()" ng-show="plan.owner_id === user_id">Save as…</a></li>
                  <li role="separator" class="divider" ng-show="plan.owner_id === user_id"></li>
                  <li><a href="javascript:void(0)" ng-click="clearPlan()"
                    <% if (!env_is_test) { %>ng-show="plan.owner_id === user_id"<% } %> >Clear plan</a></li>
                  <li><a href="javascript:void(0)" ng-click="delete_plan(plan)"
                    <% if (!env_is_test) { %>ng-show="plan.owner_id === user_id"<% } %> >Delete plan</a></li>
                  <li role="separator" class="divider" ng-show="plan.owner_id === user_id"></li>
                  <li><a href="javascript:void(0)" ng-click="show_share_plan(plan)">Share…</a></li>
                  <% if (config.route_planning.length > 0) { %>
                  <li><a href="javascript:void(0)" ng-click="exportKmlName()">Export KML…</a></li>
                  <% } %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>


    <div id="left-col-wrapper">
      <div id="left-col" class="left-col-expanded">
        <% if (config.ui.layout === 'accordion') { %>
          <% include layout_accordion.html %>
        <% } else if (config.ui.layout === 'default') { %>
          <% include layout_default.html %>
        <% } %>
      </div>
    </div>

    <% if (config.ui.layout === 'default') { %>
      <div id="global-search">
        <% include controller_global_search.html %>
      </div>
    <% } %>

    <div ng-controller="selected_location_controller">

      <% if (env_is_test) { %>
        <a class="pull-right" ng-click="select_random_location()">.</a>
      <% } %>

      <% include modal_selected_location.html %>

    </div>

    <div ng-controller="route_controller">
    </div>

    <div ng-controller="market_size_controller">
      <% include modal_market_profile.html %>
    </div>

    <div id="map-canvas-wrapper">
      <div id="map-canvas"></div>
    </div>

    <div ng-controller="contextual_menu_controller">
      <ul class="dropdown-menu" id="contextual_menu">
        <li ng-repeat="option in options">
          <a href="javascript:void(0)" ng-click="select_option($index)">{{option.label}}</a>
        </li>
      </ul>
    </div>

    <div ng-controller="legend-controller" id="legend-controller">
      <div class="map-tool panel panel-primary">
        <div ng-show="expanded" style="padding: 10px">
          <p><strong>Locations</strong></p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/businesses_small_default.png" style="width:16px"> = Commercial SMB</p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/businesses_medium_default.png" style="width:16px"> = Commercial Mid-Size</p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/businesses_large_default.png" style="width:16px"> = Commercial Enterprise</p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/households_small_default.png" style="width:16px"> = Residential SFU</p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/households_medium_default.png" style="width:16px"> = Residential MDU</p>
          <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/tower.png" style="height:16px"> = Tower</p>
          <hr>
          <p><strong>Network</strong></p>
          <div ng-repeat="node_type in view_node_types">
            <p><img ng-attr-src="/images/map_icons/{{ARO_CLIENT}}/{{node_type.name}}.png" style="width:16px"> = {{node_type.description}}</p>
          </div>

          <ul class="pie-legend">
            <li><span style="background-color:blue"></span> = Feeder Fiber</li>
            <li><span style="background-color:red"></span> = Distribution Fiber</li>
          </ul>
        </div>
        <div class="panel-heading">
          Legend
          <div class="pull-right">
            <a href="javascript:void(0)" ng-click="toggle()" ng-hide="expanded"><span style="color:white" class="fa fa-chevron-up"></span></a>
            <a href="javascript:void(0)" ng-click="toggle()" ng-show="expanded"><span style="color:white" class="fa fa-chevron-down"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div id="loader-wrapper"><div class="loader"></div></div>

  </body>

  <!-- Angular controllers and services -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Put the Google Maps URL in a config... -->
  <% if (env_is_production) { %>
    <!-- If we're in production, use our Google Maps Enterprise client ID -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;client=gme-altmanvilandrieand&amp;libraries=visualization,drawing"></script>
  <% } else { %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=visualization,drawing"></script>
  <% } %>

  <script>
    var app = angular.module('aro', []);
    var map;

    function initialize() {
      var styles = [];
      styles.push({
        featureType: 'poi',
        elementType: 'labels',
        stylers: [ { visibility: 'off' } ],
      });

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        panControl: false,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL,
          position: google.maps.ControlPosition.TOP_RIGHT
        },
        mapTypeControlOptions: {
          position: google.maps.ControlPosition.TOP_RIGHT
        },
        styles: styles,
      });

      map.ready = function(callback) {
        if (map.getBounds()) {
          callback();
        } else {
          var listener = google.maps.event.addListener(map, 'bounds_changed', function() {
            callback();
            google.maps.event.removeListener(listener);
          });
        }
      }
    }

    $()

    var user_id = <%= user.id %>;
    var config = <%- JSON.stringify(config) %>;

    $(document).ready(initialize);
  </script>
  <script src="javascripts/vendors/bootstrap.min.js"></script>
  <script src="javascripts/vendors/underscore.js"></script>
  <script src="javascripts/vendors/sweetalert.min.js"></script>
  <script src="javascripts/vendors/Chart.min.js"></script>
  <script src="javascripts/vendors/select2.min.js"></script>
  <script src="javascripts/vendors/tinycolor.js"></script>
  <script src="javascripts/vendors/randomColor.min.js"></script>
  <script src="javascripts/vendors/Chart.StackedBar.js"></script>
  <script src="javascripts/vendors/nouislider.min.js"></script>
  <script src="javascripts/vendors/clipboard.min.js"></script>

  <script src="javascripts/lib/controllers/customer_profile_controller.js"></script>
  <script src="javascripts/lib/controllers/navigation_menu_controller.js"></script>
  <script src="javascripts/lib/controllers/route_controller.js"></script>
  <script src="javascripts/lib/controllers/boundaries_controller.js"></script>
  <script src="javascripts/lib/controllers/locations_controller.js"></script>
  <script src="javascripts/lib/controllers/market_size_controller.js"></script>
  <script src="javascripts/lib/controllers/equipment_nodes_controller.js"></script>
  <script src="javascripts/lib/controllers/fiber_plant_controller.js"></script>
  <script src="javascripts/lib/controllers/selected_location_controller.js"></script>
  <script src="javascripts/lib/controllers/contextual_menu_controller.js"></script>
  <script src="javascripts/lib/controllers/admin_users_controller.js"></script>
  <script src="javascripts/lib/controllers/search_controller.js"></script>
  <script src="javascripts/lib/controllers/area_network_planning_controller.js"></script>
  <script src="javascripts/lib/controllers/financial_profile_tool_controller.js"></script>
  <script src="javascripts/lib/controllers/target_builder_controller.js"></script>
  <script src="javascripts/lib/controllers/legend_controller.js"></script>
  <script src="javascripts/lib/controllers/global_search_controller.js"></script>
  <script src="javascripts/lib/controllers/map_tools_controller.js"></script>
  <script src="javascripts/lib/controllers/demand_forecast_controller.js"></script>
  <script src="javascripts/lib/models/tracker.js"></script>
  <script src="javascripts/lib/models/map_utils.js"></script>
  <script src="javascripts/lib/models/map_layer.js"></script>
  <script src="javascripts/lib/models/selection.js"></script>
  <script src="javascripts/lib/models/loader.js"></script>
  <script src="javascripts/lib/models/map_tools.js"></script>
  <script src="javascripts/lib/models/custom_overlay.js"></script>
  <script src="javascripts/lib/models/map_layers.js"></script>
  <script src="javascripts/lib/models/state.js"></script>
  <script src="javascripts/lib/interceptors/http_error_handler.js"></script>
  <script src="javascripts/lib/interceptors/saving_plan_handler.js"></script>
  <script>app.run(function(loader){})</script>
  <script>
    $(function () {
      var tooltips = $('#left-col [data-toggle="tooltip"]');
      tooltips.tooltip();
      tooltips.on('click mouseout', function () {
        $(this).tooltip('hide')
      })
    })

    var expander = $('#expander')
    var icon = $('#expander .fa')
    var leftcol = $('#left-col')
    expander.on('click', function () {
      if (leftcol.hasClass('left-col-expanded')) {
        $('#map-tools-accordion .collapse.in').removeClass('in')
        icon.removeClass('fa-chevron-left')
        icon.addClass('fa-chevron-right')
        leftcol.removeClass('left-col-expanded')
        leftcol.addClass('left-col-collapsed')
      } else {
        icon.addClass('fa-chevron-left')
        icon.removeClass('fa-chevron-right')
        leftcol.removeClass('left-col-collapsed')
        leftcol.addClass('left-col-expanded')
      }
    })

    swal.setDefaults({ animation: <%- env_is_test ? 'null' : 'true' %> })

    // prevent tabs from changing the URL
    $('.nav-tabs a').click((e) => {
      e.preventDefault()
      $(this).tab('show')
    })

    function calculatePanelHeight () {
      var maxHeight = $(document).height() - 400
      $('.panel-collapse > .panel-body').css('max-height', maxHeight)
    }

    calculatePanelHeight()
    $(window).resize(calculatePanelHeight)

    $("#share-plan-search").select2({
      ajax: {
        url: "/user/find",
        dataType: 'json',
        delay: 250,
        data: function (text) {
          return {
            text: text,
          };
        },
        processResults: function (data, page) {
          // parse the results into the format expected by Select2.
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data
          data.forEach(function(row) {
            row.text = row.first_name+' '+row.last_name+' &lt;'+row.email+'&gt;';
          })
          return {
            results: data,
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 1,
    })
  </script>
  <script src="javascripts/lib/interceptors/custom_locale.js"></script>
  <% if (env_is_production) { %>
    <!-- start UserSnap -->
    <script type="text/javascript">
      (function() {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = '//api.usersnap.com/load/'+
                'b66398cb-a9b4-49b0-a828-715f6f7b3ca1.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      })();
    </script>
    <!-- end UserSnap -->
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
  mixpanel.init("dfbe83f6bce5cb8321654ecde92e6111");</script><!-- end Mixpanel -->
  <% } %>
</html>
