<div ng-controller="locations_controller">
  <div class="map-tool panel panel-primary" id="measuring-stick-result" ng-show="measuredDistance">
    <div class="panel-heading">
      Measured distance: {{ measuredDistance * 0.000621371 | number: 2 }} mi
    </div>
  </div>

  <div class="map-tool-wrapper">
    <div ng-show="map_tools.is_visible('locations')" class="card map-tool">
      <div class="card-header map-tools-card-header bg-primary text-white" ng-bind="map_tools.get_tool_name('locations')">
        <a href="javascript:void(0)" class="float-right" ng-show="map_tools.is_expanded('locations')" ng-click="map_tools.collapse('locations')">
          <span style="color:white" class="fa fa-chevron-up"></span>
        </a>
        <a href="javascript:void(0)" class="float-right" ng-show="!map_tools.is_expanded('locations')" ng-click="map_tools.expand('locations')">
          <span style="color:white" class="fa fa-chevron-down"></span>
        </a>
        <h5 class="map-tool-title-text">Locations</h5>
      </div>
      <div class="card-body map-tools-card-body" ng-show="map_tools.is_expanded('locations')">
        <% include controller_locations.html %>
      </div>
    </div>
  </div>
</div>

<div class="map-tool-wrapper wrapper_csites_controller" ng-controller="construction_sites_controller">
  <div ng-show="map_tools.is_visible('construction_sites')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white" ng-bind="map_tools.get_tool_name('construction_sites')">
      <a href="javascript:void(0)" class="float-right" ng-show="map_tools.is_expanded('construction_sites')" ng-click="map_tools.collapse('construction_sites')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!map_tools.is_expanded('construction_sites')" ng-click="map_tools.expand('construction_sites')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">Construction Sites</h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="map_tools.is_expanded('construction_sites')">
      <% include controller_construction_sites.html %>
    </div>
  </div>
</div>

<boundaries></boundaries>

<div class="map-tool-wrapper" ng-controller="fiber_plant_controller">
  <div ng-show="map_tools.is_visible('fiber_plant')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white" ng-bind="map_tools.get_tool_name('fiber_plant')">
      <a href="javascript:void(0)" class="float-right" ng-show="map_tools.is_expanded('fiber_plant')" ng-click="map_tools.collapse('fiber_plant')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!map_tools.is_expanded('fiber_plant')" ng-click="map_tools.expand('fiber_plant')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">Construction Sites</h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="map_tools.is_expanded('fiber_plant')">
      <% include controller_fiber_plant.html %>
    </div>
  </div>
</div>

<div class="map-tool-wrapper" ng-controller="equipment_nodes_controller">
  <div ng-show="map_tools.is_visible('network_nodes')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white" ng-bind="map_tools.get_tool_name('network_nodes')">
      <a href="javascript:void(0)" class="float-right" ng-show="map_tools.is_expanded('network_nodes')" ng-click="map_tools.collapse('network_nodes')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!map_tools.is_expanded('network_nodes')" ng-click="map_tools.expand('network_nodes')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">Network Equipment</h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="map_tools.is_expanded('network_nodes')">
      <% include controller_equipment.html %>
    </div>
  </div>
</div>

<div class="map-tool-wrapper" ng-controller="financial-profile-tool-controller">
  <div ng-show="map_tools.is_visible('financial_profile')" class="card map-tool">
    <div class="card-header map-tools-card-header bg-primary text-white" ng-bind="map_tools.get_tool_name('financial_profile')">
      <a href="javascript:void(0)" class="float-right" ng-show="map_tools.is_expanded('financial_profile')" ng-click="map_tools.collapse('financial_profile')">
        <span style="color:white" class="fa fa-chevron-up"></span>
      </a>
      <a href="javascript:void(0)" class="float-right" ng-show="!map_tools.is_expanded('financial_profile')" ng-click="map_tools.expand('financial_profile')">
        <span style="color:white" class="fa fa-chevron-down"></span>
      </a>
      <h5 class="map-tool-title-text">
        Financial Profile {{ selectedArea ? ' · '+selectedArea.name : '' }}
        <span class="float-right">
          <a href="javascript:void(0)" ng-click="download()">
            <span style="color:white;margin-left: 1em;" class="fa fa-download"></span>
          </a>
          <button class="btn btn-sm btn-primary-us" style="margin-left: 1em;padding: initial;"
            ng-class="{'btn-success-us': mode === 'area'}" ng-click="setMode('area')">Area</button>
          <button class="btn btn-sm btn-primary-us" style="margin-left: 1em;padding: initial;"
            ng-class="{'btn-success-us': mode === 'global'}" ng-click="setMode('global')">Global</button>
          <button type="button" class="close" ng-click="map_tools.toggle({'id':'financial_profile'})" 
            style="padding-left: 5px;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>      
      </h5>
    </div>
    <div class="card-body map-tools-card-body" ng-show="map_tools.is_expanded('financial_profile')">
      <% include controller_financial_profile_tool.html %>
    </div>
  </div>
</div>

<div class="map-tools-buttons-container">
  <div ng-controller="map_tools_controller"
       ng-class="{ 'map_tools_container': true, 'map-tools-vertical-center': state.configuration.perspective.mapTools.centerVertically }">
    <div ng-repeat="tool in map_tools.available_tools">
      <hr ng-if="tool.separator">
      <p ng-if="!tool.separator">

        <a ng-if="state.configuration.perspective.mapTools[tool.id].showIcon"  href="javascript:void(0)" class="btn btn-primary map-tools-button"
          ng-attr-id="map_tools_toggle_{{tool.id}}"
          ng-class="{'active': map_tools.is_visible(tool.id), 'disabled': (!map_tools.isEnabled(tool.id)) }"
          ng-click="map_tools.toggle(tool)"><span ng-attr-class="{{tool.icon}} map-tools-button-icon"></span></a>
        <div ng-if="state.configuration.perspective.mapTools[tool.id].showLabel" class="map_tool_label">{{tool.name}}</div>
      </p>
    </div>
  </div>
</div>