<div>
  <% include controller_global_search.html %>
  <div class="panel-group" id="map-tools-accordion" role="tablist" aria-multiselectable="true" style="float: left">

    <div class="panel panel-default" ng-controller="locations_controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select customer types to display on the map and include in optimization. Customers selected at time of optimization will be included in optimization. At higher zoom levels, customers will be displayed on the map as a density heatmap."></span>
          </div>
          <span class="hide-on-expanded fa fa-building"></span>
          <a role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-customers" class="hide-on-collapsed">
            Customers
          </a>
        </h4>
      </div>
      <div id="map-tools-customers" class="panel-collapse collapse" role="tabpanel" data-tool="locations">
        <div class="panel-body">
          <% include controller_locations.html %>
        </div>
      </div>
      <div id="map-extras">
        <p data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Heat Map">
          <button class="btn" ng-class="{'btn-selected': heatmapOn, 'btn-primary': !heatmapOn}" ng-click="toggleHeatmap()" style="width: 39px">
            <span class="fa fa-fire"></span>
          </button>
        </p>
        <p data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Road Segments">
          <button class="btn" ng-class="{'btn-selected': roadLayer.visible, 'btn-primary': !roadLayer.visible}" ng-click="roadLayer.toggleVisibility()" style="width: 39px">
            <span class="fa fa-road map-layer-spinner map-layer-spinner-road_segments"></span>
          </button>
        </p>
        <p data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Measuring Stick. Click points on the map to draw a line segments to be measured. Double click to finish the line segment and see the distance.">
          <button class="btn" ng-class="{'btn-selected': measuringStickEnabled, 'btn-primary': !measuringStickEnabled}" ng-click="toggleMeasuringStick()" style="width: 39px">
            <span class="fa fa-arrows-h"></span>
          </button>
        </p>
      </div>
      <div class="map-tool panel panel-primary" id="measuring-stick-result" ng-show="measuredDistance">
        <div class="panel-heading">
          Measured distance: {{ measuredDistance * 0.000621371 | number: 2 }} mi
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-controller="fiber_plant_controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Display competitive layers on the map. Fiber routes displays competitive routes on the map from the Geotel data. Broadband coverage shows census block competitors and speed levels from NBM data. Selections do not affect optimization."></span>
          </div>
          <span class="hide-on-expanded fa fa-pie-chart"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-carriers">
            Competition
          </a>
        </h4>
      </div>
      <div id="map-tools-carriers" class="panel-collapse collapse" role="tabpanel" data-tool="fiber_plant">
        <div class="panel-body">
          <% include controller_fiber_plant.html %>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-controller="equipment_nodes_controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select Verizon network assets to display on the map. Existing assets are organized by business unit. Assets placed during optimization are stored in the &quot;Optimized Equipment&quot; section. Selections do not affect optimization."></span>
          </div>

          <span class="hide-on-expanded icon icon-network-equipment"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-network">
            Network
          </a>
        </h4>
      </div>
      <div id="map-tools-network" class="panel-collapse collapse" role="tabpanel" data-tool="network_nodes">
        <div class="panel-body">
          <% include controller_equipment.html %>
        </div>
      </div>
    </div>


    <div class="panel panel-default wrapper_csites_controller" ng-controller="construction_sites_controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select locations for Generation of possible construction sites."></span>
          </div>

          <span class="hide-on-expanded icon icon-network-equipment"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-construction-sites">
            Construction Sites
          </a>
        </h4>
      </div>
      <div id="map-tools-construction-sites" class="panel-collapse collapse" role="tabpanel" data-tool="construction_sites">
        <div class="panel-body">
          <% include controller_construction_sites.html %>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-controller="boundaries_controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select boundary layers to display on map. Click on boundaries on the map or choose from the search dropdown to include in optimization. Boundaries selected for optimization appear in a list at the bottom of the tab."></span>
          </div>

          <span class="hide-on-expanded icon icon-boundaries"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-boundaries">
            Boundaries
          </a>
        </h4>
      </div>
      <div id="map-tools-boundaries" class="panel-collapse collapse" role="tabpanel" data-tool="boundaries">
        <div class="panel-body">
          <% include controller_boundaries.html %>
        </div>
      </div>
    </div>

    <% if (!config.ui.map_tools.target_builder.disabled) { %>
    <div class="panel panel-default" ng-controller="target-builder-controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select specific locations as targets to route to in optimization by selecting single locations, drawing polygons, or uploading a csv of IDs."></span>
          </div>

          <span class="hide-on-expanded icon icon-network-planning-targeted"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-target-builder">
            Targets
          </a>
        </h4>
      </div>
      <div id="map-tools-target-builder" class="panel-collapse collapse" role="tabpanel" data-tool="target_builder">
        <div class="panel-body">
          <% include controller_target_builder.html %>
        </div>
      </div>
    </div>
    <% } %>

    <div class="panel panel-default" ng-controller="backhaul-controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select pairs of equipment on the map to indicate that these pieces of equipment should be connected with backhaul."></span>
          </div>
          <span class="hide-on-expanded icon icon-backhaul"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-backhaul">
            Backhaul
          </a>
        </h4>
      </div>
      <div id="map-tools-backhaul" class="panel-collapse collapse" role="tabpanel" data-tool="backhaul">
        <div class="panel-body">
          <% include controller_backhaul.html %>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-controller="area-network-planning-controller">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="Select optimization parameters."></span>
          </div>

          <span class="hide-on-expanded icon icon-network-planning"></span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-modeling">
            Scenario Modeling Tools
          </a>
        </h4>
      </div>
      <div id="map-tools-modeling" class="panel-collapse collapse" role="tabpanel" data-tool="area_network_planning">
        <div class="panel-body">
          <% include controller_area_network_planning.html %>
        </div>
      </div>
    </div>

    <div ng-controller="financial-profile-tool-controller">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" style="background-color: black">
        <h4 class="panel-title">
          <div class="pull-right hide-on-collapsed" style="margin-left: 10px">
            <span class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-placement="bottom"
              data-content="View output of optimization. Global selection shows output for all areas which were optimized. Area selection allows you to select specific areas and view the results."></span>
          </div>

          <div class="pull-right hide-on-collapsed" style="margin-top: -5px">
            <button class="btn btn-sm btn-primary" ng-class="{'btn-success': mode === 'global'}" ng-click="setMode('global')">Global</button>
            <button class="btn btn-sm btn-primary" ng-class="{'btn-success': mode === 'area'}" ng-click="setMode('area')">Area</button>
          </div>
          <span class="hide-on-expanded">R</span>
          <a class="collapsed hide-on-collapsed" role="button" data-toggle="collapse" data-parent="#map-tools-accordion" href="#map-tools-financial">
            Results
          </a>
        </h4>
      </div>
      <div id="map-tools-financial" class="panel-collapse collapse" role="tabpanel" data-tool="financial_profile">
        <div class="panel-body">
          <p ng-hide="showData" class="text-center" style="margin: 30px 10px">
            Click on an area to see its financial summary.
          </p>
          <div ng-show="showData">
            <% include controller_financial_profile_summary.html %>
          </div>
        </div>
      </div>
    </div>
    <div class="map-tool-wrapper" style="left: 400px; top: 47px">
      <div ng-show="details" class="map-tool panel panel-primary" id="financial_profile_controller" style="width: 1000px">
        <div class="panel-heading">
          <a href="javascript:void(0)" class="pull-right" ng-click="showDetails(false)">
            <span style="color:white" class="fa fa-close"></span>
          </a>
          {{ map_tools.get_tool_name('financial_profile') }}
          {{ mode === 'area' && selectedArea ? ' · '+selectedArea.name : '' }}
        </div>
        <% include controller_financial_profile_tool.html %>
      </div>
    </div>
    </div>

  </div>
  <div style="float: left; margin-top: 1px">
    <button class="btn btn-sm btn-default" id="expander"><span class="fa fa-chevron-left"></span></button>
  </div>
</div>
