<!DOCTYPE html>
<html ng-app="aro">
  <head>
    <title><%= config.ui.title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <% if (ARO_CLIENT != 'frontier') { %>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <% } %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aro.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/client_<%= ARO_CLIENT %>.css">
  </head>
  <body>
    <div class="login-page-bg">
      <div class="container login-box">
        <div class="row">
          <div class="col-sm-12">
            <img id="aro_logo" src="/images/logos/<%= ARO_CLIENT %>/logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <form action="/login" method="post">
                <div class="form-group">
                  <input id="txtEmail" name="email" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                  <input id="txtPassword" type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button id="btnLogin" type="submit" class="btn btn-light">Log In</button>
                <p class="float-right"><small><a href="/forgot_password">Forgot password?</a></small></p>
              </form>
              <br>
              <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
              <% if (info && info.length > 0) { %>
                <div class="alert alert-info" role="alert"><%= info %></div>
              <% } %>
              <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
