<!-- <div class="modal" id="global_settings_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Global Settings</h4>
      </div>
      <div class="modal-body">

      </div>

    </div>
  </div>
</div> -->
<modal visible="state.openGlobalSettings">
  <modal-header title="Global Settings"></modal-header>
  <modal-body>
    <h3>This is modal body</h3>
  </modal-body>
  <modal-footer>
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </modal-footer>
</modal>