<div class="modal" id="application-settings" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document" style="width: 1200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Application Settings</h4>
      </div>
      <div class="modal-body">
        <div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#applicationSettingsNetworkCosts" aria-controls="home" role="tab" data-toggle="tab">Network Costs</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsEndpointDemand" aria-controls="profile" role="tab" data-toggle="tab">Endpoint Demand</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsBusinessProducts" aria-controls="profile" role="tab" data-toggle="tab">Business Products</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsFinancialAssumptions" aria-controls="profile" role="tab" data-toggle="tab">Financial Assumptions</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsServiceLayerPriorities" aria-controls="profile" role="tab" data-toggle="tab">Service Layer Priorities</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsServiceLayerEntityCategories" aria-controls="profile" role="tab" data-toggle="tab">Service Layer Entity Categories</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsAdvanced" aria-controls="profile" role="tab" data-toggle="tab">Advanced</a>
            </li>
            <li role="presentation">
              <a href="#applicationSettingsOther" aria-controls="profile" role="tab" data-toggle="tab">Other</a>
            </li>
          </ul>
          <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="applicationSettingsNetworkCosts">
              <form class="form-horizontal">
                <div class="form-group" ng-repeat="setting in applicationSettings.networkCosts">
                  <label class="col-sm-4 control-label">{{ setting.name }}</label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <div class="input-group-addon"><%- config.currency_symbol %></div>
                      <input type="text" class="form-control format-currency"
                        data-id="{{setting.id}}" value="{{setting.cost | number:2}}"
                        data-tab="networkCosts" data-field="cost">
                    </div>
                  </div>
                  <p class="col-sm-3 form-control-static">{{ setting.unit }}</p>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsEndpointDemand" style="padding-top: 20px">
              <p class="text-center">...</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsBusinessProducts" style="padding-top: 20px; height:450px; overflow-y:auto;">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Product Type</th>
                    <th>Product Name</th>
                    <th class="text-right">Arpu</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr ng-repeat="setting in applicationSettings.businessProducts">
                    <td>{{ setting.product_type }}</td>
                    <td>{{ setting.product_name }}</td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="businessProducts" data-field="arpu_weight"
                        data-id="{{setting.dimension_id}}" value="{{setting.arpu_weight | number:2}}">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsFinancialAssumptions" style="padding-top: 20px">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Entity</th>
                    <th>Product</th>
                    <th class="text-right">Arpu</th>
                    <th class="text-right">Entity Growth</th>
                    <th class="text-right">Churn Rate</th>
                    <th class="text-right">Opex Percent</th>
                    <th class="text-right">Maintenance Expenses</th>
                    <th class="text-right">Connection Cost</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr ng-repeat="setting in applicationSettings.financialAssumptions">
                    <td>{{ setting.entity_description }}</td>
                    <td>{{ setting.product }}</td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="arpu"
                        data-id="{{setting.id}}" value="{{setting.arpu | number:2}}">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="entity_growth"
                        data-id="{{setting.id}}" value="{{setting.entity_growth | number:2}}">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="churn_rate"
                        data-id="{{setting.id}}" value="{{setting.churn_rate | number:2}}">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="opex_percent"
                        data-id="{{setting.id}}" value="{{setting.opex_percent | number:2}}">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="maintenance_expenses"
                        data-id="{{setting.id}}" value="{{setting.maintenance_expenses | number:2}}">
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm format-currency text-right"
                        data-tab="financialAssumptions" data-field="connection_cost"
                        data-id="{{setting.id}}" value="{{setting.connection_cost | number:2}}">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsServiceLayerPriorities" style="padding-top: 20px">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Service Layer</th>
                    <th>Default priority</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr ng-repeat="setting in applicationSettings.serviceLayerPriorities">
                    <td>{{ setting.service_layer_description }}</td>
                    <td>
                      <input type="number" class="form-control input-sm text-right"
                        data-tab="serviceLayerPriorities" data-field="default_priority"
                        data-id="{{setting.id}}" ng-model="setting.default_priority"
                        style="width: 50px">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsServiceLayerEntityCategories" style="padding-top: 20px">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Entity</th>
                    <th>Service Layer</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr ng-repeat="setting in applicationSettings.serviceLayerEntityCategories">
                    <td>{{ setting.entity_description }}</td>
                    <td>
                      <select class="form-control"
                        data-tab="serviceLayerEntityCategories" data-field="service_layer_id"
                        data-id="{{setting.id}}">
                        <option ng-repeat="layer in serviceLayers"
                           ng-selected="setting.service_layer_id === layer.id"
                          value="{{layer.id}}">{{layer.description}}</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsOther" style="padding-top: 20px">
              <form action="/admin/settings/refresh_cache" method="post">
                <p class="text-center">
                  <button class="btn btn-light">Clear UI Cache</button>
                </p>
              </form>
              <form action="/admin/settings/refresh_db_cache" method="post">
                <p class="text-center">
                  <button class="btn btn-light">Clear Database Cache</button>
                </p>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="applicationSettingsAdvanced" style="padding-top: 20px">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr ng-repeat="property in applicationSettings.systemProperties">
                    <td>{{ property.description }}</td>
                    <td>
                      <input class="form-control" type="text"
                        data-tab="systemProperties" data-field="string_value"
                        data-id="{{ property.id }}"
                        ng-model="property.string_value">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-light" ng-click="updateSettings()">Save changes</a>
        <a type="button" class="btn btn-light" ng-click="updateSettings(true)">Save and close</a>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
