<div class="modal" id="location_show_businesses" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Businesses</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Industry</th>
              <th class="text-right">#employees</th>
              <th class="text-right">Customer type</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="business in businesses">
              <td><a href="javascript:void(0)" ng-click="show_market_profile(business)">{{business.name}}</a></th>
              <td>{{business.address}}</th>
              <td>{{business.industry_description}}</th>
              <td class="text-right">{{business.number_of_employees}}</td>
              <td class="text-right">
                <span class="label label-success"
                  ng-attr-class="label label-{{business.customer_type.toLowerCase() === 'existing' ? 'success' : 'danger'}}">
                  {{business.customer_type}}
                </span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="location_show_business_market_profile" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Market profile</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#location_show_business_market_size" aria-controls="home" role="tab" data-toggle="tab">Market size</a>
          </li>
          <li role="presentation">
            <a href="#location_show_business_fair_share" aria-controls="profile" role="tab" data-toggle="tab">Fair share</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="location_show_business_market_size">
            <p ng-show="market_size && market_size.length === 0" class="text-center" style="margin-top: 30px">No data available for the selected business</p>
            <canvas id="business_market_size_chart" style="width:100%; height:200px"></canvas>
          </div>
          <div role="tabpanel" class="tab-pane" id="location_show_business_fair_share">
            <p ng-show="fair_share && fair_share.length === 0" class="text-center" style="margin-top: 30px">No data available for the selected business</p>
            <canvas id="business_fair_share_chart" style="width:100%; height:200px"></canvas>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
