<div class="modal" id="modal-customer-profile" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Customer profile</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-show="type !== 'route'">
              <select class="form-control" ng-model="type" ng-change="calculateCustomerProfile()">
                <option value="all">All</option>
                <option value="addressable">Addressable</option>
              </select>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Customer type</th>
                  <th colspan="2">Businesses</th>
                  <th colspan="2">Households</th>
                  <th colspan="2">Cell Sites</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="customer_type in data.customer_types">
                  <th><span style="background-color: {{customer_type.color}}; width: 10px; height: 10px; display: inline-block"></span>
                    {{customer_type.name}}</th>
                  <td class="text-right">
                    {{customer_type.businesses | number }}
                  </td>
                  <td class="text-right">
                    {{customer_type.businesses*100 / data.customers_businesses_total | number : 0}}%
                  </td>
                  <td class="text-right">
                    {{customer_type.households | number }}
                  </td>
                  <td class="text-right">
                    {{customer_type.households*100 / data.customers_households_total | number : 0}}%
                  </td>
                  <td class="text-right">
                    {{customer_type.towers | number }}
                  </td>
                  <td class="text-right">
                    {{customer_type.towers*100 / data.customers_towers_total | number : 0}}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <p class="text-center" ng-show="!loading && data.customer_types.length === 0">No data available in this area</p>
            <p class="text-center" ng-show="loading">Loading...</p>
            <canvas id="customer-profile-chart" style="width:100%; height:200px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
