<div class="modal" id="upload_morphology_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload Morphology</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">Dataset name</label>
            <div class="col-sm-8">
              <input name="name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Dataset</label>
            <div class="col-sm-8">
              <input name="file" type="file" name="dataset" class="form-control">
              <br>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Tile System</label>
            <div class="col-sm-8">
   		    <select class="form-control ng-pristine ng-valid ng-touched"
        		ng-model="tileselected"
        		ng-options="tile_system.id as tile_system.name for tile_system in tile_systems">
			</select>
   		    </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Impedance Mapping</label>
            <div class="col-sm-8">
              <div class="morp_impedence_table">
                <table ng-show="Impedences.length > 0">
                  <thead>
                  <tr>
                    <th class="morph_table_header">Code</th>
                    <th class="morph_table_header">Impedance Per 100m</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="morp_impedence_row" ng-repeat="impedence in Impedences">
                    <td><input name="code" class="form-control col-sm-7 morp_impedence_item" style="width: 75%" ng-model="impedence.code"></td>
                    <td><input name="impr" class="form-control col-sm-7 morp_impedence_item" style="width: 75%" ng-model="impedence.value"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button type="button" class="btn btn-sm btn-primary btn-add-impc" ng-click="addImpedance()"><i class="fa fa-plus btn-add-impd"></i></button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
</div>
