<div class="modal" id="data-management" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Data management</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#dataManagementUserEntities" role="tab" data-toggle="tab">Cell Sites</a></li>
          <li role="presentation"><a href="#dataManagementUserDefinedBoundaries" role="tab" data-toggle="tab">Hubs/Polygons</a></li>
          <li role="presentation"><a href="#dataManagementUserFiber" role="tab" data-toggle="tab">Fiber</a></li>
          <li role="presentation"><a href="#dataManagementMorphology" role="tab" data-toggle="tab">Morphology</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="dataManagementUserEntities" style="margin-top: 20px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entities in userEntities">
                  <td>
                    {{entities.name}}
                  </td>
                  <td>
                    <p class="float-right">
                      <button class="btn btn-primary btn-sm" ng-click="deleteUserEntities(entities)"><span class="fa fa-trash"></span></button>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="dataManagementUserDefinedBoundaries" style="margin-top: 20px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="boundaries in userBoundaries">
                  <td>
                    {{boundaries.name}}
                  </td>
                  <td>
                    <p class="float-right">
                      <button class="btn btn-primary btn-sm" ng-click="deleteUserBoundaries(boundaries)"><span class="fa fa-trash"></span></button>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="dataManagementUserFiber" style="margin-top: 20px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fiber in userFiber">
                  <td>
                    {{fiber.name}}
                  </td>
                  <td>
                    <p class="float-right">
                      <button class="btn btn-primary btn-sm" ng-click="deleteUserFiber(fiber)"><span class="fa fa-trash"></span></button>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="dataManagementMorphology" style="margin-top: 20px">
            <table class="table table-striped">
              <thead>
                <!-- <tr>
                  <th>
                    Name
                  </th>
                  <th></th>
                </tr> -->
              </thead>
              <tbody>
              <div class="modal-body">
          		<form class="form-horizontal">
          		<div>
          		<label class="float-right">
          			<input type="checkbox" class="checkboxfill" ng-model="showMorphology">
        		</label>
        		<label style="margin-left:25px">Upload Morphology</label>
      			</div>
	          </form>
	          </div>
	          
	          <div ng-show="showMorphology" style="padding:10px; margin-left:25px; margin-right:30px">
			      <!-- <input class="form-control uploadedCustomersSelect" id="uploadedMorphology"
			          ng-model="selectedDatasource"> -->
			      <button class="btn btn-sm btn-primary btn-block" style="margin: 5px 0" ng-click="addMorphology()">
			        <span class="fa fa-plus"></span> Add Morphology
			      </button>
    		</div>
                <!-- <tr ng-repeat="fiber in userFiber">
                  <td>
                    {{fiber.name}}
                  </td>
                  <td>
                    <p class="float-right">
                      <button class="btn btn-primary btn-sm" ng-click="deleteUserFiber(fiber)"><span class="fa fa-trash"></span></button>
                    </p>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
