<div class="modal" id="market-size" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Market profile</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#market_profile_market_size" aria-controls="home" role="tab" data-toggle="tab">Market size</a>
          </li>
          <li role="presentation">
            <a href="#market_profile_fair_share" aria-controls="profile" role="tab" data-toggle="tab">Fair share</a>
          </li>
        </ul>

        <div class="tab-content" style="margin-top: 30px">
          <div role="tabpanel" class="tab-pane active" id="market_profile_market_size">

            <form class="form-horizontal">
              <div class="form-group form-group-sm" ng-hide="market_type === 'route'">
                <label class="col-sm-3 control-label">Market type</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="market_type" ng-change="calculate_market_size()">
                    <option value="boundary">All</option>
                    <option value="addressable">Addressable</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Industry</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="industry.industry_name for industry in filters.industries" ng-model="industry" ng-change="calculate_market_size()" multiple data-placeholder="All industries">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Product</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="product.product_name group by product.product_type for product in filters.products" ng-model="product" ng-change="calculate_market_size()" multiple data-placeholder="All products">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Business size</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="range.value_range for range in filters.employees_by_location" ng-model="employees_range" ng-change="calculate_market_size()" multiple data-placeholder="All business sizes">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Customer type</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="customer_type.name for customer_type in filters.customer_types" ng-model="customer_type" ng-change="calculate_market_size()">
                    <option value="">Any customer type</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-9 col-sm-offset-3">
                  <p class="form-control-static" ng-show="loading">Loading...</p>
                </div>
              </div>
            </form>

            <p class="form-control-static" ng-show="!loading && market_size && market_size.length === 0">No data available in this area with the selected filters</p>
            <canvas id="market_profile_market_size_chart" style="width:100%; height:200px"></canvas>
            <div id="market_profile_market_size_chart_legend" class="clearfix"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="market_profile_fair_share">
            <div class="row">
              <div class="col-md-8">
                <p class="form-control-static" ng-show="!loading && fair_share && fair_share.length === 0">No data available in this area with the selected filters</p>
                <canvas id="market_profile_fair_share_chart" style="width:100%; height:200px"></canvas>
              </div>
              <div class="col-md-4">
                <div id="market_profile_fair_share_chart_legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="export()">Export</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
