<form>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for Plan Names, Owners, or Geographies" ng-model="search_text" ng-change="loadPlans()">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" placeholder="Minimum cost" ng-model="minimumCost" ng-change="loadPlans()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" placeholder="Maximum cost" ng-model="maximumCost" ng-change="loadPlans()">
      </div>
    </div>
  </div>
  <hr>
</form>
<p ng-show="plans.length < 1" class="text-center">
  No plans found
</p>
<div ng-show="plans.length > 0">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Name
            <a href="javascript:void(0)" ng-click="sortBy('name', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('name', false)">↑</a>
          </th>
          <th>
            Created at
            <a href="javascript:void(0)" ng-click="sortBy('created_at', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('created_at', false)">↑</a>
          </th>
          <th>
            Updated at
            <a href="javascript:void(0)" ng-click="sortBy('updated_at', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('updated_at', false)">↑</a>
          </th>
          <th>Owner</th>
          <th>
            Total Cost
            <a href="javascript:void(0)" ng-click="sortBy('total_cost', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('total_cost', false)">↑</a>
          </th>
          <th>
            Total Revenue
            <a href="javascript:void(0)" ng-click="sortBy('total_revenue', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('total_revenue', false)">↑</a>
          </th>
          <th>
            Incremental IRR
            <a href="javascript:void(0)" ng-click="sortBy('irr', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('irr', false)">↑</a>
          </th>
          <th>
            Incremental NPV
            <a href="javascript:void(0)" ng-click="sortBy('npv', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('npv', false)">↑</a>
          </th>
          <th>Premises enabled</th>
          <th>Fiber Miles Aug</th>
          <th>
            Fiber Miles New
            <a href="javascript:void(0)" ng-click="sortBy('fiber_length', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('fiber_length', false)">↑</a>
          </th>
          <th>Prem Ct 4G LTE</th>
          <th>Prem Ct 5G</th>
          <th>Prem Ct FiOS</th>
          <th>Prem Ct Core</th>
          <th>Cost/Prem 4G LTE</th>
          <th>Cost/Prem 5G</th>
          <th>Cost/Prem FiOS</th>
          <th>Cost/Prem Core</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="plan in plans">
          <td><a href="javascript:void(0)" ng-click="selectPlan(plan)">{{plan.name}}</a></td>
          <td>{{plan.updated_at | date:'shortDate'}}</td>
          <td>{{plan.created_at | date:'shortDate'}}</td>
          <td>{{plan.owner_first_name}} {{plan.owner_last_name}}</td>
          <td class="text-right">{{plan.total_cost | currency}}</td>
          <td class="text-right">{{plan.total_revenue | currency}}</td>
          <td class="text-right">
            <!--
            {{plan.irr * 100 | number: 1}}%
            -->
          </td>
          <td class="text-right">{{plan.npv / 1000 | currency:"$":1}}K</td>
          <td class="text-right">{{plan.total_count | number}}</td>
          <td class="text-right"></td>
          <td class="text-right">{{plan.fiber_length | number: 0}} mi</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-right">{{plan.total_count | number}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="text-center">
    <ul class="pagination">
      <li ng-class="{ disabled: currentPage === 1 }">
        <a href="javascript:void(0)" aria-label="Previous" ng-click="loadPlans(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="page in pages" ng-class="{ active: page === currentPage }">
        <a href="javascript:void(0)" ng-click="loadPlans(page)">{{ page }}</a>
      </li>
      <li ng-class="{ disabled: currentPage === pages[pages.length - 1] }">
        <a href="javascript:void(0)" aria-label="Next" ng-click="loadPlans(pages[pages.length - 1])">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
