<div class="modal" id="location_show_businesses" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Businesses</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Industry</th>
              <th class="text-right">#employees</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="business in businesses">
              <td>{{business.name}}</th>
              <td>{{business.address}}</th>
              <td>{{business.industry_description}}</th>
              <td class="text-right">{{business.number_of_employees}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>