<div class="modal" id="selected_location_controller" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Location details</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#selected_location_costs" aria-controls="home" role="tab" data-toggle="tab">Install costs</a>
          </li>
          <li role="presentation">
            <a href="#selected_location_customer_profile" aria-controls="profile" role="tab" data-toggle="tab">Customer profile</a>
          </li>
          <li role="presentation">
            <a href="#selected_location_market_profile" aria-controls="profile" role="tab" data-toggle="tab">Market profile</a>
          </li>
          <li role="presentation">
            <a href="#selected_location_fair_share" aria-controls="profile" role="tab" data-toggle="tab">Fair share</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="selected_location_costs">
            <table class="locations-table">
              <tbody>
                <tr>
                  <th>Entry fee</th>
                  <td colspan="2" class="text-right">{{location.entry_fee | currency}}</td>
                </tr>
                <tr>
                  <th>Number of businesses</th>
                  <td colspan="2" class="text-right">{{location.number_of_businesses}}</td>
                </tr>
                <tr>
                  <th>Business install costs</th>
                  <td colspan="2" class="text-right">{{location.business_install_costs | currency}}</td>
                </tr>
                <tr ng-show="show_households">
                  <th>Number of households</th>
                  <td></td>
                  <td class="text-right">
                    <input type="text" class="form-control input-sm" style="text-align:right" ng-model="location.number_of_households">
                  </td>
                </tr>
                <tr ng-show="show_households">
                  <th>Household install costs</th>
                  <td colspan="2" class="text-right">{{location.household_install_costs | currency}}</td>
                </tr>
                <tr>
                  <th>Total costs</th>
                  <td colspan="2" class="text-right">{{location.total_costs | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="selected_location_customer_profile">
            <table class="locations-table">
              <tbody>
                <tr>
                  <th class="text-right" colspan="2">Businesses</th>
                  <th class="text-right" colspan="2" ng-show="show_households">Households</th>
                </tr>
                <tr ng-repeat="customer_type in location.customer_types">
                  <th>{{customer_type.name}}</th>
                  <td class="text-right">
                    {{customer_type.businesses}}
                  </td>
                  <td class="text-right">
                    {{customer_type.businesses*100 / location.customers_businesses_total | number : 0}}%
                  </td>
                  <td class="text-right" ng-show="show_households">
                    {{customer_type.households}}
                  </td>
                  <td class="text-right" ng-show="show_households">
                    {{customer_type.households*100 / location.customers_households_total | number : 0}}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="selected_location_market_profile">
            <form class="form-horizontal" style="margin-top: 30px">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Industry</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="industry.industry_name for industry in filters.industries" ng-model="industry" ng-change="calculate_market_size()" multiple data-placeholder="All industries">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Product</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="product.product_name group by product.product_type for product in filters.products" ng-model="product" ng-change="calculate_market_size()" multiple data-placeholder="All products">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Business size</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-options="range.value_range for range in filters.employees_by_location" ng-model="employees_range" ng-change="calculate_market_size()" multiple data-placeholder="All business sizes">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-9 col-sm-offset-3">
                  <p class="form-control-static" ng-show="!loading && market_size.length === 0">No data available for this location with the selected filters</p>
                  <p class="form-control-static" ng-show="loading">Loading...</p>
                </div>
              </div>
            </form>
            
            <canvas id="location_market_size_chart" style="width:100%; height:200px"></canvas>
          </div>

          <div role="tabpanel" class="tab-pane" id="selected_location_fair_share" style="margin-top:30px">
            <canvas id="location_fair_share_chart" style="width:100%; height:200px"></canvas>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="update()" ng-show="show_households">Update</button>
      </div>
    </div>
  </div>
</div>