<form>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for Plan Names, Owners, or Geographies" ng-model="search_text" ng-change="loadPlans()">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><%- config.currency_symbol %></span>
        <input type="text" class="form-control" placeholder="Minimum cost" ng-model="minimumCost" ng-change="loadPlans()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><%- config.currency_symbol %></span>
        <input type="text" class="form-control" placeholder="Maximum cost" ng-model="maximumCost" ng-change="loadPlans()">
      </div>
    </div>
  </div>
  <% if (user.rol === 'admin') { %>
    <div class="row">
      <div class="col-md-12">
        <div class="checkbox">
          <input type="checkbox" class="checkboxfill"
                 ng-model="allPlans"
                 name="ctype-name"
                 ng-change="$scope.loadPlans()"
          >
          <span style="padding-left: 5px">Show plans of all users</span>
        </div>
      </div>
    </div>
  <% } %>
  <hr>
</form>
<p ng-show="plans.length < 1" class="text-center">
  No plans found
</p>
<div ng-show="plans.length > 0">
  <div class="table-responsive">
    <table id="tblSelectPlans" class="table table-striped">
      <thead>
        <tr>
          <th>
            Name
            <a href="javascript:void(0)" ng-click="sortBy('name', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('name', false)">↑</a>
          </th>
          <th>Status</th>
          <th>Actions</th>
          <th>
            Created at
            <a href="javascript:void(0)" ng-click="sortBy('created_at', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('created_at', false)">↑</a>
          </th>
          <th>
            Updated at
            <a href="javascript:void(0)" ng-click="sortBy('updated_at', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('updated_at', false)">↑</a>
          </th>
          <th>Owner</th>
          <th class="text-right">
            Total Cost
            <a href="javascript:void(0)" ng-click="sortBy('total_cost', true)">↓</a>
            <a href="javascript:void(0)" ng-click="sortBy('total_cost', false)">↑</a>
          </th>
          <th>Optimization Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="plan in plans">
          <td><a href="javascript:void(0)" ng-click="selectPlan(plan)">{{plan.name}}</a></td>
          <td>
            <div ng-if="plan.progress">
              <div style="float:left; width:200px">
                <div class="progress" style="margin:0">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{ plan.progress * 100 }}%">{{ plan.progressString }}</div>
                </div>
              </div>
            </div>
            <div ng-if="!plan.progress && plan.ranOptimization">
              <div style="float:left; width:200px">
                <div class="progress" style="margin:0">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">Complete</div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <a ng-if="plan.progress" class="btn btn-sm btn-success" ng-click="stopOptimization(plan)"><span class="fa fa-stop"></span></a>
            <a ng-if="!plan.progress" class="btn btn-sm btn-primary" ng-click="openReport(plan)"><span class="fa fa-folder"></span></a>
            <!--Commenting out "plan sharing" for now. Until we get ACL sorted out in aro-service-->
            <!--<a ng-if="!plan.progress" class="btn btn-sm btn-primary" ng-click="showSharePlan(plan)"><span class="glyphicon glyphicon-share"></span></a>-->
            <a ng-if="!plan.progress" class="btn btn-sm btn-danger" ng-click="deletePlan(plan)"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
          <td>{{plan.updated_at | date:'shortDate'}}</td>
          <td>{{plan.created_at | date:'shortDate'}}</td>
          <td>{{plan.owner_first_name}} {{plan.owner_last_name}}</td>
          <td class="text-right">{{plan.total_cost | currency:"<%- config.currency_symbol %>"}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="text-center">
    <ul class="pagination">
      <li ng-class="{ disabled: currentPage === 1 }">
        <a href="javascript:void(0)" aria-label="Previous" ng-click="loadPlans(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="page in pages" ng-class="{ active: page === currentPage }">
        <a href="javascript:void(0)" ng-click="loadPlans(page)">{{ page }}</a>
      </li>
      <li ng-class="{ disabled: currentPage === pages[pages.length - 1] }">
        <a href="javascript:void(0)" aria-label="Next" ng-click="loadPlans(pages[pages.length - 1])">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
