<div class="modal" id="modal-census-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Census block · {{selectedId}}</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Carrier</th>
              <th class="text-right">Speed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="carrier in carriers">
              <td>{{ carrier.carrier_name }}</td>
              <td class="text-right">{{ carrier.speed }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
