<div class="modal" id="manage-network-plans" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Manage Plans</h4>
      </div>
      <div class="modal-body">
        <p ng-show="routes.length < 1" class="text-center">
          No plans stored in the database yet
        </p>
        <div>
          <form ng-show="routes.length > 0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search analysis by name" ng-model="search_text" ng-change="load_plans()">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
            </div>
            <hr>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                  <a href="javascript:void(0)" ng-click="sort_by('name', true)">↓</a>
                  <a href="javascript:void(0)" ng-click="sort_by('name', false)">↑</a>
                </th>
                <th>
                  Created at
                  <a href="javascript:void(0)" ng-click="sort_by('created_at', true)">↓</a>
                  <a href="javascript:void(0)" ng-click="sort_by('created_at', false)">↑</a>
                </th>
                <th>
                  Updated at
                  <a href="javascript:void(0)" ng-click="sort_by('updated_at', true)">↓</a>
                  <a href="javascript:void(0)" ng-click="sort_by('updated_at', false)">↑</a>
                </th>
                <th>Owner</th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="route in routes">
                <td>{{route.name}}</th>
                <td>{{route.updated_at | date:'shortDate'}}</th>
                <td>{{route.created_at | date:'shortDate'}}</th>
                <td>{{route.owner_first_name}} {{route.owner_last_name}}</th>
                <td>
                  <a class="btn btn-sm btn-primary" ng-click="show_share_route(route)"><span class="glyphicon glyphicon-share"></span></a>
                  <a class="btn btn-sm btn-danger" ng-click="delete_route(route)" ng-show="route.owner_id === user_id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
