<div class="modal" id="selected_location_controller" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="selected-locations-header">
          <!-- The map that is shown in the header -->
          <img ng-attr-src="{{map_url}}">
          <!-- A div that is overlaid on the map image to make it appear darker -->
          <div class="selected-locations-map-overlay">
            <div class="selected-location-address">
              {{location.address}}
            </div>
            <div style="display:flex; width: 100%;">
              <div style="flex: 0 1 auto; padding: 10px;">
                <div class="selected-location-value">{{location.number_of_businesses}}</div>
                <div class="selected-location-label">Businesses</div>
              </div>
              <div style="flex: 0 1 auto; padding: 10px;">
                <div class="selected-location-value">{{location.number_of_households}}</div>
                <div class="selected-location-label">Households</div>
              </div>
              <div style="flex: 0 1 auto; padding: 10px;">
                <div class="selected-location-value">{{location.number_of_towers}}</div>
                <div class="selected-location-label">{{state.configuration.locationCategories.celltower.label}}</div>
              </div>
              <div style="flex: 0 1 auto; padding: 10px;">
                <div class="selected-location-value">{{location.distance_to_client_fiber | number: 0}} m</div>
                <div class="selected-location-label">Distance from existing network</div>
              </div>
              <div style="flex: 1 1 auto; padding: 10px;">
                <div ng-if="location.distance_to_planned_network" class="selected-location-value">{{ location.distance_to_planned_network | number: 0 }} m</div>
                <div ng-if="!location.distance_to_planned_network" class="selected-location-value">No planned network</div>
                <div class="selected-location-label">Distance to planned network</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">

        <div style="width: 100%; text-align: center">
          <!-- Note: if you changed "nav-pills" back to "nav-tabs" you also have to make the same change in the controller JS. Leaving it this way for now -->
          <ul class="nav nav-pills" style="display: inline-block;" role="tablist">
            <!-- <li role="presentation">
              <a href="#selected_location_customer_profile" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">Customer profile</a>
            </li> -->
            <% if (config.ui.locations_modal && config.ui.locations_modal.market_profile) { %>
            <li role="presentation" class="active">
              <a href="#selected_location_market_profile" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">Business Spend</a>
            </li>
            <% } %>
            <li role="presentation">
              <a href="#selected_location_fair_share" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">Fair Share</a>
            </li>
            <li role="presentation">
              <a href="#selected_location_businesses" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">Businesses</a>
            </li>
            <li role="presentation">
              <a href="#selected_location_households" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">Households</a>
            </li>
            <li role="presentation">
              <a href="#selected_location_towers" class="selected-location-pill-padding" aria-controls="profile" role="tab" data-toggle="pill">{{state.configuration.locationCategories.celltower.label}}</a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <% if (config.ui.locations_modal && config.ui.locations_modal.market_profile) { %>
          <div role="tabpanel" class="tab-pane active" id="selected_location_market_profile">
            <br>
            <div class="row">
              <!-- Entity type dropdown -->
              <div class="col-md-3">
                <div class="form-group form-group-sm">
                  <label class="control-label">Entity Type</label>
                  <select ng-model="entityType" ng-change="calculateMarketSize()" class="form-control">
                    <option value="businesses">Businesses</option>
                    <option value="households">Households</option>
                    <option value="towers">{{state.configuration.locationCategories.celltower.label}}</option>
                  </select>
                </div>
              </div>

              <!-- Industry dropdown -->
              <div class="col-md-3">
                <div class="form-group form-group-sm" ng-show="entityType === 'businesses'">
                  <label class="control-label">Industry</label>
                  <select class="form-control" ng-options="industry.industry_name for industry in filters.industries" ng-model="industry" ng-change="calculateMarketSize()" multiple data-placeholder="All industries">
                  </select>
                </div>
              </div>

              <!-- Product dropdown -->
              <div class="col-md-3">
                <div class="form-group form-group-sm" ng-show="entityType === 'businesses'">
                  <label class="control-label">Product</label>
                  <select class="form-control" ng-options="product.product_name group by product.product_type for product in filters.products" ng-model="product" ng-change="calculateMarketSize()" multiple data-placeholder="All products">
                  </select>
                </div>
              </div>

              <!-- Business size dropdown -->
              <div class="col-md-3">
                <div class="form-group form-group-sm" ng-show="entityType === 'businesses'">
                  <label class="control-label">Business size</label>
                  <select class="form-control" ng-options="range.value_range for range in filters.employees_by_location" ng-model="employees_range" ng-change="calculateMarketSize()" multiple data-placeholder="All business sizes">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <canvas id="location_market_size_chart" style="width:100%; height:200px"></canvas>
                <p class="form-control-static"
                   ng-show="!loading && market_size.length === 0"
                   style="position:relative;top:-100px; text-align:center">
                   No data available for this location with the selected filters
                </p>
                <p class="form-control-static" ng-show="loading">Loading...</p>
              </div>
            </div>
          </div>
          <% } %>
          <div role="tabpanel" class="tab-pane" id="selected_location_fair_share" style="margin-top:30px">
            <div class="row" style="margin-top: 30px">
              <div class="col-md-4">
                <p class="text-center">Businesses</p>
                <div class="selected-location-empty-chart" ng-show="fair_share['businesses'].length === 0">
                  No businesses at this location
                </div>
                <div ng-show="fair_share['businesses'].length > 0">
                  <canvas id="location_fair_share_chart_businesses" style="width:100%; height:200px"></canvas>
                  <div id="location_fair_share_chart_legend_businesses"></div>
                </div>
              </div>
              <div class="col-md-4">
                <p class="text-center">Households</p>
                <div class="selected-location-empty-chart" ng-show="fair_share['households'].length === 0">
                  No households at this location
                </div>
                <div ng-show="fair_share['households'].length > 0">
                  <canvas id="location_fair_share_chart_businesses" style="width:100%; height:200px"></canvas>
                  <div id="location_fair_share_chart_legend_businesses"></div>
                </div>
              </div>
              <div class="col-md-4">
                <p class="text-center">{{state.configuration.locationCategories.celltower.label}}</p>
                <div class="selected-location-empty-chart" ng-show="fair_share['towers'].length === 0">
                  No {{state.configuration.locationCategories.celltower.label}} at this location
                </div>
                <div ng-show="fair_share['towers'].length > 0">
                  <canvas id="location_fair_share_chart_businesses" style="width:100%; height:200px"></canvas>
                  <div id="location_fair_share_chart_legend_businesses"></div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="selected_location_businesses">
            <table><tbody></tbody></table><!-- do not remove -->

            <table class="table">
              <thead>
                <tr>
                  <th class="selected-modal-table-header">Name</th>
                  <th class="selected-modal-table-header">Address</th>
                  <th class="text-right selected-modal-table-header"><%- config.ui.locations_modal.countLabel %> Count</th>
                  <th class="text-right selected-modal-table-header">Category</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="business in businesses" class="selected-modal-table-row" style="cursor:pointer" ng-click="show_market_profile(business)">
                  <td ng-attr-id="location_business_row_{{ business.id }}">
                    <!-- Show right arrow when [1] no business is selected OR [2] selected business is not this business -->
                    <span class="fa fa-chevron-right" ng-show="!selected_business || (business.id !== selected_business.id)">&nbsp;</span>
                    <!-- Show down arrow when this business is the selected business -->
                    <span class="fa fa-chevron-down" ng-show="selected_business && (business.id === selected_business.id)">&nbsp;</span>
                    <span>{{business.name}}</span>
                  </td>
                  <td>{{business.address}}</td>
                  <td class="text-right">{{business.number_of_employees}}</td>
                  <td class="text-right">{{business.size_name}}</td>
                </tr>
                <tr id="location_business_selected_info" style="display: none">
                  <td colspan="5" style="border-top: none">
                    <div class="row">
                      <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Product</label>
                        <select class="form-control" ng-options="product.product_name group by product.product_type for product in filters.products"
                          ng-model="product" ng-change="calculate_business_market_size()" multiple data-placeholder="All products">
                        </select>
                      </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p ng-show="business_market_size && business_market_size.length === 0" class="text-center" style="margin-top: 30px">No data available for the selected business</p>
                        <canvas id="business_market_size_chart" style="width:100%; height:200px"></canvas>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="text-center" ng-show="businesses.length === 0">
                  <td style="padding: 40px" colspan="5">No businesses at this location</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div role="tabpanel" class="tab-pane" id="selected_location_households">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" ng-show="households.length === 0">
                  <td style="padding: 40px" colspan="4">No households at this location</td>
                </tr>
                <tr ng-repeat="household in households">
                  <td>{{ household.address || 'Undefined' }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div role="tabpanel" class="tab-pane" id="selected_location_towers">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Site name</th>
                  <th>Address</th>
                  <th>Site type</th>
                  <th>Hub Name</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" ng-show="towers.length === 0">
                  <td style="padding: 40px" colspan="8">No {{state.configuration.locationCategories.celltower.label}} at this location</td>
                </tr>
                <tr ng-repeat="tower in towers">
                  <td>Undefined</td>
                  <td>{{ tower.address || 'Undefined' }}</td>
                  <td>Undefined</td>
                  <td>Undefined</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--
        <button type="button" class="btn btn-primary" ng-click="update()" ng-show="show_households">Update</button>
        <button type="button" class="btn btn-primary" ng-click="export()">Export</button>
        -->
      </div>
    </div>
  </div>
</div>
