<!DOCTYPE html>
<html ng-app="aro">
  <head>
    <title><%= config.ui.title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aro.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/client_<%= config.ARO_CLIENT %>.css">
  </head>
  <body>
    <div class="login-page-bg">
      <div class="container login-box">
        <div class="row">
          <div class="col-sm-12">
            <img id="aro_logo" src="/images/logos/<%= config.ARO_CLIENT %>/logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <p class="text-center">Reset password</p><hr>
              <form action="/reset_password" method="post">
                <input type="hidden" name="code" value="<%= code %>">
                <div class="form-group">
                  <label>New password</label>
                  <input name="password" type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Reenter new password</label>
                  <input name="repassword" type="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-light">Reset password</button>
              </form>
              <br>
              <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
