<div class="row" style="height:100%">
  <div class="col-md-12" style="height:80%">
    <select class="form-control" 
      ng-model="$ctrl.state.selectedExpertMode" 
      ng-options="item.id as item.label for item in $ctrl.state.expertModeTypes">
    </select>

    <textarea maxlength="75000" style="font-family: 'Courier'; width:100%; height:100%" 
      ng-if="$ctrl.state.selectedExpertMode !== $ctrl.state.expertModeTypes['OPTIMIZATION_SETTINGS'].id" 
      ng-model="$ctrl.state.expertMode[$ctrl.state.selectedExpertMode]"
      ng-model-options="{ debounce: 500 }"
      ng-change="$ctrl.validateExpertModeQuery()"
      placeholder="Available Keys: {{ $ctrl.scopeContextKeys }}"
      spellcheck="false"> 
    </textarea>

    <textarea rows="20" style="font-family: 'Courier'; width:100%; height:100%" 
      ng-if="$ctrl.state.selectedExpertMode === $ctrl.state.expertModeTypes['OPTIMIZATION_SETTINGS'].id" 
      ng-model="$ctrl.state.expertMode.OPTIMIZATION_SETTINGS"
      spellcheck="false"> 
    </textarea>
  </div>

  <!--<div class="w-100"></div>
  <div class="col-md-12">
    <button class="btn btn-primary" ng-click="$ctrl.saveExpertmode()">Save</button>
  </div>-->
</div>