<style>
  .analysis-mode-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .analysis-type {
    flex: 0 0 auto;
  }
  .old-accordion-title {
    flex: 0 0 auto;
  }
  .old-accordion-contents {
    flex: 1 1 auto;
    transition: flex-grow 100ms, flex-shrink 100ms, visibility 0ms 100ms;
    overflow: hidden;
    height: 450px;
    max-height: 500px;
    overflow: auto;
  }
  .old-accordion-contents.collapsed {
    flex: 0 0 auto;
    height: 0px;
    visibility: hidden;
  }
  .old-accordion-title {
    background-color: #333;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0px;
  }
  .old-accordion-title:hover, .old-accordion-title:focus {
    background-color: #333;
    color: white;
  }
</style>
<div class="analysis-mode-container">
  <div class="analysis-type">
    <h5 style="text-align: center;">Analysis Type:{{$ctrl.state.networkAnalysisType.label}}</h5>
    <optimize-button></optimize-button>
  </div>
  <accordion style="position: relative; flex: 1 1 auto;" initial-expanded-panel="'INPUT'">
    <accordion-panel-title title="'Input'" panel-id="'INPUT'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'INPUT'">
      <div class="col-xs-7" style="left: 20%;border: 10px solid white;">
        <select class="form-control"
          ng-model="$ctrl.state.networkAnalysisType"
          ng-options="item as item.label for item in $ctrl.state.networkAnalysisTypes">
        </select>
      </div>
      
      <div style="height: 100%;" ng-if="$ctrl.state.networkAnalysisType.id === 'NETWORK_PLAN' || $ctrl.state.networkAnalysisType.id === 'NETWORK_ANALYSIS'">
        <network-analysis-build 
          remove-target="$ctrl.removeTarget(target)" 
          zoom-target="$ctrl.zoomTarget(target)" 
          selection="$ctrl.state.selection"
          remove-service-area="$ctrl.removeServiceArea(target)"
          remove-analysis-areas="$ctrl.removeAnalysisAreas(target)"></network-analysis-build>
      </div>
      
      <div style="height: 100%;" ng-if="$ctrl.state.networkAnalysisType.id === 'EXPERT_MODE'">
        <analysis-expert-mode></analysis-expert-mode>
      </div>
      <div style="height: 100%;" ng-if="$ctrl.state.networkAnalysisType.id === 'COVERAGE_ANALYSIS'">
        <coverage-reports plan-id="$ctrl.state.plan.getValue().id"></coverage-reports>
      </div>
    </accordion-panel-contents>
    <accordion-panel-title id="output-bar" title="'Output'" panel-id="'OUTPUT'"></accordion-panel-title>
    <accordion-panel-contents panel-id="'OUTPUT'">
      <div ng-show="$ctrl.state.networkAnalysisType.id === 'NETWORK_PLAN'">
        <network-build-output></network-build-output>
      </div>
      <div ng-show="$ctrl.state.networkAnalysisType.id === 'NETWORK_ANALYSIS'">
        <network-analysis-output></network-analysis-output>
      </div>
    </accordion-panel-contents>
  </accordion>
</div>