<style scoped>
  .roic-report-label {
    line-height: 33px;
  }
</style>

<div style="display: flex; flex-direction: column; height: 100%; border-top: 1px solid lightgray;">
  <div style="flex: 0 0 auto;">
    <h3 class="mb-3 mt-3">ROIC Analysis</h3>
  </div>
  <div style="flex: 0 0 auto;">
    <form>
      <div class="form-group row">
        <div class="col-sm-4 roic-report-label">Network Type</div>
        <div class="col-sm-8">
          <select class="form-control"
                  ng-model="$ctrl.selectedNetworkType"
                  ng-options="item as item.description for item in $ctrl.networkTypes">
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4 roic-report-label">Entity Type</div>
        <div class="col-sm-8">
          <select class="form-control"
                  ng-model="$ctrl.selectedEntityType"
                  ng-options="item as item.description for item in $ctrl.entityTypes">
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4 roic-report-label">Calculation Type</div>
        <div class="col-sm-8">
          <select class="form-control"
                  ng-model="$ctrl.selectedCalcType"
                  ng-options="item as item.description for item in $ctrl.calcTypes">
          </select>
        </div>
      </div>
      
    </form>
  </div>
  <div style="flex: 1 1 auto;">
    <!-- If we have chart data, show it -->
    <canvas style="position: absolute;height:50%"
            id="line"
            ng-if="$ctrl.roicResults.roicAnalysis.components[$ctrl.selectedNetworkType.id.toUpperCase()]
                   [$ctrl.selectedEntityType.id + '.' + $ctrl.selectedCalcType.id].values"
            class="chart chart-line"
            chart-data="$ctrl.roicResults.roicAnalysis.components[$ctrl.selectedNetworkType.id.toUpperCase()]
                        [$ctrl.selectedEntityType.id + '.' + $ctrl.selectedCalcType.id].values"
            chart-labels="$ctrl.xAxisLabels"
            chart-series="$ctrl.series"
            chart-options="$ctrl.options"
            chart-dataset-override="$ctrl.datasetOverride">
    </canvas>

    <!-- If we do not have chart data, display a warning -->
    <div ng-if="!$ctrl.roicResults.roicAnalysis.components[$ctrl.selectedNetworkType.id.toUpperCase()]
                 [$ctrl.selectedEntityType.id + '.' + $ctrl.selectedCalcType.id].values"
         class="alert alert-warning" role="alert">
      No data available for the selected combination of Network Type, Entity Type and Calculation Type.
    </div>
  </div>
</div>
